<div class="chaosu-wrap" id="chaosu">
    <Modal v-model="ruleModal" style="width:600px">
        <p slot="header" style="color:#f60;text-align: center;">
            <span>超速规则维护</span>
        </p>
        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">规则名称 :</i-col>
            <i-col span="16" :offset="1">
                <i-input v-model.trim="ruleName"></i-input>
            </i-col>
        </Row>
        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">最高时速 :</i-col>
            <i-col span="6" :offset="1">
                <Input-Number :max="180" v-model="maxspeed" :formatter="value => `${value}km/h`" :parser="value => value.replace('km/h', '')"></Input-Number>
            </i-col>
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">开始时间 :</i-col>
            <i-col span="6" :offset="1">
                <Time-Picker format="HH:mm" v-model="starttime"></Time-Picker>
            </i-col>
        </Row>
        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">持续时间 :</i-col>
            <i-col span="6" :offset="1">
                <Time-Picker type="time" v-model="durationtime"></Time-Picker>
            </i-col>
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">结束时间 :</i-col>
            <i-col span="6" :offset="1">
                <Time-Picker format="HH:mm" v-model="endtime"></Time-Picker>
            </i-col>
        </Row>
        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">是否拍照 :</i-col>
            <i-col span="6" :offset="1" style="height: 100%;line-height:32px;">
                <Checkbox v-model='isCapture'></Checkbox>
            </i-col>
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">是否报警 :</i-col>
            <i-col span="6" :offset="1" style="height: 100%;line-height:32px;">
                <Checkbox v-model='isReportalarm'></Checkbox>
            </i-col>
        </Row>
        <Row style="margin: 5px 0" v-if="isCapture">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">拍照张数 :</i-col>
            <i-col span="6" :offset="1">
                <Input-Number :max="100"></Input-Number>
            </i-col>
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">拍照间隔 :</i-col>
            <i-col span="6" :offset="1">
                <Input-Number :max="100" v-model="takeinterval" :formatter="value => `${value}分`" :parser="value => value.replace('分', '')"></Input-Number>
            </i-col>
        </Row>

        <Row style="margin: 5px 0" v-if="isCapture">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">摄像头数 :</i-col>
            <i-col span="16" :offset="1">
                <Checkbox-Group v-model="caramers">
                    <Checkbox label="0"><span>1号</span></Checkbox>
                    <Checkbox label="1"><span>2号</span></Checkbox>
                    <Checkbox label="2"><span>3号</span></Checkbox>
                    <Checkbox label="3"><span>4号</span></Checkbox>
                    <Checkbox label="4"><span>5号</span></Checkbox>
                    <Checkbox label="5"><span>6号</span></Checkbox>
                    <Checkbox label="6"><span>7号</span></Checkbox>
                    <Checkbox label="7"><span>8号</span></Checkbox>
                </Checkbox-Group>
            </i-col>
        </Row>

        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">语音设置 :</i-col>
            <i-col span="19" :offset="1" style="height: 100%;line-height:32px;">
                <Checkbox-Group v-model="ttstypes">
                    <Checkbox label="0"><span>紧急</span></Checkbox>
                    <Checkbox label="2"><span>显示器显示</span></Checkbox>
                    <Checkbox label="3"><span>TTS播读</span></Checkbox>
                    <Checkbox label="4"><span>广告屏显示</span></Checkbox>
                </Checkbox-Group>
            </i-col>
        </Row>
        <Row style="margin: 5px 0">
            <i-col span="3" :offset="1" style="height: 100%;text-align:right;line-height:32px;">语音提示 :</i-col>
            <i-col span="16" :offset="1">
                <i-input v-model.trim="ttscontent"></i-input>
            </i-col>
        </Row>
        <Row style="margin: 5px 0">
            <i-col span="22" :offset="1">
                <div>① 车辆在指定时间范围内;</div>
                <div>② 行驶速度持续超过《最高速度》;</div>
                <div>③ 超速时间持续超过《持续时长》;</div>
                <div>④ 如果指定区域，只在该区域内才会产生超速报警;</div>
                <div>● 当满足以上所有条件，系统将产生超速报警，并自动对驾驶员进行《语音提示》。</div>
            </i-col>
        </Row>
        <p slot="footer">
            <i-button type="primary" @click="onSettingRule" style="width:100%;">确定</i-button>
        </p>
    </Modal>
    <rule-allocation :modal="allocationModal" @close-model="onClose"></rule-allocation>
    <div class="rule-header">
        <ul>
            <li style="float: left;">规则名称 :</li>
            <li style="float: left;">
                <i-input v-model.trim="sosoValue"></i-input>
            </li>
            <li style="float: left;">
                <i-button type="primary" @click="queryRuleDefines" icon="md-search">查询</i-button>
            </li>
            <li style="float: right;">
                <i-button @click="allocationModal=true" icon="md-settings" type="warning">规则分配</i-button>
            </li>
            <li style="float: right;">
                <i-button @click="deleteRule" icon="md-remove" type="error">删除</i-button>
            </li>
            <li style="float: right;">
                <i-button @click="exitRule" icon="md-create" type="info">修改</i-button>
            </li>
            <li style="float: right;">
                <i-button @click="addRule" icon="md-add" type="success">新增</i-button>
            </li>
        </ul>
    </div>
    <div class="rule-table">
        <i-table :columns="columnsList" highlight-row :data="tableData" :height="taleHeight" @on-current-change="onCurrentChange" :loading="loading"></i-table>
    </div>

    <script>
        new Vue({
            el: "#chaosu",
            data: {
                ruleName: '',
                maxspeed: 80,
                starttime: '',
                endtime: '',
                durationtime: '',
                ttstypes: [],
                takeinterval: 8,
                isReportalarm: false,
                isCapture: false, // 是否拍照
                piccount: 10, //拍多少张
                ttscontent: '',
                caramers: [],
                ruleModal: false,
                allocationModal: true,
                loading: false,
                sosoValue: '',
                columnsList: [{
                    width: 60,
                    type: 'index'
                }, {
                    title: '规则名称',
                    key: 'rulename'
                }, {
                    title: '速度阀值',
                    key: 'maxspeed'
                }, {
                    title: '持续时长',
                    key: 'durationtime'
                }, {
                    title: '开始时间',
                    key: 'starttime'
                }, {
                    title: '结束时间',
                    key: 'endtime'
                }, {
                    title: '拍照次数',
                    key: 'piccount'
                }, {
                    title: '摄像头',
                    key: 'caramers'
                }, {
                    title: '语音提示',
                    key: 'ttscontent'
                }, {
                    title: '语音提示类型',
                    key: 'ttstypesStr'
                }, {
                    title: '是否报警',
                    key: 'reportalarm'
                }, {
                    title: '创建时间',
                    key: 'createtimeStr',
                    width: 148,
                }],
                tableData: [],
            },
            methods: {
                onClose: function(e) {
                    this.allocationModal = e;
                },
                addRule: function() {
                    this.isAddRule = true;
                    this.ruleName = '';
                    this.maxspeed = 80;
                    this.starttime = '00:00';
                    this.endtime = '23:59';
                    this.durationtime = '01:00:00';
                    this.takeinterval = 10;
                    this.piccount = 10;
                    this.ttscontent = '';
                    this.ttstypes = [];
                    this.caramers = [];
                    this.isReportalarm = false;
                    this.isCapture = false;
                    this.ruleModal = true;
                },
                deleteRule: function() {

                    if (this.selectedRow) {
                        var me = this;
                        this.$Modal.confirm({
                            title: '温馨提示',
                            content: '确定要删除这个规则吗',
                            onOk: function() {
                                var ruledefineid = this.selectedRow.ruledefineid;
                                var url = myUrls.deleteRuleDefine();
                                utils.sendAjax(url, {
                                    ruledefineid: ruledefineid
                                }, function(resp) {
                                    if (resp.status == 0) {
                                        var index = 0;
                                        me.tableData.forEach(function(item, index) {
                                            if (item.ruledefineid == ruledefineid) {
                                                index = index;
                                                return false;
                                            }
                                        });
                                        me.tableData.splice(index, 1);
                                        me.selectedRow = null;
                                    } else {
                                        me.$Message.error('删除失败');
                                    }
                                })
                            }
                        });
                    } else {
                        this.$Message.error('请选择一行规则')
                    }
                },
                exitRule: function() {
                    if (this.selectedRow) {
                        this.isAddRule = false;
                        var row = this.selectedRow;
                        this.ruleName = row.rulename;
                        this.maxspeed = row.maxspeed;
                        this.starttime = row.starttime;
                        this.endtime = row.endtime;
                        this.durationtime = row.durationtime;
                        this.takeinterval = row.takeinterval;
                        this.piccount = row.piccount;
                        this.ttscontent = row.ttscontent;

                        var ttstypes = [];
                        utils.longToBits(Number(row.ttstypes), 4).reverse().forEach(function(item, index) {
                            if (item && index == 0) {
                                ttstypes.push('0');
                            } else if (item && index == 1) {
                                ttstypes.push('2');
                            } else if (item && index == 2) {
                                ttstypes.push('3');
                            } else if (item && index == 3) {
                                ttstypes.push('4');
                            }
                        });
                        this.ttstypes = ttstypes;
                        var caramers = [];
                        utils.longToBits(Number(row.caramers), 8).reverse().forEach(function(item, index) {
                            if (item) {
                                caramers.push(String(index));
                            }
                        });
                        this.caramers = caramers;
                        this.isReportalarm = row.reportalarm == 1;
                        this.isCapture = row.takepic == 1;

                        this.ruleModal = true;
                    } else {
                        this.$Message.error('请选择一行规则')
                    }
                },
                onCurrentChange: function(row) {
                    this.selectedRow = row;
                },
                getCaramers: function(caramers) {
                    var arrBits = new Array(8).fill(false);
                    caramers.forEach(function(item) {
                        var index = Number(item);
                        arrBits[index] = true;
                    })
                    return utils.bitsToULong(arrBits.reverse());
                },
                getTtstypes: function(ttstypes) {
                    console.log(ttstypes);
                    var arrBits = new Array(8).fill(false);
                    ttstypes.forEach(function(item) {
                        var index = Number(item);
                        arrBits[index] = true;
                    })
                    return utils.bitsToULong(arrBits.reverse());
                },
                onSettingRule: function() {

                    if (this.ruleName.trim() == '') {
                        return;
                        this.$Message.error('规则名称是必填的');
                    }

                    if (this.isAddRule) {
                        var url = myUrls.addRuleDefine();
                    } else {
                        var url = myUrls.editRuleDefine();
                    }
                    var me = this;
                    var ruleparam = {};
                    ruleparam.maxspeed = 80;
                    ruleparam.caramers = this.getCaramers(this.caramers);
                    ruleparam.ttstypes = this.getTtstypes(this.ttstypes);
                    ruleparam.starttime = this.starttime;
                    ruleparam.endtime = this.endtime;
                    ruleparam.durationtime = this.durationtime;
                    ruleparam.takepic = this.isCapture ? 1 : 0;
                    ruleparam.reportalarm = this.isReportalarm ? 1 : 0;
                    ruleparam.piccount = this.piccount;
                    ruleparam.takeinterval = this.takeinterval;
                    ruleparam.ttscontent = this.ttscontent;

                    var ruleparamjson = JSON.stringify(ruleparam);

                    if (this.isAddRule) {
                        var data = {
                            offset: timeDifference,
                            ruletype: ruleTypes.chaosu,
                            rulename: this.ruleName,
                            ruleparamjson: ruleparamjson,
                        }
                        utils.sendAjax(url, data, function(resp) {
                            if (resp.status === 0) {
                                me.$Message.success('添加成功');
                                me.ruleModal = false;
                                me.queryRuleDefines();
                            } else {
                                me.$Message.error('添加失败');
                            }
                        });
                    } else {
                        var data = {
                            offset: timeDifference,
                            ruletype: ruleTypes.chaosu,
                            rulename: this.ruleName,
                            ruleparamjson: ruleparamjson,
                            ruledefineid: me.selectedRow.ruledefineid
                        }
                        utils.sendAjax(url, data, function(resp) {
                            if (resp.status === 0) {
                                me.$Message.success('修改成功');
                                me.ruleModal = false;
                                me.queryRuleDefines();
                            } else {
                                me.$Message.error('修改失败');
                            }
                        });
                    }

                },
                queryRuleDefines: function() {
                    this.selectedRow = null;
                    var me = this;
                    var url = myUrls.queryRuleDefines();
                    var data = {
                        ruletype: ruleTypes.chaosu,
                    }
                    me.loading = true;
                    utils.sendAjax(url, data, function(resp) {
                        me.loading = false;
                        console.log(resp);
                        if (resp.status == 0 && resp.records) {
                            var tableData = [];
                            resp.records.forEach(function(item, index) {
                                var rulename = item.rulename;
                                var ruleItem = JSON.parse(item.ruleparam);
                                ruleItem.ttstypesStr = me.getTtstypesStr(ruleItem.ttstypes);
                                ruleItem.rulename = rulename;
                                ruleItem.ruledefineid = item.ruledefineid;
                                ruleItem.createtimeStr = DateFormat.longToDateTimeStr(item.createtime, timeDifference);
                                tableData.push(ruleItem);
                            })
                            me.tableData = tableData;
                        }
                    });
                },
                getTtstypesStr: function(ttstypes) {
                    var str = '';
                    if (ttstypes) {
                        var ttstypes = utils.longToBits(Number(ttstypes), 4).reverse();
                        ttstypes.forEach(function(type, index) {
                            if (type && index == 0) {
                                str += '紧急';
                            } else if (type && index == 1) {
                                str += ',显示器显示';
                            } else if (type && index == 2) {
                                str += ',TTS播读';
                            } else if (type && index == 3) {
                                str += ',广告屏显示';
                            }
                        });
                    }
                    return str;
                }
            },
            mounted: function() {
                this.isAddRule = true;
                this.queryRuleDefines();
            },
            mixins: [ruleMixIn],
        })
    </script>
</div>