<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>定位平台</title>
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div id="login-wraper">
        <div class="header">
            <div class="center">header</div>
        </div>
        <div class="main">
            <div class="center">
                <div class="left-wraper"></div>
                <div class="right-wraper">
                    <div class="login-form-box">
                        <Card>
                            <p slot="title">
                                <i-row>
                                    <i-col span="12">col-12</i-col>
                                    <i-col span="12">col-12</i-col>
                                </i-row>
                            </p>
                            <div>
                                <p>
                                    <i-input type="text" v-model="formInline.user" placeholder="Username">
                                        <Icon type="ios-person-outline" slot="prepend"></Icon>
                                    </i-input>
                                </p>
                                <p>
                                    <i-input type="password" v-model="formInline.password" placeholder="Password">
                                        <Icon type="ios-locked-outline" slot="prepend"></Icon>
                                    </i-input>
                                </p>
                                <p>
                                    <i-button type="primary" @click="handleSubmit" style="width: 100%">Signin</i-button>
                                </p>
                            </div>
                        </Card>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="center">footer</div>
        </div>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/login.js"></script>
</body>
</html>