<!DOCTYPE html>
<html lang="en">
<head>
    <title>九户定位平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_772555_nzbdg8254zn.css">
    <script src="js/js.cookie.min.js"></script>
    <script>
        var token = Cookies.get("token");
        // if(token == undefined){
        //     window.location.href = "index.html";
        // }
    </script>
    <script src="js/config.js"></script>
</head>
<body>
    <div id="app">
        <div class="header-wraper">
            <app-header @change-nav="changeComponent"></app-header>
        </div>
        <div class="view-wraper">
            <keep-alive>
                <component :is="componentId"></component>
            </keep-alive> 
        </div>
    </div>

    <!-- 头部模版 -->
    <script type="text/template-v" id="header-template">
        <div class="app-header">
            <div class="logo">
                <Icon type="planet"></Icon>
                <span style="font-size:18px;vertical-align:top;">位置信息服务平台</span>
            </div>
            <div class="app-nav">
                <i-menu mode="horizontal" :theme="dark" active-name="3" v-on:on-select="changeNav">
                    <menuItem name="1">
                        <Icon type="android-contacts"></Icon>
                        定位监控
                    </menuItem>
                    <menuItem name="2">
                        <Icon type="ios-paper-outline"></Icon>
                        统计报表
                    </menuItem>
                    <menuItem name="3" v-show="isManager">
                        <Icon type="ios-gear"></Icon>
                        后台管理
                    </menuItem>
                </i-menu>
            </div>
            <div class="site_links">
                <ul>
                    <li>
                        您好! {{name}} 
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span><Icon type="edit" style="margin-right:3px"></Icon>修改密码</span>
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span><Icon type="settings" style="margin-right:3px"></Icon>设置</span>
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="loginOut"><Icon type="android-exit" style="margin-right:3px"></Icon>退出</span>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <!-- 定位监控 -->
    <script type="text/template-v" id="monitor-template">
        <div class="monitor-wraper">
            <div class="devices-container">
                <div class="device-contorller">
                    <ul class="device-state">
                        <li :class="{active:selectedState=='all'}" @click="selectedStateNav('all')">
                            <p class="p-icon"><Icon :size="24" class="icon iconfont icon-device_tablet" /></p>
                            <p class="dev-count">全部(10)</p>
                        </li>
                        <li :class="{active:selectedState=='online'}" @click="selectedStateNav('online')">
                            <p class="p-icon"><Icon :size="24" class="icon iconfont icon-online" /></p>
                            <p class="dev-count">在线(10)</p>
                        </li>
                        <li :class="{active:selectedState=='offline'}" @click="selectedStateNav('offline')">
                            <p class="p-icon"><Icon :size="24" class="icon iconfont icon-offline" /></p>
                            <p class="dev-count">离线(10)</p>
                        </li>
                    </li>
                    <div class="device-soso">
                        <AutoComplete
                            v-model="sosoValue"
                            :data="data3"
                            :filter-method="filterMethod"
                            placeholder="输入您要搜索的设备"
                            style="width:100%">
                        </AutoComplete>
                    </div>
                </div>
                <div class="device-tree">
                    <Tree :data="data5" :render="renderContent" @on-select-change="selectedChilren"></Tree>
                </div>
            </div>
            <div class="map-wraper">
                <div style="width:100%;height:100%;" id="map"></div>
            </div>    
        </div>
    </script>

    <!-- 统计报表 -->
    <script type="text/template-v" id="report-template">
        <div class="report-wraper">
            <h1>统计报表监控</h1>
        </div>
    </script>
    

    <!-- 后台管理 -->
    <script type="text/template-v" id="manager-template">
        <div class="manager-wraper">
            <div class="mar-nav">
                    <i-menu :theme="theme" @on-select="selectditem">
                        <template v-for="(group,index) in navList">
                            <Submenu :name="group.name" :key="index">
                                    <template slot="title">
                                        <Icon :type="group.icon"></Icon>
                                        <span>{{ group.title}}</span>
                                    </template>
                                    <template v-for="(item,idx) in group.children">
                                        <MenuItem :name="item.name" :key="idx">
                                            <Icon :type="item.icon"></Icon>
                                            {{item.title}}
                                        </MenuItem>
                                    </template>
                            </Submenu>
                        </template>
                    </i-menu>
            </div>
            <div class="mar-view" id="mar-view"></div>
        </div>
    </script>

    <script src="dist/vue.min.js"></script>
    <script src="dist/vue-router.min.js"></script>
    <script src="dist/vuex.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.md5.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/util.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script src="js/main.js"></script>
</body>
</html>