/* CSS Document */


/*公共*/

@charset "UTF-8";
i {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tv_box {
    height: 18px;
    line-height: 18px;
}

.tv_box span {
    height: 22px;
    line-height: 18px;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    margin-top: 13px;
}

.tv_box span i.icon_num7,
.tv_box span i.icon_num8,
.tv_box span i.icon_num9 {
    background: url(images/icon_s_for.png) 0 0 no-repeat;
    width: 16px;
    height: 16px;
}

.tv_box span i.icon_num7 {
    background-position: -424px -225px;
}

.tv_box span:hover i.icon_num7 {
    background-position: -449px -225px;
}

.tv_box span i.icon_num8 {
    background-position: -424px -254px;
}

.tv_box span:hover i.icon_num8 {
    background-position: -449px -254px;
}

.tv_box span i.icon_num9 {
    background-position: -358px -104px;
}

.tv_box span:hover i.icon_num9 {
    background-position: -379px -104px;
}

.tv_box span i {
    background: url(images/icon_s.png) 0 0 no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.tv_box span i.icon_num1 {
    background-position: -100px -326px;
}

.tv_box span i.icon_num2 {
    background-position: -120px -326px;
}

.tv_box span i.icon_num3 {
    background-position: -140px -326px;
}

.tv_box span i.icon_num4 {
    background-position: -160px -326px;
}

.tv_box span i.icon_num5 {
    background-position: -180px -326px;
}

.tv_box span i.icon_num6 {
    background-position: -200px -326px;
}

.tv_box span:hover i.icon_num1 {
    background-position: -100px -346px;
}

.tv_box span:hover i.icon_num2 {
    background-position: -120px -346px;
}

.tv_box span:hover i.icon_num3 {
    background-position: -140px -346px;
}

.tv_box span:hover i.icon_num4 {
    background-position: -160px -346px;
}

.tv_box span:hover i.icon_num5 {
    background-position: -180px -346px;
}

.tv_box span:hover i.icon_num6 {
    background-position: -200px -346px;
}

.tv_box span i.icon_top {
    background-position: -20px -50px;
}

.tv_box span i.icon_bottom {
    background-position: -40px -50px;
}

.tv_box span i.icon_view {
    background-position: -60px -50px;
}

.tv_box span i.icon_sslc {
    background-position: -80px -50px;
}

.tv_box span i.icon_phone {
    background-position: -101px -50px;
}

.tv_box span i.icon_voice {
    background-position: -124px -50px;
}

.tv_box span i.icon_play_all {
    background-position: -145px -50px;
}

.tv_box span i.icon_close_show {
    background-position: -164px -50px;
}

.tv_box span:hover i.icon_top {
    background-position: -241px -50px;
}

.tv_box span:hover i.icon_bottom {
    background-position: -261px -50px;
}

.tv_box span:hover i.icon_view {
    background-position: -281px -50px;
}

.tv_box span:hover i.icon_sslc {
    background-position: -301px -50px;
}

.tv_box span:hover i.icon_phone {
    background-position: -322px -50px;
}

.tv_box span:hover i.icon_voice {
    background-position: -345px -50px;
}

.tv_box span:hover i.icon_play_all {
    background-position: -366px -50px;
}

.tv_box span:hover i.icon_close_show {
    background-position: -385px -50px;
}

.tv_box span i.icon_xl {
    background-position: -193px -50px;
    width: 5px;
    height: 14px;
    margin-left: 2px;
}

.tv_box span:hover i.icon_xl {
    background-position: -414px -50px;
    width: 5px;
    height: 14px;
    margin-left: 2px;
}

.tv_box span i.icon_gou {
    background: url(images/icon_s.png) -217px -56px no-repeat;
    width: 20px;
    height: 12px;
    display: none;
}

.tv_box span i.icon_select {
    background: url(images/icon_s.png) -217px -52px no-repeat;
    display: inline-block;
    width: 20px;
    height: 12px;
}

.tv_box span ul {
    top: 20px;
    left: -95px;
    width: 120px;
}


/*.tv_box span ul li:hover i{
	display:inline-block;
	background:url(images/icon_s.png) -217px -52px no-repeat;
	}*/

#box_viewSize,
#box_stop {
    position: relative;
}

.tc_box {
    width: 100px;
    background-color: #fff;
    border: #d6d6d6 solid 1px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0px;
    display: none;
    z-index: 999;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    list-style: none;
}

.tc_box li a {
    padding: 5px 10px;
    display: block;
}

.tc_box li a:hover {
    display: block;
    background-color: #0b8ae8;
    color: #fff;
    text-decoration: none;
}

#box_viewSize:hover .tc_box,
#box_stop:hover .tc_box {
    display: block;
}


/* 云台 */

.yt {
    width: 92px;
    position: absolute;
    left: 10px;
    top: 100px;
}

.state_1_yt {
    overflow: hidden;
}

.state_1_yt>div {
    width: 126px;
}

.icon_yt_box {
    position: relative;
}

.icon_yt_box a {
    background: url(images/icon_state.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: none;
    position: absolute;
}

.icon_yt_box a:hover {
    transition: none;
}

.icon_yt_box a.icon_yt_0 {
    background-position: -39px 0;
    left: 10px;
    top: 14px;
}

.icon_yt_box a.icon_yt_0:hover {
    background-position: 0 0;
}

.icon_yt_box a.icon_yt_1 {
    background-position: -39px -169px;
    left: 41px;
    top: 14px;
}

.icon_yt_box a.icon_yt_1:hover {
    background-position: -0px -169px;
}

.icon_yt_box a.icon_yt_2 {
    background-position: -40px -39px;
    left: 71px;
    top: 14px;
}

.icon_yt_box a.icon_yt_2:hover {
    background-position: -78px -39px;
}

.icon_yt_box a.icon_yt_3 {
    background-position: -127px -159px;
    left: 10px;
    top: 45px;
}

.icon_yt_box a.icon_yt_3:hover {
    background-position: -127px -120px;
}

.icon_yt_box a.icon_yt_4 {
    width: 50px;
    height: 50px;
    background-position: -307px -120px;
    left: 31px;
    top: 35px;
    z-index: 12;
}

.icon_yt_box a.icon_yt_4:hover {
    background-position: -238px -120px;
}

.icon_yt_box a.icon_yt_5 {
    background-position: -168px -159px;
    left: 71px;
    top: 45px;
}

.icon_yt_box a.icon_yt_5:hover {
    background-position: -168px -120px;
}

.icon_yt_box a.icon_yt_6 {
    background-position: -39px -120px;
    left: 10px;
    top: 75px;
}

.icon_yt_box a.icon_yt_6:hover {
    background-position: -0px -120px;
}

.icon_yt_box a.icon_yt_7 {
    background-position: -39px -210px;
    left: 41px;
    top: 75px;
}

.icon_yt_box a.icon_yt_7:hover {
    background-position: -0px -209px;
}

.icon_yt_box a.icon_yt_8 {
    background-position: -40px -79px;
    left: 71px;
    top: 75px;
}

.icon_yt_box a.icon_yt_8:hover {
    background-position: -78px -79px;
}

.icon_yt_box a.icon_yt_0.ui-button-disabled {
    background-position: -79px -0px;
}

.icon_yt_box a.icon_yt_1.ui-button-disabled {
    background-position: -80px -169px;
}

.icon_yt_box a.icon_yt_2.ui-button-disabled {
    background-position: -0px -39px;
}

.icon_yt_box a.icon_yt_3.ui-button-disabled {
    background-position: -127px -200px;
}

.icon_yt_box a.icon_yt_4.ui-button-disabled {
    background-position: -377px -120px;
}

.icon_yt_box a.icon_yt_5.ui-button-disabled {
    background-position: -168px -200px;
}

.icon_yt_box a.icon_yt_6.ui-button-disabled {
    background-position: -79px -120px;
}

.icon_yt_box a.icon_yt_7.ui-button-disabled {
    background-position: -80px -210px;
}

.icon_yt_box a.icon_yt_8.ui-button-disabled {
    background-position: -0px -79px;
}

.yt_state2 {
    padding-top: 8px;
}

.yt_state2 a {
    background: url(images/icon_state.png) 0 0 no-repeat;
    width: 35px;
    height: 23px;
    display: inline-block;
    margin: 0px 8px;
    transition: none;
}

.yt_state2 a:hover {
    transition: none;
}

.yt_state2 span {
    display: block;
    height: 23px;
    margin-top: 8px;
}

.yt_state2 a.icon_f0_0 {
    background-position: -129px 0px;
}

.yt_state2 a.icon_f0_0:hover {
    background-position: -129px -39px;
}

.yt_state2 a.icon_f0_0.ui-button-disabled {
    background-position: -129px -74px;
}

.yt_state2 a.icon_f0_1 {
    background-position: -181px 0px;
}

.yt_state2 a.icon_f0_1:hover {
    background-position: -181px -39px;
}

.yt_state2 a.icon_f0_1.ui-button-disabled {
    background-position: -181px -74px;
}

.yt_state2 a.icon_y0_0 {
    background-position: -235px 0px;
}

.yt_state2 a.icon_y0_0:hover {
    background-position: -235px -39px;
}

.yt_state2 a.icon_y0_0.ui-button-disabled {
    background-position: -235px -74px;
}

.yt_state2 a.icon_y0_1 {
    background-position: -287px 0px;
}

.yt_state2 a.icon_y0_1:hover {
    background-position: -287px -39px;
}

.yt_state2 a.icon_y0_1.ui-button-disabled {
    background-position: -287px -74px;
}

.yt_state2 a.icon_k0_0 {
    background-position: -333px 0px;
}

.yt_state2 a.icon_k0_0:hover {
    background-position: -333px -39px;
}

.yt_state2 a.icon_k0_0.ui-button-disabled {
    background-position: -333px -74px;
}

.yt_state2 a.icon_k0_1 {
    background-position: -385px 0px;
}

.yt_state2 a.icon_k0_1:hover {
    background-position: -385px -39px;
}

.yt_state2 a.icon_k0_1.ui-button-disabled {
    background-position: -385px -74px;
}

.yt_state2 a.icon_light0_0 {
    background-position: -440px -0px;
}

.yt_state2 a.icon_light0_0:hover,
.yt_state2 a.icon_light {
    background-position: -440px -39px;
}

.yt_state2 a.icon_light0_0.ui-button-disabled {
    background-position: -440px -74px;
}

.yt_state2 a.icon_biao0_1 {
    background-position: -490px -0px;
}

.yt_state2 a.icon_biao0_1:hover,
.yt_state2 a.icon_biao {
    background-position: -490px -39px;
}

.yt_state2 a.icon_biao0_1.ui-button-disabled {
    background-position: -490px -74px;
}

.yt_footer {
    text-align: right;
    border-top: #e5e9ed solid 1px;
    padding: 8px 3px;
    text-align: center;
    margin: 8px 0 0 0;
}

.btn_state1 {
    margin-top: 8px;
}

.btn_state1 a {
    width: 45px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: #bbcbdf solid 1px;
    background: #fcfdfe;
    color: #000;
    display: inline-block;
    margin-left: 5px;
    padding: 0 20px;
}

.btn_state1 a:hover,
.btn_state1 a.btn_state {
    background: #0b83dc;
    border: #0071c6 solid 1px;
    color: #fff;
}

.state_color i {
    background: url(images/icon_state.png) 0 0 no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 10px 0 26px;
}

.state_color .state_co_0 {
    background-position: -550px -0px;
}

.state_color .state_co_1 {
    background-position: -550px -28px;
}

.state_color .state_co_2 {
    background-position: -550px -54px;
}

.state_color .state_co_3 {
    background-position: -550px -80px;
}

.state_color .state_co_4 {
    background-position: -550px -107px;
}

.state_color_handle {
    width: 115px;
    margin-top: -10px;
}

.state_co_value {
    padding-left: 17px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
}

.state_co_value input {
    width: 40px;
    height: 18px;
    line-height: 18px;
    border: #e4e4e4 solid 1px;
    text-align: center;
    color: #000;
    background: #fff;
}

.listing_choice {
    text-align: center;
}

.listing_choice label {
    display: inline-block;
    margin: 10px 20px;
}

.listing_box h5 {
    margin: 0;
    padding-top: 8px;
}

.listing_box {
    text-align: center;
}

.listing_box .icon_jt {
    background: url(./images/icon_state.png) -663px 0 no-repeat;
    width: 59px;
    height: 52px;
    display: inline-block;
}

.listing_box .icon_dj {
    background: url(./images/icon_state.png) -585px 0 no-repeat;
    width: 59px;
    height: 52px;
    display: inline-block;
}