<meta charset="UTF-8">
<style>
    #adddevice .ivu-select-dropdown-list{
        max-height: 300px;
    }
</style>
<div id="adddevice">
    <div class="full">
        <h3 class="h3-title">{{$t("bgMgr.addDev")}}</h3>
        <div>
            <Row style="margin: 10px 0" v-if="userType == 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;选择账号 : &nbsp;</i-col>
                <i-col span="8">
                    <!-- <i-select v-model="createrToUser" style="width: 100%">
                        <i-option v-for="item in userlists" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select> -->
                    <auto-complete
                    v-model="createrToUser"
                    :data="userlists"
                    @on-search="handleSearch"
                    @on-blur="handleBlur"
                    style="width:100%"></auto-complete>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("alarm.devName")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="devicename"></i-input>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;"></i>&nbsp;{{$t("device.loginPwd")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="loginpwd" :placeholder="$t('device.pwdTips')"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("alarm.devNum")}} : &nbsp;</i-col>
                <i-col span="8">
                        <i-input v-model.trim="deviceid"></i-input>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">SIM : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim.number="simnum"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("alarm.overdueTime")}} : &nbsp;</i-col>
                <i-col span="8">
                    <date-picker type="date" v-model="overduetime" :options="dateOptions" style="width: 100%"></date-picker>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("user.devType")}} : &nbsp;</i-col>
                    <i-col span="8">  
                        <!-- devicetype -->
                        <i-select v-model="devicetype" style="width: 100%">
                            <i-option v-for="item in deviceTypeList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("user.client")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="companyid" style="width: 100%">
                        <i-option v-for="item in customersList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("user.grouping")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="groupid">
                        <i-option v-for="item in groupsList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.reportCount")}}
                    : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="reportedpoint"></i-input>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.allReportCount")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="totalpoint"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.allowLogin")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="loginenable">
                        <i-option value="0">{{$t("user.ban")}}</i-option>
                        <i-option value="1">{{$t("user.allow")}}</i-option>
                    </i-select>
                </i-col> 
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.isUse")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="deviceenable">
                        <i-option value="0">{{$t("user.ban")}}</i-option>
                        <i-option value="1">{{$t("user.allow")}}</i-option>                     
                    </i-select>
                </i-col>                  
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">&nbsp;转发地址 : &nbsp;</i-col>
                <i-col span="20">
                    <i-input v-model.trim="forwardurl"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="6" :offset="7">
                    <i-button style="width: 100%" @click="handleSubmit">{{$t("bgMgr.submit")}}</i-button>
                </i-col>
                <i-col span="6" :offset="1">
                    <i-button style="width: 100%" @click="resetInfo">{{$t("bgMgr.reset")}}</i-button>
                </i-col>
            </Row>
        </div>
    </div>
    <script>
        new Vue({
            el:"#adddevice",
            i18n: utils.getI18n(),
            data:{
                dateOptions:{
                    disabledDate:function(date) {
                        return date && date.valueOf() < Date.now() - 86400000;
                    }
                },
                deviceid:"",
                devicename:"",
                devicetype:"",
                simnum:"",
                overduetime:"",
                loginpwd:"",
                loginenable:"1",
                deviceenable:"1",
                groupsList:[],
                customersList:[],
                deviceTypeList:[],
                groupid:'',
                companyid:'',
                reportedpoint:0,
                totalpoint:1500,
                alarmTypeList:[],
                checkboxObj:{},
                forwardurl:"",
                createrToUser:"",
                userlists:[],
                userType:null
            },
            methods: {
                handleSearch:function(value){
                    if(value){
                        var searchList = [];
                        userlists.forEach(function (item) { 
                            if(item.toLowerCase().indexOf(value)!=-1){
                                searchList.push(item);
                            }
                        })
                        console.log("searchList",searchList);
                        this.userlists = searchList;
                    }else{
                        this.userlists = userlists;
                    }
                },
                handleBlur:function(){
                    this.userlists = userlists;
                },
                handleSubmit:function(){
                    var me = this;
                    var url = myUrls.addDevice();

                    if(this.deviceid.length < 11  || this.deviceid.length > 15 ){ 
                        me.$Message.error(me.$t("device.devIdTips"));
                        return;
                    };

                    if(this.overduetime == "" ||  this.devicename == "" || this.companyid ==""){
                        me.$Message.error(me.$t("message.fullComplete"));
                        return;
                    };

                    var data = {
                        deviceid:this.deviceid,
                        devicename:this.devicename,
                        devicetype:this.devicetype,
                        overduetime:new Date(this.overduetime).getTime(),
                        loginenable:Number(this.loginenable),
                        deviceenable:Number(this.deviceenable),
                        companyid:this.companyid
                    };       
                    
                    if(this.loginpwd){
                        data.loginpwd = $.md5(this.loginpwd);
                    }else{
                     	
                     	var legnth = this.deviceid.length;
                        data.loginpwd = $.md5(this.deviceid.substring(legnth-4,legnth));
                    };

                    if(this.simnum){
                        data.simnum = this.simnum;
                    };

                    if(this.groupid){
                        data.groupid = this.groupid;
                    };

                    if( this.reportedpoint == 0 || this.reportedpoint && !isNaN(this.reportedpoint)){
                        data.reportedpoint = Number(this.reportedpoint);
                    }

                    if(this.totalpoint && !isNaN(this.totalpoint)){
                        data.totalpoint = Number(this.totalpoint);
                    }
                    
                    this.forwardurl && (data.forwardurl = this.forwardurl);

                    if(this.userType == 0){
                        data.creater = this.createrToUser;
                    }else{
                        data.creater = userName;
                    }

                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            me.$Message.success(me.$t("message.addSucc"));
                        }else if(resp.status == -1){
                            if( resp.cause!== null && resp.cause.indexOf("token")!=-1){
                                window.location.href = "index.html";
                            }else{
                                me.$Message.error(me.$t("message.addFail"));
                            }
                        }else if(resp.status == 1 ){
                            me.$Message.error(me.$t("message.IDRepeat"));
                        }else if(resp.status == 2 ){
                            me.$Message.error(me.$t('message.IDError'));
                        }else if(resp.status == 3 ){
                            me.$Message.error(me.$t('message.reqFail'));
                        };
                    });
                },
                resetInfo:function(){
                    this.deviceid = "";
                    this.devicename = "";
                    this.devicetype = "";
                    this.simnum = "";
                    // this.overduetime = "";
                    this.loginpwd = "";
                    this.loginenable = "1";
                    this.deviceenable = "1";
                    this.groupid = "";
                    this.companyid = "";
                },
                queryAllCompanyInfo:function(claaback){
                    var url = myUrls.queryCompanyByCreater();
                    utils.sendAjax(url,{},claaback)
                },
                doQueryAllCompanyInfo:function(resp){
                    var me = this;
                    if(resp.status == 0){
                        resp.records.forEach(function(item){
                            me.customersList.push({
                                label:item.companyname,
                                value:item.companyid
                            })
                        });
                    }
                },
                getGroupsList:function(){
                    var me = this; 
                    var url = myUrls.queryCompanyGroup();                        
                    utils.sendAjax(url,{companyid:this.companyid},function (resp) { 
                        me.groupList = [];
                        me.groupids = [];
                        if(resp.status == 0){
                            var companys = resp.companys
                            for(var i = 0 ; i < companys.length ; i++){
                                var item = companys[i];
                                if(item.companyid == me.companyid && item.groups != null){
                                    var groups = item.groups;
                                    groups.forEach(function(group){
                                        me.groupsList.push({label:group.groupname,value:group.groupid});
                                    });
                                }
                            }
                        }
                    });
                },
                getDeviceType:function () {
                    var me = this;
                    vstore.state.deviceTypes .forEach(function (item) { 
                        me.deviceTypeList.push({value:item.devicetypeid,label:item.typename});
                    })
                    me.devicetype = 1;
                },
                queryAlarmDescr:function () { 
                    var me = this;
                    var url = myUrls.queryAlarmDescr();
                    utils.sendAjax(url,{},function (resp) { 
                        if(resp.status == 0){
                            var records = resp.records;
                            records.forEach(function (item,index){ 
                                var idx = parseFloat(index/3) 
                                if(index%3 == 0){
                                    var newArr = [];
                                    newArr.push(item)
                                    me.alarmTypeList.push(newArr);
                                }else{
                                    me.alarmTypeList[me.alarmTypeList.length - 1].push(item);
                                }
                                me.checkboxObj[item.alarmcode] = true;
                            })
                        }
                    });
                }
            },
            watch:{
                companyid:function(){
                    this.groupsList = [];
                    this.groupid = "";
                    this.getGroupsList();  
                }
            },
            mounted:function () {
                this.queryAllCompanyInfo(this.doQueryAllCompanyInfo);
                this.getDeviceType();
                this.queryAlarmDescr();
                this.userlists = userlists;
                this.overduetime = new Date(Date.now() + 365*24*3600*1000) ;
                this.userType = vstore.state.userType;
            } 
        })
    </script>
</div>