
<meta charset="UTF-8">
<div id="adduser">
    <div class="full">
        <h3 class="h3-title">添加用户</h3>
        <Tabs type="card">
            <tab-pane label="用户信息">
                <div>
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;用户名 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-input v-model.trim="username" :disabled="!isDisabled"></i-input>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;密码 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-input v-model.trim="password" type="password"></i-input>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;确认密码 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-input v-model.trim="confirmPassword" type="password"></i-input>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;过期时间 : &nbsp;</i-col>
                        <i-col span="12">
                            <date-picker type="date" v-model="overduetime" :options="dateOptions" style="width: 100%"></date-picker>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;用户类型 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="usertype">
                                <i-option v-for="item in userTypeList" :value="item.type" :key="item.type">{{ item.name }}</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;所属客户 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="companyid">
                                <i-option v-for="item in companyList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0" v-show="isShowGroup">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">所属分组 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="groupids" multiple>
                                <i-option v-for="item in groupList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">同时登录 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="singleLogin">
                                <i-option value="0">允许</i-option>
                                <i-option value="1">禁止</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">手机登录 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="phoneLogin">
                                <i-option value="0">允许</i-option>
                                <i-option value="1">禁止</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">微信登录 : &nbsp;</i-col>
                        <i-col span="12">
                            <i-select v-model="weixinLogin">
                                <i-option value="0">允许</i-option>
                                <i-option value="1">禁止</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0" v-show="!isShowGroup">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;分组数量 : &nbsp;</i-col>
                        <i-col span="3">
                            <input-number :max="20" :min="1" v-model.trim.number="groupcount"></input-number>
                        </i-col>
                
                        <i-col span="3" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;用户数量 : &nbsp;</i-col>
                        <i-col span="3">
                            <input-number :max="100" :min="10" v-model.trim.number="usercount"></input-number>
                        </i-col>
                
                        <i-col span="3" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;设备数量 : &nbsp;</i-col>
                        <i-col span="3">
                            <input-number :max="500" :min="10" v-model.trim.number="devicecount"></input-number>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="12" :offset="4">
                            <i-button style="width:100%" @click="handleSubmit">添加</i-button>
                        </i-col>
                    </Row>
                </div>
            </tab-pane>
            <tab-pane label="设备权限" :disabled="isDisabled">
                <div style="width: 100%;height: 400px">
                    <div style="width: 250px;height: 400px;float: left;border: 1px solid #DCDEE2;overflow-y: auto;">
                        <Tree :data="treeData" show-checkbox @on-select-change="handleClickChildren"></Tree> 
                    </div>
                    <div style="width: 440px;height: 400px;float: right;border: 1px solid #DCDEE2">
                            <div style="margin-top:50px">
                                    <Row style="margin: 10px 0">
                                        <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                                                &nbsp;车机类型&nbsp;:&nbsp;
                                        </i-col>
                                        <i-col span="12" style="height: 100%;line-height:32px;">
                                                &nbsp;{{editTypeName}}
                                        </i-col>
                                    </Row>
                                    <Row style="margin: 10px 0">
                                        <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                                                &nbsp;命令名称&nbsp;:&nbsp;
                                        </i-col>
                                        <i-col span="12" style="height: 100%;line-height:32px;">
                                                &nbsp;{{editDirectiveName}}
                                        </i-col>
                                    </Row>
                                    <Row style="margin: 10px 0" v-show="!isEditDirectivePwd">
                                        <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                                                &nbsp;命令密码&nbsp;:&nbsp;
                                        </i-col>
                                        <i-col span="12">
                                            <i-input v-model.trim="directivepwd"></i-input>
                                        </i-col>
                                    </Row>
                                    <Row style="margin: 10px 0" v-show="!isEditDirectivePwd">
                                        <i-col span="8" :offset="8">
                                            <i-button style="width:100%" @click="handleEditDirevtivePwd">修改</i-button>
                                        </i-col>
                                    </Row>
                                </div>
                    </div>
                </div>
                <Row style="margin: 10px 0">
                    <i-col span="8" :offset="8">
                        <i-button style="width:100%" @click="submitDeviceAuthority">保存</i-button>
                    </i-col>
                </Row>
            </tab-pane>
        </Tabs>
        
    </div> 
    <script>
        new Vue({
            el:"#adduser",
            data:{
                username:"",
                password:"",
                confirmPassword:"",
                overduetime:"",
                usertype:"",
                singleLogin:"0",
                phoneLogin:"0",
                weixinLogin:"0",
                companyid:"",
                groupcount:10,
                devicecount:500,
                usercount:10,
                companyList:[],
                groupids:[],
                groupList:[],
                dateOptions: {
                    disabledDate:function(date) {
                        return date && date.valueOf() < Date.now() - 86400000;
                    }
                },
                isDisabled:true,
                isShowGroup:false,
                treeData:[
                    {
                        title: '所有设备',
                        expand: true,
                        selected: false,
                        children: []
                    }
                ],
                devicetypes:[],
                directiveList:[], 
                userTypeList:[],
                hadDeviceCmd:[],
                directivepwd:"",
                editTypeName:"",
                editDirectiveName:"",
                isEditDirectivePwd:true,
                directiveInfo:{}
            },
            methods: {
                handleClickChildren:function(data){
                    var directiveInfo = data[0];
                    if(directiveInfo){
                        if(directiveInfo.children == undefined){ 
                            this.directiveInfo = directiveInfo;
                            var devicetype = directiveInfo.devicetype;
                            var cmdcode = directiveInfo.cmdcode;
                            var isHasDirective = this.isHasDirective(devicetype,cmdcode);
                            this.editTypeName = directiveInfo.typename;
                            this.editDirectiveName = directiveInfo.title;
                            if(isHasDirective && directiveInfo.params){
                                this.isEditDirectivePwd = false;
                            }else{
                                this.isEditDirectivePwd = true; 
                            }
                        }
                    }
                },
                isHasDirective:function(devicetype,cmdcode){
                    var result = false;
                    for(var i = 0 ; i < this.hadDeviceCmd.length ; i++){ 
                        var item = this.hadDeviceCmd[i];
                        if(devicetype == item.devicetype && cmdcode == item.cmdcode){
                            result = true;
                        }
                    }
                    return result;
                },
                handleEditDirevtivePwd:function(){
                    if( this.directivepwd.length > 6){ this.$Message.error("密码小于6位") ;return; };
                    var me = this;
                    var url = myUrls.editUserDeviceCmdPwd();
                    var data = {
                            username: this.username,
                            cmdcode: this.directiveInfo.cmdcode,
                            devicetype:this.directiveInfo.devicetype,
                            cmdpwd: this.directivepwd
                        };

                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            me.$Message.success("修改密码成功")
                        }else{
                            me.$Message.error(resp.cause);
                        }
                    });    
                },
                queryHadDeviceCmdByUser:function(){
                    var me = this;
                    var url = myUrls.queryHadDeviceCmdByUser();
                    utils.sendAjax(url, { username: this.username }, function (resp) {
                        if (resp.status == 0) {
                            me.hadDeviceCmd = resp.records;
                        }
                    });
                },
                queryAllCompanyInfo:function(claaback){
                    var url = myUrls.queryCompanyByCreater();
                    utils.sendAjax(url,{},claaback)
                },
                doQueryAllCompanyInfo:function(resp){
                    var me = this;
                    if(resp.status == 0){
                        resp.records.forEach(function(item){
                            me.companyList.push({
                                label:item.companyname,
                                value:item.companyid
                            })
                        });
                    }
                },
                handleSubmit:function(){
                    var url  = myUrls.addUser();
                    var userType = this.usertype;
                  
                    var reg = /^[a-zA-Z0-9_-]{4,32}$/;
                    var data ={
                        username:this.username,
                        password:"",
                        overduetime:new Date(this.overduetime).getTime(),
                        usertype:userType,
                        companyid:this.companyid,
                    };    

                    if(this.password !== this.confirmPassword){
                        this.$Message.error("两次密码不一致!");  
                        return;
                    }else{
                        data.password = $.md5(this.password);
                    }
                  
                    if(!reg.test(this.username)){
                        this.$Message.error("用户名是4到32位的数字和字母组成的!");  
                        return;
                    }

                    for(var key in data){
                        if(data.hasOwnProperty(key)){
                            if(data[key] === "" || data[key] == NaN ){
                                this.$Message.error("请填写完整!");   
                                return;
                            }
                        };
                    };
                    
                    
                    if(this.isShowGroup){
                        data.groupids = this.groupids; 
                    }else{
                        data.groupcount = this.groupcount;
                        data.devicecount = this.devicecount;
                        data.usercount = this.usercount;
                    }    

                    utils.sendAjax(url,data,this.doAddUserCalback);
                },
                doAddUserCalback:function(resp){
                    if(resp.status == 0){
                        this.$Message.success("添加成功");
                        this.queryAllDeviceCmdByUser();
                        this.isDisabled = false;
                    }else{
                        var cause = resp.cause;
                        if(cause.indexOf("exists")!=-1){
                            this.$Message.error("该用户已存在");    
                        }else{
                            this.$Message.error(resp.cause);
                        }                      
                    }
                },
                getGroupsList:function(){
                    var me = this; 
                    var url = myUrls.queryCompanyGroup();                        
                    utils.sendAjax(url,{companyid:this.companyid},function (resp) { 
                        me.groupList = [];
                        me.groupids = [];
                        if(resp.status == 0){
                            var companys = resp.companys
                            for(var i = 0 ; i < companys.length ; i++){
                                var item = companys[i];
                                if(item.companyid == me.companyid && item.groups != null){
                                    var groups = item.groups;
                                    groups.forEach(function(group){
                                        me.groupList.push({label:group.groupname,value:group.groupid});
                                    });
                                }
                            }
                        }
                    });
                },
                queryAllgroupsInfo:function(){
                    var url = myUrls.queryGroupByUser();
                    utils.sendAjax(url,{},this.doQueryAllGroupsInfo);
                },
                doQueryAllGroupsInfo:function(resp){
                    var me = this;
                    if(resp.status === 0 && resp.grouplist){
                        resp.grouplist.forEach(function (group) { 
                            me.groupList.push({
                                label:group.groupname,
                                value:group.groupid
                            });
                        });
                    };
                },
                queryAllDeviceCmdByUser:function(){
                    var me = this;
                    var url = myUrls.queryAllDeviceCmdByUser();
                    utils.sendAjax(url,{username:this.username},function (resp) { 
                        if(resp.status == 0 ){
                            me.directiveList = resp.records;
                            me.queryAllDeviceTypeByUser();
                        };
                    })    
                },
                queryAllDeviceTypeByUser:function(){
                    var me = this;
                    var url = myUrls.queryAllDeviceTypeByUser();
                    utils.sendAjax(url,{username:this.username},function (resp) { 
                        if(resp.status == 0 ){
                            me.devicetypes = resp.devicetypes;
                        };
                    })    
                },
                submitDeviceAuthority:function(){
                    var me = this;
                    var url = myUrls.editUserDeviceCmd();
                    var data = this.getEditUserDeviceCmdData();
                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            me.queryHadDeviceCmdByUser();
                            me.$Message.success("设置成功");
                        }else{
                            me.$Message.error(resp.cause);
                        };
                    });
                },
                getEditUserDeviceCmdData :function(){
                    var data = [];
                    var children = this.treeData[0].children;

                    children.forEach(function (device) { 
                        if(device.children.length){
                            var isPush = false;
                            var itemObj = {
                                devicetype:device.devicetype,
                                cmds:[]
                            };
                            device.children.forEach(function (cmd) { 
                                if(cmd.checked){
                                    var cmdObj = {
                                        cmdcode:cmd.cmdcode
                                    };
                                    itemObj.cmds.push(cmdObj);
                                }
                            });
                            if( itemObj.cmds.length){
                                data.push(itemObj);
                            }
                        };
                    });
                    return {
                        data:data,
                        username: this.username
                    }
                },
                queryUserTypeByUser:function(){
                    var me = this
                    var url = myUrls.queryUserTypeByUser();
                    utils.sendAjax(url,{},function (resp) { 
                        if(resp.status == 0){
                            me.userTypeList = resp.records;
                        }else{
                            me.$Message.error("请求错误");
                        }    
                    });
                }
            },
            computed:{
                
            },
            watch:{
                usertype:function(){
                    if(this.usertype >= 10){
                        this.isShowGroup = true;             
                    }else{
                        this.isShowGroup = false;
                    }
                },
                devicetypes:function(){
                    var devicetypes = this.devicetypes;
                    var directiveList = this.directiveList;
                    var datas = [];
                    
                    devicetypes.forEach(function (type) { 
                        var children = [];
                        var typeObj = {
                            title:type.typename,
                            typecode:type.typecode,
                            devicetype:type.devicetypeid,
                            expand: true,
                            children:children
                        };
                        directiveList.forEach(function (directive) { 
                            if(type.devicetypeid == directive.devicetype){
                                var directiveObj = {
                                    title:directive.cmdname,
                                    checked: false,
                                    cmdcode:directive.cmdcode,
                                    params:directive.params,
                                    typename:type.typename,
                                    devicetype:type.devicetypeid,
                                }
                                children.push(directiveObj)
                            }
                        });
                        datas.push(typeObj);
                    })
                    this.treeData[0].children = datas;             
                }  
            },
            mounted:function () {
                this.queryAllCompanyInfo(this.doQueryAllCompanyInfo);
                this.queryAllgroupsInfo();
                this.queryUserTypeByUser();
                this.overduetime = new Date(Date.now() + 365*24*3600*1000);

                // this.queryAllDeviceCmdByUser();
            }
        })
    </script>    
</div>        