<div id="bonus-list">
    <div class="full">
        <h3 class="h3-title" style="margin: 10px;">{{$t('bgMgr.bonusList')}}</h3>
        <div style="padding: 0 10px;">
            <i-table border :columns="columns" :data="tableData" :height="taleHeight" :loading="loading"></i-table>
        </div>
        <Modal v-model="modal" width="300">
            <p slot="header" style="color:#f60;text-align:center">
                <Icon type="ios-create-outline"></Icon>
                <span>{{$t('monitor.edit')}}</span>
            </p>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                    1❤ :
                </i-col>
                <i-col span="16">
                    <input-number :max="10000" :min="0" v-model.trim.number="bonuslevel1" style="width: 100%;"></input-number>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                    2❤ :
                </i-col>
                <i-col span="16">
                    <input-number :max="10000" :min="0" v-model.trim.number="bonuslevel2" style="width: 100%;"></input-number>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                    3❤ :
                </i-col>
                <i-col span="16">
                    <input-number :max="10000" :min="0" v-model.trim.number="bonuslevel3" style="width: 100%;"></input-number>
                </i-col>
            </Row>
            <div slot="footer">
                <i-button type="primary" style="width: 100%" @click="handleEdit">{{$t('header.submit')}}</i-button>
            </div>
        </Modal>
    </div>
    <script>
        vueInstanse = new Vue({
            el: "#bonus-list",
            i18n: utils.getI18n(),
            data: {
                loading: true,
                modal: false,
                taleHeight: 300,
                columns: [{
                    title: vRoot.$t('user.devType'),
                    key: 'username',
                }, {
                    title: '会员等级',
                    key: 'bonuslevel',
                }, {
                    title: '金豆数',
                    key: 'bonuspoints',
                }, {
                    title: vRoot.$t('alarm.action'),
                    width: 100,
                    render: function(h, params) {
                        var row = params.row;
                        return h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            on: {
                                click: function() {
                                    editObject = row;
                                    vueInstanse.bonuslevel1 = row.bonuslevel1;
                                    vueInstanse.bonuslevel2 = row.bonuslevel2;
                                    vueInstanse.bonuslevel3 = row.bonuslevel3;
                                    vueInstanse.modal = true;
                                }
                            }
                        }, vRoot.$t('monitor.edit'))
                    },
                }],
                bonuslevel1: 0,
                bonuslevel2: 0,
                bonuslevel3: 0,
                tableData: [],
            },
            methods: {
                handleEdit: function() {
                    var me = this;
                    var url = myUrls.setBonusQuotation();
                    var data = {
                        devicetypeid: editObject.devicetypeid,
                        bonuslevel1: this.bonuslevel1,
                        bonuslevel2: this.bonuslevel2,
                        bonuslevel3: this.bonuslevel3,

                    };
                    utils.sendAjax(url, data, function(resp) {
                        if (resp.status === 0) {
                            editObject.bonuslevel1 = me.bonuslevel1;
                            editObject.bonuslevel2 = me.bonuslevel2;
                            editObject.bonuslevel3 = me.bonuslevel3;
                            me.modal = false;
                            me.$Message.success(me.$t('monitor.setupSucc'));
                        } else if (resp.status === 11) {
                            me.$Message.error('1星价格低于上级授权价格');
                        } else if (resp.status === 12) {
                            me.$Message.error('2星价格低于上级授权价格');
                        } else if (resp.status === 13) {
                            me.$Message.error('3星价格低于上级授权价格');
                        } else {
                            me.$Message.error(me.$t('monitor.setupFail'));
                        }
                    });
                },
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.taleHeight = wHeight - 115;
                },
                queryBonusList: function() {
                    var me = this;
                    var url = myUrls.queryBonusList();
                    utils.sendAjax(url, {}, function(resp) {
                        me.loading = false;
                        if (resp.records) {
                            me.tableData = resp.records;
                        }
                    }, function() {
                        me.loading = false;
                    })
                }
            },
            mounted: function() {
                var me = this;
                this.calcTableHeight();
                this.queryBonusList();
                window.onresize = function() {
                    me.calcTableHeight();
                }
            }
        })
    </script>
</div>