<div id="charge-mgr">
    <div style="margin:10px;height: 32px;">
        <input type="file" id="file" style="display: none;" />
        <div style="float: left;position: relative;width: 210px;line-height:32px;">
            <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus" :readonly="readonly" @on-click="focus" :placeholder="placeholder"></i-input>
                <transition name="fade">
                    <div class="search-item-wrapper" v-show="isShowMatchDev">
                        <Tree :data="treeData" @on-check-change="onCheckedDevice"></Tree>
                    </div>
                </transition>
            </div>
        </div>
        <div style="margin-left:10px;float: left;line-height: 32px;position: relative;width: 90px;">
            <i-select v-model="maturityType">
                <i-option value="0">{{$t("charge.expired")}}</i-option>
                <i-option value="1">{{$t("charge.unexpired")}}</i-option>
            </i-select>
        </div>
        <div style="margin-left:10px;float: left;height: 32px;position: relative;">
            <div style="float: left;height: 32px;line-height: 32px;">
                {{$t("charge.days")}}:
            </div>
            <div style="float: left;line-height: 32px;position: relative;width: 80px;">
                <input-number v-model.number="dayNumbers" :min="1" style="width: 100%;"></input-number>
            </div>
        </div>
        <div style="margin-left:10px;float: left;line-height: 32px;">
            <Checkbox v-model="isIncludeSub">{{$t("charge.includeSub")}}</Checkbox>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button :loading="loading" type="info" @click="queryChargeDeviceList">{{$t("reportForm.query")}}</i-button>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button type="primary" @click="handleChargeModal">{{$t("charge.recharge")}}</i-button>
        </div>
        <div style="margin-left:10px;float: left;">
            <Poptip trigger="click" :title="$t('charge.deleteTip')" confirm @on-ok="handleDelete">
                <i-button type="error">{{$t("charge.batchDelete")}}</i-button>
            </Poptip>
        </div>
        <div style="float: right;">
            <i-button @click="exportData" type="primary">{{$t("reportForm.exportData")}}</i-button>
        </div>
        <div style="float: right;margin-right:10px;">
            <i-button @click="importTownerInfo" type="info">{{$t("bgMgr.exportDevice")}}</i-button>
        </div>
    </div>
    <div style="margin:10px;">
        <i-table :columns="columns" border ref="table" :height="tableHeight" :data="tableData" :loading="loading" @on-selection-change="onSelection"></i-table>
    </div>
    <Modal v-model="adminModal" width="400" v-cloak>
        <p slot="header" style="color:#2D8CF0;text-align:center">
            {{$t("charge.rechargeAction")}}
        </p>
        <div>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("charge.numbers")}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{selectionArray.length}}
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("charge.rechargeType")}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    <Radio-Group v-model="type">
                        <Radio label="years"><span>{{$t("charge.years")}}</span></Radio>
                        <Radio label="days"><span>{{$t("charge.date")}}</span></Radio>
                    </Radio-Group>
                </i-col>
            </Row>
            <Row style="margin: 10px 0" v-show="type=='years'">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("charge.addYears")}}:</i-col>
                <i-col span="17" style="height: 100%;line-height:32px;">
                    <Radio-Group v-model="years">
                        <Radio :label="$t('charge.year1')"></Radio>
                        <Radio :label="$t('charge.year2')"></Radio>
                        <Radio :label="$t('charge.year3')"></Radio>
                        <Radio :label="$t('charge.year4')"></Radio>
                        <Radio :label="$t('charge.year5')"></Radio>
                    </Radio-Group>
                </i-col>
            </Row>
            <Row style="margin: 10px 0" v-show="type=='days'">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("reportForm.selectDate")}}:</i-col>
                <i-col span="17" style="height: 100%;line-height:32px;">
                    <date-picker type="date" v-model="overdueDate" style="width: 100%"></date-picker>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t('charge.surplusJindou')}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{bonuspoints}}
                </i-col>
            </Row>
            <Row style="margin: 10px 0" v-show="type=='years'">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t('charge.consumeJindou')}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{jindou}} * {{parseInt(years)}} = {{ jindou * parseInt(years)}}
                </i-col>
            </Row>
            <Row style="margin: 10px 0" v-show="type=='days'">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t('charge.consumeJindou')}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    0
                </i-col>
            </Row>
        </div>
        <div slot="footer" style="padding:6.5px 15px;">
            <i-button style="width:100%;" type="primary" @click="handlerChargeDevices">{{$t("header.submit")}}</i-button>
        </div>
    </Modal>
    <Modal v-model="importModal" :mask-closable="false" width="700" :title="$t('device.import')">
        <Row>
            <i-col span="12" style="padding: 10px;">
                <i-input v-model.trim="deviceids" type="textarea" :placeholder="$t('device.copyBatchNumber')" :autosize="{minRows: 15,maxRows: 15}"></i-input>
            </i-col>
            <i-col span="12" style="padding: 10px;" class="my-error-tips">
                <i-input v-model.trim="errorTips" type="textarea" disabled :autosize="{minRows: 15,maxRows: 15}"></i-input>
            </i-col>
        </Row>
        <div slot="footer" style="height:40px;">
            <Row>
                <i-col span="16" offset="4">
                    <i-button style="width: 100%" type="primary" @click="handleBatchImport">{{$t('device.import')}}</i-button>
                </i-col>
            </Row>
        </div>
    </Modal>
    <Modal v-model="modal" width="400" v-cloak>
        <p slot="header" style="color:#2D8CF0;text-align:center">
            {{$t("charge.rechargeAction")}}
        </p>
        <div>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("charge.numbers")}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{selectionArray.length}}
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t("charge.addYears")}}:</i-col>
                <i-col span="17" style="height: 100%;line-height:32px;">
                    <Radio-Group v-model="years">
                        <Radio :label="$t('charge.year1')"></Radio>
                        <Radio :label="$t('charge.year2')"></Radio>
                        <Radio :label="$t('charge.year3')"></Radio>
                        <Radio :label="$t('charge.year4')"></Radio>
                        <Radio :label="$t('charge.year5')"></Radio>
                    </Radio-Group>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t('charge.surplusJindou')}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{bonuspoints}}
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;line-height:32px;text-align:center">{{$t('charge.consumeJindou')}}:</i-col>
                <i-col span="12" style="height: 100%;line-height:32px;">
                    {{jindou}} * {{parseInt(years)}} = {{ jindou * parseInt(years)}}
                </i-col>
            </Row>
        </div>
        <div slot="footer" style="padding:6.5px 15px;">
            <i-button style="width:100%;" type="primary" @click="handlerChargeDevices">{{$t("header.submit")}}</i-button>
        </div>
    </Modal>

    <script>
        new Vue({
            el: '#charge-mgr',
            i18n: utils.getI18n(),
            mixins: [treeMixin],
            data: {
                isOk: false,
                importModal: false,
                jindou: 0,
                deviceids: '',
                errorTips: '',
                isIncludeSub: false,
                modal: false,
                adminModal: false,
                dayNumbers: 30,
                years: vRoot.$t('charge.year1'),
                type: 'years',
                overdueDate: DateFormat.addYear(new Date(), 1),
                selectionArray: [],
                createrToUser: userName,
                modal: false,
                columns: [{
                    type: 'selection',
                    width: 60,
                    align: 'center'
                }, {
                    type: 'index',
                    width: 60,
                    align: 'center'
                }, {
                    title: vRoot.$t('bgMgr.creater'),
                    key: 'username'
                }, {
                    title: vRoot.$t('alarm.devNum'),
                    key: 'deviceid'
                }, {
                    title: vRoot.$t('alarm.devName'),
                    key: 'devicename'
                }, {
                    title: vRoot.$t('user.devType'),
                    key: 'devicetype',
                }, {
                    title: vRoot.$t('alarm.overdueTime'),
                    sortable: true,
                    key: 'overduedate'
                }, {
                    title: vRoot.$t('charge.consumeJindou'),
                    key: 'price'
                }],
                tableHeight: 300,
                tableData: [],
                loading: false,
                maturityType: '0',
                bonuspoints: 0,
            },
            methods: {
                queryBonusByUsername: function() {
                    var me = this;
                    var url = myUrls.queryBonusByUsername();
                    utils.sendAjax(url, {}, function(resp) {
                        if (resp.status == 0) {
                            me.bonuspoints = resp.bonuspoints
                        }
                    })
                },
                handleBatchImport: function() {

                    var deviceids = this.deviceids.split("\n");
                    var devices = deviceids.filter(function(item) {
                        if (item) {
                            return item;
                        }
                    });
                    if (devices.length > 0) {
                        this.queryDevicesByIds(devices);
                    }

                },
                handleChargeModal: function() {
                    if (vRoot.$store.state.userType == 0) {
                        this.adminModal = true;
                    } else {
                        this.modal = true;
                    }
                },
                queryChargeDeviceList: function() {
                    this.loading = true;
                    this.selectionArray = [];
                    var me = this;
                    var url = myUrls.queryChargeDeviceList();
                    var overduedays = this.dayNumbers;
                    if (this.maturityType == '0') {
                        overduedays = -overduedays;
                    };
                    var data = {
                        username: this.createrToUser, // 需要查询的账号
                        isquerysubaccount: this.isIncludeSub, //true 是包含下级账号 false 不包含
                        overduedays: overduedays //负数 代表过期多少天 正数代表还有多少天过期
                    };
                    utils.sendAjax(url, data, function(respData) {
                        me.loading = false;
                        var deviceTypeMap = vRoot.$store.state.deviceTypes;
                        if (respData.status == 0) {
                            if (respData.devices.length) {
                                var resultArray = [];
                                respData.devices.forEach(function(item, index) {
                                    resultArray.push({
                                        username: item.creater,
                                        deviceid: item.deviceid,
                                        devicename: item.devicename,
                                        devicetype: deviceTypeMap[item.devicetype].typename,
                                        devicetypeid: item.devicetype,
                                        chargestatus: item.chargestatus,
                                        overduedate: DateFormat.longToDateStr(item.overduetime, timeDifference),
                                        overduetime: item.overduetime,
                                        price: me.priceObj[item.devicetype].price
                                    });
                                });
                                if (me.maturityType == '0') {
                                    resultArray.sort(function(a, b) {
                                        return b.overduetime - a.overduetime;
                                    });
                                } else {
                                    resultArray.sort(function(a, b) {
                                        return a.overduetime - b.overduetime;
                                    });
                                }

                                me.tableData = resultArray;
                            } else {
                                me.tableData = [];
                                me.$Message.error(isZh ? "没有搜索到设备" : "No device found");
                            }
                        } else {
                            me.$Message.error(isZh ? "查询失败" : "Query failed");
                        }
                    }, function() {
                        me.loading = false;
                    });
                },
                handleDelete: function(row) {
                    if (this.selectionArray.length == 0) {
                        this.$Message.error(isZh ? "请选择要删除的设备" : "Please select the device to delete");
                    } else {

                        var url = myUrls.deleteDevices(),
                            me = this;
                        var deviceids = this.selectionArray.map(function(item) {
                            return item.deviceid
                        });
                        if (deviceids.length >= 100) {
                            this.$Message.error(isZh ? "一次性删除不能超过100个设备" : "No more than 100 devices can be deleted at one time");
                            return;
                        }
                        utils.sendAjax(url, {
                            deviceids: deviceids
                        }, function(resp) {
                            if (resp.status == 0) {
                                me.queryChargeDeviceList();
                                me.$Message.success(vRoot.$t('message.deleteSucc'));
                            } else {
                                me.$Message.error(vRoot.$t('message.deleteFail'));
                            }
                        });

                    }

                },
                onSelection: function(result) {
                    if (result.length) {
                        var jindou = 0;
                        result.forEach(function(item) {
                            jindou += item.price;
                        })
                        this.jindou = jindou;
                    } else {
                        this.jindou = 0;
                    }
                    this.selectionArray = result;

                },
                handlerChargeDevices: function() {
                    if (this.selectionArray.length == 0) {
                        this.$Message.error(isZh ? "请选择要充值的设备" : "Please select the device to recharge");
                        return;
                    };
                    var url = myUrls.chargeDevices(),
                        me = this;
                    var data = {
                        deviceids: [],
                    }

                    if (vRoot.$store.state.userType == 0) {
                        if (this.type == "years") {
                            data.years = parseInt(this.years);
                            data.overduetime = null;
                        } else {
                            data.years = null;
                            data.overduetime = DateFormat.format(this.overdueDate, 'yyyy-MM-dd');
                        }
                    } else {
                        data.years = parseInt(this.years);
                        data.overduetime = null;
                    }

                    this.selectionArray.forEach(function(item) {
                        data.deviceids.push(item.deviceid);
                    });

                    utils.sendAjax(url, data, function(respData) {
                        if (respData.status == 0) {

                            me.modal = false;
                            me.adminModal = false;

                            if (isZh) {
                                me.$Message.success("充值成功:" + respData.successcount + "个");

                            } else {
                                me.$Message.success("Recharge success:" + respData.successcount);
                            }
                            var deviceids = [];
                            me.tableData.forEach(function(item) {
                                deviceids.push(item.deviceid);
                            })
                            me.queryDevicesByIds(deviceids);
                        } else {
                            me.$Message.error(isZh ? "充值失败" : "Recharge failed");
                        }
                    });
                },
                queryUsersTree: function(callback) {
                    var url = myUrls.queryUsersTree(),
                        me = this;
                    utils.sendAjax(url, {
                        username: userName
                    }, function(respData) {
                        if (respData.status == 0 && respData.rootuser.user) {
                            callback([me.castUsersTreeToDevicesTree(respData.rootuser)]);
                        } else {
                            me.$Message.error(me.$t('monitor.queryFail'))
                        }
                    });
                },
                castUsersTreeToDevicesTree: function(devicesTreeRecord) {
                    var me = this;
                    var iViewTree = {
                        render: function(h, params) {
                            var username = params.data.title;
                            return h('span', {
                                on: {
                                    'click': function() {
                                        me.createrToUser = username;
                                        me.sosoValue = username;
                                    }
                                },
                                style: {
                                    cursor: 'pointer',
                                    color: (me.createrToUser == username) ? '#2D8CF0' : '#000'
                                }
                            }, [
                                h('span', [
                                    h('Radio', {
                                        props: {
                                            value: username == me.createrToUser
                                        },
                                        style: {
                                            marginRight: '4px',
                                            marginLeft: '4px'
                                        }
                                    }),
                                    h('span', params.data.title)
                                ]),
                            ])
                        },
                        expand: true,
                    };
                    if (devicesTreeRecord != null) {
                        var username = devicesTreeRecord.user.username;
                        var subusers = devicesTreeRecord.subusers;
                        iViewTree.title = username;
                        if (username != null && subusers != null && subusers.length > 0) {
                            var subDevicesTreeRecord = this.doCastUsersTreeToDevicesTree(subusers);
                            iViewTree.children = subDevicesTreeRecord;

                        }
                    }
                    return iViewTree;
                },
                doCastUsersTreeToDevicesTree: function(usersTrees) {
                    var devicesTreeRecord = [],
                        me = this;
                    if (usersTrees != null && usersTrees.length > 0) {
                        for (var i = 0; i < usersTrees.length; ++i) {
                            var usersTree = usersTrees[i];
                            var username = usersTree.user.username;
                            var subusers = usersTree.subusers;
                            var currentsubDevicesTreeRecord = {
                                render: function(h, params) {
                                    var username = params.data.title;
                                    return h('span', {
                                        on: {
                                            'click': function() {
                                                me.createrToUser = username;
                                                me.sosoValue = username;
                                            }
                                        },
                                        style: {
                                            cursor: 'pointer',
                                            color: (me.createrToUser == username) ? '#2D8CF0' : '#000'
                                        }
                                    }, [
                                        h('span', [
                                            h('Radio', {
                                                props: {
                                                    value: username == me.createrToUser
                                                },
                                                style: {
                                                    marginRight: '4px',
                                                    marginLeft: '4px'
                                                }
                                            }),
                                            h('span', params.data.title)
                                        ]),
                                    ])
                                },
                            };
                            if (username != null && subusers != null && subusers.length > 0) {
                                var subDevicesTreeRecord = this.doCastUsersTreeToDevicesTree(subusers);
                                currentsubDevicesTreeRecord.children = subDevicesTreeRecord;
                            }
                            currentsubDevicesTreeRecord.title = username;
                            devicesTreeRecord.push(currentsubDevicesTreeRecord);
                        }
                    }
                    return devicesTreeRecord;
                },
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.tableHeight = wHeight - 125;
                },
                exportData: function() {
                    var tableData = deepClone(this.tableData);
                    tableData.forEach(function(item) {
                        item.cardid = "\t" + item.cardid;
                        item.usernamephonenum = "\t" + item.usernamephonenum;
                        item.phonenum = "\t" + item.phonenum;
                        item.policyno = "\t" + item.policyno;
                        item.vinno = "\t" + item.vinno;
                    });
                    this.$refs.table.exportCsv({
                        filename: vRoot.$t('reportForm.insureData'),
                        original: false,
                        columns: this.columns,
                        data: tableData
                    });
                },
                importTownerInfo: function() {
                    this.importModal = true;
                },
                queryDevicesByIds: function(deviceids) {
                    var me = this;
                    var url = myUrls.queryDevicesByIds();
                    var data = {
                        deviceids: deviceids
                    }
                    utils.sendAjax(url, data, function(respData) {
                        var devices = respData.devices;
                        if (devices && devices.length) {
                            var resultArray = [];
                            var deviceTypeMap = vRoot.$store.state.deviceTypes;
                            respData.devices.forEach(function(item, index) {
                                resultArray.push({
                                    username: item.creater,
                                    deviceid: item.deviceid,
                                    devicename: item.devicename,
                                    devicetype: deviceTypeMap[item.devicetype].typename,
                                    devicetypeid: item.devicetype,
                                    chargestatus: item.chargestatus,
                                    overduedate: DateFormat.longToDateStr(item.overduetime, timeDifference),
                                    overduetime: item.overduetime,
                                    price: me.priceObj[item.devicetype].price
                                });
                            });

                            resultArray.sort(function(a, b) {
                                return a.overduetime - b.overduetime;
                            });

                            me.tableData = resultArray;
                            me.importModal = false;
                        }
                    });
                },
                queryQuotation: function() {
                    var me = this;
                    var url = myUrls.queryQuotation();
                    utils.sendAjax(url, {}, function(resp) {
                        me.loading = false;
                        if (resp.records) {
                            resp.records.forEach(function(item) {
                                me.priceObj[item.devicetypeid] = item;
                            })
                        }
                    }, function() {
                        me.loading = false;
                    })
                }
            },
            watch: {
                modal: function(newVal) {
                    if (newVal) {
                        this.queryBonusByUsername();
                    }
                },
                adminModal: function(newVal) {
                    if (newVal) {
                        this.queryBonusByUsername();
                    }
                },
                deviceids: function(newVal) {
                    var tips = '';
                    var devices = newVal.split('\n');
                    devices = devices.filter(function(item) {
                        if (item) {
                            return item;
                        }
                    });
                    var groups = vRoot.$children[1].groups;
                    devices.forEach(function(deviceid) {
                        var isFound = false;
                        for (var i = 0; i < groups.length; i++) {
                            var children = groups[i].children;
                            for (var j = 0; j < children.length; j++) {
                                var item = children[j];
                                if (deviceid && item.deviceid == deviceid) {
                                    isFound = true;
                                    break;
                                }
                            }
                            if (isFound) {
                                break;
                            }
                        }
                        if (isFound === false) {
                            if (isZh) {
                                tips += deviceid + ': 没有该设备' + '\n';
                            } else {
                                tips += deviceid + ': There is no such device' + '\n';
                            }

                        }
                    })

                    this.errorTips = tips;

                    if (tips.length) {
                        this.isOk = false;
                        $('.my-error-tips textarea').css({
                            color: 'red'
                        });
                    }
                }
            },
            mounted: function() {
                var me = this;
                me.queryUsersTree(function(usersTree) {
                    me.groupslist = usersTree;
                    me.treeData = usersTree;
                });
                me.queryQuotation();
                me.priceObj = {};
                this.sosoValue = userName;
                this.calcTableHeight();


            },
        })
    </script>
</div>