
<meta charset="UTF-8">

<div id="editcustomer">
    <div class="full">
        <h3 class="h3-title">编辑客户  <span> <i-button style="width: 100%" @click="back">返回</i-button> </span></h3>
        <div>
            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;企业名称 : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="companyname"></i-input>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">组织机构编号 : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="orgcode"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">注册日期 : &nbsp;</i-col>
                    <i-col span="8">
                        <date-picker type="date" v-model="registerdate"></date-picker>
                    </i-col>
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">法人代表 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-input v-model.trim="jurdcperson"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">企业联系人 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-input v-model.trim="companyperson"></i-input>
                    </i-col>
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">企业联系电话 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-input v-model.trim.number="companyphone"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">24小时联系电话 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-input v-model.trim.number="alldayphone"></i-input>
                    </i-col>
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">运营资质类别 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-select v-model="type">
                            <i-option v-for="item in operationList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                        </i-select>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">企业员工数量 : &nbsp;</i-col>
                    <i-col span="8">
                        <i-input v-model.trim.number="empcount"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">办公地址 : &nbsp;</i-col>
                    <i-col span="20">
                        <i-input v-model.trim="officeaddr"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">注册地点 : &nbsp;</i-col>
                    <i-col span="20">
                        <i-input v-model.trim="registeraddr"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">备注 : &nbsp;</i-col>
                    <i-col span="20">
                        <i-input v-model.trim="remark"></i-input>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="6" :offset="6">
                        <i-button style="width: 100%" @click="handleSubmit">提交</i-button>
                    </i-col>
                    <i-col span="6" :offset="1">
                        <i-button style="width: 100%" @click="resetInfo">重置</i-button>
                    </i-col>
            </Row>
        </div>
    </div>

    <script>
        new Vue({
            el:"#editcustomer",
            data:{
                companyname:"", //公司名称
                orgcode  :"",  //机构编号
                registerdate:"", //成立日期
                jurdcperson:"",   // 法人
                companyperson:"",      //企业联系人
                companyphone:"",  //企业联系电话
                alldayphone:"",        //24小时联系电话
                empcount:"",    //员工数量
                officeaddr:"",  //工作地址
                registeraddr:"",//注册地址
                remark:"",      //备注
                type:"",  // 运营级别
                operationList:[{value:1,label: '1级资质'},{value:2,label: '2级资质'},{value:3,label: '3级资质'}]    
            },
            methods:{
                handleSubmit:function(){
                    var url = myUrls.editCompany();
                    var data = {companyid:editObject.companyid};
                        if(this.companyname !== "" ){
                            data.companyname = this.companyname;
                        }else{
                            this.$Message.error("公司名称是必填的!");
                            return ;
                        }
                        this.orgcode !== "" ? data.orgcode = this.orgcode : "" ;
                        this.companyphone !== "" ? data.companyphone = this.companyphone : "" ;
                        this.registerdate !== "" ? data.registerdate = new Date(this.registerdate).getTime() : "" ;
                        this.jurdcperson !== "" ? data.jurdcperson = this.jurdcperson : "" ;
                        this.registeraddr !== "" ? data.registeraddr = this.registeraddr : "" ;
                        this.alldayphone !== "" ? data.alldayphone = this.alldayphone : "" ; 
                        this.companyperson !== "" ? data.companyperson = this.companyperson : "" ;
                        this.empcount !== "" ? data.empcount = this.empcount : "" ; 
                        this.empcount !== "" ? data.empcount = this.empcount : "" ; 
                        this.officeaddr !== "" ? data.officeaddr = this.officeaddr : "" ; 
                        this.remark !== "" ? data.remark = this.remark : "" ; 
                        this.type !== "" ? data.type = this.type : "" ;

                    utils.sendAjax(url,data,this.doCallback);
                },
                doCallback:function(resp){

                    if(resp.status==0){
                        this.$Message.success("修改成功");
                    }else{
                        this.$Message.error(resp.cause);
                    }
                },
                resetInfo:function(){
                    this.companyname = "";
                    this.orgcode = "" ;
                    this.companyphone = "";
                    this.companyperson = "";
                    this.registerdate = "" ;
                    this.jurdcperson = "" ;
                    this.alldayphone ="" ;
                    this.empcount = "" ; 
                    this.empcount = ""; 
                    this.officeaddr = ""; 
                    this.remark = "" ; 
                    this.type = ""; 
                    this.registeraddr = "";
                },
                back:function(){
                    var me = this;         
                    var pagePath = null
                        if (myUrls.host.indexOf('gpsserver') != -1) {
                            pagePath = myUrls.host + 'view/manager/querycustomer.html'
                        } else {
                            pagePath = '../view/manager/querycustomer.html'
                        }          
                    this.$Loading.start();
                    $("#mar-view").load(pagePath,function(){
                        me.$Loading.finish();
                    });
                }
            },
            mounted:function(){
                var me = this;
                this.$nextTick(function(){                  
                    this.companyname = editObject.companyname;
                    this.orgcode = editObject.orgcode;
                    this.companyphone = editObject.companyphone;
                    this.registerdate = DateFormat.longToDateStr(editObject.registerdate,0);
                    this.jurdcperson = editObject.jurdcperson;
                    this.alldayphone =editObject.alldayphone;
                    this.empcount = editObject.empcount;
                    this.empcount = editObject.empcount;
                    this.officeaddr = editObject.officeaddr;
                    this.remark = editObject.companyname; 
                    this.type = editObject.type;
                    this.companyperson = editObject.companyperson;
                    this.registeraddr = editObject.registeraddr;
                });
            }
        })
    </script>
</div>



