<meta charset="UTF-8">
<div id="editdevice">
    <div class="full">
        <h3 class="h3-title">{{$t("device.editDev")}}  <span><i-button style="width: 100%" size="" @click="back">{{$t("bgMgr.back")}}</i-button> </span></h3>
        <div>
            <Row style="margin: 10px 0" v-if="userType == 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;选择账号 : &nbsp;</i-col>
                <i-col span="8">
                    <div class="search-wrapper">
                        <i-input v-model.trim="createrToUser"  :icon="iconState" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus"></i-input>
                        <transition name="fade">
                            <ul class="search-item-wrapper" v-show="isShowMatchDev" style="cursor: pointer;">
                                <li v-for="item in userlists" style="padding:5px 10px;" @click="selectedCmd(item)" :class="{'ivu-select-item-focus':item == createrToUser}">
                                    <Option :value="item" :key="item">
                                        <span style="cursor: pointer;">{{ item }}</span>
                                    </Option>
                                </li>
                            </ul>
                        </transition>
                    </div>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;终身免费 : &nbsp;</i-col>
                <i-col span="8">  
                    <i-select v-model="isfree" style="width: 100%">
                        <i-option value="1">是</i-option>
                        <i-option value="0">否</i-option>
                    </i-select>
                </i-col>
            </Row>
            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("alarm.overdueTime")}} : &nbsp;</i-col>
                <i-col span="8">
                    <date-picker type="date" v-model="overduetime" :options="dateOptions"></date-picker>
                </i-col>

                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">&nbsp;{{$t("alarm.devName")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="devicename"></i-input>
                </i-col>
                
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("user.devType")}} : &nbsp;</i-col>
                <i-col span="8">  
                    <!-- devicetype -->
                    <i-select v-model="devicetype">
                        <i-option v-for="item in deviceTypeList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("alarm.devNum")}} : &nbsp;</i-col>
                <i-col span="8">
                        <i-input v-model.trim="deviceid" disabled></i-input>
                </i-col>
                
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">&nbsp;{{$t("user.client")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="companyid">
                            <i-option v-for="item in customersList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">SIM : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim.number="simnum"></i-input>
                </i-col>    
                
            </Row>

            <Row style="margin: 10px 0"> 
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("user.grouping")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="groupid">
                        <i-option v-for="item in groupsList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                    </i-select>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.allowLogin")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="loginenable">
                        <i-option value="0">{{$t("user.ban")}}</i-option>
                        <i-option value="1">{{$t("user.allow")}}</i-option>     
                    </i-select>
                </i-col>  
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.reportCount")}}
                    : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="reportedpoint"></i-input>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.allReportCount")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="totalpoint"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">{{$t("device.isUse")}} : &nbsp;</i-col>
                <i-col span="8">
                    <i-select v-model="deviceenable">
                        <i-option value="0">{{$t("user.ban")}}</i-option>
                        <i-option value="1">{{$t("user.allow")}}</i-option>
                    </i-select>
                </i-col>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">&nbsp;监护账号 : &nbsp;</i-col>
                <i-col span="8">
                    <i-input v-model.trim="monitor"></i-input>
                </i-col>
            </Row>
           

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">&nbsp;转发地址 : &nbsp;</i-col>
                <i-col span="20">
                    <i-input v-model.trim="forwardurl"></i-input>
                </i-col>
            </Row>    

            <Row style="margin: 10px 0">
                <i-col span="6" :offset="7">
                    <i-button style="width: 100%" @click="handleSubmit">{{$t("bgMgr.submit")}}</i-button>
                </i-col>
                <i-col span="6" :offset="1">
                    <i-button style="width: 100%" @click="resetInfo">{{$t("bgMgr.reset")}}</i-button>
                </i-col>
            </Row>
        </div>
    </div>
    <script>
        new Vue({
            el:"#editdevice",
            i18n: utils.getI18n(),
            data:{
                dateOptions:{
                    disabledDate:function(date) {
                        return date && date.valueOf() < Date.now() - 86400000;
                    }
                },
                iconState:"ios-arrow-down",
                deviceid:"",
                devicename:"",
                devicetype:"",
                simnum:"",
                overduetime:"",
                loginenable:"1",
                deviceenable:"0",
                groupsList:[],
                customersList:[],
                deviceTypeList:[],
                reportedpoint:0,
                totalpoint:1500,
                groupid:'',
                companyid:'',
                forwardurl:"",
                createrToUser:"",
                userlists:[],
                userType:null,
                isShowMatchDev:false,
                monitor:"",
                isfree:'1'
            },
            methods: {
                back:function(){
                    var me = this;
                    var pagePath = null
                        if (myUrls.host.indexOf('gpsserver') != -1) {
                            pagePath = myUrls.host + 'view/manager/querydevice.html'
                        } else {
                            pagePath = '../view/manager/querydevice.html'
                        } 
                    this.$Loading.start();
                    $("#mar-view").load(pagePath,function(){
                        me.$Loading.finish();
                    });
                },
                handleSubmit:function(){
                    var me = this;
                    var url = myUrls.editDevice();
                    if(this.overduetime == ""){
                        me.$Message.error(me.$t("message.plSelectTime"));
                        return;
                    }

                    var data = {
                        deviceid:this.deviceid,
                        devicetype:this.devicetype,
                        overduetime:new Date(this.overduetime).getTime(),
                        loginenable:Number(this.loginenable),
                        deviceenable:Number(this.deviceenable),
                        isfree:Number(this.isfree)
                    };      
                    
                    if(this.devicename){ data.devicename = this.devicename;};
                    
                    if(this.companyid){data.companyid = this.companyid;}

                    if(this.simnum !== ""){
                        data.simnum = this.simnum;
                    };
                    if(this.groupid !== "" && this.groupsList.length){
                        data.groupid = this.groupid;
                    }else{
                        data.groupid = 0;
                    };

                    if( this.reportedpoint == 0 || this.reportedpoint && !isNaN(this.reportedpoint)){
                        data.reportedpoint = Number(this.reportedpoint);
                    }

                    if(this.totalpoint && !isNaN(this.totalpoint)){
                        data.totalpoint = Number(this.totalpoint);
                    }

                    data.monitor = this.monitor;
                    
                    this.forwardurl && (data.forwardurl = this.forwardurl);

                    if(this.userType == 0){
                        data.creater = this.createrToUser;
                    }else{
                        data.creater = userName;
                    }     

                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            isNeedRefresh = true;                     
                            me.$Message.success(me.$t("message.changeSucc"));
                        }else if(resp.status = -1){
                            if( resp.cause!== null && resp.cause.indexOf("token")!=-1){
                                window.location.href = "index.html";
                            }else{
                                me.$Message.error(me.$t("message.changeFail"));
                            }
                        }
                    });
                },
                resetInfo:function(){
                    this.devicename = "";
                    this.devicetype = "";
                    this.simnum = "";
                    this.overduetime = "";
                    this.loginenable = "0";
                    this.deviceenable = "0";
                    this.groupsList = "";
                    this.customersList = [];
                    this.groupid = "";
                    this.companyid = "";
                    this.reportedpoint = 0;
                    this.totalpoint = 1500;
                    this.forwardurl = "";
                    this.monitor= "";
                },
                queryAllCompanyInfo:function(claaback){
                    var url = myUrls.queryCompanyByCreater();
                    utils.sendAjax(url,{},claaback)
                },
                doQueryAllCompanyInfo:function(resp){
                    var me = this;
                    if(resp.status == 0){
                        resp.records.forEach(function(item){
                            me.customersList.push({
                                label:item.companyname,
                                value:item.companyid
                            });
                        });
    
                    }
                },
                setDeviceData:function(){ 
                    var me = this;
                    me.deviceid = editObject.deviceid;
                    me.simnum = editObject.simnum;
                    me.overduetime = editObject.overduetimestr;
                    me.devicename  = editObject.devicename;
                    me.companyid = editObject.companyid;
                    me.devicetype = editObject.devicetype;
                    me.loginenable = editObject.loginenable + "";
                    me.deviceenable = "" +  editObject.deviceenable;
                    me.reportedpoint = editObject.reportedpoint ;
                    me.totalpoint = editObject.totalpoint ;
                    me.forwardurl = editObject.forwardurl;
                    me.createrToUser = editObject.creater;
                    me.monitor = editObject.monitor;
                    me.isfree = String(editObject.isfree);
                },
                getGroupsList:function(){
                    var me = this; 
                    var url = myUrls.queryCompanyGroup();                        
                    utils.sendAjax(url,{companyid:this.companyid},function (resp) { 
                        me.groupList = [];
                        me.groupids = [];
                        if(resp.status == 0){
                            var companys = resp.companys
                            for(var i = 0 ; i < companys.length ; i++){
                                var item = companys[i];
                                if(item.companyid == me.companyid && item.groups != null){
                                    var groups = item.groups;
                                    groups.forEach(function(group){
                                        me.groupsList.push({label:group.groupname,value:group.groupid});
                                    });
                                }
                            }
                            me.groupid = editObject.groupid;
                        }
                    });
                },
                getDeviceType:function () { 
                    var me = this;
                    vstore.state.deviceTypes .forEach(function (item) { 
                        var label = item.typename;
                        if(item.remark){
                            label += "("+item.remark+")";
                        }
                        me.deviceTypeList.push({value:item.devicetypeid,label:label});
                    })

                },
                selectedCmd:function(item){
                    var me = this;
                    setTimeout(function () {
                        me.isShowMatchDev = false;
                        me.createrToUser = item;
                    }, 100)
                },
                sosoValueChange:function(){
                    var me = this;
                    var value = this.createrToUser.toLowerCase();

                    if (this.timeoutIns != null) {
                        clearTimeout(this.timeoutIns);
                    }

                    if (!value.trim()) {
                        this.userlists = userlists;
                        return;
                    }

                    this.timeoutIns = setTimeout(function () {
                        me.filterMethod(value);
                    }, 100);
                },
                focus: function () {
                    this.isShowMatchDev = true;
                },
                blur: function () {
                    var me = this
                    setTimeout(function () {
                        me.isShowMatchDev = false;
                    }, 300)
                },
                filterMethod:function(value){
                    var list = [];
                    userlists.forEach(function (itme) { 
                        if(itme.toLowerCase().indexOf(value) != -1){
                            list.push(itme);
                        }
                    })
                    this.userlists = list;
                },
                isShowMatchDev:function(){
                    if(!this.isShowMatchDev){
                        this.iconState = "ios-arrow-down";
                    }else{
                        this.iconState = "ios-arrow-up";
                    }
                }
            },
            watch:{
                companyid:function(){
                    this.groupsList = [];
                    this.groupid = "";
                    this.getGroupsList();  
                },
                isShowMatchDev:function(){
                    if(!this.isShowMatchDev){
                        this.iconState = "ios-arrow-down";
                    }else{
                        this.iconState = "ios-arrow-up";
                    }
                },
                createrToUser:function(){
                    var me = this, url = myUrls.queryCompanyByCreater();
                    utils.sendAjax(url,{username:this.createrToUser},function (resp) { 
                        console.log('resp', resp);
                        if(resp.status === 0){
                            var customersList = [];
                            resp.records.forEach(function(item){
                                customersList.push({
                                    label:item.companyname,
                                    value:item.companyid
                                });
                            });
                            me.customersList = customersList;
                            if(me.userType == 0){
                                me.companyid = customersList.length ? customersList[0].companyid : "";
                            }else{
                                me.companyid = editObject.companyid;
                            }    
                        }
                    });
                }
            },
            mounted:function () {
                var me = this;
                this.userlists = userlists;
                this.userType = vstore.state.userType;
                this.getDeviceType(); 
                me.$nextTick(function () { 
                    me.setDeviceData();
                });
            } 
        })
    </script>
</div>