<div id="batchmgr" class="full" style="padding: 10px;">
    <div class="demo-spin-container" v-if="loading">
        <Spin size="large" fix></Spin>
    </div>
    <div class="demo-spin-container" v-if="batchSendCmdLoading">
        <Spin fix>
            <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
            <div>{{$t("bgMgr.sending")}}:{{idx}}/{{tableData.length}}</div>
        </Spin>
    </div>
    <div class="full" style="position: relative;">
        <h3 class="h3-title">转发设置</h3>
        <div style="position: absolute;top: 28px;left: 0;right: 0;height: 35px;">
            <div style="position: absolute;left: 0;top: 0;bottom: 0;width: 300px;line-height: 35px;">{{$t("bgMgr.allAevcieList")}}</div>
            <div style="position: absolute;right: 0;top: 0;bottom: 0;left: 310px;line-height: 35px;">
                {{$t("bgMgr.selectedDeviceList")}} {{tableData.length}}
                <i-button type="error" size="small" @click="tableData=[]" style="float: right;margin-top: 5px;">{{$t("insure.removeAll")}}</i-button>
            </div>
        </div>

        <div style="position: absolute;top: 63px;left: 0;right: 0;bottom: 45px;">
            <div style="position: absolute;left: 0;top: 0;bottom: 0;width: 300px;">
                <div class="icon_example" style="text-align: center;">
                    <span class="user_icon"></span><span>用户</span>
                    <span class="group_icon"></span><span>分组</span>
                    <span class="device_icon"></span><span>普通设备</span>
                    <span class="video_icon"></span><span>视频设备</span>
                </div>
                <div style="height: 35px;">
                    <i-input v-model.trim="searchDeviceVal" style="width: 100%;" icon="search"></i-input>
                </div>
                <div :style="streeStyle">
                    <ul id="ztree" class="ztree"></ul>
                </div>
            </div>
            <div style="position: absolute;right: 0;top: 0;bottom: 0;left: 310px;">
                <i-table border ref="table" :columns="columns" :data="tableData" :height="taleHeight"></i-table>
            </div>
        </div>

        <div style="position: absolute;left: 0;right: 0;bottom: 0px; height: 45px;padding: 5px;">
            <Row style="border: 1px solid #DCDEE2;padding: 5px;">
                <i-col span="3" offset="5">
                    <i-select v-model="filterforwardtype">
                        <i-option value="all">全部已转发设备</i-option>
                        <i-option v-for="(item,idx) in forwards" :value="item.forwardid" :key="item.forwardid">
                            {{item.servername}}
                        </i-option>
                    </i-select>
                </i-col>
                <i-col span="2">
                    <i-button @click="handleFilterProtocolDevice" style="margin: 0 10px;width: 100%;">查询</i-button>
                </i-col>
                <i-col span="8" style="padding-left: 10px;">
                    <i-button @click="showBatchModal(1)" style="margin-left:10px;">{{$t("bgMgr.batchModifyForwardingAddress")}}</i-button>
                    <i-button @click="showBatchModal(2)" style="margin-left:10px;" type="error">设置不转发</i-button>
                </i-col>
            </Row>
        </div>

        <Modal v-model="batchModal" width="900" :title="$t('bgMgr.batchModification')">
            <div v-if="showBatchModalType == 1" style=" overflow: hidden;height: 366px;">
                <div style="float: left; overflow-y: auto;width: 258px;height: 366px;">
                    <div style="height: 45px;">
                        <i-input v-model.trim="sosoForwardName" icon="ios-search-outline" @on-change="sosoForwardChange"></i-input>
                    </div>
                    <div style="overflow-y: auto;height: 320px;">
                        <i-menu @on-select="selectdForwardItem" :active-name="activeName">
                            <template v-for="(item,idx) in forwards">
                                <Menu-Item :name="item.forwardid" :key="item.forwardid">
                                    {{item.servername}}
                                </Menu-Item>
                            </template>
                        </i-menu>
                    </div>
                </div>
                <div style="float: right;overflow-y: auto;width: 600px;height: 366px;padding-top: 45px;">
                    <div v-if="protocoltype > 3">
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;平台名称&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.servername" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;下级平台接入码&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.gnsscenterid" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;协议类型&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-select v-model="protocoltype" disabled>
                                    <i-option :value="item.index" :key="item.index" v-for="item in protocols" disabled>{{item.name}}</i-option>
                                </i-select>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;协议版本号&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.uplinkversion" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;用户名&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.userid" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;密码&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.password" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;主链路ip&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.uplinkip" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;主链路端口&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.uplinkport" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;是否加密&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <Checkbox :value="forwardTypeInfo.encryptflag==1" disabled></Checkbox>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;密匙M1&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.m1" forwardTypeInfo disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;密匙IA1&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.ia1" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;密匙IC1&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.ic1" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                视频key&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.videokey" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                实时视频URL&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.realtimevideourl" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                视频回放URL&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.historyvideourl" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                从链ip&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.downlinkip" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                从链端口&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.downlinkport" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                备注&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.remark" disabled></i-input>
                            </i-col>
                        </Row>
                    </div>
                    <div v-if="protocoltype < 4">
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;平台名称&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.servername" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;协议类型&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-select v-model="protocoltype" disabled>
                                    <i-option :value="item.index" :key="item.index" v-for="item in protocols">{{item.name}}</i-option>
                                </i-select>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;转发地址&nbsp;
                            </i-col>
                            <i-col :span="20">
                                <i-input v-model.trim="forwardTypeInfo.uplinkip" disabled></i-input>
                            </i-col>
                        </Row>

                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;用户名&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.userid" disabled></i-input>
                            </i-col>
                            <i-col :span="4" style="text-align: right;">
                                &nbsp;密码&nbsp;
                            </i-col>
                            <i-col :span="8">
                                <i-input v-model.trim="forwardTypeInfo.password" disabled></i-input>
                            </i-col>
                        </Row>
                        <Row style="height: 35px;line-height: 35px;">
                            <i-col :span="4" style="text-align: right;">
                                备注&nbsp;
                            </i-col>
                            <i-col :span="20">
                                <i-input v-model.trim="forwardTypeInfo.remark" disabled></i-input>
                            </i-col>
                        </Row>
                    </div>
                </div>
            </div>

            <div slot="footer">
                <Row>
                    <i-col span="24" style="text-align: center;">
                        <i-button @click="handleBatchEdit" style="width:300px;">设置</i-button>
                    </i-col>
                </Row>
            </div>
        </Modal>
    </div>
</div>
<script>
    vueInstanse = new Vue({
        el: "#batchmgr",
        i18n: utils.getI18n(),
        data: {
            loading: false,
            userType: localStorage.getItem('userType'),
            batchSendCmdLoading: false,
            idx: 0,
            showBatchModalType: 1, // 1批量地址  2
            batchModal: false,
            protocoltype: 1,
            protocols: [],
            forwards: [],
            forwardtype: '',
            forwardTypeInfo: {},
            resetpasswordtype: '1',
            deviceType: '',
            deviceTypeList: [],
            searchDeviceVal: '',
            searchDeviceList: [],
            tableData: [],
            mileageRatio: 100,
            columns: [{
                type: 'index',
                width: 60,
            }, {
                title: vRoot.$t('alarm.devName'),
                key: 'devicename'
            }, {
                title: vRoot.$t('alarm.devNum'),
                key: 'deviceid',
            }, {
                title: vRoot.$t("reportForm.ascriptionUser"),
                key: 'username'
            }, {
                title: vRoot.$t("user.grouping"),
                key: 'groupname'
            }, {
                title: "转发平台",
                key: 'serverName'
            }, {
                title: vRoot.$t('alarm.action'),
                width: 85,
                render: function(h, params) {
                    return h('Button', {
                        props: {
                            type: 'error',
                            size: 'small'
                        },
                        style: {
                            marginRight: '5px'
                        },
                        on: {
                            click: function() {
                                vueInstanse.tableData.splice(params.index, 1);
                            }
                        }
                    }, vRoot.$t('insure.remove'))
                }
            }, {
                title: vRoot.$t('bgMgr.result'),
                width: 90,
                render: function(h, params) {
                    var result = '',
                        color = '',
                        resultType = params.row.resultType;
                    switch (resultType) {
                        case 0:
                            color = "#2D8CF0";
                            result = vRoot.$t('device.actionSucc');
                            break;
                        case 1:
                            color = "#E4393C";
                            result = vRoot.$t('device.actionFail');
                            break;
                        case 2:
                            color = "#000";
                            result = vRoot.$t('device.notOperated');
                            break;
                        case 3:
                            color = "red";
                            result = vRoot.$t('device.noDevice');
                            break;
                        case 4:
                            color = "red";
                            result = vRoot.$t('device.passwordError');
                            break;
                        case 5:
                            color = "red";
                            result = vRoot.$t('device.abnormalInstructionIssued');
                            break;
                        case 6:
                            color = "red";
                            result = vRoot.$t('monitor.sendCmdNoCache');
                            break;
                        case 7:
                            color = "red";
                            result = vRoot.$t('monitor.sendCmdAlreadyCache');
                            break;
                        case 8:
                            color = "red";
                            result = vRoot.$t('monitor.changePwdSendCmd');
                            break;
                    }
                    return h('span', {
                        style: {
                            color: color
                        }
                    }, result);
                }
            }],
            selectedGroupId: null,
            selectedGroupName: null,
            selectedUserName: null,
            taleHeight: 100,
            activeName: '',
            sosoForwardName: '',
            filterforwardtype: "all",
        },
        methods: {
            handleFilterProtocolDevice: function() {
                var me = this;
                var filterforwardtype = this.filterforwardtype;
                var tableData = [];

                function traverse(obj) {
                    for (var i in obj) {
                        var item = obj[i];
                        if (item.children && item.children.length) {
                            traverse(item.children)
                        } else {
                            var deviceid = item.deviceid;
                            if (deviceid) {
                                var device = utils.deviceInfos[deviceid];
                                if (filterforwardtype == 'all') {
                                    if (device.forwardid) {
                                        var row = deepClone(device);
                                        row.resultType = 2;
                                        row.serverName = me.getServerName(row.forwardid);
                                        tableData.push(row);
                                    }
                                } else {
                                    if (filterforwardtype == device.forwardid) {
                                        var row = deepClone(device);
                                        row.resultType = 2;
                                        row.serverName = me.getServerName(row.forwardid);
                                        tableData.push(row);
                                    }
                                }
                            }
                        }
                    }
                }
                traverse(this.treeDeviceList);
                this.tableData = tableData;
            },
            sosoForwardChange: function() {
                var value = this.sosoForwardName;
                if (value == '') {
                    this.forwards = this.copyForwards;
                } else {
                    var forwards = [];
                    var copyForwards = this.copyForwards;
                    for (var i = 0; i < copyForwards.length; i++) {
                        var forward = copyForwards[i];
                        if (forward.servername.indexOf(value) != -1) {
                            forwards.push(forward);
                        }
                    }
                    this.forwards = forwards;
                }
            },
            selectdForwardItem: function(item) {
                this.activeName = item;
                this.forwardtype = item;
                var forwards = this.forwards;
                for (var i = 0; i < forwards.length; i++) {
                    var forward = forwards[i];
                    if (forward.forwardid == item) {
                        this.forwardTypeInfo = forward;
                        this.protocoltype = forward.protocoltype;
                        return;
                    }
                }
            },
            queryForwardParams: function() {
                var me = this;
                var url = myUrls.queryForwardParams();
                me.copyForwards = [];
                utils.sendAjax(url, {
                    creater: null,
                    keyword: '',
                }, function(resp) {
                    me.forwards = resp.forwards;
                    me.copyForwards = deepClone(resp.forwards);
                    if (me.forwards && me.forwards.length) {
                        var forward = me.forwards[0];
                        me.activeName = forward.forwardid;
                        me.forwardtype = forward.forwardid;
                        me.forwardTypeInfo = forward;
                    }
                });
            },
            showBatchModal: function(type) {
                this.showBatchModalType = type;
                if (type == 2) {
                    this.handleBatchEdit();
                    return;
                }
                this.batchModal = true;

            },
            updatedLocalDeviceInfos: function(tableData, forwardid) {
                tableData.forEach(function(item) {
                    var deviceid = item.deviceid;
                    utils.deviceInfos[deviceid].forwardid = forwardid;
                })
            },
            handleBatchEdit: function() {
                if (this.tableData.length == 0) {
                    this.$Message.error(vRoot.$t('reportForm.selectDevTip'));
                    return
                }
                var data = {
                        deviceids: []
                    },
                    me = this;

                if (this.showBatchModalType == 1) {
                    data.action = 'modifyforwardurl';
                    data.forwardid = this.forwardtype;
                } else if (this.showBatchModalType == 2) {
                    data.action = 'modifyforwardurl';
                    data.forwardid = null;
                }

                var lock = true;
                this.tableData.forEach(function(item) {
                    if (item.resultType === 3) {
                        lock = false;
                    }
                    data.deviceids.push(item.deviceid);
                });
                if (!lock) {
                    me.$Message.error(vRoot.$t('device.exportErrorTips'));
                    return;
                }
                me.batchModal = false;
                me.loading = true;
                var url = myUrls.batchOperate();
                utils.sendAjax(url, data, function(respData) {
                    me.loading = false;
                    if (respData.status === 0) {
                        if (respData.total == respData.success) {
                            me.$Message.success(vRoot.$t('device.actionSucc'));
                            var serverName = me.getServerName(data.forwardid);
                            me.tableData.forEach(function(item) {
                                item.serverName = serverName;
                            });
                            me.updatedLocalDeviceInfos(me.tableData, data.forwardid);
                        } else {
                            me.$Message.error(vRoot.$t('message.changeFail') + ' : ' + respData.fail);
                        }
                        me.updatedActionState(respData.errorrecords);
                    } else {
                        me.$Message.error(respData.cause);
                    }
                }, function(e) {
                    me.$Message.error(e);
                    me.loading = false;
                });
            },
            updatedActionState: function(errorrecords) {
                this.tableData.forEach(function(item) {
                    if (errorrecords.indexOf(item.deviceid) != -1) {
                        item.resultType = 1;
                    } else {
                        item.resultType = 0;
                    }
                })
            },
            onCheckChange: function(selectArr) {
                var me = this;
                var tableData = [];
                selectArr.forEach(function(item) {
                    var deviceid = item.deviceid;
                    if (deviceid && !me.isRepeatAddDevice(deviceid)) {
                        var device = utils.deviceInfos[deviceid];
                        var row = deepClone(device);
                        row.resultType = 2;
                        row.serverName = me.getServerName(row.forwardid);
                        tableData.push(row);
                    }
                })
                this.tableData = this.tableData.concat(tableData);
            },
            isRepeatAddDevice: function(deviceid) {
                var relsut = false;
                for (var i = 0; i < this.tableData.length; i++) {
                    var item = this.tableData[i];
                    if (item.deviceid == deviceid) {
                        relsut = true;
                        break;
                    }
                }
                return relsut;
            },
            getServerName: function(forwardid) {
                var result = '没有设置平台';
                var forwards = this.forwards;
                if (forwards) {
                    for (var i = 0; i < forwards.length; i++) {
                        var forward = forwards[i];
                        if (forwardid == forward.forwardid) {
                            result = forward.servername;
                            break;
                        }
                    }
                }
                return result;
            },
            queryDevicesTree: function() {
                this.loading = true;
                var url = myUrls.queryDevicesTree(),
                    me = this;
                var data = {
                    username: userName
                };
                utils.sendAjax(url, data, function(respData) {
                    me.loading = false;
                    if (respData.status === 0) {
                        rootuser = respData.rootuser;
                        me.setTreeDataList(respData.rootuser);
                    }
                });
            },
            setTreeDataList: function(rootuser) {
                this.treeDeviceList = [this.castUsersTreeToDevicesTree(rootuser, true, false)];
                var me = this;
                this.setting = {
                    check: {
                        enable: true,
                        chkStyle: "checkbox",
                        chkboxType: {
                            "Y": "ps",
                            "N": "ps"
                        }
                    },
                    callback: {
                        onCheck: function(id, ztree) {
                            var checkedNodes = me.zTreeObj.getCheckedNodes();
                            me.onCheckChange(checkedNodes);
                        }
                    }
                };
                this.zTreeObj = $.fn.zTree.init($("#ztree"), this.setting, this.treeDeviceList);


                // this.searchDeviceList = [this.castUsersTreeToDevicesTree(rootuser, true, false)];
                // this.treeDeviceList = deepClone(this.searchDeviceList);
            },
            filtered: function(textStr) {
                function uniq(array) {
                    var temp = [];
                    for (var i = 0; i < array.length; i++) {
                        if (temp.indexOf(array[i]) == -1) {
                            temp.push(array[i]);
                        }
                    }
                    return temp;
                }
                var newArr = [];
                textStr.split("\n").forEach(function(item) {
                    if (item) {
                        newArr.push(item);
                    }
                })
                return uniq(newArr);
            },
            getDeviceListGroups: function(groups, isNeedDevice, username, isNeedRadio) {
                var groupsList = [],
                    me = this;
                if (groups != null) {
                    for (var i = 0; i < groups.length; ++i) {
                        var group = groups[i];
                        var groupObj = {
                            groupid: group.groupid,
                            name: group.groupname,
                            icon: myUrls.viewhost + "zTreeStyle/img/diy/group.svg"
                        }
                        if (isNeedDevice) {
                            groupObj.render = utils.renderGroup;

                        } else {
                            groupObj.totalCount = group.devices.length;
                            groupObj.name = group.groupname + '(' + group.devices.length + ')';
                        }
                        if (isNeedDevice && group.devices) {
                            groupObj.totalCount = group.devices.length;
                            groupObj.children = [];
                            groupObj.name = group.groupname + '(' + group.devices.length + ')';
                            group.devices.forEach(function(device) {
                                var deviceinfo = vstore.state.deviceInfos[device.deviceid];
                                groupObj.children.push({
                                    deviceid: device.deviceid,
                                    name: device.devicename,
                                    icon: utils.getzTreeDeviceIcon(deviceinfo)
                                });
                                utils.deviceInfos[device.deviceid] = {
                                    deviceid: device.deviceid,
                                    devicename: device.devicename,
                                    username: username,
                                    groupid: group.groupid,
                                    groupname: group.groupname,
                                    forwardid: device.forwardid,
                                }
                            });
                        }
                        groupsList.push(groupObj);
                    }
                }

                if (groupsList.length == 0) {
                    groupsList.push({
                        name: 'Default(0)',
                        groupid: 0,
                        totalCount: 0,
                        children: [],
                        icon: myUrls.viewhost + "zTreeStyle/img/diy/group.svg"
                    });
                }
                return groupsList;

            },
            doCastUsersTreeToDevicesTree: function(usersTrees, isNeedDevice, isNeedRadio) {
                var devicesTreeRecord = [];
                if (usersTrees != null && usersTrees.length > 0) {
                    for (var i = 0; i < usersTrees.length; ++i) {
                        var usersTree = usersTrees[i];
                        var username = usersTree.username;
                        var subusers = usersTree.subusers;
                        var currentsubDevicesTreeRecord = {
                            name: username,
                            username: username,
                            nocheck: isNeedRadio,
                            icon: myUrls.viewhost + "zTreeStyle/img/diy/account.svg"
                        };
                        var deviceListGroups = this.getDeviceListGroups(usersTree.groups, isNeedDevice, username, isNeedRadio);
                        if (username != null && subusers != null && subusers.length > 0) {
                            var subDevicesTreeRecord = this.doCastUsersTreeToDevicesTree(subusers, isNeedDevice, isNeedRadio);
                            subDevicesTreeRecord = deviceListGroups.concat(subDevicesTreeRecord);
                            currentsubDevicesTreeRecord.children = subDevicesTreeRecord;
                        } else {
                            currentsubDevicesTreeRecord.children = deviceListGroups;

                        }
                        var totalCount = 0;
                        if (currentsubDevicesTreeRecord.children) {
                            for (var j = 0; j < currentsubDevicesTreeRecord.children.length; ++j) {
                                totalCount += currentsubDevicesTreeRecord.children[j].totalCount;
                            }
                        }
                        currentsubDevicesTreeRecord.totalCount = totalCount;
                        currentsubDevicesTreeRecord.name = username + "(" + totalCount + ")";
                        devicesTreeRecord.push(currentsubDevicesTreeRecord);
                    }
                }
                return devicesTreeRecord;
            },
            castUsersTreeToDevicesTree: function(devicesTreeRecord, isNeedDevice, isNeedRadio) {
                var iViewTree = {
                    open: true,
                    nocheck: isNeedRadio,
                    icon: myUrls.viewhost + "zTreeStyle/img/diy/1_open.png"
                };
                if (devicesTreeRecord != null) {
                    var username = devicesTreeRecord.username;
                    var subusers = devicesTreeRecord.subusers;
                    iViewTree.name = username;
                    iViewTree.username = username;
                    var deviceListGroups = this.getDeviceListGroups(devicesTreeRecord.groups, isNeedDevice, username, isNeedRadio);
                    if (username != null && subusers != null && subusers.length > 0) {
                        var subDevicesTreeRecord = this.doCastUsersTreeToDevicesTree(subusers, isNeedDevice, isNeedRadio);
                        iViewTree.children = deviceListGroups.concat(subDevicesTreeRecord);
                    } else {
                        iViewTree.children = deviceListGroups;
                    }
                    var totalCount = 0;
                    if (iViewTree.children) {
                        for (var i = 0; i < iViewTree.children.length; ++i) {
                            totalCount += iViewTree.children[i].totalCount;
                        }
                    }
                    iViewTree.name = username + "(" + totalCount + ")";
                }
                return iViewTree;
            },
            calcTableHeight: function() {
                var wHeight = window.innerHeight;
                this.taleHeight = wHeight - 194;
            },
            queryForwardProtocols: function() {
                var me = this;
                var url = myUrls.queryForwardProtocols();
                utils.sendAjax(url, {}, function(resp) {
                    me.protocols = resp.protocols;
                });
            },
            getRegularPattern: function(str) {
                var res = {};
                // var reg = /^[a-z0-9a-z]{15}/;
                var reg = new RegExp("^[A-Z0-9a-z]{" + this.idLength + "}");
                if (reg.test(str)) {
                    if (str.length > this.idLength) {
                        var newStr = str.slice(this.idLength);
                        var i = 0;
                        var charArray = [];
                        while (true) {
                            var char = newStr[i];
                            var isTrue = /[A-Z0-9a-z]/.test(char);
                            if (!isTrue) {
                                charArray.push(char);
                            } else {
                                break;
                            }
                            i++;
                        };
                        if (charArray.length > 0) {
                            res.errormsg = "OK";
                            res.content = charArray.join("");
                        } else {
                            res.errormsg = "start id error!";
                            res.content = null;
                        }
                    } else {
                        if (str.length == this.idLength) {
                            res.errormsg = "OK";
                            res.content = str;
                        } else {
                            res.errormsg = "start id error!";
                            res.content = null;
                        }
                    }
                } else {
                    res.content = null;
                    res.errormsg = "start id error!";
                }
                return res;
            },


            queryGroupInfos: function(callback) {
                var me = this;
                me.allGroups = {};
                utils.sendAjax(myUrls.queryGroupInfos(), {}, function(resp) {
                    if (resp.status === 0) {
                        resp.groups.forEach(function(item) {
                            me.allGroups[item.groupid] = item;
                        });
                    }
                })
            },
            getGroupName: function(groupId) {
                var groupName = "";
                if (this.allGroups[groupId] !== undefined) {
                    groupName = this.allGroups[groupId].groupname;
                }
                return groupName;
            },
            variableDeepSearch: function(treeDataFilter, searchWord, limitcount) {
                var childTemp = [];
                var that = this;
                for (var i = 0; i < treeDataFilter.length; i++) {
                    var copyItem = null;
                    var item = treeDataFilter[i];
                    if (item != null) {

                        var isFound = false;
                        if (item.name.indexOf(searchWord) != -1 || (item.deviceid && item.deviceid.indexOf(searchWord) != -1)) {
                            copyItem = item;
                            copyItem.open = false;
                            isFound = true;
                        }
                        if (isFound == false && item.children && item.children.length > 0) {
                            // item.expand = true;
                            // childTemp.push(item);
                            var rs = that.variableDeepSearch(item.children, searchWord, limitcount);
                            if (rs && rs.length > 0) {
                                copyItem = deepClone(item);
                                copyItem.children = rs;
                                copyItem.open = true;
                                isFound = true;
                            }
                        }

                        if (isFound == true) {
                            limitcount++;
                            childTemp.push(copyItem);

                            if (limitcount > 1000) {
                                break;
                            }
                        }
                    }
                }

                return childTemp;
            }
        },
        computed: {
            fontColor: function() {
                return [this.isOk ? 'succ' : 'error'];
            },
            streeStyle: function() {
                return {
                    'height': (this.taleHeight - 60) + 'px',
                    'overflow-y': 'auto'
                }
            },
            deviceids: function() {
                var deviceids = [];
                this.tableData.forEach(function(item) {
                    deviceids.push(item.deviceid);
                });
                return deviceids;
            }
        },
        watch: {
            searchDeviceVal: function(newVal) {
                if (newVal === '') {
                    this.treeDeviceList[0].open = true;
                    this.zTreeObj = $.fn.zTree.init($("#ztree"), this.setting, this.treeDeviceList);
                } else {
                    var limitcount = 0;
                    var data = this.variableDeepSearch(this.treeDeviceList, newVal, limitcount);
                    if (data.length == 0) {
                        data.push({
                            name: isZh ? '无数据' : 'No data',
                            nocheck: true
                        })
                    }
                    this.zTreeObj = $.fn.zTree.init($("#ztree"), this.setting, data);

                }
            }
        },
        mounted: function() {
            var me = this;
            utils.deviceInfos = {};
            this.calcTableHeight();
            this.treeDeviceList = [];
            window.onresize = function() {
                me.calcTableHeight();
            }
            rootuser = null;
            if (rootuser == null) {
                this.queryDevicesTree();
            } else {
                me.setTreeDataList(rootuser);
            }
            this.queryForwardParams();
            this.queryForwardProtocols();
            this.queryGroupInfos();
            this.userName = userName;
        },
    })
</script>