<meta charset="UTF-8">
<div id="importdevicename">
    <input type="file" id="file" style="display: none;" />
    <div class="full" style="padding: 10px;">
        <h3 class="h3-title">{{$t('bgMgr.importDeviceName')}}</h3>
        <div style="padding: 10px 0;">
            <i-table border ref="table" :columns="columns" :data="tableData" :loading="loading" :height="taleHeight"></i-table>
        </div>
        <div style="padding: 5px; text-align: center;border: 1px solid #DCDEE2;">
            <i-button @click="importTownerInfo">{{$t('insure.importFile')}}</i-button>
            <i-button @click="modal=true" :loading="loading" style="margin: 0 10px;">{{$t('header.submit')}}</i-button>
            <i-button @click="downloadTemplate">{{$t('insure.templateDownload')}}</i-button>
        </div>
    </div>
    <Modal v-model="modal" width="600">
        <p slot="header" style="color:#2D8CF0;text-align:center">
            <Icon type="ios-hammer-outline"></Icon>
            <span>{{$t("header.changePwd")}}</span>
        </p>
        <Row style="margin: 10px 0">
            <i-col span="5" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;{{$t("user.devType")}} : &nbsp;</i-col>
            <i-col span="16">
                <i-select v-model="devicetype" style="width: 100%">
                    <i-option v-for="item in deviceTypeList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                </i-select>
            </i-col>
        </Row>
        <div slot="footer">
            <i-button style="width: 100%" type="primary" @click="handleSubmit">{{$t("header.submit")}}</i-button>
        </div>
    </Modal>
    <script>
        vueInstanse = new Vue({
            el: "#importdevicename",
            i18n: utils.getI18n(),
            data: {
                modal: false,
                deviceTypeList: [],
                devicetype: '',
                taleHeight: 300,
                loading: false,
                columns: [{
                    type: 'index',
                    width: 60
                }, {
                    title: vRoot.$t('alarm.devNum'),
                    key: "deviceid",
                }, {
                    title: vRoot.$t('alarm.devName'),
                    key: "devicename"
                }, {
                    title: vRoot.$t('monitor.plateno'),
                    key: "plateno"
                }, {
                    title: vRoot.$t('header.phone'),
                    key: "simnum"
                }, {
                    'title': vRoot.$t('insure.addStatus'),
                    width: 200,
                    render: function(h, params) {
                        var status = params.row.status;
                        var statusStr = '';
                        var color = '';
                        switch (status) {
                            case -1:
                                statusStr = vRoot.$t('insure.notSubmitted');
                                color = '#000';
                                break;
                            case 0:
                                statusStr = params.row.cause;
                                color = '#e4393c';
                                break;
                            case 1:
                                statusStr = vRoot.$t('insure.submitSucc');
                                color = '#007ACC';
                                break;
                        }
                        return h('span', {
                            style: {
                                color: color
                            }
                        }, statusStr)
                    },
                }, {
                    'title': vRoot.$t('alarm.action'),
                    width: 85,
                    render: function(h, params) {
                        return h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            style: {
                                marginRight: '5px'
                            },
                            on: {
                                click: function() {
                                    vueInstanse.tableData.splice(params.index, 1);
                                }
                            }
                        }, vRoot.$t('insure.remove'))
                    }
                }],

                tableData: [],
                excelX: ['A', 'B', 'C', 'D', 'E']

            },
            methods: {
                getDeviceType: function() {
                    var me = this;
                    var deviceTypes = vstore.state.deviceTypes;
                    for (var key in deviceTypes) {
                        var item = deviceTypes[key];
                        var label = item.typename;
                        if (item.remark) {
                            label += "(" + (isZh ? item.remark : item.remarken) + ")";
                        }
                        me.deviceTypeList.push({
                            value: item.devicetypeid,
                            label: label
                        });
                    }
                    me.devicetype = 1;
                },
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.taleHeight = wHeight - 170;
                },
                downloadTemplate: function() {
                    var a = document.createElement('a');
                    a.href = myUrls.apihost + 'deviceinfos.xlsx';
                    a.download = 'deviceinfos.xlsx';
                    a.click();
                },
                handleSubmit: function() {
                    if (this.tableData.length == 0) {
                        this.$Message.error(vRoot.$t('insure.importOwnerNameTips'));
                        return;
                    }
                    this.loading = true;
                    var tableData = deepClone(this.tableData),
                        me = this;
                    var url = myUrls.importDeviceInfos();
                    // var url = myUrls.importRename();

                    tableData.forEach(function(item) {
                        item.devicetype = me.devicetype
                    });

                    var data = {
                        records: tableData,
                    }
                    utils.sendAjax(url, data, function(respData) {
                        me.loading = false;
                        if (respData.status == 0) {
                            isNeedRefresh = true;
                            if (respData.total === respData.success) {
                                me.$Message.success(vRoot.$t('insure.importSucceeded'));
                                me.tableData.forEach(function(item) {
                                    if (String(item.deviceid).length > 0 && String(item.name).length > 0 && item.status == -1) {
                                        item.status = 1;
                                    }
                                });
                            } else {
                                me.$Message.error(vRoot.$t('insure.total') + ":" + respData.total + "," + vRoot.$t('insure.fail') + ":" + respData.fail);
                                var errorrecords = respData.errorrecords;
                                var tableData = me.tableData;
                                errorrecords.forEach(function(failItem) {
                                    tableData.forEach(function(item) {
                                        if (failItem.deviceid == item.deviceid) {
                                            item.status = 0;
                                            item.cause = failItem.cause;
                                        }
                                    });
                                });
                                tableData.forEach(function(item) {
                                    if (String(item.deviceid).length > 0 && String(item.name).length > 0 && item.status == -1) {
                                        item.status = 1;
                                    }
                                });
                                me.tableData = tableData;
                                me.modal = false;
                                isNeedRefresh = true;
                            }
                        } else {
                            me.$Message.error(vRoot.$t('insure.importFailed'));
                        }
                    }, function() {
                        me.loading = false;
                        me.$Message.error(vRoot.$t('insure.importTimeout'));
                    });
                },
                importTownerInfo: function() {
                    this.fileEl.files.length = 0;
                    this.fileEl.value = "";
                    this.fileEl.click();
                },
                readWorkbookFromLocalFile: function(file, callback) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var data = e.target.result;
                        var workbook = XLSX.read(data, {
                            type: 'binary'
                        });
                        if (callback) callback(workbook);
                    };
                    reader.readAsBinaryString(file);
                },
                parserExcelData: function(excelData) {

                    try {
                        var indexY = 2;
                        var tableData = [];
                        while (true) {
                            var deviceidKey = this.excelX[1] + indexY; //设备名称
                            var devicenameKey = this.excelX[2] + indexY; //设备ID
                            var licensePlateKey = this.excelX[3] + indexY; //设备ID
                            var simKey = this.excelX[4] + indexY; //设备ID
                            if (excelData[deviceidKey] == undefined && excelData[devicenameKey] == undefined) {
                                break;
                            }
                            tableData.push({
                                deviceid: excelData[deviceidKey] ? String(excelData[deviceidKey].v).trim() : '',
                                devicename: excelData[devicenameKey] ? String(excelData[devicenameKey].v).trim() : '',
                                plateno: excelData[licensePlateKey] ? String(excelData[licensePlateKey].v).trim() : '',
                                simnum: excelData[simKey] ? String(excelData[simKey].v).trim() : '',
                                status: -1
                            })

                            indexY++;
                        }
                        this.tableData = tableData;
                    } catch (error) {
                        console.log(error);
                        this.$Message.error(vRoot.$t('insure.importExcelFailTips'));
                    }

                }
            },
            mounted: function() {
                var me = this;
                this.fileEl = document.getElementById('file');
                this.fileEl.onchange = function(e) {
                    var idx = e.srcElement.value.lastIndexOf('.');
                    var houzhui = e.srcElement.value.slice(idx);
                    if (houzhui.indexOf('xlsx') == -1) {
                        me.$Message.error(vRoot.$t('insure.importExcelTips'));
                        return;
                    }
                    var file = e.target.files[0]
                    me.readWorkbookFromLocalFile(file, function(workbook) {
                        me.parserExcelData(workbook.Sheets['批量改名'])
                    });
                };
                this.getDeviceType();
                this.calcTableHeight();
                window.onresize = function() {
                    me.calcTableHeight();
                }
            },
        })
    </script>
</div>