<meta charset="UTF-8">
<div id="importsim">
    <input type="file" id="file" style="display: none;" />
    <div class="full" style="padding: 10px;">
        <h3 class="h3-title">导入SIM卡信息</h3>
        <div style="padding: 10px 0;">
            <i-table border ref="table" :columns="columns" :loading="loading" :data="tableData" :height="taleHeight"></i-table>
        </div>
        <div style="padding: 5px; text-align: center;border: 1px solid #DCDEE2;">
            <i-button @click="importTownerInfo">导入文件</i-button>
            <i-button @click="handleSubmit" :loading="loading" style="margin: 0 10px;">提交</i-button>
            <i-button @click="downloadTemplate">模版下载</i-button>
        </div>
    </div>
    <script>
        vueInstanse = new Vue({
            el: "#importsim",
            i18n: utils.getI18n(),
            data: {
                taleHeight: 300,
                loading: false,
                columns: [{
                    type: 'index',
                    width: 60
                }, {
                    title: '手机号码',
                    key: "phonenum",
                    width: 140,
                }, {
                    title: 'iccid',
                    key: "iccid"
                }, {
                    title: 'imsi',
                    key: "imsi"
                }, {
                    title: '卡商',
                    key: "provider",
                    width: 100,
                }, {
                    title: '流量套餐',
                    key: "flowpackage",
                    width: 120,
                }, {
                    title: '激活时间',
                    key: "starttime",
                    width: 120,
                }, {
                    title: '到期日期',
                    key: "endtime",
                    width: 120,
                }, {
                    'title': "添加状态",
                    width: 120,
                    render: function(h, params) {
                        var status = params.row.status;
                        var statusStr = '';
                        var color = '';
                        switch (status) {
                            case -1:
                                statusStr = '未提交';
                                color = '#000';
                                break;
                            case 0:
                                statusStr = params.row.cause;
                                color = '#e4393c';
                                break;
                            case 1:
                                statusStr = '提交成功';
                                color = '#007ACC';
                                break;
                        }
                        return h('span', {
                            style: {
                                color: color
                            }
                        }, statusStr)
                    },
                }, {
                    'title': "操作",
                    width: 85,
                    render: function(h, params) {
                        return h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                },
                                style: {
                                    marginRight: '5px'
                                },
                                on: {
                                    click: function() {
                                        vueInstanse.tableData.splice(params.index, 1);
                                    }
                                }
                            },
                            '移除')
                    }
                }],

                tableData: [],

                excelX: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
            },
            methods: {
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.taleHeight = wHeight - 170;
                },
                downloadTemplate: function() {
                    var a = document.createElement('a');
                    a.href = myUrls.apihost + 'simtemplate.xlsx';
                    a.download = 'simtemplate.xlsx';
                    a.click();
                },
                handleSubmit: function() {
                    if (this.tableData.length == 0) {
                        this.$Message.error("请导入车主信息");
                        return;
                    }
                    this.loading = true;
                    var tableData = deepClone(this.tableData),
                        me = this;
                    var url = myUrls.importSimInfo();
                    var data = {
                        siminfos: tableData,
                        isforcecover: true,
                    }
                    utils.sendAjax(url, data, function(respData) {
                        me.loading = false;
                        if (respData.status == 0) {
                            if (respData.total === respData.success) {
                                me.$Message.success("导入成功");
                                me.tableData.forEach(function(item) {
                                    item.status = 1;
                                });
                            } else {
                                me.$Message.error("总共:" + respData.total + ",失败:" + respData.fail);
                                var errorrecords = respData.errorrecords;
                                var tableData = me.tableData;
                                errorrecords.forEach(function(failItem) {
                                    tableData.forEach(function(item) {
                                        if (failItem.deviceid == item.deviceid) {
                                            item.status = 0;
                                            item.cause = failItem.cause;
                                        }
                                    });
                                });
                                tableData.forEach(function(item) {
                                    if (item.status == -1) {
                                        item.status = 1;
                                    }
                                });
                                me.tableData = tableData;
                            }
                        } else {
                            me.$Message.error("导入失败");
                        }
                    }, function() {
                        me.loading = false;
                        me.$Message.error("导入超时");
                    });
                },
                importTownerInfo: function() {
                    this.fileEl.files.length = 0;
                    this.fileEl.value = "";
                    this.fileEl.click();
                },
                readWorkbookFromLocalFile: function(file, callback) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var data = e.target.result;
                        var workbook = XLSX.read(data, {
                            type: 'binary'
                        });
                        if (callback) callback(workbook);
                    };
                    reader.readAsBinaryString(file);
                },
                parserExcelData: function(excelData) {
                    try {
                        var indexY = 2;
                        var tableData = [];
                        while (true) {
                            var phonenumKey = this.excelX[1] + indexY; //设备ID
                            var iccidKey = this.excelX[2] + indexY; //防盗号
                            var imsiKey = this.excelX[3] + indexY; // 车架号
                            var providerKey = this.excelX[4] + indexY; //保险公司
                            var flowpackageKey = this.excelX[5] + indexY; //保单号
                            var starttimeKey = this.excelX[6] + indexY; //投保日期
                            var endtimeKey = this.excelX[7] + indexY; //生效日期


                            if (excelData[phonenumKey] == undefined) {
                                break;
                            }

                            tableData.push({
                                phonenum: excelData[phonenumKey].v,
                                iccid: excelData[iccidKey] ? excelData[iccidKey].v : '',
                                imsi: excelData[imsiKey] ? excelData[imsiKey].v : '',
                                provider: excelData[providerKey] ? excelData[providerKey].v : "",
                                flowpackage: excelData[flowpackageKey] ? excelData[flowpackageKey].v : "",
                                starttime: excelData[starttimeKey] ? excelData[starttimeKey].v : "",
                                endtime: excelData[endtimeKey] ? excelData[endtimeKey].v : "",
                                status: -1
                            })

                            indexY++;
                        }
                        this.tableData = tableData;
                    } catch (error) {
                        this.$Message.error('请使用我们提供的模版填写');
                    }

                }
            },
            mounted: function() {
                var me = this;
                this.fileEl = document.getElementById('file');
                this.fileEl.onchange = function(e) {
                    var idx = e.srcElement.value.lastIndexOf('.');
                    var houzhui = e.srcElement.value.slice(idx);
                    if (houzhui.indexOf('xlsx') == -1) {
                        me.$Message.error("请选择我们提供的模版提交");
                        return;
                    }
                    var file = e.target.files[0]
                    me.readWorkbookFromLocalFile(file, function(workbook) {
                        me.parserExcelData(workbook.Sheets['手机卡信息'])
                    });
                };
                this.calcTableHeight();
                window.onresize = function() {
                    me.calcTableHeight();
                }
            },
        })
    </script>
</div>