<div id="oil-marking" class="full">
    <div class="demo-spin-container" v-if="loading">
        <Spin size="large" fix></Spin>
    </div>
    <Row style="padding:10px;height: 55px;">
        <div style="float: left;">
            <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
        </div>
        <div style="float: left;position: relative;width: 240px;">
            <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                <i-input v-model.trim="sosoValue" icon="ios-close-circle-outline" @on-click="cleanSelectedDev" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus" :placeholder="placeholder" @on-click="focus"></i-input>
                <transition name="fade">
                    <ul class="search-item-wrapper" v-show="isShowMatchDev">
                        <li class="demo-auto-complete-item" v-for="item in filterData">
                            <div class="demo-auto-complete-group" v-show="item.devices.length" @click="sosoSelectGroup(item.groupname)">
                                <span>{{ item.groupname }}</span>
                            </div>
                            <div v-for="option in item.devices" :value="option.groupname" :key="option.groupname" class="ivu-select-item">
                                <span :style="{color:option.isOnline ? '#33DAD0':'#B1BBC2'}" @click="sosoSelect(option)" class="demo-auto-complete-title">{{ option.allDeviceIdTitle }}</span>
                            </div>
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <div style="float: left;padding-left: 10px;">
            <span>{{$t("reportForm.selectTime")}}:</span>
            <date-picker type="date" v-model="date" :editable="false" :clearable="false" @on-change="onChange" show-week-numbers style="width:180px" placement="bottom-start"></date-picker>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
        </div>
    </Row>
    <div>
        <div id="old-chart" style="width: 100%;height: 360px;"></div>
    </div>
    <div style="padding:10px">
        <Row style="padding: 0px 0px 10px 0px;">
            <i-col span="12">
                <div class="fl">
                    油液:
                </div>
                <div class="fl">
                    <i-select v-model.sync="oilType" style="width: 120px;">
                        <i-option value="1">油液1</i-option>
                        <i-option value="2">油液2</i-option>
                        <i-option value="3">油液3</i-option>
                        <i-option value="4">油液4</i-option>
                    </i-select>
                </div>
                <div class="fl" style="padding-left: 10px;">
                    {{$t("device.threshold")}}:
                </div>
                <div class="fl">
                    <input-number v-if="oilType == '1'" :max="65535" :min="0" v-model.trim.number="threshold1" style="width:120px"></input-number>
                    <input-number v-if="oilType == '2'" :max="65535" :min="0" v-model.trim.number="threshold2" style="width:120px"></input-number>
                    <input-number v-if="oilType == '3'" :max="65535" :min="0" v-model.trim.number="threshold3" style="width:120px"></input-number>
                    <input-number v-if="oilType == '4'" :max="65535" :min="0" v-model.trim.number="threshold4" style="width:120px"></input-number>
                </div>
                <div class="fl" style="padding-left: 10px;">
                    <Checkbox v-model="isIndependent">{{$t("device.mergeStatistical")}}</Checkbox>
                </div>
            </i-col>
            <i-col span="12">
                <div style="padding-left: 10px;">
                    <div class="fl">
                        {{$t("device.scale")}}:
                    </div>
                    <div class="fl">
                        <input-number :max="65535" :min="0" v-model.trim.number="tagging" style="width:70px"></input-number>
                    </div>
                    <div class="fl" style="padding-left: 10px;">
                        {{$t("device.calibratedFluid")}}:
                    </div>
                    <div class="fl">
                        <input-number :max="1500" :min="0" v-model.trim.number="taggingOil" style="width:70px"></input-number>
                    </div>
                    <div class="fl">
                        L
                    </div>
                    <div class="fl" style="margin-left:10px;">
                        <i-button type="primary" @click="addTaggingRow">{{$t("user.add")}}</i-button>
                    </div>
                    <div class="fl" style="margin-left:10px;">
                        <i-button type="primary" @click="preViewOilDetectors">预览</i-button>
                    </div>
                    <div class="fl" style="margin-left:10px;">
                        <i-button type="primary" @click="saveOilDetectors">保存</i-button>
                    </div>
                </div>
            </i-col>
        </Row>
        <Row>
            <i-Col span="12">
                <div style="padding: 0px 5px 0px 0px;">
                    <i-table border highlight-row @on-row-click="onRowClick" :columns="taggingColumns" size="small" :data="taggingData" :height="tableHeight"></i-table>
                </div>
            </i-Col>
            <i-Col span="12">
                <div style="padding: 0px 0px 0px 5px;">
                    <i-table border v-if="oilType == '1'" highlight-row @on-row-click="onRowClick" :columns="newTaggingColumns" size="small" :data="newTaggingData1" :height="tableHeight"></i-table>
                    <i-table border v-if="oilType == '2'" highlight-row @on-row-click="onRowClick" :columns="newTaggingColumns" size="small" :data="newTaggingData2" :height="tableHeight"></i-table>
                    <i-table border v-if="oilType == '3'" highlight-row @on-row-click="onRowClick" :columns="newTaggingColumns" size="small" :data="newTaggingData3" :height="tableHeight"></i-table>
                    <i-table border v-if="oilType == '4'" highlight-row @on-row-click="onRowClick" :columns="newTaggingColumns" size="small" :data="newTaggingData4" :height="tableHeight"></i-table>
                </div>
            </i-Col>
        </Row>
    </div>
    <script>
        vueInstanse = new Vue({
            el: '#oil-marking',
            data: {
                groupslist: [],
                date: new Date(),
                tableHeight: 0,
                oilType: '1',
                isIndependent: false,
                threshold1: null,
                threshold2: null,
                threshold3: null,
                threshold4: null,
                tagging: 0,
                taggingOil: 0,
                taggingColumns: [{
                    type: 'index',
                    width: 65
                }, {
                    key: 'height',
                    title: vRoot.$t('device.scale'),
                }, {
                    key: 'volume',
                    title: vRoot.$t('reportForm.oil'),
                }, {
                    title: vRoot.$t('alarm.action'),
                    width: 100,
                    render: function(h, params) {
                        var index = params.index;
                        return h('Button', {
                            props: {
                                type: 'info',
                                size: 'small',
                                icon: 'md-arrow-forward'
                            },
                            on: {
                                click: function() {
                                    var item = vueInstanse.taggingData[index];
                                    vueInstanse.pushRowToTable(item.height, item.volume);
                                }
                            }
                        }, isZh ? '复制' : 'Copy')
                    },
                }],
                taggingData: [],
                newTaggingColumns: [{
                    type: 'index',
                    width: 65
                }, {
                    key: 'height',
                    title: vRoot.$t('device.scale'),
                }, {
                    key: 'volume',
                    title: vRoot.$t('reportForm.oil'),
                }, {
                    title: vRoot.$t('alarm.action'),
                    width: 100,
                    render: function(h, params) {
                        var index = params.index;
                        return h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            on: {
                                click: function() {

                                    if (vueInstanse.oilType == '1') {
                                        vueInstanse.newTaggingData1.splice(index, 1);
                                    } else if (vueInstanse.oilType == '2') {
                                        vueInstanse.newTaggingData2.splice(index, 1);
                                    } else if (vueInstanse.oilType == '3') {
                                        vueInstanse.newTaggingData3.splice(index, 1);
                                    } else if (vueInstanse.oilType == '4') {
                                        vueInstanse.newTaggingData4.splice(index, 1);
                                    }

                                }
                            }
                        }, vRoot.$t('monitor.delete'))
                    },
                }],
                newTaggingData1: [],
                newTaggingData2: [],
                newTaggingData3: [],
                newTaggingData4: [],
                loading: false,
            },
            i18n: utils.getI18n(),
            mixins: [reportMixin],
            methods: {
                onRowClick: function(row) {
                    this.tagging = row.height;
                    this.taggingOil = row.volume;
                },
                saveOilDetectors: function() {
                    if (this.queryDeviceId == "") {
                        this.$Message.error(this.$t("reportForm.selectDevTip"));
                        return
                    };
                    var url = myUrls.saveOilDetectors(),
                        me = this;
                    var data = {
                        deviceid: this.queryDeviceId,
                        oildetectors: [{
                            threshold: this.threshold1,
                            markers: this.newTaggingData1,
                            appearance: 4
                        }, {
                            threshold: this.threshold2,
                            markers: this.newTaggingData2,
                            appearance: 4
                        }, {
                            threshold: this.threshold3,
                            markers: this.newTaggingData3,
                            appearance: 4
                        }, {
                            threshold: this.threshold4,
                            markers: this.newTaggingData4,
                            appearance: 4
                        }, ],
                        independent: me.isIndependent ? 0 : 1,
                    };
                    this.loading = true;
                    utils.sendAjax(url, data, function(resp) {
                        if (resp.status == 0) {
                            me.$Message.success(vRoot.$t('message.saveSucc'));
                        } else {
                            me.$Message.error(resp.cause);
                        }
                        me.loading = false;
                    });
                },
                preViewOilDetectors: function() {
                    if (this.queryDeviceId == "") {
                        this.$Message.error(this.$t("reportForm.selectDevTip"));
                        return
                    };
                    var self = this;
                    var url = myUrls.preViewOilDetectors();
                    var startday = DateFormat.longToDateStr(this.date.getTime(), timeDifference);
                    var data = {
                        deviceid: this.queryDeviceId,
                        independent: this.isIndependent ? 0 : 1,
                        startday: startday,
                        endday: startday,
                        offset: timeDifference,
                        oildetectors: [{
                            threshold: this.threshold1,
                            markers: this.newTaggingData1,
                            appearance: 4,
                        }, {
                            threshold: this.threshold2,
                            markers: this.newTaggingData2,
                            appearance: 4,
                        }, {
                            threshold: this.threshold3,
                            markers: this.newTaggingData3,
                            appearance: 4,
                        }, {
                            threshold: this.threshold4,
                            markers: this.newTaggingData4,
                            appearance: 4,
                        }, ]
                    };
                    this.loading = true;
                    utils.sendAjax(url, data, function(resp) {
                        if (resp.status === 0) {

                            var oilRecords = resp.records[0].addorleakrecords;


                            oilRecords.forEach(function(record) {
                                var oilstate = record.oilstate;
                                if (oilstate == -1 || oilstate == 1) {
                                    record.eoil = record.eoil / 100;
                                    record.soil = record.soil / 100;
                                }
                            });

                            self.setChartsOption('next', resp.records[0].records, resp.records);
                        } else {
                            self.$Message.error(resp.cause);
                        }
                        self.loading = false;
                    });
                },
                addTaggingRow: function(tagging, taggingOil) {
                    this.pushRowToTable(this.tagging, this.taggingOil);
                },
                pushRowToTable(tagging, taggingOil) {
                    var isHas = false;
                    var row = null;
                    if (this.oilType == '1') {
                        for (var i = 0; i < this.newTaggingData1.length; i++) {
                            var item = this.newTaggingData1[i];
                            if (item.height === tagging) {
                                isHas = true;
                                row = item;
                                break;
                            }
                        }
                    } else if (this.oilType == '2') {
                        for (var i = 0; i < this.newTaggingData2.length; i++) {
                            var item = this.newTaggingData2[i];
                            if (item.height === tagging) {
                                isHas = true;
                                row = item;
                                break;
                            }
                        }
                    } else if (this.oilType == '3') {
                        for (var i = 0; i < this.newTaggingData3.length; i++) {
                            var item = this.newTaggingData3[i];
                            if (item.height === tagging) {
                                isHas = true;
                                row = item;
                                break;
                            }
                        }
                    } else if (this.oilType == '4') {
                        for (var i = 0; i < this.newTaggingData4.length; i++) {
                            var item = this.newTaggingData4[i];
                            if (item.height === tagging) {
                                isHas = true;
                                row = item;
                                break;
                            }
                        }
                    }

                    if (isHas) {
                        row.volume = taggingOil;
                        // this.$Message.error(vRoot.$t('device.scaleAlreadyExists'));
                    } else {
                        if (this.oilType == '1') {
                            this.newTaggingData1.push({
                                height: tagging,
                                volume: taggingOil,
                            })
                            this.newTaggingData1.sort(function(a, b) {
                                return b.height - a.height;
                            });
                        } else if (this.oilType == '2') {
                            this.newTaggingData2.push({
                                height: tagging,
                                volume: taggingOil,
                            })
                            this.newTaggingData2.sort(function(a, b) {
                                return b.height - a.height;
                            });
                        } else if (this.oilType == '3') {
                            this.newTaggingData3.push({
                                height: tagging,
                                volume: taggingOil,
                            })
                            this.newTaggingData3.sort(function(a, b) {
                                return b.height - a.height;
                            });
                        } else if (this.oilType == '4') {
                            this.newTaggingData4.push({
                                height: tagging,
                                volume: taggingOil,
                            })
                            this.newTaggingData4.sort(function(a, b) {
                                return b.height - a.height;
                            });
                        }
                    }
                },
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.tableHeight = (wHeight - 475 - 62);
                },
                queryAddOilStatus: function(callback) {


                    var startday = DateFormat.longToDateStr(this.date.getTime(), timeDifference);
                    var me = this;
                    var data = {
                        startday: startday,
                        endday: startday,
                        offset: timeDifference,
                        devices: [this.queryDeviceId],
                        oilstate: 99,
                        oilindex: 0
                    };
                    utils.sendAjax(myUrls.reportOilRecord(), data, function(resp) {
                        if (resp.status == 0) {
                            if (resp.records) {

                                resp.records.forEach(function(item) {
                                    item.records.forEach(function(record) {
                                        var oilstate = record.oilstate;
                                        if (oilstate == -1 || oilstate == 1) {
                                            record.eoil = record.eoil / 100;
                                            record.soil = record.soil / 100;
                                        }
                                    });
                                });
                                callback && callback(resp.records);
                            } else {
                                me.$Message.error(self.$t("reportForm.noRecord"));
                            }
                        } else {
                            me.$Message.error(resp.cause);
                        }
                    })
                },
                onClickQuery: function() {

                    if (this.queryDeviceId == "") {
                        this.$Message.error(this.$t("reportForm.selectDevTip"));
                        return
                    };
                    this.loading = true;

                    var self = this;
                    var startday = DateFormat.longToDateStr(this.date.getTime(), timeDifference);

                    var data = {
                        startday: startday,
                        endday: startday,
                        offset: timeDifference,
                        devices: [this.queryDeviceId],
                    };


                    this.queryAddOilStatus(function(oilRecords) {
                        self.queryOilInfo(self.queryDeviceId);
                        utils.sendAjax(myUrls.reportOilTime(), data, function(resp) {
                            if (resp.status === 0) {
                                var tracks = resp.records[0].records;
                                self.setChartsOption('prve', tracks, oilRecords);
                            } else {
                                self.$Message.error(resp.cause);
                            }
                            self.loading = false;
                        });
                    });
                    // recvtime markPointData totalad oil 1 - 4 srcad 0 - 3 devStates devReissue

                },
                setChartsOption: function(type, trackList, oilRecords) {

                    var self = this,
                        records = [],
                        totalads = [],
                        recvtime = [],
                        oil1 = [],
                        oil2 = [],
                        oil3 = [],
                        oil4 = [],
                        srcad0 = [],
                        srcad1 = [],
                        srcad2 = [],
                        srcad3 = [],
                        devReissue = [],
                        markPointData = [],
                        altitudes = [],
                        voltages = [],
                        devStates = [];

                    trackList.forEach(function(record, index) {
                        record.index = index;
                        var totalad = record.totalad;
                        var ad0 = record.ad0;
                        var ad1 = record.ad1;
                        var ad2 = record.ad2;
                        var ad3 = record.ad3;
                        if (ad0 < 0) {
                            ad0 = 0;
                        };
                        if (ad1 < 0) {
                            ad1 = 0;
                        };
                        if (ad2 < 0) {
                            ad2 = 0;
                        };
                        if (ad3 < 0) {
                            ad3 = 0;
                        };
                        record.totalad = totalad / 100;
                        record.ad0 = ad0 / 100;
                        record.ad1 = ad1 / 100;
                        record.ad2 = ad2 / 100;
                        record.ad3 = ad3 / 100;
                        record.updatetimeStr = DateFormat.longToDateTimeStr(record.updatetime, timeDifference);

                        totalads.push(record.totalad);
                        recvtime.push(record.updatetimeStr);

                        oil1.push(record.ad0);
                        oil2.push(record.ad1);
                        oil3.push(record.ad2);
                        oil4.push(record.ad3);
                        srcad0.push(record.srcad0);
                        srcad1.push(record.srcad1);
                        srcad2.push(record.srcad2);
                        srcad3.push(record.srcad3);



                    });


                    var markPoints = utils.calMarkPoint(trackList, oilRecords);


                    if (type == 'prve') {
                        this.recvtime = recvtime;
                        this.totalad = totalads;
                        this.oil1 = oil1;
                        this.oil2 = oil2;
                        this.oil3 = oil3;
                        this.oil4 = oil4;
                        this.srcad0 = srcad0;
                        this.srcad1 = srcad1;
                        this.srcad2 = srcad2;
                        this.srcad3 = srcad3;

                        self.markPointData = markPoints;

                    } else {
                        this.totalad1 = totalads;
                        this.oil11 = oil1;
                        this.oil21 = oil2;
                        this.oil31 = oil3;
                        this.oil41 = oil4;
                        this.srcad01 = srcad0;
                        this.srcad11 = srcad1;
                        this.srcad21 = srcad2;
                        this.srcad31 = srcad3;

                        this.markPointData1 = markPoints;
                    }

                    this.oldChartsIns.setOption(self.getChartsOption());
                },
                getChartsOption: function(dataInfo) {
                    var firstStr = isZh ? '前' : 'Prve';
                    var lastStr = isZh ? '后' : 'Next';
                    var time = vRoot.$t('reportForm.time');
                    var totoil = firstStr + vRoot.$t('reportForm.totalOil');
                    var usoil1 = firstStr + vRoot.$t('reportForm.oil1');
                    var usoil2 = firstStr + vRoot.$t('reportForm.oil2');
                    var usoil3 = firstStr + vRoot.$t('reportForm.oil3');
                    var usoil4 = firstStr + vRoot.$t('reportForm.oil4');

                    var srcad0 = firstStr + vRoot.$t('reportForm.srcad0');
                    var srcad1 = firstStr + vRoot.$t('reportForm.srcad1');
                    var srcad2 = firstStr + vRoot.$t('reportForm.srcad2');
                    var srcad3 = firstStr + vRoot.$t('reportForm.srcad3');

                    var totoil1 = lastStr + vRoot.$t('reportForm.totalOil');

                    var usoil11 = lastStr + vRoot.$t('reportForm.oil1');
                    var usoil21 = lastStr + vRoot.$t('reportForm.oil2');
                    var usoil31 = lastStr + vRoot.$t('reportForm.oil3');
                    var usoil41 = lastStr + vRoot.$t('reportForm.oil4');

                    var srcad01 = lastStr + vRoot.$t('reportForm.srcad0');
                    var srcad11 = lastStr + vRoot.$t('reportForm.srcad1');
                    var srcad21 = lastStr + vRoot.$t('reportForm.srcad2');
                    var srcad31 = lastStr + vRoot.$t('reportForm.srcad3');



                    return {
                        grid: {
                            top: 80,
                            left: 60,
                            right: 60,
                            bottom: 40,
                        },
                        tooltip: {
                            trigger: 'axis',
                            formatter: function(v) {
                                var data = time + ' : ' + v[0].name + '<br/>';
                                for (i in v) {
                                    if (v[i].seriesName && v[i].seriesName != time) {
                                        if (v[i].seriesName == totoil || v[i].seriesName == usoil1 || v[i].seriesName == usoil2 || v[i].seriesName == usoil3 || v[i].seriesName == usoil4 ||
                                            v[i].seriesName == totoil1 || v[i].seriesName == usoil11 || v[i].seriesName == usoil21 || v[i].seriesName == usoil31 || v[i].seriesName == usoil41) {
                                            data += v[i].seriesName + ' : ' + v[i].value + 'L<br/>';
                                        } else {
                                            data += v[i].seriesName + ' : ' + v[i].value + '<br/>';
                                        }
                                    }
                                }
                                return data;
                            }
                        },
                        legend: {
                            data: [
                                totoil, usoil1, usoil2, usoil3, usoil4, srcad0, srcad1, srcad2, srcad3,
                                totoil1, usoil11, usoil21, usoil31, usoil41, srcad01, srcad11, srcad21, srcad31
                            ],
                            width: 880,
                            selected: this.selectedLegend,
                            // x: 'left',
                            // width: 600,
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                magicType: {
                                    show: true,
                                    type: ['line', 'bar']
                                },
                                restore: {
                                    show: false
                                },
                                saveAsImage: {
                                    show: false
                                }
                            },
                            itemSize: 14
                        },
                        dataZoom: [{
                            show: true,
                            realtime: true,
                            start: 0,
                            end: 100,
                            height: 20,
                            backgroundColor: '#EDEDED',
                            fillerColor: 'rgb(54, 72, 96,0.5)',
                            //fillerColor:'rgb(244,129,38,0.8)',
                            bottom: 0
                        }, {
                            type: "inside",
                            realtime: true,
                            start: 0,
                            end: 100,
                            height: 20,
                            bottom: 0
                        }],
                        xAxis: [{
                            type: 'category',
                            boundaryGap: false,
                            axisLine: {
                                onZero: false
                            },
                            data: this.recvtime
                        }],
                        yAxis: [{
                            name: totoil, //totoil + '/' + speed
                            type: 'value',
                            nameTextStyle: 10,
                            nameGap: 5,

                        }, ],
                        series: [{
                                smooth: true,
                                name: totoil,
                                type: 'line',
                                symbol: 'none',
                                color: '#C1232B',
                                data: this.totalad,
                                markPoint: {
                                    data: this.markPointData,
                                    symbolSize: 36,
                                    symbolKeepAspect: true,
                                }
                            }, {
                                smooth: true,
                                name: usoil1,
                                type: 'line',
                                symbol: 'none',
                                color: '#8E388E',
                                data: this.oil1
                            },

                            {
                                smooth: true,
                                name: usoil2,
                                type: 'line',
                                symbol: 'none',
                                color: '#FF4500',
                                data: this.oil2
                            }, {
                                smooth: true,
                                name: usoil3,
                                type: 'line',
                                symbol: 'none',
                                color: '#2177C7',
                                data: this.oil3
                            }, {
                                smooth: true,
                                name: usoil4,
                                type: 'line',
                                symbol: 'none',
                                color: '#B05432',
                                data: this.oil4
                            },

                            {
                                smooth: true,
                                name: srcad0,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad0
                            }, {
                                smooth: true,
                                name: srcad1,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad1
                            }, {
                                smooth: true,
                                name: srcad2,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad2
                            }, {
                                smooth: true,
                                name: srcad3,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad3
                            }, {
                                smooth: true,
                                name: totoil1,
                                type: 'line',
                                symbol: 'none',
                                color: '#5316B4',
                                data: this.totalad1,
                                markPoint: {
                                    data: this.markPointData1,
                                    symbolSize: 36,
                                    symbolKeepAspect: true,
                                }
                            }, {
                                smooth: true,
                                name: usoil11,
                                type: 'line',
                                symbol: 'none',
                                color: '#EE12BE',
                                data: this.oil11
                            },

                            {
                                smooth: true,
                                name: usoil21,
                                type: 'line',
                                symbol: 'none',
                                color: '#12EE5B',
                                data: this.oil21
                            }, {
                                smooth: true,
                                name: usoil31,
                                type: 'line',
                                symbol: 'none',
                                color: '#FCC40D',
                                data: this.oil31
                            }, {
                                smooth: true,
                                name: usoil41,
                                type: 'line',
                                symbol: 'none',
                                color: '#B05432',
                                data: this.oil41
                            },

                            {
                                smooth: true,
                                name: srcad01,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad01
                            }, {
                                smooth: true,
                                name: srcad11,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad11
                            }, {
                                smooth: true,
                                name: srcad21,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad21
                            }, {
                                smooth: true,
                                name: srcad31,
                                type: 'line',
                                symbol: 'none',
                                color: '#000000',
                                data: this.srcad31
                            },
                        ]
                    };
                },
                queryOilInfo: function(deviceid) {
                    var url = myUrls.queryOilDetectors(),
                        me = this;
                    utils.sendAjax(url, {
                        deviceid: deviceid
                    }, function(resp) {
                        me.isIndependent = resp.independent == 0 ? true : false;
                        if (resp.oildetectors != null) {
                            me.$Message.success(vRoot.$t('monitor.querySucc'));
                            var oildetectors = resp.oildetectors;
                            me.oildetectors = oildetectors;
                            oildetectors.forEach(function(item, index) {
                                item.markers.sort(function(a, b) {
                                    return b.height - a.height;
                                });
                                if (index == 0 && me.oilType == '1') {
                                    me.taggingData = item.markers;
                                    me.newTaggingData1 = deepClone(item.markers);
                                    me.threshold1 = item.threshold;
                                } else if (index == 1 && me.oilType == '2') {
                                    me.threshold2 = item.threshold;
                                    me.taggingData = item.markers;
                                    me.newTaggingData2 = deepClone(item.markers);
                                } else if (index == 2 && me.oilType == '3') {
                                    me.threshold3 = item.threshold;
                                    me.taggingData = item.markers;
                                    me.newTaggingData3 = deepClone(item.markers);
                                } else if (index == 3 && me.oilType == '4') {
                                    me.threshold4 = item.threshold;
                                    me.taggingData = item.markers;
                                    me.newTaggingData4 = deepClone(item.markers);
                                }
                            })
                        } else {
                            me.$Message.success(vRoot.$t('device.dataEmptyTips'));
                        }
                    });
                },
            },
            watch: {
                oilType: function(newVal) {

                    var oildetectors = this.oildetectors;

                    if (this.oilType == '1') {
                        var item = oildetectors[0];
                        if (item) {
                            this.threshold1 = item.threshold;
                            this.taggingData = item.markers;
                            this.newTaggingData1 = deepClone(item.markers);
                        } else {
                            this.threshold1 = null;
                            this.taggingData = [];
                            this.newTaggingData1 = [];
                        }
                    } else if (this.oilType == '2') {
                        var item = oildetectors[1];
                        if (item) {
                            this.threshold2 = item.threshold;
                            this.taggingData = item.markers;
                            this.newTaggingData2 = deepClone(item.markers);
                        } else {
                            this.threshold2 = null;
                            this.taggingData = [];
                            this.newTaggingData2 = [];
                        }
                    } else if (this.oilType == '3') {
                        var item = oildetectors[2];
                        if (item) {
                            this.threshold3 = item.threshold;
                            this.taggingData = item.markers;
                            this.newTaggingData3 = deepClone(item.markers);
                        } else {
                            this.threshold3 = null;
                            this.taggingData = [];
                            this.newTaggingData3 = [];
                        }
                    } else if (this.oilType == '4') {
                        var item = oildetectors[3];
                        if (item) {
                            this.threshold4 = item.threshold;
                            this.taggingData = item.markers;
                            this.newTaggingData4 = deepClone(item.markers);
                        } else {
                            this.threshold4 = null;
                            this.taggingData = [];
                            this.newTaggingData4 = [];
                        }
                    }

                }
            },
            mounted: function() {
                var _this = this;
                this.groupslist = deepClone(vRoot.$children[1].groups);
                this.oldChartsIns = echarts.init(document.getElementById('old-chart'));

                this.oldChartsIns.getZr().on('click', function(params) {
                    var pointInPixel = [params.offsetX, params.offsetY];
                    if (_this.oldChartsIns.containPixel('grid', pointInPixel)) {
                        var xIndex = _this.oldChartsIns.convertFromPixel({
                            seriesIndex: 0
                        }, [params.offsetX, params.offsetY])[0];
                        var oil = null;
                        var srcad = null;

                        switch (_this.oilType) {
                            case '1':
                                oil = _this.oil1[xIndex];
                                srcad = _this.srcad0[xIndex];
                                break;
                            case '2':
                                oil = _this.oil2[xIndex];
                                srcad = _this.srcad1[xIndex];
                                break;
                            case '3':
                                oil = _this.oil3[xIndex];
                                srcad = _this.srcad2[xIndex];
                                break;
                            case '4':
                                oil = _this.oil4[xIndex];
                                srcad = _this.srcad3[xIndex];
                                break;
                        }

                        _this.tagging = srcad;
                        _this.taggingOil = oil;

                    }
                });



                this.recvtime = [];
                this.markPointData = [];
                this.totalad = [];
                this.oil1 = [];
                this.oil2 = [];
                this.oil3 = [];
                this.oil4 = [];
                this.srcad0 = [];
                this.srcad1 = [];
                this.srcad2 = [];
                this.srcad3 = [];

                this.markPointData1 = [];
                this.totalad1 = [];
                this.oil11 = [];
                this.oil21 = [];
                this.oil31 = [];
                this.oil41 = [];
                this.srcad01 = [];
                this.srcad11 = [];
                this.srcad21 = [];
                this.srcad31 = [];


                // recvtime markPointData totalad oil 1 - 4 srcad 0 - 3 devStates devReissue


                if (isZh) {
                    this.selectedLegend = {
                        "前油液1(L)": false,
                        "前油液2(L)": false,
                        "前油液3(L)": false,
                        "前油液4(L)": false,
                        "前模拟量1": false,
                        "前模拟量2": false,
                        "前模拟量3": false,
                        "前模拟量4": false,

                        "后油液1(L)": false,
                        "后油液2(L)": false,
                        "后油液3(L)": false,
                        "后油液4(L)": false,
                        "后模拟量1": false,
                        "后模拟量2": false,
                        "后模拟量3": false,
                        "后模拟量4": false,

                    }
                } else {
                    this.selectedLegend = {
                        "Prve Sensor 1(L)": false,
                        "Prve Sensor 2(L)": false,
                        "Prve Sensor 3(L)": false,
                        "Prve Sensor 4(L)": false,
                        "Prve srcad0": false,
                        "Prve srcad1": false,
                        "Prve srcad2": false,
                        "Prve srcad3": false,

                        "Next Sensor 1(L)": false,
                        "Next Sensor 2(L)": false,
                        "Next Sensor 3(L)": false,
                        "Next Sensor 4(L)": false,
                        "Next srcad0": false,
                        "Next srcad1": false,
                        "Next srcad2": false,
                        "Next srcad3": false,
                    }
                }




                _this.oldChartsIns.setOption(_this.getChartsOption());
                _this.oildetectors = [];
                _this.calcTableHeight();
                window.onresize = function() {
                    _this.oldChartsIns.resize();
                    _this.calcTableHeight();
                }



                _this.oldChartsIns.on('legendselectchanged', function(param) {
                    _this.selectedLegend = param.selected;
                })


            }
        })
    </script>
</div>