<div id="price-list">
    <div class="full">
        <h3 class="h3-title" style="margin: 10px;">{{$t('bgMgr.priceList')}}</h3>
        <div style="padding: 0 10px;">
            <i-table border :columns="columns" :data="tableData" :height="taleHeight" :loading="loading"></i-table>
        </div>
        <Modal v-model="modal" width="300">
            <p slot="header" style="color:#f60;text-align:center">
                <Icon type="ios-create-outline"></Icon>
                <span>{{$t('monitor.edit')}}</span>
            </p>
            <Row style="margin: 10px 0">
                <i-col span="6" style="height: 100%;text-align:right;line-height:32px;">
                    {{$t('bgMgr.superQuotation')}} :
                </i-col>
                <i-col span="16">
                    <input-number :max="10000" :min="0" v-model.trim.number="price" style="width: 100%;"></input-number>
                </i-col>
            </Row>
            <div slot="footer">
                <i-button type="primary" style="width: 100%" @click="handleEdit">{{$t('header.submit')}}</i-button>
            </div>
        </Modal>
    </div>
    <script>
        vueInstanse = new Vue({
            el: "#price-list",
            i18n: utils.getI18n(),
            data: {
                loading: true,
                modal: false,
                taleHeight: 300,
                columns: [{
                    title: vRoot.$t('user.devType'),
                    key: 'typename',
                }, {
                    title: vRoot.$t('customer.remark'),
                    key: 'remark',
                }, {
                    title: vRoot.$t('bgMgr.superQuotation'),
                    key: 'price',
                }, {
                    title: vRoot.$t('alarm.action'),
                    width: 100,
                    render: function(h, params) {
                        var row = params.row;
                        return h('Button', {
                            props: {
                                type: 'error',
                                size: 'small'
                            },
                            on: {
                                click: function() {
                                    editObject = row;
                                    vueInstanse.price = row.price;
                                    vueInstanse.modal = true;
                                }
                            }
                        }, vRoot.$t('monitor.edit'))
                    },
                }],
                price: 0,
                tableData: [],
            },
            methods: {
                handleEdit: function() {
                    var me = this;
                    var url = myUrls.setQuotation();
                    var data = {
                        devicetypeid: editObject.devicetypeid,
                        price: this.price
                    };
                    utils.sendAjax(url, data, function(resp) {
                        if (resp.status === 0) {
                            editObject.price = me.price;
                            me.modal = false;
                            me.$Message.success(me.$t('monitor.setupSucc'));
                        } else if (resp.status === 11) {
                            me.$Message.error('1星价格低于上级授权价格');
                        } else if (resp.status === 12) {
                            me.$Message.error('2星价格低于上级授权价格');
                        } else if (resp.status === 13) {
                            me.$Message.error('3星价格低于上级授权价格');
                        } else {
                            me.$Message.error(me.$t('monitor.setupFail'));
                        }
                    });
                },
                calcTableHeight: function() {
                    var wHeight = window.innerHeight;
                    this.taleHeight = wHeight - 115;
                },
                queryQuotation: function() {
                    var me = this;
                    var url = myUrls.queryQuotation();
                    utils.sendAjax(url, {}, function(resp) {
                        me.loading = false;
                        if (resp.records) {
                            me.tableData = resp.records;
                        }
                    }, function() {
                        me.loading = false;
                    })
                }
            },
            mounted: function() {
                var me = this;
                this.calcTableHeight();
                this.queryQuotation();
                if (vRoot.$store.state.userType > 0) {
                    this.columns.pop();
                }
                window.onresize = function() {
                    me.calcTableHeight();
                }
            }
        })
    </script>
</div>