<meta charset="UTF-8">
<div id="querydev">
    <div class="full">
        <h3 class="h3-title">{{$t("bgMgr.queryDev")}}</h3>
        <ul>
            <li>
                <i-select v-model="queryType">
                    <i-option v-for="item in queryList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                </i-select> 
            </li>
            <li>
                <i-input v-model.trim="queryParameter"></i-input>
            </li>
            <li>
                <i-button type="primary" @click="handlerClickQuery">{{$t("reportForm.query")}}</i-button>
            </li>
        </ul>

        <div class="table-wraper">
            <i-table border :columns="columns" :data="tableData" :loading="loading"></i-table>
        </div>
        <div class="my-page" style="margin: 5px 0;">
            <Page :total="total" simple :page-size="10" :current="currentIndex"  @on-change="changePage"></Page>
        </div>
    </div>

    <script>
vueInstanse = new Vue({
            el:"#querydev",
            i18n: utils.getI18n(),
            data:{
                queryParameter:"",
                queryType:"devicename",
                queryList:[{label:vRoot.$t("alarm.devName"),value:"devicename"},{label:vRoot.$t("alarm.devNum"),value:"deviceid"}],
                loading:true,
                total:0,
                currentIndex:1,
                columns: [
                        {
                            title: vRoot.$t("alarm.devName"),
                            key: 'devicename',
                        },
                        {
                            title: vRoot.$t("alarm.devNum"),
                            key: 'deviceid'
                        },
                        {
                            title: vRoot.$t("monitor.phoneNumber"),
                            key: 'simnum'
                        },
                        {
                            title: vRoot.$t("bgMgr.addTime"),
                            key: 'createtimestr'
                        },
                        {
                            title: vRoot.$t("monitor.expireTime"),
                            key: 'overduetimestr'
                        },
                        {
                            title: vRoot.$t("monitor.customer"),  
                            key: 'companyname'
                        },
                        {
                            title: vRoot.$t("user.grouping"),
                            key: 'groupname'
                        },
                        {
                            title: vRoot.$t("bgMgr.action"),
                            key: 'action',
                            width: 240,
                            render: function(h, params) {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.editDevice(params.index);
                                            }
                                        }
                                    }, vRoot.$t("bgMgr.edit")),
                                    h('Poptip', {
                                        props: {
                                            confirm: true,
                                            title: vRoot.$t("message.confirmDel")  
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            'on-ok': function () {
                                                vueInstanse.handleDelete(params.row.deviceid);
                                            }
                                        }
                                    },[
                                    h('Button', {
                                            props: {
                                            type: 'error',
                                            size: 'small'
                                            }
                                        },vRoot.$t("bgMgr.delete")) 
                                    ])  ,
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.resetDevicePwd(params.index);
                                            }
                                        }
                                    }, vRoot.$t("user.resetPwd")),
                                    
                                ]);
                            }
                        }
                    ],
                tableData: [],
                recordsList:[],
                customersList:null,
                groupsList:[],
            },
            methods: {
                filterDataInfo:function(devList){
                    var me = this;
                    var data = [];
                    devList.forEach(function (dev) { 
                        dev.createtimestr = DateFormat.longToDateTimeStr(dev.createtime,0);
                        dev.overduetimestr = DateFormat.longToDateTimeStr(dev.overduetime,0);
                        dev.companyname = me.getCustimerName(dev.companyid);
                        dev.groupname = me.getGroupName(dev.groupid);
                        data.push(dev);
                    });
                    return data;
                },
                resetDevicePwd:function(index){
                    var me = this;
                    var deviceid = this.tableData[index].deviceid;
                    var url = myUrls.resetDeviceLoginPwd();
                    utils.sendAjax(url,{deviceid:deviceid},function (resp) { 
                        if(resp.status === 0){
                            me.$Message.success(( isZh ? "密码重置为:" : "Password reset to :") + resp.newpass);
                        }else{
                            me.$Message.error( isZh ? "密码重置失败" : "Password Reset Failed");
                        }
                    });
                },
                getCustimerName:function (custimerId) { 
                    var custimerName = "";
                    this.customersList.forEach(function (item) { 
                        if(item.companyid == custimerId){
                            custimerName = item.companyname;
                        }
                    });
                    return custimerName;
                },
                getGroupName:function (groupId) { 
                    var groupName = "";
                    this.groupsList.forEach(function (item) { 
                        if(item.groupid == groupId){
                            groupName = item.groupname;
                        }
                    });
                    return groupName;
                },
                getDeviceList:function(){
                    var me = this;
                    var url = myUrls.queryDeviceListWithGroupInfo();
                    utils.sendAjax(url,{},function(resp){
                        me.loading = false;
                        if(resp.status == 0 && resp.devices != null){           
                            me.recordsList = me.filterDataInfo(resp.devices );
                            me.tableData = me.recordsList.slice(0,10);
                            me.total = me.recordsList.length;
                        }else{
                            me.$Message.error(resp.cause);
                        }
                    });
                },
                queryAllCompanyInfo:function(claaback){
                    var url = myUrls.queryCompanyByCreater();
                    utils.sendAjax(url,{},claaback)
                },
                doQueryAllCompanyInfo:function(resp){
                    var me = this;
                    if(resp.status===0 && resp.records != null){
                        me.customersList = resp.records;
                    }
                    me.queryAllgroupsInfo();
                },
                queryAllgroupsInfo:function(){
                    var url = myUrls.queryGroupByUser();
                    utils.sendAjax(url,{},this.doQueryAllgroupsInfo);
                },
                doQueryAllgroupsInfo:function(resp){
                    var me = this;
                    if(resp.status === 0 && resp.grouplist!==null){
                         me.groupsList = resp.grouplist; 
                    }
                    me.getDeviceList();  
                },
                editDevice:function(index){
                    var me = this;
                    editObject = this.tableData[index];
                    var pagePath = null
                        if (myUrls.host.indexOf('gpsserver') != -1) {
                            pagePath = myUrls.host + 'view/manager/editdevice.html';
                        } else {
                            pagePath = '../view/manager/editdevice.html';
                        }
                    this.$Loading.start();
                    $("#mar-view").load(pagePath,function(){
                        me.$Loading.finish();
                    });
                },
                handleDelete:function(deviceid){
                    var me = this;
                    var url = myUrls.deleteDevice();
                    var data = {deviceid:deviceid};
                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            isNeedRefresh = true;
                            if(deviceid == globalDeviceId){
                                globalDeviceId = "";
                                vRoot.$store.commit('currentDeviceId', "");
                            }
                            me.$Message.success(me.$t("message.deleteSucc"));
                            me.tableData.forEach(function (itme,index) { 
                                if(itme.deviceid == deviceid){
                                    me.$delete(me.tableData,index);
                                }
                            });

                            me.recordsList.forEach(function (itme,index) { 
                                if(itme.deviceid == deviceid){
                                    me.$delete(me.recordsList,index);
                                }
                            });

                            me.total = me.recordsList.length;
                            me.tableData = me.recordsList.slice( me.currentIndex - 1 , 10);
                        }else{
                            me.$Message.error(me.$t("message.deleteFail"));
                        }
                        me.modal = false;
                       
                    });
                }
            },
            mixins:[mixIn],
            mounted:function () {
                this.queryAllCompanyInfo(this.doQueryAllCompanyInfo);     
            }
        })
    </script>
</div>