
<meta charset="UTF-8">

<div id="querygroup">
    <div class="full">
        <h3 class="h3-title">{{$t("bgMgr.queryGroup")}}</h3>
        <ul>
            <li>
                <i-input v-model.trim="queryParameter"></i-input>
            </li>
            <li>
                <i-button type="primary"  @click="handlerClickQuery">{{$t("reportForm.query")}}</i-button>
            </li>
        </ul>
        <div>
            <i-table :columns="columnsList" :data="tableData" height="520" :loading="loading"></i-table>
        </div>
        <div class="my-page" style="margin: 5px 0;">
            <Page :total="total" simple :page-size="10" :current="currentIndex" @on-change="changePage"></Page>
        </div>
    </div>
    <script>
        
vueInstanse=new Vue({
            el:"#querygroup",
            i18n: utils.getI18n(),
            data:{
                loading:true,
                delGroupObj:{},
                monitorPerson:[],
                monitorPersonList:[],
                total:0,
                currentIndex:1,
                queryParameter:"",
                recordsList:[],
                tableData:[],
                columnsList:[
                //    {
                //         type: 'expand',
                //         width: 50,
                //         render: function(h, params){
                //             return h(expandRow, {
                //                 props: {
                //                     devices: params.row.devices
                //                 }
                //             })
                //         }
                //     },
                    {
                        title: vRoot.$t("group.groupName"),
                        key: 'groupname'
                    },
                    {
                        title: vRoot.$t("group.userCount"),
                        key: 'usercount'
                    },
                    {
                        title: vRoot.$t("group.devCount"),
                        key: 'devicecount'
                    },
                    {
                            title: vRoot.$t("bgMgr.action"),
                            key: 'action',
                            width: 220,
                            render: function(h, params) {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.editGroup(params.index);
                                            }
                                        }
                                    }, vRoot.$t("bgMgr.edit")),

                                    h('Poptip', {
                                        props: {
                                            confirm: true,
                                            title: vRoot.$t("message.confirmDel")
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            'on-ok': function () {
                                                vueInstanse.del(params.row.groupid);
                                            }
                                        }
                                    },[
                                    h('Button', {
                                            props: {
                                            type: 'error',
                                            size: 'small'
                                            }
                                        },vRoot.$t("bgMgr.delete")) 
                                    ]) 
                                ]);
                            }
                        }
                ]
            },
            methods:{
                handlerClickQuery () {
                    var self = this;
                    var queryTableData = [];
                    var queryParameterLowerCase = this.queryParameter.toLowerCase();
                    if (!self.queryParameter) return;
                    this.recordsList.forEach(function (record) {
                        var groupname = record.groupname;
                        if (
                            groupname.indexOf(self.queryParameter) != -1 || 
                            record.pinYin.indexOf(queryParameterLowerCase) != -1 ||
                            record.firstLetter.indexOf(queryParameterLowerCase) != -1 
                        ){        
                            queryTableData.push(record);
                        }
                    })
                    this.tableData = queryTableData;
                },
                queryAllgroupsInfo:function(){
                    var url = myUrls.queryGroupByUser();
                    utils.sendAjax(url,{},this.doQueryAllgroupsInfo);
                },
                doQueryAllgroupsInfo:function(resp){
                    if(resp.status === 0){
                        this.recordsList = resp.grouplist !==null ? resp.grouplist : [];
                        this.recordsList.forEach(function (group) { 
                            group.pinYin = __pinyin.getPinyin(group.groupname);
                            group.firstLetter = __pinyin.getFirstLetter(group.groupname);
                        });
                        this.total = this.recordsList.length;
                        this.tableData = this.recordsList.slice( 0 , 10);
                    }
                    this.loading = false;
                },
                editGroup:function(index){
                    var me = this;
                    editObject = this.tableData[index];
                    var pagePath = null
                        if (myUrls.host.indexOf('gpsserver') != -1) {
                            pagePath = myUrls.host + 'view/manager/editgroup.html' 
                        } else {
                            pagePath = '../view/manager/editgroup.html' 
                        }
                    this.$Loading.start();
                    $("#mar-view").load(pagePath,function(){
                        me.$Loading.finish();
                    });
                },
                del:function(groupid){
                    var me = this;
                    var url = myUrls.deleteGroup();
                    var data = { groupid:groupid };
                    utils.sendAjax(url,data,function(resp){
                        if(resp.status == 0){
                            me.tableData.forEach(function(item,index){
                                if(item.groupid == groupid){
                                    me.$delete(me.tableData,index)
                                }
                            });

                            me.recordsList.forEach(function(item,index){
                                if(item.groupid == groupid){
                                    me.$delete(me.recordsList,index)
                                }
                            });

                            me.total = me.recordsList.length;
                            me.tableData = me.recordsList.slice( me.currentIndex - 1 , 10);
                            
                            me.$Message.success(me.$t("message.deleteSucc"));
                        }else{
                            me.$Message.error(resp.cause);
                        }
                    });
                },
                getUserInfoList:function(){
                    var url = myUrls.queryUser();
                    utils.sendAjax(url,{},this.doUserInfoList);
                },
                doUserInfoList:function(resp){               
                    var me = this;
                    if(resp.status == 0 && resp.userlists != null){
                        resp.userlists.forEach(function (item) { 
                            if(item.usertype >= 10){
                                me.monitorPersonList.push({
                                    label:item.username,
                                    value:item.username
                                })
                            }
                        });
                    }
                },
            },
            mixins:[mixIn],
            mounted:function(){
               this.queryAllgroupsInfo();
               this.getUserInfoList();
            }
        })
    </script>
</div>




