<meta charset="UTF-8">
<div class="pd-10 system" id="add-directive-wraper">
    <h3 class="h3-title">添加指令</h3>
    <div style="width: 700px;margin: 0 auto;">

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                    <i style="color: red;display: inline-block;">*</i>&nbsp;指令名称 : &nbsp;</i-col>
                <i-col span="20">
                    <i-input v-model.trim="cmdname"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                    <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;是否通用 : &nbsp;</i-col>
                    <i-col span="20" style="height: 100%;line-height:32px;">
                        <Checkbox v-model="isPublic">(选中为公用)</Checkbox>
                    </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;"><i style="color: red;display: inline-block;">*</i>&nbsp;是否同步 : &nbsp;</i-col>
                <i-col span="20" style="height: 100%;line-height:32px;">
                    <Checkbox v-model="isAsync">(选中为异步)</Checkbox>
                </i-col>
            </Row>

            
            
            <Row>
                <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">指令描述 : &nbsp;</i-col>
                <i-col span="20">
                    <i-input v-model.trim="cmddescr"></i-input>
                </i-col>
            </Row>

            <Row style="margin: 10px 0">
                <i-col span="4" style="height: 100%;text-align:right;line-height:100%;">
                    参数 : &nbsp;</i-col>
                <i-col span="20">
                    <i-input v-model.trim="params" type="textarea" :rows="8" />
                </i-col>
            </Row>

            <Row style="margin: 10px 0" v-show="lock">
                <i-col span="4" style="height: 100%;text-align:right;line-height:100%;">预览 : &nbsp;</i-col>
                <i-col span="20">
                    <Row style="margin: 5px 0" v-for="item in previewObjList" :key="item.text">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            {{item.text}} : &nbsp;
                        </i-col>
                        <i-col span="16">
                            <i-input v-model.trim="kong"></i-input>    
                        </i-col>
                    </Row>
                </i-col>
            </Row>
        
            <Row style="margin: 10px 0">
                <i-col span="10" :offset="8">
                        <i-button icon="md-add" @click="handleAddDirective" style="width: 100%">添加</i-button>
                </i-col>
            </Row>
   
    </div>
    <script>
        new Vue({
            el:"#add-directive-wraper",
            data:function(){
                return {         
                    cmdname: null,
                    cmdnameen: "",
                    cmdnametw: "",

                    cmddescr: null,
                    cmddescren: "",
                    cmddescrtw: "",

                    params: null,
                    paramsen: "",
                    paramstw: "",
                    common:0,
                    previewObjList:[],
                    lock:false,
                    isPublic:false,
                    isAsync:false,
                    kong:"",
                }
            },
            watch:{
                params:function () { 
                    this.previewObjList = [];
                    if(this.params == ""){ this.lock = false; return ;}
                    if(this.replaceAll(this.params) == ""){
                        this.lock = true;
                        var params = "<params>"+ this.params +"</params>";
                        var parser=new DOMParser(); 
                        var xmlDoc=parser.parseFromString(params,"text/xml"); 
                        this.parseXML(xmlDoc);
                    }else{
                        this.lock = false;
                    }
                },
                isPublic:function(){
                    if(this.isPublic){
                        this.common = 1;
                    }else{
                        this.common = 0;
                    }
                }
            },
            methods: {
                handleAddDirective:function(){
 
                    if( !this.cmdname ){
                        this.$Message.error("指令名称是必填的");
                        return ;
                    }
                    
                    var me = this;
                    var url = myUrls.addCmd();
                    var data = {
                        cmdname: this.cmdname,
                        common:this.common,
                        paramsen: "",
                        paramstw: "",
                        cmddescren: "",
                        cmddescrtw: "",
                        cmdnameen: "",
                        cmdnametw: "",
                        sync:this.isAsync?0:1
                    };

                    if(this.cmddescr){
                        data.cmddescr = this.cmddescr;
                    };
                    
                    if(this.params && this.lock ){
                        data.params = this.params;
                    }

                    utils.sendAjax(url, data, function (resp) {
                        if (resp.status == 0) {
                            me.$Message.success("添加成功");
                        }else{
                            me.$Message.error(resp.cause);
                        };
                    });
                },
                replaceAll:function (str){
                    if(str!=null)
                    str = str.replace(/^<[\s\S]*>[\s\S]*<\/[\s\S]*>$/g,"")
                    return str;
                },
                parseXML:function(xmlDoc){
                    // <ha><param size="small" type="password">确认密码</param></ha>
                    var parent =  xmlDoc.children[0];
                    var children = parent.children;
                    for (var i = 0; i < children.length; i++) {
                        var item = children[i]
                        var text = item.innerHTML;
                        var type = item.getAttribute("type");
                        if (type && text) {
                            this.previewObjList.push({ type: type, text: text });
                        }
                    } 
                }
            },
        })
    </script>
</div>