<div id="clear-records">
    <div style="margin:10px">
        <Row>
            <i-Col span="24">
                <i-input v-model="deviceid" placeholder="输入设备ID" style="width: 200px;"></i-input>

                <i-button @click="handleClear" type="primary">清除</i-button>
            </i-Col>
        </Row>
            <Modal v-model="deleteRecordsModal">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="ios-information-circle"></Icon>
                    <span>删除记录</span>
                </p>
                <p style="text-align:center;">已删除语音条数 : {{deleteRecordsObject.removedmediacount}}</p>
                <p style="text-align:center;">已删除消息条数 : {{deleteRecordsObject.removedmsgcount}}</p>
                <p style="text-align:center;">已删除报警条数 : {{deleteRecordsObject.removedalarmcount}}</p>
                <p style="text-align:center;">已删除轨迹条数 : {{deleteRecordsObject.removedtrackcount}}</p>
            </Modal>
    </div>
   <script>
        new Vue({
            el:'#clear-records',
            data:{
                deviceid:'',
                deleteRecordsModal:false,
                deleteRecordsObject:{},
            },
            methods:{
                handleClear:function(){
                    if(this.deviceid.trim() == ''){
                        this.$Message.error('输入设备id');
                        return;
                    };
                    var url = myUrls.cleanHistoryData(),
                        me = this;
                    utils.sendAjax(url, { deviceid: this.deviceid }, function(resp) {
                        if (resp.status === 0) {
                            me.deleteRecordsModal = true;
                            me.deleteRecordsObject = resp;
                        } else {
                            me.$Message.error(resp.cause);
                        }
                    });
                }
            }
        })
   </script>
</div>