<meta charset="UTF-8">
<div class="pd-10 system" id="directive-wraper">
    <h3 class="h3-title">所有设备指令</h3>
    <div style="margin-top: 10px;" class="directive-type-wraper">
        <div class="device-type">
            <ul class="ivu-menu ivu-menu-light ivu-menu-vertical">
                <template v-for="(item,index) in deviceTypeList" >
                    <li class="ivu-menu-item" 
                        :key="item.name"
                        :class="{'ivu-menu-item-active':item.isSelected,'ivu-menu-item-selected':item.isSelected}" 
                        @click="handleClickDevType(item)">
                            <Icon :type="item.icon" />
                            <span>{{ item.title}}</span>
                    </li> 
                </template>  
            </ul>
        </div>
        <div class="directive-type">
            <i-table border :columns="columns" :data="tableData" :loading="loading"></i-table>
        </div>
    </div>
    <Modal v-model="sortModal" width="360" class-name="vertical-center-modal">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="information-circled"></Icon>
            <span>指令排序</span>
        </p>
        <div style="text-align:center">
            <Row style="margin: 10px 0">
                <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">序号 : &nbsp;</i-col>
                <i-col span="16">
                    <i-input v-model.trim="sortNumber"></i-input>
                </i-col>
            </Row>
        </div>
        <div slot="footer">
            <i-button type="primary" @click="handleSortFn" style="width: 100%">确定</i-button>
        </div>
    </Modal>
    <script>
        new Vue({
            el: "#directive-wraper",
            data: function () {
                var me = this;
                return {
                    theme:"light",
                    sortNumber:"",
                    sortModal:false,
                    directiveObj: {},
                    columns: [
                        {
                            title: '序号',
                            key: 'cmdlevel',
                            width: 80,
                        },
                        {
                            title: '指令名称',
                            key: 'cmdname'
                        },
                        {
                            title: '描述',
                            key: 'cmddescr'
                        },
                        {
                            title:'是否同步',
                            key:'isSync'
                        },
                        {
                            title: '操作',
                            key: 'action',
                            width: 180,
                            render: function (h, params) {
                                return h('div', [
                                h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function () {
                                                editObject = params.row;
                                                me.index = params.index;
                                                me.sortNumber = editObject.cmdlevel;
                                                me.sortModal = true;
                                            }
                                        }
                                    }, '排序'),
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function () {
                                                editObject = params.row;
                                                
                                                var pagePath = null
                                                if (myUrls.host.indexOf('gpsserver') != -1) {
                                                    pagePath = myUrls.host + 'view/systemparam/editdirective.html'
                                                } else {
                                                    pagePath = '../view/systemparam/editdirective.html'
                                                }  
                                                me.$Loading.start();
                                                $("#system-view").load(pagePath,function(){
                                                    me.$Loading.finish();
                                                });
                                            }
                                        }
                                    }, '修改'),
                                    
                                    h('Poptip', {
                                        props: {
                                            confirm: true,
                                            title: '确定要删除吗?'
                                        },
                                        on: {
                                            'on-ok': function () {
                                               me.handleDelDirective(params);
                                            }
                                        }
                                    },[
                                    h('Button', {
                                            props: {
                                            type: 'error',
                                            size: 'small'
                                            }
                                        },"删除") 
                                    ]) 
                                ]);
                            }
                        }
                    ],
                    rowIndex: null,
                    tableData: [],
                    deviceTypeList:[],
                    allDirectiveList:[],
                    loading: false,
                    index:null
                }
            },
            methods: {
                handleSortFn:function(){
                    var me = this;
                    if(this.sortNumber != ""){
                        var url = myUrls.editCmd();
                        var cmdlevel = Number(this.sortNumber) ;
                        editObject.cmdlevel = cmdlevel;
                        utils.sendAjax(url, editObject , function (resp) {
                            if (resp.status == 0) {
                                me.tableData[me.index].cmdlevel = cmdlevel;
                                me.tableData.sort(function (a,b) { 
                                    return a.cmdlevel > b.cmdlevel;
                                });
                                me.$Message.success("排序成功");
                                me.sortModal = false;

                            }else{
                                me.$Message.error(resp.cause);
                            };
                        });
                    }else{
                        me.$Message.error("序号不能为空!");
                    }
                },
                handleClickDevType:function(type){
                    var me = this;
                    var tableData = [];
                    this.deviceTypeList.forEach(function (item) { 
                        item.isSelected = false;
                    });

                    this.allDirectiveList.forEach(function (item) { 
                        if(item.devicetype == type.name){
                            tableData.push(item)
                        }
                    });   
                    tableData.sort(function (a,b) { 
                        return a.cmdlevel - b.cmdlevel;
                    });
                    me.tableData = tableData;
                    type.isSelected = true;
                },
                handleDelDirective: function (params) {
                    var me = this;
                    var url = myUrls.deleteCmd();
                    var data = { cmdcode: String(params.row.cmdcode) };
                    utils.sendAjax(url, data, function (resp) {
                        if (resp.status == 0) {
                            me.$Message.success("删除成功");
                            me.$delete(me.tableData, params.index);
                        } else {
                            me.$Message.error("删除失败");
                        }
                    });
                },
                queryCmdList: function () {
                    var me = this;
                    var url = myUrls.queryCmd();
                    var data = {
                        "offset": 0,
                        "pagesize": 10
                    };
                    utils.sendAjax(url, data, function (resp) {
                        if (resp.status === 0) {
                            resp.records.forEach(function (item) { 
                                if(item.sync==0){
                                    item.isSync = "异步";
                                }else{
                                    item.isSync = "同步";
                                }
                            })
                            me.allDirectiveList = resp.records;
                            me.getDeviceType();
                        }
                    });
                },
                getDeviceType:function () {
                    var me = this;
                    var url = myUrls.queryDeviceTypeByUser();
                    utils.sendAjax(url,{},function (resp) { 
                        if(resp.status == 0 && resp.devicetypes!=null){
                            var firstType = null;
                            resp.devicetypes.forEach(function (item,index) { 
                                var type = {name:item.devicetypeid,title:item.typename,icon:"ios-ionitron",isSelected:false};
                                if(index==0){firstType = type };
                                me.deviceTypeList.push(type);
                            })
                            me.handleClickDevType(firstType);
                        }
                    }); 
                },
            },
            mounted: function () {
                this.queryCmdList();
            }
        })
    </script>
</div>