<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主动安全</title>
    <link rel="shortcut icon" href="./favicon.ico"  type="image/x-icon" />
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/config.js"></script>
    <style>
         html,body,#dsm-wraper{width: 100%;height: 100%;}
         div.content-box{position:absolute;left: 0;right: 0;top: 0;bottom: 260px;}
         div.table-wrapper{position:absolute;left: 0;right: 0;bottom: 0;height: 260px;}
         #dsm-wraper .ivu-tabs-bar{margin-bottom: 0;}
        /* content-box start*/
        div.content-box>div{float: left;height: 100%;width: 30%;}
        #video-wrapper{width: 40%}
        #video-wrapper>div{width: 50%;height: 50%;float: left;}
        #video-wrapper>div>div{
            height: 100%;width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div.video{
            background-image: url('./images/tv_default.jpg');
            background-size: cover;
        }
        /* content-box end */
        .mask-wrapper{
            position: absolute;
            right: 0px;
            bottom: 0px;
            top: 0px;
            left: 0px;
            z-index: 9999;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .loader-05 {
            width: 50px;
            height: 50px;
            border: .2em solid transparent;
            border-top-color: currentcolor;
            border-radius: 50%;
            -webkit-animation: 1s loader-05 linear infinite;
            animation: 1s loader-05 linear infinite;
            position: relative;
        }
        .loader-05:before {
            content: '';
            display: block;
            width: inherit;
            height: inherit;
            position: absolute;
            top: -.2em;
            left: -.2em;
            border: .2em solid currentcolor;
            border-radius: 50%;
            opacity: .5;
        }
        @keyframes loader-05 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @-webkit-keyframes loader-05 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div class="mask-wrapper" id="mask-wrapper">
        <div class="box" style="position:relative;">
            <div class="loader-05"></div>
            <div class="text-tip">正在载入播放器</div>
        </div>
    </div>
    <div id="dsm-wraper">
        <div class="content-box">
            <div>
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
            <div id="video-wrapper" ref="videoWrapper">
                <div v-for="(item,index) in imageAndVideoList" :key="index">
                    <div v-if="item.image" style="width:100%;height:100%;">
                        <img :src="item.imageUrl" style="width:100%;height:100%;">
                    </div>
                    <div v-else="item.image" class="video">
                        <video :src="item.videoUrl" autoplay controls loop style="width:100%;height:100%;"></video>
                    </div>
                </div>
            </div>
            <div>
                <i-table 
                    border 
                    highlight-row
                    @on-current-change="onDetailChange"
                    :columns="alarmSummaryColumns"
                    :data="detailTableData"
                    :height="tableHeight"></i-table>   
            </div>
        </div>
        <div class="table-wrapper">
            <keep-alive>
                <Tabs :animated="true" @on-click="onClickTabs">
                    <Tab-Pane label="前向报警" name="forwardAlarm">
                        <i-table 
                            border 
                            highlight-row
                            :columns="forwardAlarmColumns"
                            :data="forwardAlarmList" height="223"></i-table>   
                    </Tab-Pane>
                    <Tab-Pane label="驾驶异常" name="abnormalDriving">
                        <i-table 
                            border 
                            highlight-row
                            @on-current-change="onforwardAlarmChange"
                            :columns="forwardAlarmColumns"
                            :data="abnormalDrivingList" height="223"></i-table>   
                    </Tab-Pane>
                    <i-button size="small" slot="extra">增加</i-button>
                    <i-button size="small" slot="extra">增加</i-button>
                    <i-button size="small" slot="extra">增加</i-button>
                    <i-button size="small" slot="extra">增加</i-button>
                </Tabs>
            </keep-alive>
        </div>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/gps51-jquery.js"></script>
    <script src="js/config.js"></script>
    <script src="js/util.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="https://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script type="text/javascript">
        var deviceid = utils.getParameterByName("deviceid");
        var token = utils.getParameterByName("token");
        var vRoot = new Vue({
            el:'#dsm-wraper',
            data:{
                tabsKey:'forwardAlarm',
                tableHeight:100,
                alarmSummaryColumns:[
                    { title:"设备ID" , key:"deviceid" },
                    { 
                        title:'报警类型',key:'alarmevent',width:120,
                        render:function(h,params){ 
                            var alarmevent = '';
                            switch(params.row.alarmevent){
                                case 1 :
                                    alarmevent = '疲劳驾驶报警';
                                    break;
                                case 2 :
                                    alarmevent = '接打电话报警';
                                    break;
                                case 3 :
                                    alarmevent = '抽烟报警'; 
                                    break;
                                case 4 :
                                    alarmevent = '分神驾驶报警'; 
                                    break;
                                case 5 :
                                    alarmevent = '驾驶员异常报警'; 
                                    break;
                                case 6 :
                                    break;
                            }
                            return h('span',{},alarmevent); 
                        }
                    },
                    {title:'报警等级',key:'alarmlevel',width:90,},
                    { 
                        title:"报警时间" , key:"alarmtime",
                        render:function(h,params){
                            return h('span',{},DateFormat.longToDateTimeStr(params.row.updatetime, 0)); 
                        }
                    }
                ],
                forwardAlarmColumns:[
                    {
                        type: 'index',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title:'报警类型',key:'alarmevent',width:120,
                        render:function(h,params){ 
                            var alarmevent = '';
                            switch(params.row.alarmevent){
                                case 1 :
                                    alarmevent = '疲劳驾驶报警';
                                    break;
                                case 2 :
                                    alarmevent = '接打电话报警';
                                    break;
                                case 3 :
                                    alarmevent = '抽烟报警'; 
                                    break;
                                case 4 :
                                    alarmevent = '分神驾驶报警'; 
                                    break;
                                case 5 :
                                    alarmevent = '驾驶员异常报警'; 
                                    break;
                                case 6 :
                                    break;
                            }
                            return h('span',{},alarmevent); 
                        }
                    },
                    {title:'报警等级',key:'alarmlevel',width:90,},
                    {title:'报警次数',key:'alarmcount',width:90,},
                    {
                        title:'最初报警时间',key:'startalarmtime',width:160,
                        render:function(h,params){
                            return h('span',{},DateFormat.longToDateTimeStr(params.row.startalarmtime, 0)); 
                        }
                    },
                    {
                        title:'最后报警时间',key:'endalarmtime',width:160,
                        render:function(h,params){
                            return h('span',{},DateFormat.longToDateTimeStr(params.row.endalarmtime, 0)); 
                        }
                    },
                    {
                        title:'最初报警速度',key:'startspeed',width:110,
                        render:function(h,params){
                            var startspeed = params.row.startspeed/1000
                            return h('span',{},startspeed+'km/h'); 
                        }
                    },
                    {
                        title:'最后报警速度',key:'endspeed',width:110,
                        render:function(h,params){
                            var endspeed = params.row.endspeed/1000
                            return h('span',{},endspeed+'km/h'); 
                        }
                    },
                    {
                        title:'开始报警位置',key:'startposition',
                        render:function(h,params){
                            var callat= params.row.startlat.toFixed(5);
                            var callon= params.row.startlon.toFixed(5);
                            var address = LocalCacheMgr.getAddress(callon, callat);
                            if(address){
                                return h('span',{},address);
                            }else{
                                return h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small',
                                    },
                                    on: {
                                        click: function (e) {
                                            e.preventDefault();
                                            vRoot.queryAddress(callon,callat,function (address) { 
                                                console.log('address', address);
                                                if(vRoot.tabsKey === 'abnormalDriving'){
                                                    vRoot.abnormalDrivingList[params.index].address = address;
                                                }else{
                                                    alert(1)
                                                    vRoot.forwardAlarmList[params.index].address = address;
                                                }
                                                LocalCacheMgr.setAddress(callon, callat, address);
                                            })
                                        }
                                    }
                                }, "获取地址");
                            }
                        }
                    },
                    {
                        title:'最后报警位置',key:'endposition',
                        render:function(h,params){
                            var callat= params.row.endlat.toFixed(5);
                            var callon= params.row.endlon.toFixed(5);
                            var address = LocalCacheMgr.getAddress(callon, callat);
                            if(address){
                                return h('span',{},address);
                            }else{
                                return h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small',
                                    },
                                    on: {
                                        click: function (e) {
                                            e.preventDefault();
                                            e.preventDefault();
                                            vRoot.queryAddress(callon,callat,function (address) { 
                                                console.log('address', address);
                                                if(vRoot.tabsKey === 'abnormalDriving'){
                                                    vRoot.abnormalDrivingList[params.index].address = address;
                                                }else{
                                                    alert(1)
                                                    vRoot.forwardAlarmList[params.index].address = address;
                                                }
                                                LocalCacheMgr.setAddress(callon, callat, address);
                                            });
                                        }
                                    }
                                }, "获取地址");
                            }
                        }
                    },
                ],
                abnormalDrivingList:[],
                forwardAlarmList:[],
                detailTableData:[],
                imageAndVideoList:[
                    {image:true,imageUrl:'./images/tv_default.jpg',videoUrl:''},
                    {image:true,imageUrl:'./images/tv_default.jpg',videoUrl:''},
                    {image:true,imageUrl:'./images/tv_default.jpg',videoUrl:''},
                    {image:true,imageUrl:'./images/tv_default.jpg',videoUrl:''},
                ]
            },
            methods: {
                onClickTabs:function(name){
                    this.tabsKey = name;
                },
                initMap:function(){
                    var self = this;
                    this.map = new BMap.Map("map",{minZoom:4,maxZoom:20});           
                    this.map.enableScrollWheelZoom();
                    this.map.enableAutoResize();
                    this.map.disableDoubleClickZoom();
                    this.map.centerAndZoom(new BMap.Point(108.0017245, 35.926895), 5)
                    this.map.addControl(new BMap.CityListControl({anchor: BMAP_ANCHOR_TOP_LEFT,offset: new BMap.Size(10, 20),}));
                },
                onforwardAlarmChange:function(current){
                    this.detailTableData = current.records;
                },
                onDetailChange:function(current){
                    var b_lon_lat = wgs84tobd09(Number(current.lon), Number(current.lat));
                    var overlays = this.map.getOverlays();
                    var point = new BMap.Point(b_lon_lat[0],b_lon_lat[1]);
                    if(overlays.length <= 1){
                        this.markerIns = new BMap.Marker(point);
                        this.map.addOverlay(this.markerIns);
                    }
                    this.markerIns.setPosition(point);
                    this.map.setZoom(18);
                    this.map.setCenter(point);

                    this.imageAndVideoList = this.getImageAndVideoList(current);
                    
                },

                getMediaTypeWithIndex(data, filetype, index)
                {
                    var playURL = null;
                    var foundCount = 0;
                    for(var i = 1 ; i < 5 ; i++ ){
                        var attachfile = data['attachfile'+i];
                        if(attachfile && data['attachstatus' + i] === 1){
                            if(data['attachfiletype'+i] === filetype){
                                foundCount++;
                                if(foundCount === index)
                                {
                                    playURL = this.playRootPath + attachfile;
                                    break;
                                }
                            }
                        };
                    }
                    return playURL;
                },
                getImageAndVideoList:function(data){
                    var defaultUrl = './images/tv_default.jpg';
                    var imageAndVideoList = [];
                    var videoUrl = this.getMediaTypeWithIndex(data,2,1);
                    var imageUrl1 = this.getMediaTypeWithIndex(data,0,1);
                    var imageUrl2 = this.getMediaTypeWithIndex(data,0,2);
                    var imageUrl3 = this.getMediaTypeWithIndex(data,0,3);
                    if(videoUrl){
                        imageAndVideoList.push({
                            image:false,
                            videoUrl:videoUrl
                        })
                    }else{
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:defaultUrl
                        }) 
                    };
                    if(imageUrl1){
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:imageUrl1
                        })
                    }else{
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:defaultUrl
                        }) 
                    };
                    if(imageUrl2){
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:imageUrl2
                        })
                    }else{
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:defaultUrl
                        }) 
                    };
                    if(imageUrl3){
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:imageUrl3
                        })
                    }else{
                        imageAndVideoList.push({
                            image:true,
                            imageUrl:defaultUrl
                        }) 
                    };
                    return imageAndVideoList;
                },
                queryAddress:function(callon,callat,callback){
                    var b_lon_lat = wgs84tobd09(Number(callon), Number(callat));
                    utils.getBaiduAddressFromBaidu(b_lon_lat[0], b_lon_lat[1], function (b_address) {
                        if (b_address.length) {
                            callback(b_address);
                        } else {
                            utils.getJiuHuAddressSyn(callon,callat, function (resp) {
                                var j_address = resp.address;
                                callback(j_address);
                            })
                        }
                    });
                },
                getTableHeight:function(){
                    var wHeight = document.documentElement.clientHeight || document.body.clientHeight ;
                    return wHeight - 260;
                },
                handleAlarmEventClassify:function(alarmTypeObject, record){
                   var alarmevent = record.alarmevent;
                   var eventList = alarmTypeObject[alarmevent];
                   if(eventList === undefined)
                   {
                        eventList = {};
                        eventList.records = [];
                        eventList.startalarmtime = 0;
                        eventList.endalarmtime = 0;
                        eventList.startspeed = 0;
                        eventList.endspeed = 0;
                        eventList.alarmcount = 0; 
                        eventList.startlon = 0;
                        eventList.startlat = 0;
                        eventList.endlat = 0;
                        eventList.endlon = 0;
                        eventList.alarmevent = alarmevent;
                        eventList.alarmlevel = record.alarmlevel;
                        alarmTypeObject[alarmevent] = eventList;
                   }

                   eventList.alarmcount++;
                   if(eventList.startalarmtime == 0)
                   {
                      eventList.startalarmtime = record.updatetime;
                      eventList.startspeed = record.speed;
                      eventList.startlat = record.lat;
                      eventList.startlon = record.lon;
                   }

                   if(eventList.endalarmtime == 0)
                   {
                      eventList.endalarmtime = record.updatetime;
                      eventList.endspeed = record.speed;
                      eventList.endlat = record.lat;
                      eventList.endlon = record.lon;
                   }
                   if(eventList.startalarmtime > record.updatetime)
                   {
                     eventList.startalarmtime = record.updatetime;
                     eventList.startspeed = record.speed;
                      eventList.startlat = record.lat;
                      eventList.startlon = record.lon;
                   }
                   if(eventList.endalarmtime < record.updatetime)
                   {
                        eventList.endalarmtime = record.updatetime;
                        eventList.endspeed = record.speed;
                        eventList.endlat = record.lat;
                        eventList.endlon = record.lon;
                   }

                   eventList.records.push(record);
                },
                handleAlarmTypeClassify:function(records){
                    var that = this;
                    that.recordsObj = {};
                    records.forEach(function (item) { 
                        var alarmTypeObject = that.recordsObj[item.alarmtype + ''];
                        if(alarmTypeObject === undefined){
                            alarmTypeObject = {};
                            that.recordsObj[item.alarmtype] =alarmTypeObject;
                        }
                        that.handleAlarmEventClassify(alarmTypeObject, item);
                    })

                    var eventList =  this.getEventList(that.recordsObj);

                    console.log('that.recordsObj', eventList);
                },
                getEventList:function(alarmTypeObject){
                    var abnormalDrivingList = [] , forwardAlarmList = [];
                    for(var key in alarmTypeObject){
                        if(key == 100){
                            var forwardAlarmObj = alarmTypeObject[key];
                            for(var k in forwardAlarmObj){
                                var item = forwardAlarmObj[k];
                                var callat= item.endlat.toFixed(5);
                                var callon= item.endlon.toFixed(5);
                                var address =  LocalCacheMgr.getAddress(callon, callat);
                                item.address = address;
                                item.disabled = address ? true : false;
                                forwardAlarmList.push(item);
                            }
                        }else if(key == 101){
                            var abnormalDriving = alarmTypeObject[key];
                            for(var k in abnormalDriving){
                                var item = abnormalDriving[k];
                                var callat= item.endlat.toFixed(5);
                                var callon= item.endlon.toFixed(5);
                                var address =  LocalCacheMgr.getAddress(callon, callat);
                                item.address = address;
                                item.disabled = address ? true : false;
                                abnormalDrivingList.push(item);
                            }
                        }
                    }
                    this.abnormalDrivingList = abnormalDrivingList;
                    return {
                        abnormalDrivingList:abnormalDrivingList,
                        forwardAlarmList:forwardAlarmList,
                    }
                },
                queryActiveSafety:function() {
                    var url = myUrls.queryActiveSafetyTrack() , that = this;
                    var data = {
                        deviceid:deviceid,
                        // begintime:'2019-11-28 00:00:00',
                        // endtime:'2019-11-28 23:59:59',
                        begintime:DateFormat.format(new Date(),'yyyy-MM-dd')+' 00:00:00',
                        endtime:DateFormat.format(new Date(),'yyyy-MM-dd')+' 23:59:59',
                        timezone : 8
                    };
                    utils.sendAjax(url,data,function (resp) { 
                        if(resp.status == 0){
                            var records = resp.records;
                            if(records.length){
                                records.sort(function (a,b) { return a.updatetime - b.updatetime;});
                                that.playRootPath = resp.playrootpath;
                                that.handleAlarmTypeClassify(records);
                            }else{
                                that.$Message.error('没有数据'); 
                            }
                        }else{
                            that.$Message.error('查询失败');
                        }
                    })
                },
                initApp:function(){
                    this.initMap();
                    this.tableHeight = this.getTableHeight();
                    this.queryActiveSafety();
                    document.getElementById('mask-wrapper').style.display = 'none';
                }
            },
            computed:{
                videoStyle:function(){
                    var videoWrapper = this.$refs.videoWrapper;
                    console.log('videoWrapper', videoWrapper);
                    return {
                        width:(getComputedStyle(videoWrapper).width / 2 ) + 'px',
                        height:(getComputedStyle(videoWrapper).height / 2) + 'px',
                    }
                }
            },
            mounted :function() {
                this.map = null;
                this.initApp();
            },
        })
    </script>
</body>
</html>