<!DOCTYPE html>
<html lang="en">
<head>
    <title>九户定位平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./images/icon.png" />
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_772555_nzbdg8254zn.css">
    <script src="js/js.cookie.min.js"></script>
    <script>
        var token = Cookies.get("token");
        if(token == undefined){
            window.location.href = "index.html";
        };
    </script>
    <script src="js/config.js"></script>
</head>
<body>
    <div id="app">
        <div class="header-wraper">
            <app-header @change-nav="changeComponent" @change-tree="changeNav" @change-intervaltime="changeInterval" :componentid="componentId"></app-header>
        </div>
        <div class="view-wraper">
            <keep-alive exclude="monitor">
                <component :is="componentId" ref="my-component"></component>
            </keep-alive> 
        </div>
    </div>

      
    <!-- 头部模版 -->
    <script type="text/template-v" id="header-template">
        <div class="app-header">
            <div class="logo">
                <!-- <Icon type="ios-planet" style="vertical-align:top;font-size:50px;margin-top:2px"></Icon> -->
                <img src="images/logo.png" width="50px" height="50px" style="display:inline-block;margin-top:5px" />
                <span style="font-size:18px;vertical-align:top;">位置信息服务平台</span>
            </div>
            <div class="app-nav">
                <i-menu mode="horizontal" theme="dark" :active-name="componentid" v-on:on-select="changeNav">
                        <menuItem name="monitor" v-show="isShowMonitor">
                            <Icon type="md-contacts"></Icon> 
                            定位监控
                        </menuItem>
                        <menuItem name="reportForm" v-show="isShowReportForm">
                            <Icon type="ios-paper-outline"></Icon>
                            统计报表
                        </menuItem>
                        <menuItem name="bgManager" v-show="isShowBgManager">  
                            <Icon type="md-settings"></Icon>
                            后台管理
                        </menuItem>
                </i-menu>
            </div>
            <div class="site_links">
                <ul>
                    <li>
                        您好! {{name}}
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span><Icon type="md-create" style="margin-right:3px"></Icon>修改密码</span>
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="showSetup"><Icon type="ios-hammer-outline" style="margin-right:3px"></Icon>设置</span> 
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="loginOut"><Icon type="ios-power" style="margin-right:3px"></Icon>退出</span>
                    </li>
                </ul>
            </div>

            <Modal v-model="modal" width="460" class-name="vertical-center-modal">
                <p slot="header" style="color:#2D8CF0;text-align:center">
                    <Icon type="ios-hammer-outline"></Icon>
                    <span>设置</span>
                </p>
                <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">显示分组所属客户 : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <i-switch v-model="isShowCompany" @on-change="changeShowCompany" />
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">刷新间隔(最小5秒) : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <input-number :max="1800" :min="5" v-model="intervalTime"></input-number>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer"></div>
            </Modal>
        </div>
    </script>

    <!-- 定位监控 -->
    <script type="text/template-v" id="monitor-template">
        <div class="monitor-wraper">
            <div class="devices-container">
                <div class="device-contorller">
                    <ul class="device-state">
                        <li :class="{active:selectedState=='all'}" @click="selectedStateNav('all')">
                            <p class="p-icon"><Icon :size="24" type="ios-apps"/></p>
                            <p class="dev-count">全部({{allDevCount}})</p>  
                        </li>
                        <li :class="{active:selectedState=='online'}" @click="selectedStateNav('online')">
                            <p class="p-icon"><Icon :size="24" type="md-checkmark-circle" /></p> 
                            <p class="dev-count">在线({{onlineDevCount}})</p>
                        </li>
                        <li :class="{active:selectedState=='offline'}" @click="selectedStateNav('offline')">
                            <p class="p-icon"><Icon :size="24" type="ios-information-circle" /></p> 
                            <p class="dev-count">离线({{offlineDevCount}})</p>
                        </li>
                    </li>
                    <div class="device-soso">
                        <AutoComplete
                            v-model="sosoValue"
                            :data="sosoData"
                            icon="ios-search"
                            :filter-method="filterMethod"
                            @on-select="sosoSelect"
                            placeholder="输入您要搜索的设备"
                            style="width:100%">
                        </AutoComplete>
                    </div>
                </div>
                <div class="device-tree">
                    <Tree :data="currentStateData" :render="renderContent"></Tree>
                </div>
            </div>
            <div class="map-wraper">
                <div style="width:100%;height:100%;" id="map"></div>
            </div>    
        </div>
    </script>

    <!-- 统计报表 -->
    <script type="text/template-v" id="report-template">
        <div class="report-wraper full">
            <div class="report-left-wrap"></div>
            <div class="report-right-wrap"></div>
        </div>
    </script>
    
    <!-- 后台管理 -->
    <script type="text/template-v" id="manager-template">
        <div class="manager-wraper">
            <div class="mar-nav">
                    <i-menu :theme="theme" @on-select="selectditem">
                        <template v-for="(group,index) in navList">
                            <Submenu :name="group.name" :key="index">
                                    <template slot="title">
                                        <Icon :type="group.icon"></Icon>
                                        <span>{{ group.title}}</span>
                                    </template>
                                    <template v-for="(item,idx) in group.children">
                                        <MenuItem :name="item.name" :key="idx">
                                            <Icon :type="item.icon"></Icon>
                                            {{item.title}}
                                        </MenuItem>
                                    </template>
                            </Submenu>
                        </template>
                    </i-menu>
            </div>
            <div class="mar-view" id="mar-view"></div>
        </div>
    </script>

    <script src="dist/vue.min.js"></script>
    <script src="dist/vue-router.min.js"></script>
    <script src="dist/vuex.min.js"></script>
    <script src="js/vue-i18n.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/language.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.md5.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/util.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script src="js/main.js"></script>
</body>
</html>