<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/js.cookie.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script>
        var token = Cookies.get("token");
        if (token == undefined) {
            window.location.href = "index.html";
        };
    </script>
</head>

<body>
    <!-- root -->
    <div id="app">
        <div class="header-wraper">
            <app-header @change-nav="changeComponent" :componentid="activeName"></app-header>
        </div>
        <div class="view-wraper">
            <component :is="activeName" ref="my-component" @jump-report="jumpReport"></component>
            <!-- <keep-alive exclude="monitor">
            </keep-alive> -->
        </div>
        <waring-component v-if="isShowAlarm"></waring-component>
    </div>


    <!-- 头部模版 -->
    <script type="text/x-template" id="header-template">
        <div class="app-header">
            <div class="logo">
                <!-- <Icon type="ios-planet" style="vertical-align:top;font-size:50px;margin-top:2px"></Icon> -->
                <img src="images/logo.png" width="50px" height="50px" style="display:inline-block;margin-top:5px" />
                <span style="font-size:18px;vertical-align:top;">{{$t("login.title")}}</span>
            </div>
            <div class="app-nav">
                <i-menu mode="horizontal" theme="dark" :active-name="componentid" v-on:on-select="changeNav">
                        <template v-for="item in headMenuList" :key="item.name">
                            <menuItem :name="item.name" v-show="item.isShow">  
                                <Icon :type="item.icon"></Icon>
                                {{item.title}}
                            </menuItem> 
                        </template>
                </i-menu>
            </div>
            <div class="site_links">
                <ul>
                    <li>
                        {{$t("header.hello")}}! {{name}}
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span  @click="changePassword"><Icon type="md-create" style="margin-right:3px"></Icon>{{$t("header.changePwd")}}</span>
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="showSetup"><Icon type="ios-hammer-outline" style="margin-right:3px"></Icon>{{$t("header.setting")}}</span> 
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="logout"><Icon type="ios-power" style="margin-right:3px"></Icon>{{$t("header.logout")}}</span>
                    </li>
                </ul>
            </div>

            <Modal v-model="modal" width="460">
                <p slot="header" style="color:#2D8CF0;text-align:center">
                    <Icon type="ios-hammer-outline"></Icon>
                    <span>{{$t("header.setting")}}</span>
                </p>
                <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">{{$t("header.showCustomer")}} : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <i-switch v-model="isShowCompany" @on-change="changeShowCompany" />
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">{{$t("header.setIntaival")}} : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <input-number :max="1800" :min="5" v-model="intervalTime"></input-number>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer" style="padding:12.5px 0;"></div>
            </Modal>

            <Modal v-model="modalPass" width="510">
                <p slot="header" style="color:#2D8CF0;text-align:center">
                    <Icon type="ios-hammer-outline"></Icon>
                    <span>{{$t("header.changePwd")}}</span>
                </p>
                <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("header.oldPwd")}}  : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="oldPass"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("header.newPwd")}}  : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="newPass" type="password"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("header.confirmPwd")}} : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="confirmPass" type="password"></i-input>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer" >
                    <i-button style="width: 100%" @click="changeUserPass" type="primary">{{$t("header.submit")}}</i-button>
                </div>
            </Modal>
        </div>
    </script>

    <!-- 定位监控 -->
    <script type="text/x-template" id="monitor-template">
        <div class="monitor-wraper">
            <div class="devices-container">
                <div class="device-contorller">
                    <ul class="device-state">
                        <li :class="{active:selectedState=='all'}" @click="selectedStateNav('all')">
                            <p class="p-icon"><Icon :size="24" type="ios-apps"/></p>
                            <p class="dev-count">{{$t("monitor.all")}}({{allDevCount}})</p>  
                        </li>
                        <li :class="{active:selectedState=='online'}" @click="selectedStateNav('online')">
                            <p class="p-icon"><Icon :size="24" type="md-checkmark-circle" /></p> 
                            <p class="dev-count">{{$t("monitor.online")}}({{onlineDevCount}})</p>
                        </li>
                        <li :class="{active:selectedState=='offline'}" @click="selectedStateNav('offline')">
                            <p class="p-icon"><Icon :size="24" type="ios-information-circle" /></p> 
                            <p class="dev-count">{{$t("monitor.offline")}}({{offlineDevCount}})</p>
                        </li>
                    </li>
                    <div class="device-soso">
                         <div class="search-wrapper">
                            <i-input v-model.trim="sosoValue"  icon="ios-search-outline" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus" :placeholder="placeholder"></i-input>
                            <transition name="fade">
                                <ul class="search-item-wrapper" v-show="isShowMatchDev">
                                    <li  class="demo-auto-complete-item" v-for="item in filterData">
                                        <div class="demo-auto-complete-group">
                                            <span>{{ item.groupname }}</span>
                                        </div>
                                        <i-option v-for="option in item.devices" :value="option.groupname" :key="option.groupname">
                                            <span @click="sosoSelect(option)" class="demo-auto-complete-title">{{ option.devicename }}</span>
                                        </i-option>
                                    </li>
                                </ul>
                            </transition>
                        </div>
                    </div>
                </div>
                <div class="device-tree" ref="treeWraper">
                    <!-- <Tree :data="currentStateData" :render="renderContent"></Tree> -->
                    <!-- left tree controller 不显示公司名 -->
                    <dl class="noselect" v-if="!isShowConpanyName" class="dl-inner-wrapper">
                        <template v-for="(group , index) in currentStateData" :key="index">
                            <dt style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openGroupItem(group)">
                                <Icon type="ios-arrow-down" v-show="group.expand"/>
                                <Icon type="ios-arrow-forward" v-show="!group.expand"/>
                                <b v-text="group.title"></b>
                            </dt>
                            <dd style="padding:5px;border-bottom:1px solid #ddd" v-show="group.expand">
                                <div v-for="(device , index) in group.children" :key="device.deviceid" style="padding-left:15px">
                                    <div :class="{'active-dev-offline':device.isSelected}" style="margin:3px 0;" :ref="device.deviceid">
                                        <div style="padding:3px 5px;cursor: pointer;" :style="{color: device.isOnline ? '#33DAD0' : '#B1BBC2'}" @click="selectedDev(device)">
                                            <Icon type="md-person"/> 
                                            <span v-text="device.title"></span>   
                                        </div>
                                        <ul class="device-controller" v-show="device.isSelected">
                                            <li @click="editDevice(device)"><Icon type="ios-create"/><p>{{$t("monitor.edit")}}</p><li>
                                            <li @click="playBack(device.deviceid)"><Icon type="md-planet"/><p>{{$t("monitor.track")}}</p><li>
                                            <li @click="trackMap(device.deviceid)"><Icon type="md-person"/><p>{{$t("monitor.following")}}</p><li> 
                                            <li  @mouseover="handleMousemove($event)">
                                                <Dropdown trigger="click" transfer :placement="placement" @on-click="handleClickMore" style="width:100%;">
                                                    <Icon type="ios-list"/><p>{{$t("monitor.more")}}</p>
                                                    <i-dropdown-menu slot="list">
                                                        <DropdownItem name="name1"> 
                                                            <Dropdown transfer placement="right-start" @on-click="handleClickDirective" style="width:100%;">
                                                                {{$t("monitor.deviceCmd")}}
                                                                <Icon type="ios-arrow-forward"></Icon>
                                                                <i-dropdown-menu slot="list">
                                                                    <template v-for="(item, index) in currentDevDirectiveList" :key="item.cmdcode">
                                                                        <DropdownItem :name="item.cmdcode" >{{item.cmdname}}</DropdownItem>
                                                                    </template>
                                                                </i-dropdown-menu>
                                                            </Dropdown>                                                                                            
                                                        </DropdownItem>
                                                        <DropdownItem name="name2">  
                                                            <Dropdown transfer placement="right-start" @on-click="handleClickFence" style="width:100%;">
                                                                {{$t("monitor.siteProtection")}}
                                                                <Icon type="ios-arrow-forward"></Icon>
                                                                <i-dropdown-menu slot="list">                                                                         
                                                                    <DropdownItem name="shefang" >{{$t("monitor.fortify")}}</DropdownItem>
                                                                    <DropdownItem name="chexiao" >{{$t("monitor.cancel")}}</DropdownItem>
                                                                </i-dropdown-menu>
                                                            </Dropdown>
                                                        </DropdownItem>
                                                        <DropdownItem name="name3">{{$t("monitor.cmdRecord")}}</DropdownItem>
                                                        <DropdownItem name="name4">{{$t("monitor.recordForm")}}</DropdownItem>
                                                        <DropdownItem name="name5">{{$t("monitor.devBaseInfo")}}</DropdownItem>
                                                    </i-dropdown-menu>
                                                </Dropdown>
                                            <li> 
                                        </ul>
                                    </div>
                                </div>
                            </dd>
                        </template>
                    </dl>
                    <!-- left tree controller显示公司名 -->        
                    <dl class="noselect" v-else="!isShowConpanyName" class="dl-inner-wrapper">
                        <template v-for="(conpany , index) in currentStateData" :key="index">
                            <div style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openCanpany(conpany)">
                                {{conpany.title}} 
                                <span style="float:right;width:16px;height20px;font-size:16px;margin-top:-2px">
                                    <Icon type="ios-arrow-dropright" v-if="!conpany.expand"/>
                                    <Icon type="ios-arrow-dropdown" v-else="!conpany.expand"/> 
                                </span>
                            </div>
                            <template v-for="(group , index) in conpany.children" :key="index">
                                <div v-show="conpany.expand">
                                        <dt style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openGroupItem(group)">
                                                <Icon type="ios-arrow-down" v-show="group.expand"/>
                                                <Icon type="ios-arrow-forward" v-show="!group.expand"/>
                                                <b v-text="group.title"></b>
                                            </dt>
                                            <dd style="padding:5px;border-bottom:1px solid #ddd" v-show="group.expand">
                                                <div v-for="(device , index) in group.children" :key="device.deviceid" style="padding-left:15px">
                                                    <div :class="{'active-dev-offline':device.isSelected}" style="margin:3px 0;" :ref="device.deviceid">
                                                        <div style="padding:3px 5px;cursor: pointer;" :style="{color: device.isOnline ? '#33DAD0' : '#B1BBC2'}" @click="selectedDev(device)">
                                                            <Icon type="md-person"/> 
                                                            <span v-text="device.title"></span>   
                                                        </div>
                                                        <ul class="device-controller" v-show="device.isSelected">
                                                            <li @click="editDevice(device)"><Icon type="ios-create"/><p>{{$t("monitor.edit")}}</p><li>
                                                            <li @click="playBack(device.deviceid)"><Icon type="md-planet"/><p>{{$t("monitor.track")}}</p><li>
                                                            <li @click="trackMap(device.deviceid)"><Icon type="md-person"/><p>{{$t("monitor.following")}}</p><li> 
                                                                <li @mouseover="handleMousemove($event)">
                                                                    <Dropdown trigger="click" transfer :placement="placement" @on-click="handleClickMore">
                                                                                <Icon type="ios-list"/><p>{{$t("monitor.more")}}</p>
                                                                                <i-dropdown-menu slot="list">
                                                                                    <DropdownItem name="name1"  style="width:100%;">
                                                                                        <Dropdown transfer placement="right-start" @on-click="handleClickDirective">
                                                                                            {{$t("monitor.deviceCmd")}}
                                                                                            <Icon type="ios-arrow-forward"></Icon>
                                                                                            <i-dropdown-menu slot="list">
                                                                                                <template v-for="(item, index) in currentDevDirectiveList" :key="item.cmdcode">
                                                                                                    <DropdownItem :name="item.cmdcode" >{{item.cmdname}}</DropdownItem>
                                                                                                </template>
                                                                                            </i-dropdown-menu>
                                                                                        </Dropdown>
                                                                                    </DropdownItem>                                       
                                                                                    <DropdownItem name="name2">
                                                                                        <Dropdown transfer placement="right-start" @on-click="handleClickFence">
                                                                                            {{$t("monitor.siteProtection")}}
                                                                                            <Icon type="ios-arrow-forward"></Icon>
                                                                                            <i-dropdown-menu slot="list">                                                                         
                                                                                                <DropdownItem name="shefang" >{{$t("monitor.fortify")}}</DropdownItem>
                                                                                                <DropdownItem name="chexiao" >{{$t("monitor.cancel")}}</DropdownItem>
                                                                                            </i-dropdown-menu>
                                                                                        </Dropdown>
                                                                                    </DropdownItem>
                                                                                    <DropdownItem name="name3">{{$t("monitor.cmdRecord")}}</DropdownItem>
                                                                                    <DropdownItem name="name4">{{$t("monitor.recordForm")}}</DropdownItem>
                                                                                    <DropdownItem name="name5">{{$t("monitor.devBaseInfo")}}</DropdownItem>
                                                                                </i-dropdown-menu>
                                                                    </Dropdown>
                                                                <li> 
                                                        </ul>
                                                    </div>
                                                </div>
                                            </dd>
                                </div>
                            </template>
                        </template>
                    </dl>
                </div>
            </div>
            <div class="map-wraper">
                <div class="map_manager">
                    <div style="float:left;height:35px; line-height:35px;padding-left:15px;color:red;font-size:12px;">{{intervalTime}}{{$t("monitor.refreshAfter")}}</div>
                    <ul class="ul-manager-wraper">
                        <li class="maps">
                            <i-select v-model="mapType" size="small" style="width:100px">
                                <i-option v-for="item in mapList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                            </i-select>
                        </li>
                        <li class="gongju">
                            <Dropdown transfer>
                                <i-button type="primary" size="small">
                                    {{$t("monitor.tools")}}<Icon type="ios-arrow-down"></Icon>
                                </i-button>
                                <i-dropdown-menu slot="list">
                                    <DropdownItem name="name1">
                                        <i-button type="primary" @click.stop="openDistance" size="small">{{$t("monitor.ranging")}}</i-button>
                                    </DropdownItem>
                                </i-dropdown-menu>
                            </Dropdown>
                        </li>
                    </ul>
                </div>
                <div class="spin-wraper" v-show="isSpin">
                    <Spin fix size="large"></Spin>
                </div>
                <div id="my-map"></div>
            </div>
			<!-- 编辑设备模态 -->
            <Modal v-model="editDevModal" width="500">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="ios-create-outline"></Icon>
                    <span>{{$t("monitor.editDev")}}</span>
                </p>
                 <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("monitor.devName")}} : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="editDevData.devicename"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("monitor.phoneNumber")}} : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="editDevData.simnum"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                            <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("monitor.remarks")}} : &nbsp;</i-col>
                            <i-col span="16">
                                <i-input v-model.trim="editDevData.remark" type="textarea" :rows="4"></i-input>
                            </i-col>
                        </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary"  @click="handleEditDevFn" style="width: 100%">{{$t("monitor.confirm")}}</i-button>
                </div>
            </Modal>   

            <!-- 下发指令模态 -->
            <Modal v-model="dispatchDirectiveModal" width="460">
                    <p slot="header" style="color:#f60;text-align:center">
                        <Icon type="ios-create-outline"></Icon>
                        <span>{{ selectedCmdInfo.cmdName }}</span>
                    </p>

                    <div style="text-align:center" v-if="selectedCmdInfo.type === 'text'">
                        <Row style="margin: 10px 0">
                            <i-col span="24" style="height: 100%;text-align:center;line-height:32px;font-size:14px;">{{selectedCmdInfo.cmddescr}}</i-col>
                        </Row>
                        <Row style="margin: 10px 0" v-for="item in selectedCmdInfo.params" :key="item.desc">
                            <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{item.desc}} : &nbsp;</i-col>
                            <i-col span="16">
                                <i-input v-model.trim="cmdParams[item.type]"></i-input>
                            </i-col>
                        </Row>
                    </div>

                    <div style="text-align:center" v-if="selectedCmdInfo.type === 'list'">
                        <Row style="margin: 10px 0">
                            <i-col span="24" style="height: 100%;text-align:center;line-height:32px;font-size:14px;">{{selectedCmdInfo.cmddescr}}</i-col>
                        </Row>
                        <Row style="margin: 10px 0">
                            <i-col span="24">
                                <i-select v-model="selectedTypeVal">
                                    <i-option v-for="item in selectedCmdInfo.params" :value="item.type" :key="item.type">{{ item.value }}</i-option>
                                </i-select>
                            </i-col>
                        </Row>
                    </div>

                    <div style="text-align:center" v-else>
                        <Row style="margin: 10px 0">
                            <i-col span="24" style="height: 100%;text-align:center;line-height:32px;font-size:14px;">{{selectedCmdInfo.cmddescr}}</i-col>
                        </Row>
                    </div>

                    <div slot="footer">
                        <i-button type="primary"  @click="disposeDirectiveFn" style="width: 100%">{{$t("monitor.confirm")}}</i-button>
                    </div>
            </Modal>  

            <!-- 设备基本信息模态 -->
            <Modal v-model="deviceInfoModal" width="500">
                    <p slot="header" style="color:#f60;text-align:center">
                        <Icon type="ios-create-outline"></Icon>
                        <span>{{$t("monitor.devBaseInfo")}}</span>
                    </p>
                     <div style="text-align:center">
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.customer")}} : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.companyname}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.groupName")}} : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.groupname}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.devNumber")}} : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.deviceid}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.devName")}} : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.devicename}}     
                            </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.factoryNum")}} : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.manufactureid}}     
                                </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.clientType")}} : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.terminalmodelno}}     
                                </i-col>
                        </Row>
                        
                       
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.expireTime")}} : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.overdueDateStr}}     
                                </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">{{$t("monitor.phoneNumber")}}  : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.simnum}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">IMEI : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.imei}}     
                            </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">IMSI : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.simimsi}}     
                                </i-col>
                        </Row>  
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">ICCID : &nbsp;</i-col>
                                    <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                        {{deviceBaseInfo.simiccid}}     
                            </i-col>
                        </Row>                      
                    </div>
                    <div slot="footer">
                        <i-button type="primary"  @click="deviceInfoModal=false" style="width: 100%">{{$t("monitor.close")}}</i-button>
                    </div>
            </Modal>  

                        <!-- 电子围廊模态 -->
                        <Modal v-model="electronicFenceModal" width="460">
                                <p slot="header" style="color:#f60;text-align:center">
                                    <Icon type="ios-create-outline"></Icon>
                                    <span>{{$t("monitor.settingFence")}}</span>
                                </p>
                                 <div style="text-align:center">
                                    <Row style="margin: 10px 0">
                                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{$t("monitor.range")}} : &nbsp;</i-col>
                                        <i-col span="16">
                                            <i-input v-model.trim="fenceDistance"></i-input>
                                        </i-col>
                                    </Row>
                                </div>
                                <div slot="footer">
                                    <i-button type="primary"  @click="setFence" style="width: 100%">{{$t("monitor.confirm")}}</i-button>
                                </div>
                        </Modal> 
                    <!-- 指令记录 -->
                    <Modal v-model="directiveReportModal" width="860">
                            <p slot="header" style="color:#f60;text-align:center">
                                <Icon type="ios-create-outline"></Icon>
                                <span>{{currentDeviceName}} - {{$t("monitor.cmdRecord")}}</span>
                            </p>
                            <div>
                                <Tabs type="card">
                                    <tab-pane :label="$t('monitor.toSendCmd')">
                                        <i-table :columns="cacheColumns" height="280" :data="cacheTableData" :loading="loading"></i-table>
                                    </tab-pane>
                                    <tab-pane :label="$t('monitor.directivesSent')">
                                        <i-table :columns="sendColumns" height="280" :data="sendTableData" :loading="loading"></i-table>
                                    </tab-pane>
                                </Tabs>       
                            </div>
                            <div slot="footer">
                                <i-button type="primary"  @click="directiveReportModal = false" style="width: 100%">{{$t("monitor.confirm")}}</i-button>
                            </div>
                    </Modal> 
        </div>
    </script>

    <!-- 统计报表 -->
    <script type="text/x-template" id="report-template">
        <div class="report-wraper full">
            <div class="report-left-wrap">
                    <div class="mar-nav">
                            <i-menu :theme="theme" @on-select="selectditem" accordion>
                                <template v-for="(group,index) in reportNavList">
                                    <Submenu :name="group.name" :key="index">
                                            <template slot="title">
                                                <Icon :type="group.icon"></Icon>
                                                <span>{{ group.title}}</span>
                                            </template>
                                            <template v-for="(item,idx) in group.children">
                                                <MenuItem :name="item.name" :key="idx">
                                                    <Icon :type="item.icon"></Icon>
                                                    {{item.title}}
                                                </MenuItem>
                                            </template>
                                    </Submenu>
                                </template>
                            </i-menu>
                    </div>    
            </div>
            <div class="report-right-wrap" id="report-right-wrap"></div>
        </div>
    </script>

    <!-- 后台管理 -->
    <script type="text/x-template" id="manager-template">
        <div class="manager-wraper">
            <div class="mar-nav">
                    <i-menu :theme="theme" @on-select="selectditem" accordion>
                        <template v-for="(group,index) in navList">
                            <Submenu :name="group.name" :key="index">
                                    <template slot="title">
                                        <Icon :type="group.icon"></Icon>
                                        <span>{{ group.title}}</span>
                                    </template>
                                    <template v-for="(item,idx) in group.children">
                                        <MenuItem :name="item.name" :key="idx">
                                            <Icon :type="item.icon"></Icon>
                                            {{item.title}}
                                        </MenuItem>
                                    </template>
                            </Submenu>
                        </template>
                    </i-menu>
            </div>
            <div class="mar-view" id="mar-view"></div>
        </div>
    </script>

    <!-- 系统参数 -->
    <script type="text/x-template" id="systemparam-template"> 
        <div class="manager-wraper">
            <div class="mar-nav">
                <i-menu :theme="theme" @on-select="selectditem" accordion>
                    <template v-for="(group,index) in navList">
                        <Submenu :name="group.name" :key="index" v-if="group.children">
                            <template slot="title">
                                <Icon :type="group.icon"></Icon>
                                <span>{{ group.title}}</span>
                            </template>
                            <template v-for="(item,idx) in group.children">
                                <MenuItem :name="item.name" :key="idx">
                                    <Icon :type="item.icon"></Icon>
                                    {{item.title}}
                                </MenuItem>
                            </template>
                        </Submenu>

                        <MenuItem :name="group.name" v-else="group.children">
                            <Icon :type="group.icon" />
                            <span>{{ group.title}}</span>
                        </MenuItem>
                    </template>
                </i-menu>
            </div>
            <div class="mar-view" id="system-view"></div>
        </div>
    </script>

    <!-- 报警 -->
    <script type="text/x-template" id="waring-template">
        <div class="waring-wraper" :style="waringWraperStyle">
            <ul class="waring-controller" v-show="isLargen == 0">
                <li style="width:68px;border-left:1px solid #fff; "><span :class="{msgwaring:isWaring,msgnormal:!isWaring}">{{$t("alarm.message")}}</span></li>
                <li style="width:60px;cursor: pointer;border-right:1px solid #fff;">
                    <span @click="changeLargen(1)" :title="$t('alarm.open')"><Icon type="ios-browsers-outline" :size="14" /></span> 
                    <span @click="changeLargen(2)" :title="$t('alarm.max')" style="margin-left:10px;"><Icon type="ios-square-outline" :size="16"/></span>
                </li>   
            </ul>
            <div class="msg_main" v-show="isLargen !== 0">
                <div class="msg_header">
                    <ul>
                        <li :class="{selected:index == 1}" @click="changeComponent(1)">{{$t("alarm.alarmMsg")}}</li>
                        <li :class="{selected:index == 2}" @click="changeComponent(2)">{{$t("alarm.devMsg")}}</li>
                        <li @click="filterWaringType"> [{{$t("alarm.filterAlarmType")}}] </li>
                    </ul> 
                    <div class="shrink-btn">
                        <span @click="changeLargen(0)" :title="$t('alarm.min')">
                            <Icon type="md-remove" />
                        </span>
                        <span @click="changeLargen2()">     
                            <Icon type="ios-browsers-outline" :title="$t('alarm.changeWin')" />
                        </span>
                    </div>
                </div>
                <div class="msg_content">
                    <keep-alive>
                        <component 
                            :is="componentName" 
                            :tabletype="isLargen"
                            :waringrecords="waringRecords" 
                            :wrapperheight="wrapperHeight"
                            :deviceinfolist="overdueDevice" 
                            @deletemsg="deleteMsg"
                            @showdisposemodal="showDisposeModalFrame">
                        </component>
                    </keep-alive>
                </div>
            </div>

            <!-- 过滤报警模态 -->
            <Modal v-model="waringModal" width="600">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>{{$t('alarm.filterAlarmTitle')}}</span>
                </p>
                <div>
                    <Row style="margin: 10px 0" v-for="(item,index) in alarmTypeList" :key="index">
                        <i-col span="8" v-for="(type , index) in item" :key="type.alarmcode">
                            <Checkbox  v-model="checkboxObj[type.alarmcode]" >{{ isZh ? type.alarmname : type.alarmcode}}</Checkbox>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary"  @click="saveReqMsgParameter" style="width: 100%">{{$t("monitor.confirm")}}</i-button>
                </div>
            </Modal>

            <!-- 接触报警模态 -->
            <Modal v-model="disposeModal" width="560">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>{{$t('alarm.releaseAlarmTitle')}}</span>
                </p>
                <div>
                    <Row style="margin: 10px 0">
                        <i-col span="22" :offset="2">
                            <RadioGroup v-model="disposeAlarm"  style="width:100%">
                                <Row v-for="(item,index) in alarmCmdList" :key="index" style="width:100%">
                                    <i-col v-for="(cmd,index) in item" :key="cmd.cmdname" :span="6">
                                        <Radio :label="cmd.cmdcode">{{cmd.cmdname}}</Radio>
                                    </i-col>
                                </Row> 
                            </RadioGroup>
                        </i-col>
                    </Row>

                    <Row style="margin: 10px 0" v-for="item in paramsInputList" :key="item.text" v-if="type=='text'">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;{{item.text}} : &nbsp;
                        </i-col>
                        <i-col span="16">
                            <i-input v-model.trim="paramsInputObj[item.type]"></i-input>
                        </i-col>
                    </Row>

                    <Row style="margin: 10px 0"  v-else-if="type=='list'">
                        <i-col span="16" :offset="4">
                            <i-select v-model="selectedTypeVal">
                                <i-option v-for="item in paramsInputList" :value="item.type" :key="item.type">{{ item.value }}</i-option>
                            </i-select>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary" style="width: 100%" @click="sendDisposeWaring">{{$t("monitor.confirm")}}</i-button>
                </div>
            </Modal>
        </div>
    </script>

    <!-- 选择车辆组件 -->
    <script type="text/x-template" id="tree-demo-template"> 
        <div class="tree-demo-wraper">
           <div class="toggle-header-wraper"
                v-click-outside.capture="onClickOutside"
                >
                <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div> 
                <div style="position:relative;width: 300px;">
                    <Input type="text" v-model="something" readonly @on-focus="onFocus"></Input>
                    <div class="tree-wrapper" v-show="visibleTree">
                        <Tree :data="groupslist" @on-check-change="onCheckChange" show-checkbox ref="treeRef"></Tree>
                    </div>
                </div> 
           </div>
        </div>
    </script>
    <script src="dist/vue.min.js"></script>
    <script src="dist/vuex.min.js"></script>
    <script src="js/v-click-outside-x.js"></script>
    <script src="js/vue-i18n.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/zh-CN.js"></script>
    <script src="js/en-US.js"></script>
    <script src="js/msgmgr.js"></script>
    <script src="js/config.js"></script>
    <script src="js/pinyinhanzi.js"></script>
    <script src="js/alrammgr.js"></script>
    <script src="js/language.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.md5.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/util.js"></script>
    <script src="js/websocketmgr.js"></script>
    <script src="js/baidumap.js"></script>
    <script src="js/googlemap.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/reportform.js"></script>
    <script src="js/bgmanager.js"></script>
    <script src="js/alarmcomponent.js"></script>
    <script src="js/main.js"></script>
</body>

</html>