<!DOCTYPE html>
<html lang="en">

<head>
    <title>位置信息服务平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/js.cookie.min.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script>
        var token = Cookies.get("token");
        if (token == undefined) {
            window.location.href = "index.html";
        };
    </script>
    <script src="js/config.js"></script>
    <script src="js/pinyinhanzi.js"></script>
    <script src="js/alrammgr.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
</head>

<body>
    <!-- root -->
    <div id="app">
        <div class="header-wraper">
            <app-header @change-nav="changeComponent" :componentid="activeName"></app-header>
        </div>
        <div class="view-wraper">
            <keep-alive exclude="monitor">
                <component :is="activeName" ref="my-component" @jump-report="jumpReport"></component>
            </keep-alive>
        </div>
        <waring-component></waring-component>
    </div>


    <!-- 头部模版 -->
    <script type="text/x-template" id="header-template">
        <div class="app-header">
            <div class="logo">
                <!-- <Icon type="ios-planet" style="vertical-align:top;font-size:50px;margin-top:2px"></Icon> -->
                <img src="images/logo.png" width="50px" height="50px" style="display:inline-block;margin-top:5px" />
                <span style="font-size:18px;vertical-align:top;">位置信息服务平台</span>
            </div>
            <div class="app-nav">
                <i-menu mode="horizontal" theme="dark" :active-name="componentid" v-on:on-select="changeNav">
                        <template v-for="item in headMenuList" :key="item.name">
                            <menuItem :name="item.name" v-show="item.isShow">  
                                <Icon :type="item.icon"></Icon>
                                {{item.title}}
                            </menuItem> 
                        </template>
                </i-menu>
            </div>
            <div class="site_links">

                <ul>
                    <li>
                        您好! {{name}}
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span  @click="changePassword"><Icon type="md-create" style="margin-right:3px"></Icon>修改密码</span>
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="showSetup"><Icon type="ios-hammer-outline" style="margin-right:3px"></Icon>设置</span> 
                    </li>
                    <li style="padding:0">|</li>
                    <li>
                        <span @click="logout"><Icon type="ios-power" style="margin-right:3px"></Icon>退出</span>
                    </li>
                </ul>
            </div>

            <Modal v-model="modal" width="460">
                <p slot="header" style="color:#2D8CF0;text-align:center">
                    <Icon type="ios-hammer-outline"></Icon>
                    <span>设置</span>
                </p>
                <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">显示分组所属客户 : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <i-switch v-model="isShowCompany" @on-change="changeShowCompany" />
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="8" style="height: 100%;text-align:right;line-height:32px;">刷新间隔(最小5秒) : &nbsp;</i-col>
                        <i-col span="16" style="height: 100%;line-height:32px;">
                            <input-number :max="1800" :min="5" v-model="intervalTime"></input-number>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer" style="padding:12.5px 0;"></div>
            </Modal>

            <Modal v-model="modalPass" width="460">
                <p slot="header" style="color:#2D8CF0;text-align:center">
                    <Icon type="ios-hammer-outline"></Icon>
                    <span>修改密码</span>
                </p>
                <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">旧密码 : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="oldPass"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">新密码 : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="newPass" type="password"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">确认密码 : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="confirmPass" type="password"></i-input>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer" >
                    <i-button style="width: 100%" @click="changeUserPass" type="primary">确认修改</i-button>
                </div>
            </Modal>
        </div>
    </script>

    <!-- 定位监控 -->
    <script type="text/x-template" id="monitor-template">
        <div class="monitor-wraper">
            <div class="devices-container">
                <div class="device-contorller">
                    <ul class="device-state">
                        <li :class="{active:selectedState=='all'}" @click="selectedStateNav('all')">
                            <p class="p-icon"><Icon :size="24" type="ios-apps"/></p>
                            <p class="dev-count">全部({{allDevCount}})</p>  
                        </li>
                        <li :class="{active:selectedState=='online'}" @click="selectedStateNav('online')">
                            <p class="p-icon"><Icon :size="24" type="md-checkmark-circle" /></p> 
                            <p class="dev-count">在线({{onlineDevCount}})</p>
                        </li>
                        <li :class="{active:selectedState=='offline'}" @click="selectedStateNav('offline')">
                            <p class="p-icon"><Icon :size="24" type="ios-information-circle" /></p> 
                            <p class="dev-count">离线({{offlineDevCount}})</p>
                        </li>
                    </li>
                    <div class="device-soso">
                         <div class="search-wrapper">
                            <i-input v-model.trim="sosoValue"  icon="ios-search-outline" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus" placeholder="输入设备名称"></i-input>
                            <transition name="fade">
                                <ul class="search-item-wrapper" v-show="isShowMatchDev">
                                    <li  class="demo-auto-complete-item" v-for="item in filterData">
                                        <div class="demo-auto-complete-group">
                                            <span>{{ item.groupname }}</span>
                                        </div>
                                        <Option v-for="option in item.devices" :value="option.groupname" :key="option.groupname">
                                            <span @click="sosoSelect(option)" class="demo-auto-complete-title">{{ option.devicename }}</span>
                                        </Option>
                                    </li>
                                </ul>
                            </transition>
                        </div>
                    </div>
                </div>
                <div class="device-tree">
                    <!-- <Tree :data="currentStateData" :render="renderContent"></Tree> -->
                    <!-- left tree controller 不显示公司名 -->
                    <dl class="noselect" v-if="!isShowConpanyName" class="dl-inner-wrapper">
                        <template v-for="(group , index) in currentStateData" :key="index">
                            <dt style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openGroupItem(group)">
                                <Icon type="ios-arrow-down" v-show="group.expand"/>
                                <Icon type="ios-arrow-forward" v-show="!group.expand"/>
                                <b v-text="group.title"></b>
                            </dt>
                            <dd style="padding:5px;border-bottom:1px solid #ddd" v-show="group.expand">
                                <div v-for="(device , index) in group.children" :key="device.deviceid" style="padding-left:15px">
                                    <div :class="{'active-dev-offline':device.isSelected}" style="margin:3px 0;" :ref="device.deviceid">
                                        <div style="padding:3px 5px;cursor: pointer;" :style="{color: device.isOnline ? '#33DAD0' : '#B1BBC2'}" @click="selectedDev(device)">
                                            <Icon type="md-person"/> 
                                            <span v-text="device.title"></span>   
                                        </div>
                                        <ul class="device-controller" v-show="device.isSelected">
                                            <li @click="editDevice(device)"><Icon type="ios-create"/><p>编辑</p><li>
                                            <li @click="playBack(device.deviceid)"><Icon type="md-planet"/><p>轨迹</p><li>
                                            <li @click="trackMap(device.deviceid)"><Icon type="md-person"/><p>跟踪</p><li> 
                                            <li>
                                                <Dropdown trigger="click" transfer placement="right-start" @on-click="handleClickMore">
                                                    <Icon type="ios-list"/><p>更多</p>
                                                    <i-dropdown-menu slot="list">
                                                        <DropdownItem name="name1"> 
                                                            <Dropdown transfer placement="right-start" @on-click="handleClickDirective">
                                                                设备指令
                                                                <Icon type="ios-arrow-forward"></Icon>
                                                                <i-dropdown-menu slot="list">
                                                                    <template v-for="(item, index) in currentDevDirectiveList" :key="item.cmdcode">
                                                                        <DropdownItem :name="item.cmdcode" >{{item.cmdname}}</DropdownItem>
                                                                    </template>
                                                                </i-dropdown-menu>
                                                            </Dropdown>                                                                                            
                                                        </DropdownItem>
                                                        <DropdownItem name="name2">  
                                                            <Dropdown transfer placement="right-start" @on-click="handleClickFence">
                                                                原地设防
                                                                <Icon type="ios-arrow-forward"></Icon>
                                                                <i-dropdown-menu slot="list">                                                                         
                                                                    <DropdownItem name="shefang" >设防</DropdownItem>
                                                                    <DropdownItem name="chexiao" >撤销</DropdownItem>
                                                                </i-dropdown-menu>
                                                            </Dropdown>
                                                        </DropdownItem>
                                                        <DropdownItem name="name3">统计报表</DropdownItem>
                                                        <DropdownItem name="name4">设备基本信息</DropdownItem>
                                                    </i-dropdown-menu>
                                                </Dropdown>
                                            <li> 
                                        </ul>
                                    </div>
                                </div>
                            </dd>
                        </template>
                    </dl>
                    <!-- left tree controller显示公司名 -->        
                    <dl class="noselect" v-else="!isShowConpanyName" class="dl-inner-wrapper">
                        <template v-for="(conpany , index) in currentStateData" :key="index">
                            <div style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openCanpany(conpany)">
                                {{conpany.title}} 
                                <span style="float:right;width:16px;height20px;font-size:16px;margin-top:-2px">
                                    <Icon type="ios-arrow-dropright" v-if="!conpany.expand"/>
                                    <Icon type="ios-arrow-dropdown" v-else="!conpany.expand"/> 
                                </span>
                            </div>
                            <template v-for="(group , index) in conpany.children" :key="index">
                                <div v-show="conpany.expand">
                                        <dt style="padding:5px;border-bottom:1px solid #ddd;cursor: pointer;" @click="openGroupItem(group)">
                                                <Icon type="ios-arrow-down" v-show="group.expand"/>
                                                <Icon type="ios-arrow-forward" v-show="!group.expand"/>
                                                <b v-text="group.title"></b>
                                            </dt>
                                            <dd style="padding:5px;border-bottom:1px solid #ddd" v-show="group.expand">
                                                <div v-for="(device , index) in group.children" :key="device.deviceid" style="padding-left:15px">
                                                    <div :class="{'active-dev-offline':device.isSelected}" style="margin:3px 0;" :ref="device.deviceid">
                                                        <div style="padding:3px 5px;cursor: pointer;" :style="{color: device.isOnline ? '#33DAD0' : '#B1BBC2'}" @click="selectedDev(device)">
                                                            <Icon type="md-person"/> 
                                                            <span v-text="device.title"></span>   
                                                        </div>
                                                        <ul class="device-controller" v-show="device.isSelected">
                                                            <li @click="editDevice(device)"><Icon type="ios-create"/><p>编辑</p><li>
                                                            <li @click="playBack(device.deviceid)"><Icon type="md-planet"/><p>轨迹</p><li>
                                                            <li @click="trackMap(device.deviceid)"><Icon type="md-person"/><p>跟踪</p><li> 
                                                                <li>
                                                                    <Dropdown trigger="click" transfer placement="right-start" @on-click="handleClickMore">
                                                                                <Icon type="ios-list"/><p>更多</p>
                                                                                <i-dropdown-menu slot="list">
                                                                                    <DropdownItem name="name1">
                                                                                        <Dropdown transfer placement="right-start" @on-click="handleClickDirective">
                                                                                            设备指令
                                                                                            <Icon type="ios-arrow-forward"></Icon>
                                                                                            <i-dropdown-menu slot="list">
                                                                                                <template v-for="(item, index) in currentDevDirectiveList" :key="item.cmdcode">
                                                                                                    <DropdownItem :name="item.cmdcode" >{{item.cmdname}}</DropdownItem>
                                                                                                </template>
                                                                                            </i-dropdown-menu>
                                                                                        </Dropdown>
                                                                                    </DropdownItem>                                       
                                                                                    <DropdownItem name="name2">
                                                                                        <Dropdown transfer placement="right-start" @on-click="handleClickFence">
                                                                                            原地设防
                                                                                            <Icon type="ios-arrow-forward"></Icon>
                                                                                            <i-dropdown-menu slot="list">                                                                         
                                                                                                <DropdownItem name="shefang" >设防</DropdownItem>
                                                                                                <DropdownItem name="chexiao" >撤销</DropdownItem>
                                                                                            </i-dropdown-menu>
                                                                                        </Dropdown>
                                                                                    </DropdownItem>
                                                                                    <DropdownItem name="name3">统计报表</DropdownItem>
                                                                                    <DropdownItem name="name4">设备基本信息</DropdownItem>
                                                                                </i-dropdown-menu>
                                                                    </Dropdown>
                                                                <li> 
                                                        </ul>
                                                    </div>
                                                </div>
                                            </dd>
                                </div>
                            </template>
                        </template>
                    </dl>
                </div>
            </div>
            <div class="map-wraper">
                <div class="map_manager">
                    <div style="float:left;height:35px; line-height:35px;padding-left:15px;color:red;font-size:12px;">{{intervalTime}}秒后刷新</div>
                    <ul class="ul-manager-wraper">
                        <li class="gongju">
                            <Dropdown transfer>
                                <i-button type="text">
                                    工具
                                    <Icon type="ios-arrow-down"></Icon>
                                </i-button>
                                <i-dropdown-menu slot="list">
                                    <DropdownItem name="name1">
                                        <i-button type="primary" @click.stop="openDistance" size="small">测距</i-button>
                                    </DropdownItem>
                                </i-dropdown-menu>
                            </Dropdown>
                        </li>
                    </ul>
                </div>
                <div id="map"></div>
            </div>
			<!-- 编辑设备模态 -->
            <Modal v-model="editDevModal" width="460">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="ios-create-outline"></Icon>
                    <span>编辑设备</span>
                </p>
                 <div style="text-align:center">
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">设备名称 : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="editDevData.devicename"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">SIM卡号 : &nbsp;</i-col>
                        <i-col span="16">
                            <i-input v-model.trim="editDevData.simnum"></i-input>
                        </i-col>
                    </Row>
                    <Row style="margin: 10px 0">
                            <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">备注 : &nbsp;</i-col>
                            <i-col span="16">
                                <i-input v-model.trim="editDevData.remark" type="textarea" :rows="4"></i-input>
                            </i-col>
                        </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary"  @click="handleEditDevFn" style="width: 100%">确定</i-button>
                </div>
            </Modal>   

            <!-- 下发指令模态 -->
            <Modal v-model="dispatchDirectiveModal" width="460">
                    <p slot="header" style="color:#f60;text-align:center">
                        <Icon type="ios-create-outline"></Icon>
                        <span>{{ selectedCmdInfo.cmdName }}</span>
                    </p>
                     <div style="text-align:center">
                        <Row style="margin: 10px 0">
                            <i-col span="24" style="height: 100%;text-align:center;line-height:32px;font-size:14px;">{{selectedCmdInfo.cmddescr}}</i-col>
                        </Row>
                        <Row style="margin: 10px 0" v-for="item in selectedCmdInfo.params" :key="item.desc">
                            <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">{{item.desc}} : &nbsp;</i-col>
                            <i-col span="16">
                                <i-input v-model.trim="cmdParams[item.type]"></i-input>
                            </i-col>
                        </Row>
                    </div>
                    <div slot="footer">
                        <i-button type="primary"  @click="disposeDirectiveFn" style="width: 100%">确定</i-button>
                    </div>
            </Modal>  

            <!-- 设备基本信息模态 -->
            <Modal v-model="deviceInfoModal" width="460">
                    <p slot="header" style="color:#f60;text-align:center">
                        <Icon type="ios-create-outline"></Icon>
                        <span>设备基本信息</span>
                    </p>
                     <div style="text-align:center">
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">所属客户 : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.companyname}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">分组名称 : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.groupname}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">设备序号 : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.deviceid}}     
                            </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">设备名称 : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.devicename}}     
                            </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">厂商编号 : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.manufactureid}}     
                                </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">终端型号 : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.terminalmodelno}}     
                                </i-col>
                        </Row>
                        
                       
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">到期时间 : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.overdueDateStr}}     
                                </i-col>
                        </Row>
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">SIM卡号 : &nbsp;</i-col>
                            <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                {{deviceBaseInfo.simnum}}     
                            </i-col>
                        </Row>
                        <Row>
                                <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">IMSI : &nbsp;</i-col>
                                <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                    {{deviceBaseInfo.simimsi}}     
                                </i-col>
                        </Row>  
                        <Row>
                            <i-col span="5" style="height: 100%;text-align:right;line-height:25px;">ICCID : &nbsp;</i-col>
                                    <i-col span="16" style="height: 100%;line-height:25px;text-align:left;">
                                        {{deviceBaseInfo.simiccid}}     
                            </i-col>
                        </Row>                      
                    </div>
                    <div slot="footer">
                        <i-button type="primary"  @click="deviceInfoModal=false" style="width: 100%">关闭</i-button>
                    </div>
            </Modal>  

                        <!-- 电子围廊模态 -->
                        <Modal v-model="electronicFenceModal" width="460">
                                <p slot="header" style="color:#f60;text-align:center">
                                    <Icon type="ios-create-outline"></Icon>
                                    <span>设置电子围栏</span>
                                </p>
                                 <div style="text-align:center">
                                    <Row style="margin: 10px 0">
                                        <i-col span="5" style="height: 100%;text-align:right;line-height:32px;">范围(米) : &nbsp;</i-col>
                                        <i-col span="16">
                                            <i-input v-model.trim="fenceDistance"></i-input>
                                        </i-col>
                                    </Row>
                                </div>
                                <div slot="footer">
                                    <i-button type="primary"  @click="setFence" style="width: 100%">确定</i-button>
                                </div>
                        </Modal> 
        </div>
    </script>

    <!-- 统计报表 -->
    <script type="text/x-template" id="report-template">
        <div class="report-wraper full">
            <div class="report-left-wrap">
                    <div class="mar-nav">
                            <i-menu :theme="theme" @on-select="selectditem">
                                <template v-for="(group,index) in reportNavList">
                                    <Submenu :name="group.name" :key="index">
                                            <template slot="title">
                                                <Icon :type="group.icon"></Icon>
                                                <span>{{ group.title}}</span>
                                            </template>
                                            <template v-for="(item,idx) in group.children">
                                                <MenuItem :name="item.name" :key="idx">
                                                    <Icon :type="item.icon"></Icon>
                                                    {{item.title}}
                                                </MenuItem>
                                            </template>
                                    </Submenu>
                                </template>
                            </i-menu>
                    </div>    
            </div>
            <div class="report-right-wrap"></div>
        </div>
    </script>

    <!-- 后台管理 -->
    <script type="text/x-template" id="manager-template">
        <div class="manager-wraper">
            <div class="mar-nav">
                    <i-menu :theme="theme" @on-select="selectditem">
                        <template v-for="(group,index) in navList">
                            <Submenu :name="group.name" :key="index">
                                    <template slot="title">
                                        <Icon :type="group.icon"></Icon>
                                        <span>{{ group.title}}</span>
                                    </template>
                                    <template v-for="(item,idx) in group.children">
                                        <MenuItem :name="item.name" :key="idx">
                                            <Icon :type="item.icon"></Icon>
                                            {{item.title}}
                                        </MenuItem>
                                    </template>
                            </Submenu>
                        </template>
                    </i-menu>
            </div>
            <div class="mar-view" id="mar-view"></div>
        </div>
    </script>

    <!-- 系统参数 -->
    <script type="text/x-template" id="systemparam-template"> 
        <div class="manager-wraper">
            <div class="mar-nav">
                    <i-menu :theme="theme" @on-select="selectditem">
                        <template v-for="(group,index) in navList">
                            <Submenu :name="group.name" :key="index" v-if="group.children">
                                    <template slot="title">
                                        <Icon :type="group.icon"></Icon>
                                        <span>{{ group.title}}</span>
                                    </template>
                                    <template v-for="(item,idx) in group.children">
                                        <MenuItem :name="item.name" :key="idx">
                                            <Icon :type="item.icon"></Icon>
                                            {{item.title}}
                                        </MenuItem>
                                    </template>
                            </Submenu>

                            <MenuItem :name="group.name" v-else="group.children">
                                <Icon :type="group.icon" />
                                <span>{{ group.title}}</span>
                            </MenuItem>
                        </template>
                    </i-menu>
            </div>
            <div class="mar-view" id="system-view"></div>
        </div>
    </script>

    <!-- 报警 -->
    <script type="text/x-template" id="waring-template">
        <div class="waring-wraper" :style="waringWraperStyle">
            <ul class="waring-controller" v-show="isLargen == 0">
                <li style="width:68px;border-left:1px solid #fff; "><span :class="{msgwaring:isWaring,msgnormal:!isWaring}">消息</span></li>
                <li style="width:60px;cursor: pointer;border-right:1px solid #fff;">
                    <span @click="changeLargen(1)" title="展开"><Icon type="ios-browsers-outline" :size="14" /></span> 
                    <span @click="changeLargen(2)" title="最大化" style="margin-left:10px;"><Icon type="ios-square-outline" :size="16"/></span>
                </li>   
            </ul>
            <div class="msg_main" v-show="isLargen !== 0">
                <div class="msg_header">
                    <ul>
                        <li :class="{selected:index == 1}" @click="changeComponent(1)">报警信息</li>
                        <li :class="{selected:index == 2}" @click="changeComponent(2)">设备信息</li>
                        <li style="width:95px;margin-left:10px;" @click="filterWaringType"> [过滤报警类型] </li>
                    </ul> 
                    <div class="shrink-btn">
                        <span @click="changeLargen(0)" title="最小化">
                            <Icon type="md-remove" />
                        </span>
                        <span @click="changeLargen2()">     
                            <Icon type="ios-browsers-outline" title="切换窗口" />
                        </span>
                    </div>
                </div>
                <div class="msg_content">
                    <keep-alive>
                        <component 
                            :is="componentName" 
                            :tabletype="isLargen"
                            :waringrecords="waringRecords" 
                            :wrapperheight="wrapperHeight"
                            :deviceinfolist="overdueDevice" 
                            @showdisposemodal="showDisposeModalFrame">
                        </component>
                    </keep-alive>
                </div>
            </div>

            <!-- 过滤报警模态 -->
            <Modal v-model="waringModal" width="600">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>过滤器报警</span>
                </p>
                <div>
                    <Row style="margin: 10px 0" v-for="(item,index) in alarmTypeList" :key="index">
                        <i-col span="8" v-for="(type , index) in item" :key="type.alarmcode">
                            <Checkbox  v-model="checkboxObj[type.alarmcode]" >{{type.alarmname}}</Checkbox>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary"  @click="saveReqMsgParameter" style="width: 100%">确定</i-button>
                </div>
            </Modal>

            <!-- 接触报警模态 -->
            <Modal v-model="disposeModal" width="560">
                <p slot="header" style="color:#f60;text-align:center">
                    <Icon type="information-circled"></Icon>
                    <span>解除报警</span>
                </p>
                <div>
                    <Row style="margin: 10px 0">
                        <i-col span="22" :offset="2">
                            <RadioGroup v-model="disposeAlarm"  style="width:100%">
                                <Row v-for="(item,index) in alarmCmdList" :key="index" style="width:100%">
                                    <i-col v-for="(cmd,index) in item" :key="cmd.cmdname" :span="6">
                                        <Radio :label="cmd.cmdcode">{{cmd.cmdname}}</Radio>
                                    </i-col>
                                </Row> 
                            </RadioGroup>
                        </i-col>
                    </Row>

                    <Row style="margin: 10px 0" v-for="item in paramsInputList" :key="item.text">
                        <i-col span="4" style="height: 100%;text-align:right;line-height:32px;">
                            <i style="color: red;display: inline-block;">*</i>&nbsp;{{item.text}} : &nbsp;
                        </i-col>
                        <i-col span="16">
                            <i-input v-model.trim="paramsInputObj[item.type]"></i-input>
                        </i-col>
                    </Row>
                </div>
                <div slot="footer">
                    <i-button type="primary" style="width: 100%" @click="sendDisposeWaring">确定</i-button>
                </div>
            </Modal>
        </div>
    </script>

    <script src="dist/vue.min.js"></script>
    <script src="dist/vuex.min.js"></script>
    <script src="js/vue-i18n.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/language.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.md5.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/util.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script src="js/websocketmgr.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/reportform.js"></script>
    <script src="js/bgmanager.js"></script>
    <script src="js/alarmcomponent.js"></script>
    <script src="js/main.js"></script>
</body>

</html>