<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>轨迹回放</title>
    <link rel="stylesheet" href="dist/styles/iview.css">
    <style>
        html,
        body,
        #container,
        #bmap {
            width: 100%;
            height: 100%;
            position: relative;
        }

        div.controller {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 500px;
            height: 300px;
            line-height: 60px;
            background: #E8F0F7;
            border: 1px solid #C3CEDE;
        }
        div.right-button-wrap{
            position: absolute;
            right: 10px;
            top: 10px;
            width: 80px;
            height: 35px;
            cursor: pointer;
        }
        div.right-button-wrap img{
            width: 100%;
            height: 100%;
            border: 0;
        }
        label.BMapLabel::after {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent red transparent transparent;
            position: absolute;
            margin-left: -19px;
            margin-top: -42px;
        }

        .guiji_sanjiao {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #666 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -76px;
        }

        .guiji_sanjiao_2 {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #F7F8F9 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -76px;
        }

        p.last-address{
            white-space:normal;
            width:296px;
            height: 36px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    </style>
    <script src="js/js.cookie.min.js"></script>
    <script>
        var token = Cookies.get("token");
    </script>
</head>

<body>
    <div id="container">
        <div id="bmap"></div>
        <div class="right-button-wrap" @click="changePosiType">
            <img v-if="isExtract" src="./images/ic_fine_network_off.png">
            <img v-else src="./images/ic_fine_network_on.png">
        </div>
        <div class="controller">
            <i-row>
                <i-col :span="4" style="text-align: center;">选择时间 : &nbsp;</i-col>
                <i-col :span="11">
                    <date-picker type="date" style="width: 100%" v-model="startTime"  :clearable="false" :editable="false"></date-picker>
                </i-col>
                <i-col :span="4" style="text-align: center">
                    <i-button @click="prevDay">上一天</i-button>
                </i-col>
                <i-col :span="4" style="text-align: center">
                    <i-button @click="nextDay">下一天</i-button>
                </i-col>
            </i-row>

            <i-row>
                <i-col :span="9" style="text-align: center">开始时间 : {{startTimeStr}} </i-col>
                <i-col :span="9" style="text-align: center">结束时间 : {{endTimeStr}} </i-col>
                <i-col :span="5" style="text-align: center">
                    <i-button @click="sosoTracks">搜索轨迹</i-button>
                </i-col>
                <i-col :span="1">&nbsp;</i-col>
            </i-row>

            <div>

                <i-row>
                    <i-col :span="4" style="line-height:60px;text-align:center;"> 播放速度 : &nbsp;</i-col>
                    <i-col :span="18" style="height:60px; padding-top: 12px;">
                        <Slider v-model="velocity" :min="100" :max="5000" show-input :step="100"></Slider>
                    </i-col>
                    <i-col :span="2" style="line-height:60px;text-align:center;"> 毫秒 </i-col>
                </i-row>
            </div>

            <i-row>
                <i-col :span="6" :offset="3" style="padding:0 5px">
                    <i-button style="width: 100%" @click="beginPlay">播放</i-button>
                </i-col>
                <i-col :span="6" style="padding:0 5px">
                    <i-button style="width: 100%" @click="pause">暂停</i-button>
                </i-col>
                <i-col :span="6" style="padding:0 5px">
                    <i-button style="width: 100%" @click="replay">重播</i-button>
                </i-col>
            </i-row>
            <i-row>
                    <i-col :span="6" :offset="3" style="padding:0 5px">
                        <i-button style="width: 100%" @click="prevStep">上一步</i-button>
                    </i-col>
                    <i-col :span="6" style="padding:0 5px">
                        <i-button style="width: 100%" @click="pause">
                            {{ isExtract ? (extractRecords.length == 0 ? 0 : index + 1) :  (records.length == 0 ? 0 : index + 1)}} 
                            / 
                            {{ isExtract ? extractRecords.length : records.length }}
                        </i-button>
                    </i-col>
                    <i-col :span="6" style="padding:0 5px">
                        <i-button style="width: 100%" @click="nextStep">下一步</i-button>
                    </i-col>
            </i-row>
        </div>
        <Modal v-model="modal" width="560">
            <p slot="header" style="color:#2D8CF0;text-align:center">
                <Icon type="ios-hammer-outline"></Icon>
                <span>基站列表</span>
            </p>
            <div style="text-align:center">
               <p style="margin: 10px 0;">x : {{xList}}</p>
               <p style="margin: 10px 0;">w : {{wList}}</p>
            </div>
        </Modal>
        <Spin size="large" fix v-if="spinShow"></Spin>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/config.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/util.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
    <script>
        var currentTrack = null;
        var vm = null;
        function queryTrackDetail(deviceid){
            var data = {
                deviceid:deviceid,
                arrivedtime:currentTrack.arrivedtime,
                trackid:currentTrack.trackid
            };
            var url = myUrls.queryTrackDetail();
            utils.sendAjax(url,data,function (resp) { 
                if(resp.status == 0 ){
                    vm.xList = resp.track.x ? resp.track.x : '空';
                    vm.wList = resp.track.w ? resp.track.x : '空';
                    vm.modal = true;
                }else{
                    vm.$Message.error("请求失败");
                }
            });
        };

        function refreshTrackPosition(deviceid) { 
            var data = {
                deviceid:deviceid,
                arrivedtime:currentTrack.arrivedtime,
                trackid:currentTrack.trackid
            };
            var url = myUrls.refreshTrackPosition();
            utils.sendAjax(url,data,function (resp) { 
                if(resp.status === 0){
                    vm.$Message.success("刷新成功");
                }else{
                    vm.$Message.error(resp.cause);
                }
            });
        }
        (function () {   //utils.getAngle
            var carIcon = new BMap.Icon("images/carstate/green_0.gif", new BMap.Size(17, 17), { imageOffset: new BMap.Size(0, 0) });
            var startIcon = new BMap.Icon("./images/map/marker_qidian.png", new BMap.Size(32, 32), { imageOffset: new BMap.Size(0, 0) });
            var endIcon = new BMap.Icon("./images/map/marker_zhongdian.png", new BMap.Size(32, 32), { imageOffset: new BMap.Size(0, 0) });
                vm = new Vue({
                el: "#container",
                data: {
                    map: null,
                    selectDate: null,
                    dayTime: 60 * 60 * 24 * 1000,
                    lock: false,
                    deviceid: null,
                    startTime: null,
                    startTimeStr: "",
                    endTimeStr: "",
                    len: null,
                    spinShow: false,
                    isExtract:false,
                    records: [],
                    extractRecords:[],//精确位置
                    markers:[],
                    range: 1,             // 范围1米之内的点不显示
                    velocity: 1000,         // 半秒
                    intervalInstanse: null,
                    carMarker: null,
                    markerLabel: null,
                    index: 0,
                    isPlay: true,
                    firstMarker: null,
                    lastMakrker: null,
                    polyline: null,
                    modal:false,
                    xList:'',
                    wList:''
                },
                methods: {
                    initMap: function () {
                        this.map = new BMap.Map("bmap", { minZoom: 4, maxZoom: 18 ,enableMapClick: false });
                        this.map.enableScrollWheelZoom();
                        this.map.enableAutoResize();
                        this.map.disableDoubleClickZoom();
                        this.map.centerAndZoom(new BMap.Point(108.0017245, 35.926895), 5);
                    },
                    changeVelocity: function (value) {
                        this.velocity = value;
                    },
                    changePosiType:function(){
                        clearInterval(this.intervalInstanse);
                        this.isExtract = !this.isExtract;
                        this.resetMapState();
                        this.drawingLine();
                    },
                    getRequestBeginAndEndTimeStr: function () {
                        var requestTimeStrArr = [];
                        var beginTimeStr = DateFormat.longToDateTimeStr(this.startTime.getTime(), 0);
                        var endTimeStr = DateFormat.longToDateTimeStr(this.endTime.getTime(), 0);

                        if (beginTimeStr.indexOf("00:00:00") != -1) {
                            requestTimeStrArr.push({ begintime: this.getDayBeginTimeStr(this.startTime.getTime()), endtime: this.getDayEndTimeStr(this.startTime.getTime()) });
                        } else {
                            requestTimeStrArr.push({ begintime: beginTimeStr, endtime: this.getDayEndTimeStr(this.startTime.getTime()) });
                        }

                        if (endTimeStr.indexOf("00:00:00") != -1) {
                            requestTimeStrArr.push({ begintime: this.getDayBeginTimeStr(this.endTime.getTime()), endtime: this.getDayEndTimeStr(this.endTime.getTime()) });
                        } else {
                            requestTimeStrArr.push({ begintime: this.getDayBeginTimeStr(this.endTime.getTime()), endtime: endTimeStr });
                        }
                        return requestTimeStrArr;
                    },
                    getMiddleDayReqParameter: function () {
                        var beginDateStr = DateFormat.longToDateStr(this.startTime.getTime(), 8);
                        var endDateStr = DateFormat.longToDateStr(this.endTime.getTime(), 8);
                        var beginDateStrTime = DateFormat.dateStrToLong(beginDateStr, 0) - 3600 * 1000 * 8 + this.dayTime;
                        var endDateStrTime = DateFormat.dateStrToLong(endDateStr, 0) - 3600 * 1000 * 8 - this.dayTime;
                        if (beginDateStrTime == endDateStrTime) {
                            return [{
                                begintime: this.getDayBeginTimeStr(beginDateStrTime),
                                endtime: this.getDayEndTimeStr(beginDateStrTime)
                            }];
                        } else {
                            var timeStrList = this.getTimeStrObj(beginDateStrTime, endDateStrTime);
                            return timeStrList;
                        }
                    },
                    getTimeStrObj: function (beginTime, endTime) {
                        var timeStrList = [];
                        do {
                            var timeStrObj = {
                                begintime: this.getDayBeginTimeStr(endTime),
                                endtime: this.getDayEndTimeStr(endTime)
                            };
                            timeStrList.push(timeStrObj);
                            endTime = endTime - this.dayTime;
                        }
                        while (endTime >= beginTime);
                        return timeStrList;
                    },
                    getDayBeginTimeStr: function (beginTime) {
                        var timeStr = DateFormat.longToDateStr(beginTime, 8);
                        var time = DateFormat.dateStrToLong(timeStr, 0) - 3600 * 1000 * 8;
                        return DateFormat.longToDateTimeStr(time, 0);
                    },
                    getDayEndTimeStr: function (endTime) {
                        var timeStr = DateFormat.longToDateStr(endTime, 8);
                        var time = DateFormat.dateStrToLong(timeStr, 0) + this.dayTime - 1000 - 3600 * 1000 * 8;
                        return DateFormat.longToDateTimeStr(time, 0);
                    },
                    nextDay:function(){
                        this.startTime = new Date(this.startTime.getTime() + this.dayTime);
                    },
                    prevDay:function(){
                        this.startTime = new Date(this.startTime - this.dayTime);
                    },
                    prevStep:function(){
                        if (this.intervalInstanse != null) {
                            clearInterval(this.intervalInstanse);
                        };
                        this.index--;
                        if(this.isExtract){
                            if(this.index < 0 ){
                                this.index = this.extractRecords.length - 1;
                            }
                            var track = this.extractRecords[this.index];
                        }else{
                            if(this.index < 0 ){
                                this.index = this.records.length - 1;
                            }
                            var track = this.records[this.index];
                        }
                  
                        var marker = this.getPointMarker();
                        this.openInfoWindow(marker,track);
                    },
                    nextStep:function(){
                        if (this.intervalInstanse != null) {
                            clearInterval(this.intervalInstanse);
                        };
                        this.index++;
                        if(this.isExtract){
                             if(this.index > this.extractRecords.length-1){
                                this.index = 0;
                            }
                            var track = this.extractRecords[this.index];
                        }else{
                           if(this.index > this.records.length-1){
                                this.index = 0;
                            }
                            var track = this.records[this.index];
                        }
                        var marker = this.getPointMarker();
                        this.openInfoWindow(marker,track);
                    },
                    getPointMarker:function(){
                        var index = this.index;
                        var marker = null;

                        for(var i = 0 ;  i < this.markers.length ; i ++){

                            marker = this.markers[i];
                            if(marker.index == index){
                                return marker;
                            }
                        }
                    },
                    sosoTracks: function () {
                        var me = this;
                        me.resetMapState();

                        me.requestTracks(this.startTimeStr, this.endTimeStr, function (resp) {
                            var records = resp.records;
                            me.spinShow = false;
                            if (resp.status == 0 && records) { 
                                records.sort(function (a, b) {
                                    return a.arrivedtime - b.arrivedtime;
                                });
                                me.filtertracks(records);
                                me.drawingLine();
                            }else  if (resp.status == 3 ) {
                                me.$Message.error(resp.cause);
                            }else{
                                me.$Message.error("没有当天轨迹");
                            } 
                        });

                    },
                    requestTracks: function (beginTime, endtime, callback) {
                        this.spinShow = true;
                        var me = this;
                        var url = myUrls.queryTracks();
                        var data = {
                            deviceid: this.deviceid,
                            lbs: 1,
                            timeorder: 0,
                            begintime: beginTime,
                            endtime: endtime
                        };
                        utils.sendAjax(url, data, function (resp) {
                            callback(resp)
                        });
                    },
                    filtertracks: function (records) {
                        var extractRecords = [];
                        var newRecords = [];
                        for (var i = 0; i < records.length; i++) {
                            var track = records[i];
                            var direction = utils.getAngle(track.course);
                            var lng_lat = wgs84tobd09(track.callon, track.callat);
                            track.direction = direction;
                            track.point = new BMap.Point(lng_lat[0], lng_lat[1]);
                            newRecords.push(track);
                            if(track.gotsrc == "gps"){
                                extractRecords.push(track);
                            }
                        };
                        this.records = newRecords;
                        this.extractRecords = extractRecords;
                        console.log(newRecords,extractRecords);
                    },
                    drawingLine: function () {
                        var records = this.getTypeRecords();
                 
                        if (records.length > 1) {
                        
                            var firstRecord = records[0];
                            var lastRecord = records[records.length - 1];
                            this.firstMarker = new BMap.Marker(firstRecord.point, { icon: startIcon });
                            this.lastMakrker = new BMap.Marker(lastRecord.point, { icon: endIcon });
                            this.firstMarker.index = 0;
                            this.lastMakrker.index = records.length-1;
                       
                            this.map.addOverlay(this.firstMarker);
                            this.map.addOverlay(this.lastMakrker);
                            this.addEventListenerToMarker(this.firstMarker);
                            this.addEventListenerToMarker(this.lastMakrker);

                            var lines = [];

                            for (var i = 0; i < records.length; i++) {
                                var point = records[i].point;
                                lines.push(point);
                                 
                                if(i !=0 && i != records.length-1){
                                    var makrker = new BMap.Marker(point);
                                    this.map.addOverlay(makrker);
                                    makrker.index = i;
                                    this.markers.push(makrker);
                                    this.addEventListenerToMarker(makrker);
                                }
                            };
                            this.markers.unshift(this.firstMarker);
                            this.markers.push(this.lastMakrker);

                            this.polyline = new BMap.Polyline(lines, { strokeColor: "#e4393c", strokeWeight: 3, strokeOpacity: 1.5 });
                            this.map.addOverlay(this.polyline);
                            // 设置中心点
                            this.setViewPortCenter(lines);
                            this.runAnimeate(records);
                        }else if(records.length == 1){
                                var lastRecord = records[records.length - 1];
                                this.firstMarker = new BMap.Marker(lastRecord.point, { icon: endIcon });
                                
                                this.map.addOverlay(this.firstMarker);
                                var lines = [];

                                for (var i = 0; i < records.length; i++) {
                                    lines.push(records[i].point);
                                };
                  
                                 // 设置中心点
                                this.setViewPortCenter(lines);
                                this.runAnimeate(records);
                        };
                        
                    },
                    addEventListenerToMarker:function(marker){
                        var me = this;
                        marker.addEventListener("click",function () { 
                            var index = marker.index;
                            var track = (function () { 
                                var track = null;
                                if(me.isExtract){
                                    track = me.extractRecords[index];
                                }else{
                                    track = me.records[index];
                                }
                                return track;
                            })();

                            me.index = index;
                            me.openInfoWindow(marker,track);
                        });
                    },
                    openInfoWindow:function(marker,track){
                        var sContent = this.getLableContent(track);
                        var windowInfo = new BMap.InfoWindow(sContent);
                            windowInfo.disableCloseOnClick();
                            marker.openInfoWindow(windowInfo);
                            this.carMarker.setPosition(track.point);
                            this.carMarker.setIcon(this.getDirectionIcon(track.direction));
                    },
                    setViewPortCenter: function (lines) {
                        var view = this.map.getViewport(eval(lines));
                        var mapZoom = view.zoom;
                        var centerPoint = view.center;
                        this.map.centerAndZoom(centerPoint, mapZoom);
                    },
                    runAnimeate: function (records) {
                        var firstRecord = records[0];
                        var lableOptions = {
                            position: firstRecord.point,
                            offset: new BMap.Size(30, -60)
                        };
                        this.carMarker = new BMap.Marker(firstRecord.point, { icon: carIcon });
                        this.map.addOverlay(this.carMarker);
                        this.openInfoWindow(this.firstMarker,firstRecord);
                    },
                    getTypeRecords:function(){
                        var records = null;
                        if(this.isExtract){
                            records = this.extractRecords;
                        }else{
                            records = this.records;
                        };

                        return records;
                    },
                    action: function () {
                        var me = this;
                        var records = this.getTypeRecords();
                        if(records.length){
                            var paths = records.length;
                            if (me.intervalInstanse != null) {
                                clearInterval(me.intervalInstanse);
                            };
                            me.intervalInstanse = setInterval(function () {
                                me.index++;
                                if (me.index >= paths) {
                                    clearInterval(me.intervalInstanse);
                                    me.index = 0;
                                    me.openInfoWindow(me.firstMarker,records[me.index]);
                                };
                                var track = records[me.index];
                                me.carMarker.setPosition(track.point);
                                me.carMarker.setIcon(me.getDirectionIcon(track.direction));
                                // me.markerLabel.setContent(me.getLableContent(track));
                                var sContent = me.getLableContent(track);
                                var windowInfo = new BMap.InfoWindow(sContent);
                                me.carMarker.openInfoWindow(windowInfo);

                            }, me.velocity);
                        };
                    },
                    replay: function () {
                        this.index = 0;
                        var records = this.getTypeRecords();   
                        if (!this.isPlay) {
                            this.isPlay = true;
                        }
                        if (records.length < 2) { return; }
                        this.action();
                    },
                    beginPlay: function () {
                        var records = this.getTypeRecords();
                        if (records.length < 2) { return; }
                        this.isPlay = true;
                        this.action();
                    },
                    pause: function () {
                        this.isPlay = false;
                        clearInterval(this.intervalInstanse);
                    },
                    getLableContent: function (info) {
                        currentTrack = info;
                        var address = this.getAddress(info);
                        var sContent = '<div style="max-width:296px;">' +
                            '<p> 设备序号: ' + this.deviceid + '</p>' +
                            '<p> 经纬度: ' + info.callon.toFixed(6) + "," + info.callat.toFixed(6)  + '</p>' +
                            '<p> 角度: ' + utils.getAngle(info.course) + '</p>' +
                            '<p> 最后时间: ' + DateFormat.longToDateTimeStr(info.arrivedtime, 0) + '</p>' +
                            '<p class="last-address"> 详细地址: ' + address + '</p>'+
                            '<p>'+
                                '<span style="margin-right:5px;" class="ivu-btn ivu-btn-default ivu-btn-small" onclick="queryTrackDetail(' + this.deviceid +')">轨迹细节</span>'+
                                '<span class="ivu-btn ivu-btn-default ivu-btn-small" onclick="refreshTrackPosition(' +this.deviceid +')">刷新位置</span>'+
                            '</p>'+
                            '</div>';
                        return sContent;
                    },
                    getAddress: function (info) {
                        var callon = info.callon;
                        var callat = info.callat;
                        var bd09 = wgs84tobd09(callon, callat)
                        var lng = bd09[0].toFixed(5);
                        var lat = bd09[1].toFixed(5);
                        var address = LocalCacheMgr.getAddress(lng, lat);
                        if (address !== null) {
                            return address;
                        }
                        utils.getBaiduAddressFromBaidu(lng, lat, function (resp) {

                            if (resp.length) {
                                address = resp;
                                $("p.last-address").html(" 详细地址: " + address);
                                LocalCacheMgr.setAddress(lng, lat, address);
                            } else {
                                utils.getJiuHuAddressSyn(callon, callat, function (resp) {
                                    address = resp.address
                                    $("p.last-address").html(" 详细地址: " + address);
                                    LocalCacheMgr.setAddress(lng, lat, address);
                                });
                            }

                        });
                        return "地址正在解析..."
                    },
                    resetMapState: function () {
                        if (this.carMarker) {
                            this.map.removeOverlay(this.carMarker);
                            this.carMarker = null;
                        };
                        if (this.markers.length) {
                            for(var i = 0 ; i < this.markers.length ; i++ ){
                                this.map.removeOverlay(this.markers[i]);
                            }
                            this.markers = [];
                            this.firstMarker = null;
                            this.lastMakrker = null;
                        };

                        if (this.polyline) {
                            this.map.removeOverlay(this.polyline);
                            this.polyline = null;
                        };
                        if (this.markerLabel) {
                            this.map.removeOverlay(this.markerLabel);
                            this.markerLabel = null;
                        };
                        if (this.intervalInstanse) {
                            clearInterval(this.intervalInstanse);
                            this.intervalInstanse = null;
                        };
                        this.index = 0;
                        // this.records = [];
                        // this.extractRecords = [];    
                        // var centerPoint = this.map.getCenter();
                        // if (this.map.getZoom() != 5 || centerPoint.lng !== 108.0017245 || centerPoint.lat !== 35.926895) {
                        //     this.map.centerAndZoom(new BMap.Point(108.0017245, 35.926895), 5);
                        // };
                    },
                    getDirectionIcon: function (angle) {
                        return new BMap.Icon("images/carstate/green_" + angle + ".gif", new BMap.Size(17, 17), { imageOffset: new BMap.Size(0, 0) });
                    }
                },
                computed: {
                    token: function () {
                        return Cookies.get("token");
                    }
                },
                watch: {
                    startTime: function () {
                        var date = this.startTime;
                        var year = date.getFullYear();
                        var month = date.getMonth() + 1;
                        var day = date.getDate();
                        var dateStr = year + "-" + (month<10?'0'+month:month) + "-" + (day<10?'0'+day:day);
                        this.startTimeStr = dateStr + " 00:00:00";
                        this.endTimeStr = dateStr + " 23:59:00";
                    },
                    velocity: function () {
                        this.action();
                    }
                },
                mounted: function () {
                    this.initMap();
                    var deviceid = utils.getParameterByName("deviceid");
                    this.startTime = new Date();
                    if (deviceid) {
                        this.deviceid = deviceid;
                    } else {
                        this.$Message.error("设备序号不能为空!");
                    };
                }
            });
        })();
    </script>
</body>

</html>