<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>轨迹回放</title>
    <link rel="stylesheet" href="dist/styles/iview.css">
    <style>
        html,body,#container,#bmap{
            width: 100%;
            height: 100%;  
            position: relative;
        }
        div.controller{
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 500px;
            height: 180px;
            line-height: 60px;
            background: #E8F0F7; 
            border:1px solid #C3CEDE; 
        }
        label.BMapLabel::after{
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent red transparent transparent;
            position: absolute;
            margin-left: -19px;
            margin-top: -42px;
        }
        .guiji_sanjiao {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #666 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -42px;
        }
        .guiji_sanjiao_2 {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #F7F8F9 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -42px;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="bmap"></div>
        <div class="controller">
            <i-row>
                <i-col :span="4" style="text-align: right">
                    选择时间 : &nbsp;
                </i-col>
                <i-col :span="20">
                    <date-picker type="datetimerange" :editable="false" :options="dateOptions" v-model="selectDate" placeholder="请选择时间" style="width: 300px"></date-picker>  
                    <i-button @click="sosoTracks">搜索轨迹</i-button>   
                </i-col>
            <i-row>
            <i-row>
                <i-col :span="4" style="line-height:60px;text-align:right;"> 播放速度 : &nbsp;</i-col>
                <i-col :span="18" style="height:60px; padding-top: 12px;">
                    <Slider v-model="velocity" :min="100" :max="5000" show-input :step="100"></Slider>
                </i-col>    
                <i-col :span="2" style="line-height:60px;text-align:center;"> 毫秒 </i-col>
            <i-row>
            <i-row>

                <i-col :span="6" :offset="3" style="padding:0 5px">
                    <i-button style="width: 100%" @click="beginPlay">播放</i-button>
                </i-col>
                <i-col :span="6" style="padding:0 5px">
                    <i-button style="width: 100%" @click="pause">暂停</i-button>
                </i-col>    
                <i-col :span="6" style="padding:0 5px">
                    <i-button style="width: 100%" @click="replay">重播</i-button>
                </i-col>
            <i-row>    

        </div>
        <Spin size="large" fix v-if="spinShow"></Spin>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/util.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script>
        (function () { 
            var carIcon   = new BMap.Icon("images/carstate/green_0.gif", new BMap.Size(16, 16), { imageOffset: new BMap.Size(0, 0)});
            var startIcon = new BMap.Icon("./images/map/marker_qidian.png", new BMap.Size(32, 32), { imageOffset: new BMap.Size(0, 0)});
            var endIcon   = new BMap.Icon("./images/map/marker_zhongdian.png", new BMap.Size(32, 32), { imageOffset: new BMap.Size(0, 0)});
            var directionList = [ 0 , 45 , 90 , 135 , 180 , 225 , 270 , 315 ];
            var vm = new Vue({
                    el:"#container",
                    data:{
                        map:null,
                        dateOptions:{
                            disabledDate:function(date){
                                if(!date.length){
                                    var  time = date.getTime();
                                    var currentTime = Date.now();
                                    if(time <　currentTime){
                                        return false;
                                    }else{
                                        return true;
                                    }
                                }
                            }
                        },
                        selectDate:null,
                        dayTime:60*60*24*1000,   
                        lock:false,  
                        deviceid: null,
                        startTime: null,
                        endTime : null,
                        len : null ,
                        respCount:0,
                        spinShow:false,
                        records:[],
                        range:50,             // 范围50米之内的点不显示
                        velocity:500,         //半秒
                        intervalInstanse:null,
                        carMarker:null,
                        markerLabel:null,
                        index : 0,
                        isPlay:true,
                        firstMarker:null,
                        lastMakrker:null,
                        polyline:null
                    },
                    methods: {
                        initMap : function(){
                            this.map = new BMap.Map("bmap",{minZoom:4,maxZoom:18});
                            this.map.enableScrollWheelZoom();
                            this.map.enableAutoResize();
                            this.map.disableDoubleClickZoom();
                            this.map.centerAndZoom(new BMap.Point(108.0017245,35.926895),5);
                        },
                        changeVelocity:function(value){
                            this.velocity = value;
                        },
                        getRequestBeginAndEndTimeStr:function(){
                            var requestTimeStrArr = [];
                            var beginTimeStr = DateFormat.longToDateTimeStr(this.startTime,0);
                            var endTimeStr   = DateFormat.longToDateTimeStr(this.endTime,0);
                            
                            if(beginTimeStr.indexOf("00:00:00") != -1){
                                requestTimeStrArr.push({begintime:this.getDayBeginTimeStr(this.startTime),endtime:this.getDayEndTimeStr(this.startTime)});
                            }else{
                                requestTimeStrArr.push({begintime:beginTimeStr,endtime:this.getDayEndTimeStr(this.startTime)});
                            }

                            if(endTimeStr.indexOf("00:00:00") != -1){
                                requestTimeStrArr.push({begintime:this.getDayBeginTimeStr(this.endTime),endtime:this.getDayEndTimeStr(this.endTime)});  
                            }else{
                                requestTimeStrArr.push({begintime:this.getDayBeginTimeStr(this.endTime),endtime:endTimeStr});  
                            }
                            return requestTimeStrArr;
                        },
                        getMiddleDayReqParameter:function(){
                            var beginDateStr = DateFormat.longToDateStr(this.startTime,8);
                            var endDateStr   = DateFormat.longToDateStr(this.endTime,8);
                            var beginDateStrTime =  DateFormat.dateStrToLong(beginDateStr,0) - 3600*1000*8 + this.dayTime;  
                            var endDateStrTime   =  DateFormat.dateStrToLong(endDateStr,0) - 3600*1000*8 - this.dayTime;    
                            if(beginDateStrTime == endDateStrTime){
                                return [{
                                    begintime:this.getDayBeginTimeStr(beginDateStrTime),
                                    endtime:this.getDayEndTimeStr(beginDateStrTime)
                                }];
                            }else{
                                var timeStrList = this.getTimeStrObj(beginDateStrTime,endDateStrTime);
                                return timeStrList;
                            }
                        },
                        getTimeStrObj:function(beginTime,endTime){
                            var timeStrList = [];
                            do{
                                var timeStrObj = {
                                    begintime:this.getDayBeginTimeStr(endTime),
                                    endtime:this.getDayEndTimeStr(endTime)
                                };
                                timeStrList.push(timeStrObj);
                                endTime = endTime - this.dayTime;   
                            }
                            while (endTime>=beginTime);
                            return timeStrList;
                        },
                        getDayBeginTimeStr:function(beginTime){
                            var timeStr = DateFormat.longToDateStr(beginTime,8);
                            var time = DateFormat.dateStrToLong(timeStr,0) - 3600*1000*8;    
                            return  DateFormat.longToDateTimeStr(time,0);
                        },
                        getDayEndTimeStr:function(endTime){
                            var timeStr = DateFormat.longToDateStr(endTime,8);
                            var time = DateFormat.dateStrToLong(timeStr,0) + this.dayTime - 1000 - 3600*1000*8;                               
                            return DateFormat.longToDateTimeStr(time,0);
                        },
                        sosoTracks:function(){   
                            var me = this;
                                me.resetMapState();
                            if(this.lock){
                                if(!this.isPlay){
                                    this.isPlay = true;
                                };
               
                                var times = this.getRequestBeginAndEndTimeStr();
                                var begintime1 = times[0].begintime;
                                var endtime1   = times[0].endtime;
                                var begintime2 = times[1].begintime;
                                var endtime2   = times[1].endtime;
                                if(begintime1 == begintime2 && endtime1  == endtime2){
                                    me.len = 1;
                                    this.requestTracks(begintime1,endtime1,function (resp) { 
                                            if(resp.status == 0 && resp.records){
                                                resp.records.forEach(function (record) {
                                                    var direction = directionList[parseInt(Math.random()*8)];
                                                        record.direction = direction;
                                                        me.records.push(record);
                                                });     
                                            };

                                            if(me.respCount == me.len){
                                                me.spinShow = false;
                                                me.records.sort(function (a,b) { 
                                                    return a.arrivedtime - b.arrivedtime;
                                                });
                                                me.filtertracks();
                                                me.drawingLine();
                                            };
                                            
                                    });
                                }else{
                                    var beginDateStr = DateFormat.longToDateStr(this.startTime ,8);
                                    var endDateStr =   DateFormat.longToDateStr(this.endTime - this.dayTime ,8);
                                    if(beginDateStr == endDateStr){
                                        me.len = 2;
                                        times.forEach(function (timeObj) { 
                                            me.requestTracks(timeObj.begintime,timeObj.endtime,function (resp) {                       
                                                if(resp.status == 0 && resp.records){
                                                    resp.records.forEach(function (record) {
                                                        var direction = directionList[parseInt(Math.random()*8)];
                                                            record.direction = direction;
                                                            me.records.push(record);
                                                    });     
                                                };

                                                if(me.respCount == me.len){
                                                    me.spinShow = false;
                                                    me.records.sort(function (a,b) { 
                                                        return a.arrivedtime - b.arrivedtime;
                                                    });
                                                    me.filtertracks();
                                                    me.drawingLine();
                                                };
                                            });
                                        });
                                    }else{
                                        var middleTimes =  this.getMiddleDayReqParameter();
                                        var newArr = times.concat(middleTimes);
                                        me.len = newArr.length;
                                        newArr.forEach(function (timeObj) { 
                                            me.requestTracks(timeObj.begintime,timeObj.endtime,function (resp) { 
                                                if(resp.status == 0 && resp.records){
                                                    resp.records.forEach(function (record) {
                                                        var direction = directionList[parseInt(Math.random()*8)];
                                                            record.direction = direction;
                                                            me.records.push(record);
                                                    });
                                                };

                                                if(me.respCount == me.len){
                                                    me.spinShow = false;
                                                    me.records.sort(function (a,b) { 
                                                        return a.arrivedtime - b.arrivedtime;
                                                    });
                                                    me.filtertracks();
                                                    me.drawingLine();
                                                };
                                                
                                               
                                            });
                                        });
                                    }
                                    
                                }
                            }else{
                                this.$Message.error("请选择正确的时间!");
                            }   
                        },
                        requestTracks:function(beginTime,endtime,callback){
                            this.spinShow = true;
                            var me = this;
                            var url = myUrls.queryTracks(Cookies.get("token"));
                            var data = {
                                deviceid: this.deviceid,
                                lbs: 1,
                                timeorder: 0,
                                begintime:beginTime,
                                endtime:endtime
                            };
                            utils.sendAjax(url,data,function (resp) { 
                                me.respCount++;
                                callback(resp)
                            });
                        },
                        setBmapPointProperty:function(track){
                            var lng_lat = wgs84tobd09(track.callon,track.callat);
                                track.point = new BMap.Point(lng_lat[0],lng_lat[1]);
                            return track; 
                        },
                        filtertracks:function(){
                            var records = this.records;
                            if(records.length > 1){
                                var newTrackList = [];
                                var firstRecord = records.shift();
                                var lastRecord  = records.pop();
                                    this.setBmapPointProperty(firstRecord);
                                    this.setBmapPointProperty(lastRecord);
                                    newTrackList.push(firstRecord);

                                    if(records.length){
                                        var contrastTrack = records.shift();
                                        var contrastPoint = this.setBmapPointProperty(contrastTrack).point;
                                            newTrackList.push(contrastTrack);
                                        for(var i = 0 ; i < records.length ; i ++ ){
                                            var item = records[i];
                                                item = this.setBmapPointProperty(item);
                                            var nextPoint = item.point  
                                            var rice = this.map.getDistance(contrastPoint,nextPoint);
                                            if(rice > this.range){
                                                newTrackList.push(item);
                                                contrastPoint = nextPoint;
                                            }
                                        } 
                                    }   
                                    newTrackList.push(lastRecord);      
                                    this.records = newTrackList;
                            }else{
                                for(var i = 0 ; i < records.length ; i ++ ){
                                    this.setBmapPointProperty(records[i]);        
                                };
                            };
                        },
                        drawingLine:function(){
                            if(this.records.length  > 1){
                                var records = this.records; 
                                var firstRecord = records[0];
                                var lastRecord  = records[records.length-1];
                                this.firstMarker = new BMap.Marker(firstRecord.point,{icon:startIcon});
                                this.lastMakrker = new BMap.Marker(lastRecord.point,{icon:endIcon});

                                    this.map.addOverlay(this.firstMarker);
                                    this.map.addOverlay(this.lastMakrker);

                                var lines = [];

                                    for(var i = 0 ; i < records.length ; i ++ ){
                                        lines.push(records[i].point);
                                    };

                                this.polyline = new BMap.Polyline(lines, {strokeColor:"#0000AA",strokeWeight:3,strokeOpacity:1.5});
                                this.map.addOverlay(this.polyline);
                                // 设置中心点
                                this.setViewPortCenter(lines);
                                this.runAnimeate();
                            }; 
                        },
                        setViewPortCenter:function(lines){
                            var view = this.map.getViewport(eval(lines));  
                            var mapZoom = view.zoom;   
                            var centerPoint = view.center;   
                                this.map.centerAndZoom(centerPoint,mapZoom);
                        },
                        runAnimeate:function(){
                            var firstRecord = this.records[0];
                            var lableOptions = {
                                position : firstRecord.point,   
	                            offset   : new BMap.Size(30, -42)
                            };
                            this.carMarker = new BMap.Marker(firstRecord.point,{icon:carIcon});
                            this.map.addOverlay(this.carMarker);
                            this.markerLabel = new BMap.Label(this.getLableContent(firstRecord),lableOptions);
                            
                            this.markerLabel.setStyle({
                                color : "#000000",
                                border:"1px solid #D0D1D1",
                                fontSize : "14px",
                                lineHeight : "18px",
                                borderRadius:"5px",
                                padding:"10px",
                                fontFamily:"微软雅黑"
                            });

                            this.carMarker.setLabel(this.markerLabel);    
                        },
                        action:function () { 
                            var me = this;
                            var paths = this.records.length;
                            if(me.intervalInstanse!=null){
                                clearInterval(me.intervalInstanse);
                            };
                            me.intervalInstanse = setInterval(function () {
                                    var track = me.records[me.index];
                                    me.carMarker.setPosition(track.point); 
                                    me.carMarker.setIcon(me.getDirectionIcon(track.direction)); 
                                    me.markerLabel.setContent(me.getLableContent(track));
                                    me.index++;
                                    if(me.index >= paths){
                                        me.index = 0;
                                        clearInterval(me.intervalInstanse);
                                    };
                            },me.velocity);
                        },
                        replay:function(){
                            this.index = 0;
                            if(!this.isPlay){
                                this.isPlay = true;
                            }
                            if(this.records.length < 2){ return;}
                            this.action();
                        },
                        beginPlay:function(){
                            if(this.records.length < 2){ return;}
                            this.isPlay = true;
                            this.action();
                        },
                        pause:function(){
                            this.isPlay = false;
                            clearInterval(this.intervalInstanse);
                        },
                        getLableContent:function(info){
                            var address = this.getAddress(info);
                            var sContent = '<div>' +
                                '<p> 设备ID: ' +info.deviceid+'</p>' +
                                '<p> 经纬度: ' +info.callon+","+ info.callat +'</p>' +
                                '<p> 最后时间: ' +DateFormat.longToDateTimeStr(info.arrivedtime,0)+'</p>' +
                                '<p class="last-address"> 详细地址: '+address+'</p></div><div class="guiji"><span class="guiji_sanjiao"></span><span class="guiji_sanjiao_2"></span></div>';
                            return sContent;
                        },
                        getAddress:function (info) {
                            var callon = info.callon;
                            var callat = info.callat;
                            var bd09 = wgs84tobd09(callon,callat)
                            var lng = bd09[0].toFixed(5);
                            var lat = bd09[1].toFixed(5);
                            var address = LocalCacheMgr.getAddress(lng,lat);
                            if(address !== null){
                                return address;
                            }
                            utils.getBaiduAddressFromBaidu(lng,lat,function (resp) {

                                if(resp.length){
                                    address = resp;
                                    $("p.last-address").html(" 详细地址: " + address);
                                    LocalCacheMgr.setAddress(lng,lat,address);
                                }else{
                                utils.getJiuHuAddressSyn(callon,callat,function (resp) {
                                        address = resp.address
                                        $("p.last-address").html(" 详细地址: " + address);
                                        LocalCacheMgr.setAddress(lng,lat,address);
                                });
                                }
                            });
                            return "地址正在解析..."
                        },
                        resetMapState:function(){
                            if(this.carMarker){
                                this.map.removeOverlay(this.carMarker);
                                this.carMarker = null;
                            };
                            if(this.firstMarker){
                                this.map.removeOverlay(this.firstMarker);
                                this.firstMarker = null;
                            };
                            if(this.lastMakrker){
                                this.map.removeOverlay(this.lastMakrker);
                                this.lastMakrker = null;
                            };
                            if(this.polyline){
                                this.map.removeOverlay(this.polyline);
                                this.polyline = null;
                            };
                            if(this.markerLabel){
                                this.map.removeOverlay(this.markerLabel);
                                this.markerLabel = null;
                            };
                            if(this.intervalInstanse){
                                clearInterval(this.intervalInstanse);
                                this.intervalInstanse = null;
                            };
                            this.index = 0;
                            this.records = [];
                            this.respCount = 0;
                            var centerPoint = this.map.getCenter();
                            if(this.map.getZoom() != 5 || centerPoint.lng !== 108.0017245 || centerPoint.lat !== 35.926895){
                                this.map.centerAndZoom(new BMap.Point(108.0017245,35.926895),5);
                            };
                        },
                        getDirectionIcon:function(angle){
                            return new BMap.Icon("images/carstate/green_"+ angle +".gif", new BMap.Size(16, 16), { imageOffset: new BMap.Size(0, 0)}); 
                        },
                    },

                    computed:{
                        token:function(){
                            return Cookies.get("token");
                        }
                    },
                    watch: {
                        selectDate:function(){
                            if(this.selectDate[0]&&this.selectDate[1]){
                                if(this.selectDate[0] && this.selectDate[1]){
                                    this.startTime = this.selectDate[0].getTime();
                                    this.endTime   = this.selectDate[1].getTime();
                                    if(this.startTime == this.endTime){
                                        this.lock = true;
                                    }else{
                                        if((this.endTime - this.startTime) < this.dayTime ){
                                            this.lock = true;
                                        }else{
                                            var day = (this.endTime - this.startTime)/this.dayTime;
                                            if(day > 7){
                                                this.lock = false;
                                                this.$Message.error("时间不能超过七天!");
                                            }else{
                                                this.lock = true;
                                            };
                                        }
                                    };
                                }else{
                                    this.lock = false;
                                }
                            }else{
                                this.lock = false;
                            }                        
                        },
                        velocity:function(){
                            this.action();
                        }
                    },
                    mounted : function() {
                        this.initMap();
                        var deviceid = utils.getParameterByName("deviceid");
                        if(deviceid){
                            this.deviceid = deviceid;
                        }else{
                            this.$Message.error("设备id不能为空!");
                        };       
                    }
                });
        })();
    </script>
</body>
</html>