<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>电子围栏</title>
    <link rel="stylesheet" href="dist/styles/iview.css">
    <style>
        html,body,#container{
            width: 100%;
            height: 100%;  
            position: relative;
        }
        #bmap{
            position: absolute;
            top: 0;
            left: 460px;
            bottom: 0; 
            right: 0;
        }
        #controller{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 460px;
            border-right: 1px solid #A4D4F5;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto;
        }  
        #controller .controller-inner{
            width: 100%;
            height: 100%;
            background: #ffffff;
        }
        .el-zoom-in-bottom-enter-active,.el-zoom-in-bottom-leave-active{
            opacity:1;
            -webkit-transform:scaleY(1);
            transform:scaleY(1);
            -webkit-transition:opacity .3s cubic-bezier(.23,1,.32,1),-webkit-transform .3s cubic-bezier(.23,1,.32,1);
            transition:opacity .3s cubic-bezier(.23,1,.32,1),-webkit-transform .3s cubic-bezier(.23,1,.32,1);
            transition:transform .3s cubic-bezier(.23,1,.32,1),opacity .3s cubic-bezier(.23,1,.32,1);
            transition:transform .3s cubic-bezier(.23,1,.32,1),opacity .3s cubic-bezier(.23,1,.32,1),-webkit-transform .3s cubic-bezier(.23,1,.32,1);
            -webkit-transform-origin:center bottom;
            transform-origin:center bottom;
        }
        .el-zoom-in-bottom-enter,.el-zoom-in-bottom-leave-active{
            opacity:0;-webkit-transform:scaleY(0);transform:scaleY(0)
        }
        #container .circular-ctrl{
            position: absolute;
            width: 400px;
            bottom: 10px;
            right: 10px;
            border: 1px solid #A4D4F5;
            background-color: #ffffff;
        }
        #container .area-ctrl{
            position: absolute;
            width: 400px;
            bottom: 10px;
            left:470px;
            border: 1px solid #A4D4F5;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="controller">
            <div class="controller-inner">
                <Row style="padding:0 0 10px 0">
                    <i-col :span="8" style="text-align:center;">
                        <i-button style="width:100px;" @click="drawCircular" icon="md-add">圆</i-button>
                    </i-col>
                    <i-col :span="8" style="text-align:center;">
                        <i-button style="width:100px;" @click="drawPolygon" icon="md-add">多边形</i-button>
                    </i-col>
                    <i-col :span="8" style="text-align:center;">
                        <i-button @click="areaModal" style="width:100px;" icon="md-add">行政区域</i-button>
                    </i-col>
                </Row>
                <i-table border stripe 
                    ref="selection"
                    :columns="columns" 
                    :data="tableData" 
                    :loading="loading" 
                    @on-row-click="handleClickRow" 
                    @on-selection-change="handleSelectChange"></i-table>
            </div>
        </div>
        <div id="bmap"></div>
        <transition name="el-zoom-in-bottom">
            <div class="area-ctrl" v-show="isCircular">
                <Row>
                    <i-col :span="24" style="padding:10px;text-align:center;">
                        <h3>{{isEidt?'编辑围栏':'新增围栏'}} - 半径:{{radius}}米</h3>
                    </i-col>
                </Row>
                <Row>
                    <i-col :span="4" style="text-align:center;line-height:36px;">200米</i-col>
                    <i-col :span="16">
                        <Slider v-model="radius" :step="10" :min="min" :max="max" @on-change="changeValue"></Slider>
                    </i-col>
                    <i-col :span="4" style="text-align:center;line-height:36px;">100公里</i-col>
                </Row>
                <Row>
                    <i-col :span="24" style="padding:10px;text-align:center;">
                        <i-button @click="addCircular" style="width:200px;">保存</i-button>
                    </i-col>
                </Row>
            </div>
        </transition>
        <transition name="el-zoom-in-bottom">
            <div class="area-ctrl" v-show="isPolygon">
                <Row>
                    <i-col :span="24" style="padding:10px;text-align:center;">
                        <h3>{{ isEidt ? "编辑多边形":"添加多边形" }}</h3>
                    </i-col>
                </Row>
                <Row>
                    <i-col :span="22" offset="2" style="padding:10px 0 10px 0;">
                        1 、 把鼠标移到 地图上单击开始绘制，双击结束绘制
                    </i-col>
                </Row>
                <Row>
                    <i-col :span="22" offset="2" style="padding:10px 0 20px 0;">
                        2 、 右键取消绘画
                    </i-col>
                </Row>
            </div>
        </transition>
        <transition name="el-zoom-in-bottom">
            <div class="area-ctrl" v-show="modal">
                <Row>
                    <i-col :span="24" style="padding:10px;text-align:center;">
                        <h3>{{areaTitle}}</h3>
                    </i-col>
                </Row>
                <Row style="padding: 10px">
                    <i-col :span="6" style="text-align:center;line-height:32px;">
                         选择区域:   
                    </i-col>
                    <i-col :span="16">
                        <Cascader :data="provinceList" v-model="areaAddress"></Cascader>
                    </i-col>
                </Row>
                <Row style="padding: 10px">
                    <i-col :span="24" style="padding:10px;text-align:center;">
                        <i-button @click="handleSubmitArea" style="width:200px;">保存</i-button>
                    </i-col>
                </Row>
            </div>
        </transition>
        <Modal v-model="geoNameModal" width="400" title="修改围栏名称">
            <Row style="padding: 10px">
                <i-col :span="6" style="text-align:center;line-height:32px;">
                    围栏名称:   
                </i-col>
                <i-col :span="16">
                    <i-input v-model.trim="geoName"></i-input>
                </i-col>
            </Row>
            <div slot="footer" style="text-align:center;">
                <i-button style="width:80%;" @click="changeGeoName">确定</i-button>
            </div>
        </Modal>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/gps51-jquery.js"></script>
    <script src="js/config.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/area.js"></script>
    <script src="http://api.map.baidu.com/api?v=3.0&ak=e7SC5rvmn2FsRNE4R1ygg44n"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>  
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />  
    <script>
        var deviceid = utils.getParameterByName("deviceid");
        var token = utils.getParameterByName("token");
        var map = null;
        var vRoot = null;
        var rowData = null;
 
        var styleOptions = {  
            strokeColor:"red",    //边线颜色。  
            fillColor:"red",      //填充颜色。当参数为空时，圆形将没有填充效果。  
            strokeWeight: 3,       //边线的宽度，以像素为单位。  
            strokeOpacity: 0.8,    //边线透明度，取值范围0 - 1。  
            fillOpacity: 0.6,      //填充的透明度，取值范围0 - 1。  
            strokeStyle: 'solid' //边线的样式，solid或dashed。  
        }  

        //实例化鼠标绘制工具  
        var drawingManager = null;  

 
        function startDrawPolygon(type){  
            drawingManager.open();   
            drawingManager.setDrawingMode(type);  
        }  

        (function () { 
            vRoot = new Vue({
                    el:"#container",
                    data:{
                        tipTitle:"多边形提示",
                        tipContent:'点击多边形按钮,单击画图,双击结束',
                        isEidt:false,
                        map:null,
                        geoName:'',
                        geoNameModal:false,
                        columns:[
                            {
                                type: 'selection',
                                width: 60,
                                align: 'center'
                            },
                            {
                                type:'index',
                                width:60,
                                align:'center',
                            },
                            {
                                title: '类型',
                                key: 'type',
                                width:90,
                                render: function(h, params) {
                                    var type = '';
                                    switch(params.row.type){
                                        case 1 :
                                            type = '圆'
                                            break;
                                        case 2 :
                                            type = '多边形'
                                            break;
                                        case 3 :
                                            type = '行政区域'
                                            break;
                                    }
                                    return h('div',[h('span', {}, type)]);
                                } 
                            },
                            {
                                title: '名称',
                                key: 'geoname',
                                render: function(h, params) {
                                    return h('div',[
                                    h('span', {                                       
                                        }, params.row.name),
                                    ,
                                    h('Icon', {
                                            props: {
                                                size: 20,
                                                type:"md-create" 
                                            },
                                            style: {
                                                marginLeft:'5px'
                                            },
                                            on: {
                                                click: function(e) {
                                                    e.preventDefault(); 
                                                    e.stopPropagation();
                                                   vRoot.geoNameModal = true;
                                                   rowData = params.row;
                                                   vRoot.geoName = params.row.name;
                                                   return false;
                                                }
                                            }
                                        }, ""),
                                    ])
                                }
                            },
                            {
                                title: '操作',
                                key: 'action',
                                width: 80,
                                render: function(h, params) {
                                    return h('div', [
                                        h('Button', {
                                            props: {
                                                type: 'error',
                                                size: 'small'
                                            },
                                            style: {
                                                marginRight: '5px'
                                            },
                                            on: {
                                                click: function(e) {
                                                    e.preventDefault();
                                                    e.stopPropagation();
                                                    vRoot.$Modal.confirm({
                                                        title: "温馨提示",
                                                        content:"确定要删除围栏吗?",
                                                        onOk:function(){
                                                            var url = myUrls.delGeoRecord() , index = params.index , row = params.row ;
                                                            var data = {
                                                                deviceid:deviceid,
                                                                georecordid:row.georecordid
                                                            };
                                                            utils.sendAjax(url,data,function (resp) {
                                                                if(resp.status === 0){
                                                                    vRoot.tableData.splice(index,1);
                                                                    vRoot.$Message.success("删除成功");
                                                                    vRoot.map.clearOverlays();
                                                                }else{
                                                                    vRoot.$Message.success("删除失败");
                                                                }
                                                            })
                                                        }
                                                    })
                                                    return false;
                                                }
                                            }
                                        }, "删除"),
                                    ]);
                                }
                            }
                        ],
                        tableData:[],
                        loading:false,
                        isCircular:false,
                        isPolygon:false,
                        markerIns:null,
                        circularIns:null,
                        radius:2000,
                        min:200,
                        max:100000,
                        modal:false,
                        type:null, // 1 是圈 2是多边形 3是行政区域'
                        areaAddress:[],
                        mapCenterPoint:null,
                        provinceList:provinceList
                    },
                    methods: {
                        initMap : function(){
                            var self = this;
                            var point = null;
                            this.map = new BMap.Map("bmap",{minZoom:4,maxZoom:20});           
                            this.map.enableScrollWheelZoom();
                            this.map.enableAutoResize();
                            this.map.disableDoubleClickZoom();
                            this.map.centerAndZoom(new BMap.Point(108.0017245, 35.926895), 5)
                            this.map.addControl(new BMap.CityListControl({
                                anchor: BMAP_ANCHOR_TOP_LEFT,
                                offset: new BMap.Size(10, 20),
                                // 切换城市之间事件
                                // onChangeBefore: function(){
                                //    alert('before');
                                // },
                                // 切换城市之后事件
                                // onChangeAfter:function(){
                                 
                                // }
                            }));


                            this.map.addEventListener("moveend",function(e){   
                                if(!self.isCircular) return;	
                                self.getMapCenterPoint();
                                self.markerIns.setPosition(self.mapCenterPoint);
                                self.circularIns.setCenter(self.mapCenterPoint);
                            },false);   

                            this.map.addEventListener("zoomend",function(e){   	  
                                if(!self.isCircular) return;	
                                self.getMapCenterPoint();
                                self.markerIns.setPosition(self.mapCenterPoint);
                                self.circularIns.setCenter(self.mapCenterPoint);
                            },false);


                            this.map.addEventListener("rightclick",function(e){  
                                if(self.type!== 2) return;
                                drawingManager.close();  
                                self.map.clearOverlays();
                            }); 

                            drawingManager = new BMapLib.DrawingManager(this.map, {  
                                isOpen: false, //是否开启绘制模式  
                                enableDrawingTool: false, //是否显示工具栏  
                                drawingToolOptions: {  
                                    anchor: BMAP_ANCHOR_TOP_RIGHT, //位置  
                                    offset: new BMap.Size(5, 5), //偏离值  
                                },  
                                circleOptions: styleOptions, //圆的样式  
                                polylineOptions: styleOptions, //线的样式  
                                polygonOptions: styleOptions, //多边形的样式  
                                rectangleOptions: styleOptions //矩形的样式  
                            });    

                            //添加鼠标绘制工具监听事件，用于获取绘制结果  
                            drawingManager.addEventListener('polygoncomplete', this.overlaycomplete);  

                            map = this.map;

                        },
                        overlaycomplete : function(overlay){  
                            var path = overlay.getPath() , self = this;
                            self.$Modal.confirm({
                                    title: "温馨提示",
                                    content:"是否提交多边形围栏?",
                                    onOk:function(){
                                        console.log('overlay', overlay);
                                        var mapPath = function (item) {  
                                            var lon_lat = bd09towgs84(item.lng,item.lat);
                                            wgs84Path.push({
                                                lon:lon_lat[0].toFixed(6),
                                                lat:lon_lat[1].toFixed(6)
                                            });
                                        };
                                        var wgs84Path = [];
                                        path.forEach(mapPath);
                                        var url = myUrls.addGeoRecord(),
                                            data = {
                                                points2:JSON.stringify(wgs84Path),
                                                type:self.type,
                                                deviceid:deviceid
                                            };

                                        utils.sendAjax(url,data,function (resp) {     
                                            if(resp.status === 0){
                                                self.$Message.success("添加成功")
                                                self.getFenceInfo();
                                            }else{
                                                self.$Message.error("添加失败")
                                            };
                                            self.map.removeOverlay(overlay)
                                        })
                                    },
                                    onCancel:function(){
                                        self.map.removeOverlay(overlay);
                                    }
                                })
                        },
                        claerPolygon:function(){
                            this.map.clearOverlays();
                            this.drawingManager.close(); 
                            startDrawPolygon(BMAP_DRAWING_POLYGON);
                        },
                        getAreaName:function(province,city,county){
                            var result = [];
                             for (var index = 0; index < provinceList.length; index++) {
                                 var provinceInfo = provinceList[index];
                                 if(provinceInfo.value == province){
                                     var cityList = provinceInfo.children;
                                     result.push(provinceInfo.label);
                                     cityList.forEach(function (cityInfo) { 
                                         if(cityInfo.value == city){
                                            result.push(cityInfo.label);
                                            var countyList = cityInfo.children;
                                            countyList.forEach(function (countyInfo) {
                                                if(countyInfo.value == county){
                                                    result.push(countyInfo.label);
                                                    return false;
                                                }
                                            })
                                            return false;
                                         }
                                     });
                                     break;
                                 }
                             } 
                            return result;
                        },
                        transformPoint:function(pointList){
                            var points = [];
                            var iteratior = function (item) { 
                                var pointStr = item.split(',')
                                var pointArr = bd09towgs84(Number(pointStr[0].trim()),Number(pointStr[1].trim()));
                                points.push({
                                    lon:pointArr[0].toFixed(6),
                                    lat:pointArr[1].toFixed(6),
                                })
                            }
                            pointList.forEach(iteratior);
                            return points;
                        },
                        getWgs84Boundaries:function(boundaries){
                            var pointList = [] , me = this;
                            boundaries.forEach(function (item) { 
                                var points = me.transformPoint(item.split(";"));
                                pointList = pointList.concat(points);
                            })
                            return pointList;
                        },
                        handleSubmitArea:function(){
                            if(this.areaAddress.length){
                                var areaName = this.getAreaName(this.areaAddress[0],this.areaAddress[1],this.areaAddress[2]) , me = this;
                                var myBoundary  = new BMap.Boundary();
                                myBoundary.get(areaName.join(','),function(resp){
                                    if(resp.boundaries.length){
                                        var points3 = me.getWgs84Boundaries(resp.boundaries);                                        
                                        var points3Str = JSON.stringify(points3);
                                        if(me.isEidt){
                                            var url = myUrls.editGeoRecord();
                                            var data = deepClone(rowData);
                                            data.points3 = points3Str;
                                            data.provinceindex3=Number(me.areaAddress[0]);
                                            data.cityindex3=Number(me.areaAddress[1]);
                                            data.areaindex3=Number(me.areaAddress[2]);
                                            data.provincestr3=areaName[0];
                                            data.citystr3=areaName[1];
                                            data.areastr3=areaName[2];
                                        }else{
                                            var url = myUrls.addGeoRecord();
                                            var data = {
                                                name:areaName.join(','),
                                                points3:points3Str,
                                                deviceid:deviceid,
                                                provinceindex3:Number(me.areaAddress[0]),
                                                cityindex3:Number(me.areaAddress[1]),
                                                areaindex3:Number(me.areaAddress[2]),
                                                provincestr3:areaName[0],
                                                citystr3:areaName[1],
                                                areastr3:areaName[2],
                                                type:me.type,
                                            }
                                        }
                                        
                                        utils.sendAjax(url,data,function (resp) { 
                                            if(resp.status === 0){
                                                if(me.isEidt){
                                                    me.$Message.success("编辑成功");
                                                }else{
                                                    me.$Message.success("添加成功");
                                                }
                                                me.map.clearOverlays();
                                                me.redrawAreaAndViewPortCenter(points3Str);
                                                me.getFenceInfo();
                                            }else{
                                                me.$Message.error("操作失败");
                                            }
                                        })
                                    }else{

                                    }
                                });
                            }else{
                                this.$Message.error("请选择地区");
                            }

                        },
                        changeValue:function(e){
                            this.circularIns.setRadius(e);
                        },
                        changeGeoName:function(){
                            if(this.geoName.trim()!==""){
                                var url = myUrls.editGeoRecord() , me = this;
                                var data = deepClone(rowData);
                                data.name = me.geoName;
                                utils.sendAjax(url,data,function (resp) { 
                                    if(resp.status === 0){
                                        rowData.name = me.geoName;
                                        me.geoNameModal = false;
                                        me.geoName = "";
                                        me.$Message.success("修改成功");
                                    }else{
                                        me.$Message.error("修改失败");
                                    }
                                })
                            }else{
                                this.$Message.error("请填写名称");
                            }
                        },
                        areaModal:function(){
                            this.isCircular = false;
                            this.isPolygon = false;
                            this.type = 3;
                            this.modal = true;
                            this.isEidt = false;
                            this.areaAddress = [];
                            drawingManager.close();  
                            this.map.clearOverlays();
                        },
                        handleClickRow:function(row,index){
                            rowData = row;
                            var type = row.type , me = this;
                            this.$refs.selection.selectAll(false);
                            this.map.clearOverlays();
                            this.isEidt = true;
                            drawingManager.close();  
                            switch(type){
                                case 1 :
                                me.modal = false;
                                var lon_lan = wgs84tobd09(row.lon1,row.lat1);
                                var point = new BMap.Point(lon_lan[0],lon_lan[1]);
                                    me.radius = row.radius1;
                                    me.map.setCenter(point);
                                    me.setMapZoom(me.radius);
                                    setTimeout(function () { 
                                        me.drawCircular();
                                        me.isEidt = true;     
                                    },300);
                                    break;
                                case 2 :
                                    this.modal = false;
                                    this.isCircular = false;
                                    this.isPolygon = true;
                                    this.redrawPolygon(row);
                                    break;
                                case 3 :
                                    me.isCircular = false;
                                    me.areaAddress = [String(row.provinceindex3),String(row.cityindex3),String(row.areaindex3)];
                                    me.modal = true;
                                    me.redrawAreaAndViewPortCenter(row.points3);
                                    break;
                            }
                        },
                        handleSelectChange:function(selection){
                            this.modal = false;
                            this.isCircular = false;
                            this.isPolygon = false;
                            this.map.clearOverlays();
                            if(selection.length){
                                var points = []
                                for (var index = 0; index < selection.length; index++) {
                                    var element = selection[index];
                                    this.drawAllOverlays(element);
                                    switch(element.type){
                                        case 1 :
                                            var lon_lan = wgs84tobd09(element.lon1,element.lat1);
                                            var point = new BMap.Point(lon_lan[0],lon_lan[1]);
                                            points.push(point);
                                            break;
                                        case 2 :
                                            points = points.concat(this.wgs84tobd09Points(element.points2))
                                            break;
                                        case 3 :
                                            points = points.concat(this.wgs84tobd09Points(element.points3))
                                            break;
                                    }
                                }
                                this.setViewPortCenter(points);
                            }
                        },
                        drawAllOverlays:function(row){
                            drawingManager.close();  
                            var type = row.type , me = this;
                            switch(type){
                                case 1 :
                                    var lon_lan = wgs84tobd09(row.lon1,row.lat1);
                                    var markerPoint = new BMap.Point(lon_lan[0],lon_lan[1]);
                                    var marker = new BMap.Marker(markerPoint);
                                    var circular = new BMap.Circle(markerPoint,row.radius1,styleOptions);
                                    this.map.addOverlay(marker);  
                                    this.map.addOverlay(circular); 
                                    break;
                                case 2 :
                                    var bdpoints = this.wgs84tobd09Points(row.points2);
                                    var polygon = new BMap.Polygon(bdpoints, styleOptions);  
                                    this.map.addOverlay(polygon); 
                                    break;
                                case 3 :
                                    this.redrawArea(row.points3);
                                    break;
                            }
                        },
                        drawCircular:function(){
                            drawingManager.close(); 
                            this.map.clearOverlays();   
                            this.isEidt = false;
                            this.getMapCenterPoint();
                            this.isCircular = true;
                            this.isPolygon = false;
                            this.type = 1;
                            this.markerIns = new BMap.Marker(this.mapCenterPoint);
                            // this.markerIns .enableDragging();
                            this.map.addOverlay(this.markerIns);  
                            this.circularIns = new BMap.Circle(this.mapCenterPoint,this.radius,styleOptions);
                            this.map.addOverlay(this.circularIns);  
                        },
                        addCircular:function(){
                            var url = null , me = this , data = null;
                            var lng_lat = bd09towgs84(this.mapCenterPoint.lng,this.mapCenterPoint.lat);  	
                            
                            if(this.isEidt){
                                url = myUrls.editGeoRecord() ;
                                data = deepClone(rowData);
                                data.lat1 = lng_lat[1];
                                data.lon1 = lng_lat[0];
                                data.radius1 = this.radius;
                            }else{
                                url = myUrls.addGeoRecord() ;
                                data = {
                                    deviceid:deviceid,
                                    type:this.type,
                                    lat1: lng_lat[1],   
                                    lon1: lng_lat[0],   
                                    radius1:this.radius
                                };
                            }
                            utils.sendAjax(url,data,function (resp) { 
                                if(resp.status === 0){
                                    me.map.clearOverlays();
                                    me.getFenceInfo();
                                    me.isCircular = false;
                                    if(me.isEidt){
                                        me.$Message.success("编辑围栏成功");
                                    }else{
                                        me.$Message.success("保存围栏成功");
                                    }; 
                                }else{
                                    me.$Message.error("保存围栏失败");
                                };
                            });
                        },
                        drawPolygon:function(){
                            this.type = 2;
                            this.map.clearOverlays();
                            this.isCircular = false;
                            this.modal = false;
                            this.isPolygon = true;
                            this.isEidt = false;
                            startDrawPolygon(BMAP_DRAWING_POLYGON);
                        },
                        wgs84tobd09Points:function(pointsStr){
                            var points = JSON.parse(pointsStr);
                            var bdpoints = [];
                                points.forEach(function (item) { 
                                    var lon_lat = wgs84tobd09(Number(item.lon),Number(item.lat));                     
                                    bdpoints.push(new BMap.Point(lon_lat[0],lon_lat[1]))
                                });
                            return bdpoints;
                        },
                        redrawPolygon:function(row){
                            var bdpoints = this.wgs84tobd09Points(row.points2);
                            var polygon = new BMap.Polygon(bdpoints, styleOptions);  
                            this.map.addOverlay(polygon); 
                            this.setViewPortCenter(bdpoints);
                        },
                        redrawArea:function(pointsStr){
                            var bdpoints = this.wgs84tobd09Points(pointsStr);
                            var polygon = new BMap.Polygon(bdpoints, styleOptions);  
                            this.map.addOverlay(polygon); 
                        },
                        redrawAreaAndViewPortCenter:function(pointsStr){
                            var bdpoints = this.wgs84tobd09Points(pointsStr);
                            var polygon = new BMap.Polygon(bdpoints,styleOptions);  
                            this.map.addOverlay(polygon); 
                            this.setViewPortCenter(bdpoints);
                        },
                        setViewPortCenter: function (lines) {
                            var view = this.map.getViewport(eval(lines));
                            var mapZoom = view.zoom;
                            var centerPoint = view.center;
                            this.map.centerAndZoom(centerPoint, mapZoom);
                        },
                        getMapCenterPoint:function(){
                            var pt = this.map.getCenter();							
                                this.mapCenterPoint = pt;                               
                        },
                        getFenceInfo:function(){
                            var url = myUrls.queryGeoRecords();
                            utils.sendAjax(url,{deviceid:deviceid},this.doFenceInfo);
                        },
                        doFenceInfo:function(resp){
                            if(resp.status === 0 && resp.records && resp.records.length){
                                this.tableData = resp.records;
                            }else{
                                this.$Message.error('没有数据');
                            }
                        },
                        setMapZoom:function(value){
                            var zoom = 4;
                            if(value > 90000){
                                zoom = 5;
                            }else if(value > 90000){
                                zoom = 6;
                            }else if(value > 70000){
                                zoom = 7;
                            }else if(value > 50000){
                                zoom = 8;
                            }else if(value > 40000){
                                zoom = 9;
                            }else if(value > 30000){
                                zoom = 10;
                            }else if(value > 20000){
                                zoom = 11;
                            }else if(value > 10000){
                                zoom = 12;
                            }else if(value > 5000){
                                zoom = 13;
                            }else if(value > 1000){
                                zoom = 14;
                            }else{
                                zoom = 16;
                            };
                            this.map.setZoom(zoom);
                        },
                    },
                    computed:{
                        areaTitle:function(){
                            if(this.isEidt){
                                return '编辑区域围栏';
                            }else{
                                return '添加区域围栏';
                            }
                        }
                    },
                    mounted:function () {
                        this.initMap();
                        this.getFenceInfo();
                    }
            });
        })();
    </script>
</body>
</html>