<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>跟踪</title>
    <link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="maptalks/maptalks.css">
    <style>
        html,
        body,
        #container,
        #bmap {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        
        div.controller {
            position: absolute;
            right: 10px;
            bottom: 10px;
            width: 500px;
            height: 240px;
            line-height: 60px;
            background: #E8F0F7;
            border: 1px solid #C3CEDE;
        }
        
        label.BMapLabel::after {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent red transparent transparent;
            position: absolute;
            margin-left: -19px;
            margin-top: -42px;
        }
        
        .guiji_sanjiao {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #666 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -76px;
        }
        
        .guiji_sanjiao_2 {
            font-size: 0px;
            line-height: 0px;
            width: 0px;
            height: 0px;
            border-width: 10px;
            border-style: dashed solid dashed dashed;
            border-color: transparent #F7F8F9 transparent transparent;
            position: absolute;
            margin-left: -30px;
            margin-top: -76px;
        }
        
        .interval {
            position: absolute;
            top: 11px;
            left: 11px;
            width: 30px;
            height: 30px;
            background: red;
            border-radius: 50%;
            color: #fff;
            line-height: 30px;
            text-align: center;
            font-size: 15px;
        }
        
        .last-address {
            white-space: normal;
            width: 260px;
        }
        
        .down-wrapper {
            position: absolute;
            bottom: 10px;
            width: 300px;
            background: red;
            border: 1px solid #e6e6e6;
        }
        
        .track-info {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #dbd5d5
        }
        
        [v-cloak] {
            display: none;
        }
        
        .el-zoom-in-bottom-enter-active,
        .el-zoom-in-bottom-leave-active {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
            transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
            transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
            transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
            -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
        }
        
        .el-zoom-in-bottom-enter,
        .el-zoom-in-bottom-leave-active {
            opacity: 0;
            -webkit-transform: scaleY(0);
            transform: scaleY(0)
        }
        
        .pull-up {
            position: absolute;
            bottom: 10px;
        }
        
        .right-10 {
            right: 10px;
        }
        
        .right-60 {
            right: 60px;
        }
        
        .down-button {
            position: absolute;
            top: -35px;
            right: 0px;
        }
        
        .exact-btn {
            width: 100%;
            height: 40px;
            margin-top: 10px;
            cursor: pointer;
        }
        
        .right-100 {
            top: 50px;
        }
        
        .left-65 {
            left: 65px;
        }
        
        div.map-type {
            position: absolute;
            top: 11px;
            right: 11px;
            width: 82px;
            right: 10px;
        }
        
        .right-65 {
            top: 65px;
        }
        
        .left-205 {
            left: 205px;
        }
    </style>
    <script src="js/js.cookie.min.js"></script>
</head>

<body>
    <div id="container" v-cloak>
        <div id="bmap"></div>
        <div class="interval">{{interval}}</div>

        <transition name="el-zoom-in-bottom">
            <div class="down-wrapper" :class="trackInfoCls" v-show="isDown">
                <div class="down-button">
                    <i-button shape="circle" icon="ios-arrow-down" @click="isDown=false"></i-button>
                </div>
                <div class="track-info" v-html="trackHtml"></div>
            </div>
        </transition>

        <div class="pull-up" :class="trackInfoCls" v-show="!isDown">
            <i-button shape="circle" icon="ios-arrow-up" @click="isDown=true"></i-button>
        </div>
        <div class="map-type">
            <i-select v-model="mapType" size="small">
                <i-option v-for="item in mapList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
            </i-select>

            <div class="exact-btn" :style="imgSrcBg" @click="isExact = !isExact"></div>
        </div>
    </div>
    <script src="dist/vue.min.js"></script>
    <script src="dist/iview.min.js"></script>
    <script src="js/gps51-jquery.js"></script>
    <script src="js/ol.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/hashmap.js"></script>
    <script src="js/localcachemgr.js"></script>
    <script src="js/transformlatlon.js"></script>
    <script src="js/dateformat.js"></script>
    <script src="js/util.js"></script>
    <script src="js/websocketmgr.js"></script>
    <script src="js/vue-i18n.min.js"></script>
    <script src="js/language.js"></script>
    <script src="custom/languageex.js"></script>
    <script src="maptalks/maptalks.min.js"></script>
    <script>
        var isShare = utils.getParameterByName("isshare") == 1 ? true : false;
        var authcode = utils.getParameterByName("authcode");
        var isValid = utils.getParameterByName("isvalid");
        var expire = utils.getParameterByName("expire");
        var timeDifference = DateFormat.getOffset();
        var isOverdue = false;
        var token = utils.getParameterByName("token");
        var icon = utils.getParameterByName("icon");

        var flightPathArrList = [];
        var isZh = utils.locale === 'zh';
        var mapType = utils.getMapType();
        var vRoot = null;
        var isMobile = null;
        var layerVector = null;
        var browser = {
            versions: function() {
                var u = navigator.userAgent,
                    app = navigator.appVersion;
                return { //移动终端浏览器版本信息 
                    trident: u.indexOf('Trident') > -1, //IE内核 
                    presto: u.indexOf('Presto') > -1, //opera内核 
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核 
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核 
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端 
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端 
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器 
                    iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQ HD浏览器 
                    iPad: u.indexOf('iPad') > -1, //是否iPad 
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部 
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        if (browser.versions.ios == false && browser.versions.android == false) {
            isMobile = false;
        } else {
            isMobile = true;
        }
        (function() {
            document.title = isZh ? "跟踪" : "Track";
            var userName = localStorage.getItem('name');
            var startIcon = null;
            var vm = vRoot = new Vue({
                el: "#container",
                i18n: utils.getI18n(),
                data: {
                    isExact: true, //是否精确
                    map: null,
                    deviceid: "",
                    deviceName: utils.getParameterByName("devicename"),
                    tracks: [],
                    exactTracks: [],
                    interval: 10,
                    carMarker: null,
                    address: "",
                    isDown: true,
                    trackHtml: "",
                    mapList: [{
                        label: isZh ? "百度地图" : "BaiduMap",
                        value: "bMap"
                    }, {
                        label: isZh ? "谷歌地图" : "GoogleMap",
                        value: "gMap"
                    }, {
                        label: isZh ? "高德地图" : "AlibabaMap",
                        value: "aMap"
                    }, ],
                    mapType: mapType
                },
                methods: {
                    initMap: function() {

                        var map = new maptalks.Map('bmap', {
                            center: [106, 36.11],
                            zoom: 5,
                            minZoom: 4,
                            maxZoom: 19,
                            // baseLayer:
                        });

                        var newMapType = this.mapType;
                        if (newMapType == 'bMap') {
                            map.setSpatialReference({
                                projection: 'baidu'
                            });
                            var layer = new maptalks.TileLayer('base', {
                                'urlTemplate': 'https://maponline2.bdimg.com/tile/?qt=vtile&styles=pl&scaler=2&udt=20201217&from=jsapi2_0&x={x}&y={y}&z={z}',
                                'subdomains': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                                'attribution': '&copy; <a target="_blank" href="http://map.baidu.com">Baidu</a>'
                            })
                            map.setBaseLayer(layer);

                        } else if (newMapType == 'gMap') {

                            var layer = new maptalks.TileLayer('base', {
                                urlTemplate: "http://mt2.google.cn/vt?lyrs=m@180000000&hl=zh-CN&gl=cn&scale=2&src=app&x={x}&y={y}&z={z}&s=Gal",
                            })
                            map.setSpatialReference({})
                            map.setBaseLayer(layer);

                        } else if (newMapType == 'aMap') {
                            var layer = new maptalks.TileLayer('base', {
                                urlTemplate: 'http://webrd04.is.autonavi.com/appmaptile?lang=zh_cn&scale=2&style=8&x={x}&y={y}&z={z}',
                            })
                            map.setSpatialReference({})
                            map.setBaseLayer(layer);

                        }

                        var customPosition = new maptalks.control.Zoom({
                            'position': {
                                'top': '45',
                                'left': '15'
                            },
                            'slider': false,
                            'zoomLevel': false
                        });
                        map.addControl(customPosition);


                        this.lineLayer = new maptalks.VectorLayer('line').addTo(map);
                        this.lineString = new maptalks.LineString(
                            [], {
                                symbol: {
                                    'lineColor': {
                                        'type': 'linear',
                                        'colorStops': [
                                            [0.00, 'red'],
                                            [1.00, 'red']
                                        ]
                                    },
                                    'lineWidth': 4
                                }
                            }).addTo(this.lineLayer);

                        this.map = map;
                    },
                    getPointList: function(tracks) {
                        var pointList = [];
                        if (this.mapType == 'bMap') {
                            for (var i = 0; i < tracks.length; i++) {
                                var track = tracks[i];
                                pointList.push(track.bpoint);

                            }
                        } else {
                            for (var i = 0; i < tracks.length; i++) {
                                var track = tracks[i];
                                pointList.push(track.gpoint);
                            }
                        }
                        return pointList;
                    },
                    getWindowContent: function(track, b_address) {
                        var strstatus = '';
                        var posiType = utils.getPosiType(track);
                        if (isZh) {
                            strstatus = track.strstatus ? track.strstatus : '';
                        } else {
                            strstatus = track.strstatusen ? track.strstatusen : '';
                        }
                        if (track.radius > 0) {
                            var radiuDesc = null;
                            if (isZh) {
                                radiuDesc = ' (误差范围:' + track.radius + '米)';
                            } else {
                                radiuDesc = ' (Error range:' + track.radius + 'm)';
                            }
                            posiType += radiuDesc;
                        };
                        if (track.gotsrc === 'gps' && track.gpsvalidnum) {
                            posiType += "(" + track.gpsvalidnum + ")";
                        };
                        if (isZh) {
                            var isOnineStr = utils.getIsOnline(track) ? "在线" : "离线";
                        } else {
                            var isOnineStr = utils.getIsOnline(track) ? "online" : "offline";
                        };

                        var speed = track.speed == 0 ? "0km/h" : (track.speed / 1000).toFixed(2) + "km/h";
                        var rxlevel = track.rxlevel === 0 ? '' : ('(' + (isZh ? '信号' : 'Signal') + ':' + track.rxlevel + '%)');
                        var content =
                            '<p> ' + (isZh ? '设备序号' : 'Device Number') + ': ' + track.deviceid + "  " + (isZh ? '设备名称' : 'Device Name') + ': ' + this.deviceName + '</p>' +
                            '<p> ' + (isZh ? '定位类型' : 'Position Type') + ': ' + posiType + '</p>' +
                            '<p> ' + (isZh ? '经纬度' : 'Longitude and latitude') + ': ' + track.callon.toFixed(6) + ',' + track.callat.toFixed(6) + '</p>' +
                            '<p> ' + (isZh ? '更新时间' : 'Update time') + ': ' + DateFormat.longToDateTimeStr(track.updatetime, timeDifference) + '(' + isOnineStr + ')</p>' +
                            '<p> ' + (isZh ? '定位时间' : 'Posi time') + ': ' + DateFormat.longToDateTimeStr(track.validpoistiontime, timeDifference) + '</p>' +
                            '<p> ' + (isZh ? '速度' : 'Speed') + ': ' + speed + rxlevel + '</p>' +
                            '<p> ' + (isZh ? '总里程' : 'Mileage') + ': ' + utils.getMileage(track.totaldistance) + '</p>' +
                            '<p> ' + (isZh ? '状态' : 'Status') + ': ' + strstatus + '</p>' +
                            '<p class="last-address"> ' + (isZh ? '详细地址' : 'Address') + ': ' + b_address + '</p>';
                        return content;
                    },
                    getAddress: function(info, callback) {
                        var me = this;
                        var callon = info.callon;
                        var callat = info.callat;
                        var bd09 = wgs84tobd09(callon, callat)
                        var lng = bd09[0].toFixed(5);
                        var lat = bd09[1].toFixed(5);

                        var address = LocalCacheMgr.getAddress(lng, lat);
                        if (address != null) {
                            callback(address);
                            return;
                        }

                        utils.getJiuHuAddressSyn(callon, callat, function(resp) {
                            if (resp.status > 9900) {
                                console.log('getJiuHuAddressSyn token失效,请重新登录')
                            } else if (resp.status == 0) {
                                address = resp.address
                                LocalCacheMgr.setAddress(lng, lat, address);
                                callback(address);
                            } else {
                                console.log('getJiuHuAddressSyn 查询地址失败')
                            }
                        });


                        return isZh ? "地址正在解析..." : "Address is being resolved...";
                    },
                    getLastPosition: function(callback) {
                        var me = this;
                        var url = myUrls.lastPosition();
                        var data = {
                            username: this.username,
                            deviceids: [this.deviceid],
                            lastquerypositiontime: me.lastquerypositiontime
                        };
                        utils.sendAjax(url, data, function(resp) {
                            if (resp.status == 0) {
                                me.lastquerypositiontime = resp.lastquerypositiontime;
                                callback(resp.records[0]);
                            } else {
                                me.$Message.error("轨迹查询失败!");
                            };
                        });
                    },
                    doLastPosition: function(record) {
                        if (record) {
                            var me = this;
                            var isBMap = this.mapType == 'bMap';
                            var g_lon_lat = wgs84togcj02(record.callon, record.callat);
                            record.gpoint = {
                                y: g_lon_lat[1],
                                x: g_lon_lat[0]
                            };

                            var lng_lat = wgs84tobd09(record.callon, record.callat);
                            record.bpoint = {
                                y: lng_lat[1],
                                x: lng_lat[0]
                            };

                            var prveTrack = this.tracks[this.tracks.length - 1];
                            if (prveTrack) {
                                if (prveTrack.updatetime >= record.updatetime) {
                                    return;
                                }
                            }

                            var isExact = record.gotsrc == "gps";



                            if (this.tracks.length > 0) {

                                this.tracks.push(record);

                                if (isExact) {
                                    this.exactTracks.push(record);
                                }



                                var pointList = null;
                                if (this.isExact) {
                                    pointList = this.getPointList(this.exactTracks);
                                } else {
                                    pointList = this.getPointList(this.tracks);
                                }

                                this.lineString.setCoordinates(pointList);

                                if (this.isExact) {
                                    if (isExact) {
                                        this.map.setCenter(isBMap ? record.bpoint : record.gpoint);
                                        this.carMarker.setCoordinates(isBMap ? record.bpoint : record.gpoint);
                                        this.carMarker.setSymbol(this.getMarkerSymbol('./images/carstate/0_green_0.png', record.course, 15));
                                        this.getAddress(record, function(address) {
                                            me.trackHtml = me.getWindowContent(record, address);
                                        })
                                    }
                                } else {
                                    this.map.setCenter(isBMap ? record.bpoint : record.gpoint);
                                    this.carMarker.setCoordinates(isBMap ? record.bpoint : record.gpoint);
                                    this.carMarker.setSymbol(this.getMarkerSymbol('./images/carstate/0_green_0.png', record.course, 15));
                                    this.getAddress(record, function(address) {
                                        me.trackHtml = me.getWindowContent(record, address);
                                    })
                                }


                            } else if (this.tracks.length === 0) {

                                this.tracks.push(record);
                                this.exactTracks.push(record);


                                this.carMarker = this.createMarker(record, true, './images/carstate/0_green_0.png', 15);
                                this.startMarker = this.createMarker(record, false, './images/icon_st.png', 0);
                                this.markerLayer = new maptalks.VectorLayer('marker', [this.startMarker, this.carMarker]).addTo(this.map);

                                this.map.setCenter(isBMap ? record.bpoint : record.gpoint);
                                this.map.setZoom(16);

                                this.getAddress(record, function(address) {
                                    me.trackHtml = me.getWindowContent(record, address);
                                })

                            };


                        }
                    },
                    createMarker(track, isRotate, markerFile, markerRotation) {

                        var isBMap = this.mapType == 'bMap';
                        var gpoint = track.gpoint;
                        var bpoint = track.bpoint;

                        var pointArr = isBMap ? [bpoint.x, bpoint.y] : [gpoint.x, gpoint.y];

                        return new maptalks.Marker(
                            pointArr, {
                                symbol: this.getMarkerSymbol(markerFile, isRotate ? track.course : 0, markerRotation),
                            }
                        );
                    },
                    getMarkerSymbol: function(markerFile, markerRotation, markerDy) {
                        return {
                            'markerFile': markerFile,
                            'markerWidth': 30,
                            'markerHeight': 30,
                            'markerRotation': -markerRotation,
                            'markerDy': markerDy,
                            'markerDx': 0,
                        };
                    },
                    handleDown: function() {
                        this.isDown = !this.isDown;
                    },
                    getShareLastPosition: function(callback) {
                        var me = this;
                        var url = myUrls.shareTrackLastPosition();
                        var data = {
                            authcode: authcode,
                            deviceid: this.deviceid
                        };
                        utils.sendAjax(url, data, function(resp) {
                            if (resp.status == 0) {
                                isOverdue = resp.isvalid == 1 ? false : true;
                                if (isOverdue) {
                                    me.$Message.error("账号已过期");
                                    return;
                                }
                                callback(resp.records[0]);
                            } else {
                                me.$Message.error("轨迹查询失败!")
                            };
                        });
                    },
                    initApp: function(deviceid) {
                        var me = this;
                        if (isShare) {
                            this.getShareLastPosition(this.doLastPosition);
                            setInterval(function() {
                                me.interval--;
                                if (me.interval == 0 || me.interval < 0) {
                                    if (isOverdue) {
                                        me.$Message.error("账号已过期");
                                        return;
                                    }
                                    me.getShareLastPosition(me.doLastPosition);
                                    me.interval = 10;
                                };
                            }, 1000);
                        } else {
                            this.getLastPosition(this.doLastPosition);
                            setInterval(function() {
                                me.interval--;
                                if (me.interval == 0 || me.interval < 0) {
                                    me.getLastPosition(me.doLastPosition);
                                    me.interval = 10;
                                };
                            }, 1000);

                            initWebSocket(wsHost, userName + "-trackmap", function(data) {
                                var action = data.action;
                                if (action === "positionlast" && data.positionLast && data.positionLast.deviceid == deviceid) {
                                    data.positionLast && me.doLastPosition(data.positionLast);
                                };
                            })
                        }
                    },
                    reDrawMap: function(newVal) {
                        var tracks = this.isExact ? this.exactTracks : this.tracks;
                        var isBMap = newVal == 'bMap';
                        if (tracks[0]) {
                            var pointList = this.getPointList(tracks);
                            this.lineString.setCoordinates(pointList);

                            var sTrack = this.tracks[0];
                            var eTrack = tracks[tracks.length - 1];
                            this.carMarker.setCoordinates(isBMap ? eTrack.bpoint : eTrack.gpoint);
                            this.startMarker.setCoordinates(isBMap ? sTrack.bpoint : sTrack.gpoint);
                            this.map.setCenter(isBMap ? eTrack.bpoint : eTrack.gpoint);
                        } else {
                            this.trackHtml = '';
                            this.isDown = false;
                        }
                    },

                    getMapTypeLayer: function() {
                        var layer = null;
                        switch (this.mapType) {
                            case 'bMap':
                                layer = new maptalks.TileLayer('base', {
                                    'urlTemplate': 'https://maponline2.bdimg.com/tile/?qt=vtile&styles=pl&scaler=2&udt=20201217&from=jsapi2_0&x={x}&y={y}&z={z}',
                                    'subdomains': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                                    'attribution': '&copy; <a target="_blank" href="http://map.baidu.com">Baidu</a>'
                                })
                                break;
                            case 'gMap':
                                layer = new maptalks.TileLayer('base', {
                                    urlTemplate: "http://mt2.google.cn/vt?lyrs=m@180000000&hl=zh-CN&scale=2&gl=cn&src=app&x={x}&y={y}&z={z}&s=Gal",
                                })
                                break;
                            case 'aMap':
                                layer = new maptalks.TileLayer('base', {
                                    urlTemplate: 'http://webrd04.is.autonavi.com/appmaptile?lang=zh_cn&scale=2&style=8&x={x}&y={y}&z={z}',
                                })
                                break;
                            default:
                                ;
                        }
                        return layer
                    },
                },
                computed: {
                    token: function() {
                        return localStorage.getItem("token");
                    },

                    username: function() {
                        return localStorage.getItem("name");
                    },
                    trackInfoCls: function() {
                        return [((this.mapType === 'bMap' || this.mapType === 'oMap') && !isMobile) ? 'right-10' : 'right-60'];
                    },
                    imgSrcBg: function() {
                        if (isZh) {
                            return {
                                backgroundImage: this.isExact ? "url('./images/ic_fine_network_off.png')" : "url('./images/ic_fine_network_on.png')",
                                backgroundSize: 'cover'
                            }
                        } else {
                            return {
                                backgroundImage: this.isExact ? "url('./images/ic_fine_network_off_en.png')" : "url('./images/ic_fine_network_on_en.png')",
                                backgroundSize: 'cover'
                            }
                        }
                    },
                },
                watch: {
                    isExact: function() {
                        this.reDrawMap(this.mapType);
                    },
                    mapType: function(newMapType) {
                        var me = this;
                        var isBMap = this.lastMapType == 'bMap';

                        if (newMapType == 'bMap') {
                            me.map.setSpatialReference({
                                projection: 'baidu'
                            });
                            me.map.setBaseLayer(me.getMapTypeLayer());
                            me.reDrawMap(newMapType);
                        } else if (newMapType == 'gMap') {
                            me.map.setSpatialReference({})
                            me.map.setBaseLayer(me.getMapTypeLayer());
                            me.reDrawMap(newMapType);
                        } else if (newMapType == 'aMap') {
                            me.map.setSpatialReference({})
                            me.map.setBaseLayer(me.getMapTypeLayer());
                            me.reDrawMap(newMapType);
                        }

                        me.lastMapType = newMapType;
                    }
                },
                mounted: function() {
                    var me = this;
                    me.lastquerypositiontime = 0;
                    me.lastMapType = mapType;
                    me.initMap();
                    var deviceid = utils.getParameterByName("deviceid");
                    if (deviceid) {
                        this.deviceid = deviceid;
                        me.initApp(deviceid);
                    } else {
                        this.$Message.error("设备序号不能为空!");
                    };
                }
            });
        })();
    </script>
</body>

</html>