
<meta charset="UTF-8">

<div id="querygroup">
    <div class="full">
        <h3 class="h3-title">查询分组</h3>
        <ul>
            <li>
                <i-select v-model="queryType">
                    <i-option v-for="item in queryList" :value="item.value" :key="item.value">{{ item.label }}</i-option>
                </i-select> 
            </li>
            <li>
                <i-input v-model.trim="queryParameter"></i-input>
            </li>
            <li>
                <i-button type="primary">查询</i-button>
            </li>
        </ul>
        <div>
            <i-table :columns="columnsList" :data="tableData"></i-table>
        </div>
        <div class="my-page" style="margin: 5px 0;">
            <Page :total="total" simple :page-size="5" @on-change="changePage"></Page>
        </div>
    </div>

    <Modal v-model="modal" width="360" class-name="vertical-center-modal">
        <p slot="header" style="color:#f60;text-align:center">
            <Icon type="information-circled"></Icon>
            <span>是否删除</span>
        </p>
        <div style="text-align:center">
            <p> {{delGroupObj.groupname}}</p>
        </div>
        <div slot="footer">
            <i-button type="error"  @click="del" style="width: 100%">删除</i-button>
        </div>
    </Modal>

    <script>
        
vueInstanse=new Vue({
            el:"#querygroup",
            data:{
                modal:false,
                delGroupObj:{},
                total:0,
                queryType:'',
                queryList:[],
                queryParameter:"",
                groupsList:[],
                tableData:[],
                columnsList:[
                   {
                        type: 'expand',
                        width: 50,
                        render: function(h, params){
                            return h(expandRow, {
                                props: {
                                    devices: params.row.devices
                                }
                            })
                        }
                    },
                    {
                        title: '组名',
                        key: 'groupname'
                    },
                    {
                        title: '用户数量',
                        key: 'usercount'
                    },
                    {
                        title: '设备数量',
                        key: 'devicecount'
                    },
                    {
                            title: '操作',
                            key: 'action',
                            width: 250,
                            align: 'center',
                            render: function(h, params) {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.editGroup(params.index);
                                            }
                                        }
                                    }, '修改'),
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.deleteGroup(params.index);
                                            }
                                        }
                                    }, '删除'),
                                    h('Button', {
                                        props: {
                                            type: 'primary',
                                            size: 'small'
                                        },
                                        on: {
                                            click: function() {
                                                vueInstanse.deleteGroup(params.index);
                                            }
                                        }
                                    }, '选择监控员')
                                ]);
                            }
                        }
                ]
            },
            methods:{
                queryAllgroupsInfo:function(){
                    var url = myUrls.queryGroupByUser();
                    utils.sendAjax(url,{},this.doQueryAllgroupsInfo);
                },
                doQueryAllgroupsInfo:function(resp){
                    if(resp.status === 0){
                        this.groupsList = resp.grouplist;
                        this.total = this.groupsList.length;
                        this.tableData = this.groupsList.slice( 0 , 5);
                    }
                },
                editGroup:function(index){
                    var me = this;
                    editGroup = this.tableData[index];
                    this.$Loading.start();
                    $("#mar-view").load("../view/manager/editgroup.html",function(){
                        me.$Loading.finish();
                    });
                },
                deleteGroup:function(index){
                    this.delGroupObj = this.tableData[index];
                    this.modal = true;
                },
                del:function(){
                    var me = this;
                    var url = myUrls.deleteGroup();
                    var groupid = this.delGroupObj.groupid; 
                    var data = { groupid:groupid };
                    utils.sendAjax(url,data,function(resp){
                        if(resp.status == 0){
                            me.tableData.forEach(function(item,index){
                                if(item.groupid == groupid){
                                    me.$delete(me.tableData,index)
                                }
                            });

                            me.groupsList.forEach(function(item,index){
                                if(item.groupid == groupid){
                                    me.$delete(me.groupsList,index)
                                }
                            });
                            
                            me.$Message.success("删除成功!");
                        }else{
                            me.$Message.error(resp.cause);
                        }
                        me.modal = false;
                    });
                },
                changePage:function(index){
                    var offset = index * 5;
                    var start = (index-1) *5;
                    this.tableData =  this.groupsList.slice(start,offset);
                }
            },
            mounted:function(){
               this.queryAllgroupsInfo();
            }
        })
    </script>
</div>




