@font-face {
  font-family: "iconfont"; /* Project id 871932 */
  src: url('iconfont.woff2?t=1626944677813') format('woff2'),
       url('iconfont.woff?t=1626944677813') format('woff'),
       url('iconfont.ttf?t=1626944677813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuilatubiao:before {
  content: "\e6cb";
}

.icon-tuilatubiao-01:before {
  content: "\e61f";
}

.icon-jilu1:before {
  content: "\e684";
}

.icon-record:before {
  content: "\e658";
}

.icon-records:before {
  content: "\e72a";
}

.icon-xingzhuang:before {
  content: "\e612";
}

.icon-icon4:before {
  content: "\e61b";
}

.icon-changyongicon-:before {
  content: "\e61a";
}

.icon-wuye:before {
  content: "\e652";
}

.icon-chizi:before {
  content: "\e629";
}

.icon-moren:before {
  content: "\e614";
}

.icon-fuhao-yingwen:before {
  content: "\e712";
}

.icon-fuhao-zhongwen:before {
  content: "\e713";
}

.icon-custom-clear:before {
  content: "\e60e";
}

.icon-shexiangji:before {
  content: "\e777";
}

.icon-youxiajiao:before {
  content: "\e641";
}

.icon-drag:before {
  content: "\e714";
}

.icon-icon--:before {
  content: "\e778";
}

.icon-safety-icon:before {
  content: "\e686";
}

.icon-wenhao:before {
  content: "\e630";
}

.icon-guanbiduijiang:before {
  content: "\e628";
}

.icon-yuyin3:before {
  content: "\e60a";
}

.icon-playback:before {
  content: "\e69b";
}

.icon-camera:before {
  content: "\e666";
}

.icon-play:before {
  content: "\e62a";
}

.icon-pause:before {
  content: "\e9d3";
}

.icon-quanping:before {
  content: "\e660";
}

.icon-guanbiyinliang:before {
  content: "\e623";
}

.icon-yuyin2:before {
  content: "\e617";
}

.icon-yinliang:before {
  content: "\e6c5";
}

.icon-tuichuquanping:before {
  content: "\e637";
}

.icon-yunyingshuju:before {
  content: "\e603";
}

.icon-yibiaopan:before {
  content: "\e627";
}

.icon-yuyin1:before {
  content: "\e667";
}

.icon-qunliao:before {
  content: "\e68f";
}

.icon-icon-test:before {
  content: "\e622";
}

.icon-yuyin:before {
  content: "\e619";
}

.icon-arrow-top:before {
  content: "\e765";
}

.icon-luyinyuyin:before {
  content: "\e644";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-phone:before {
  content: "\e640";
}

.icon-jinggao:before {
  content: "\e618";
}

.icon-edit:before {
  content: "\e61e";
}

.icon-iconmydevices:before {
  content: "\e675";
}

.icon-warning:before {
  content: "\e836";
}

.icon-report:before {
  content: "\e7d4";
}

.icon-dashboardbuttongroup:before {
  content: "\e60f";
}

.icon-ic_sd_card:before {
  content: "\ea82";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-jilu:before {
  content: "\e65d";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-kuaitui:before {
  content: "\e878";
}

.icon-kuaijin:before {
  content: "\e879";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-dingwei1:before {
  content: "\e610";
}

.icon-bofang1:before {
  content: "\e626";
}

.icon-dangqian:before {
  content: "\e64a";
}

.icon-send-message-:before {
  content: "\e673";
}

.icon-car:before {
  content: "\e621";
}

.icon-more:before {
  content: "\e787";
}

.icon-norecord:before {
  content: "\e657";
}

.icon-guiji:before {
  content: "\e661";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-shangyiyehoutuifanhui-xianxingyuankuang:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo-xianxingyuankuang:before {
  content: "\e8f0";
}

.icon-dingwei:before {
  content: "\e900";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-shenfenzheng:before {
  content: "\e625";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-shuaxin:before {
  content: "\ec08";
}

