html,body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    background: #F8F8F9;
}

.full{
    width: 100%;
    height: 100%;
}

img{
    display: inline-block;
    border: none;
}

/* 禁止选中 */
.noselect {
    -webkit-touch-callout: none;   
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;    
}

ul,ol,li{
    list-style: none;
}


/* h3 */
.h3-title{
    color:#2D8CF0;
    position: relative;
    padding-left: 10px;
}

.h3-title::before{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 4px;
    height: 20px;
    background: #2D8CF0;
}

/* iview  模态框垂直水平居中 */
.vertical-center-modal{
    position: fixed;     
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}


/* .ivu-modal-fullscreen {
    width: 78%!important;
    bottom: 51px;
} */

/* 解决系统参数下所有icon margin 上移3px的问题 */
.system .ivu-icon{
    margin: 0;
}

/* padding */
.pd-10{
    padding: 10px;
}


/* autocomplete */
.demo-auto-complete-item{
    padding: 4px 0;
    border-bottom: 1px solid #F6F6F6;
}
.demo-auto-complete-group{
    font-size: 12px;
    padding: 4px 6px;
}
.demo-auto-complete-group span{
    color: #666;
    font-weight: bold;
}
.demo-auto-complete-group a{
    float: right;
}
.demo-auto-complete-count{
    float: right;
    color: #999;
}
.demo-auto-complete-more{
    display: block;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

.search-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.search-wrapper ul.search-item-wrapper{
    position: absolute;
    left: 0;
    right:0;
    top: 38px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    max-height: 300px;
    z-index: 10000;
    overflow-y:auto; 
}

/* 查询所有设备指令 */
#directive-wraper{
    position: relative;
    height: 100%;
    width: 100%;
}
#directive-wraper div.directive-type-wraper{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 34px;
    overflow-y: auto;
}
#directive-wraper div.directive-type-wraper>div{
    position: absolute;
    top: 0px;
    bottom: 0;
}
#directive-wraper div.directive-type-wraper>div.device-type{
    left: 0;
    width: 240px;
}
#directive-wraper div.directive-type-wraper>div.directive-type{
    right: 0;
    left: 250px;
}
.ivu-select-selection .ivu-icon{
    margin-top:-7px;
}