html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    background: #F8F8F9;
}

[v-cloak] {
    display: none;
}

.full {
    width: 100%;
    height: 100%;
}

img {
    display: inline-block;
    border: none;
}


/* 禁止选中 */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul,
ol,
li {
    list-style: none;
}


/* h3 */

.h3-title {
    color: #2D8CF0;
    position: relative;
    padding-left: 10px;
}

.h3-title::before {
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 4px;
    height: 20px;
    background: #2D8CF0;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

div.maptalks-attribution {
    display: none;
}


/* iview  模态框垂直水平居中 */


/* .vertical-center-modal { */


/* position: fixed;     
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%); */


/* } */


/* .ivu-modal-fullscreen {
    width: 78%!important;
    bottom: 51px;
} */


/* 解决系统参数下所有icon margin 上移3px的问题 */


/* padding */

.pd-10 {
    padding: 10px;
}


/* autocomplete */

.demo-auto-complete-item {
    padding: 4px 0;
    border-bottom: 1px solid #F6F6F6;
}

.demo-auto-complete-group {
    font-size: 12px;
    padding: 4px 6px;
}

.demo-auto-complete-group span {
    color: #666;
    font-weight: bold;
}

.demo-auto-complete-group a {
    float: right;
}

.demo-auto-complete-count {
    float: right;
    color: #999;
}

.demo-auto-complete-more {
    display: block;
    margin: 0 auto;
    padding: 4px;
    text-align: center;
    font-size: 12px;
}

.search-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-wrapper ul.search-item-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    max-height: 300px;
    z-index: 10000;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-wrapper div.search-item-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    max-height: 300px;
    z-index: 10000;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

.search-wrapper ul.search-item-wrapper .ivu-select-item,
.search-wrapper ul.search-item-wrapper .ivu-select-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 查询所有设备指令 */

#directive-wraper {
    position: relative;
    height: 100%;
    width: 100%;
}

#directive-wraper div.directive-type-wraper {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 34px;
}

#directive-wraper div.directive-type-wraper>div {
    position: absolute;
    top: 0px;
    bottom: 0;
}

#directive-wraper div.directive-type-wraper>div.device-type {
    left: 0;
    width: 240px;
    bottom: 0;
}

#directive-wraper div.directive-type-wraper>div.device-type .directive-type-search {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}

#directive-wraper div.directive-type-wraper>div.device-type .ivu-menu-directive {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}

#directive-wraper div.directive-type-wraper>div.directive-type {
    right: 0;
    left: 250px;
    bottom: 0;
    overflow-y: auto;
}

p.last-address,
p.last-strstatus {
    min-height: 21px;
    max-height: 42px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/* tree demo */

.cursor-pointer {
    cursor: pointer;
}

#report-right-wrap div.spans-wrap span:hover {
    color: #2D8CF0;
}

.tree-demo-wraper {
    position: relative;
}

.toggle-header-wraper {
    height: 35px;
}

.toggle-header-wraper>div {
    float: left;
}

.tree-wrapper {
    position: absolute;
    top: 38px;
    left: 0px;
    width: 250px;
    max-height: 300px;
    background: #ffffff;
    border-radius: 3px;
    overflow-y: auto;
    border: 1px solid #DCDEE2;
    padding: 0 10px;
    z-index: 999;
}


/* 地图小窗口 */

.posi-map-wraper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 299999;
}

.map-modal {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
}

.inner-map-wraper {
    width: 606px;
    height: 506px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -300px;
    border: 3px solid #fff;
    border-radius: 3px;
}

.posi-map-title {
    width: 100%;
    height: 50px;
    background: #3399ff;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: relative;
}

#posi-map {
    width: 100%;
    height: 450px;
}

div.work-details-map {
    width: 100%;
    height: 644px;
}

div.work-inner-map-wraper {
    width: 900px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -350px;
    margin-left: -450px;
    border: 3px solid #fff;
    border-radius: 3px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

.col-car-wrap {
    height: 92px;
    width: 92px;
    line-height: 92px;
    text-align: center;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.col-car-wrap:hover {
    border: 1px solid green;
}

.ivu-drawer {
    width: auto;
    height: 100%;
    position: fixed;
    top: 0
}

.ivu-drawer-inner {
    position: absolute
}

.ivu-drawer-left {
    left: 0
}

.ivu-drawer-right {
    right: 0
}

.ivu-drawer-hidden {
    display: none!important
}

.ivu-drawer-wrap {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.ivu-drawer-wrap-inner {
    position: absolute;
    overflow: hidden
}

.ivu-drawer-wrap * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.ivu-drawer-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55, 55, 55, .6);
    height: 100%;
    z-index: 1000
}

.ivu-drawer-mask-hidden {
    display: none
}

.ivu-drawer-mask-inner {
    position: absolute
}

.ivu-drawer-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15)
}

.ivu-drawer-content-no-mask {
    pointer-events: auto
}

.ivu-drawer-header {
    border-bottom: 1px solid #e8eaec;
    padding: 14px 16px;
    line-height: 1
}

.ivu-drawer-header p,
.ivu-drawer-header-inner {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #17233d;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ivu-drawer-header p i,
.ivu-drawer-header p span {
    vertical-align: middle
}

.ivu-drawer-close {
    z-index: 1;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 8px;
    overflow: hidden;
    cursor: pointer
}

.ivu-drawer-close .ivu-icon-ios-close {
    font-size: 31px;
    color: #999;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    position: relative;
    top: 1px
}

.ivu-drawer-close .ivu-icon-ios-close:hover {
    color: #444
}

.ivu-drawer-body {
    width: 100%;
    height: calc(100% - 51px);
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
    word-wrap: break-word;
    position: absolute;
    overflow: auto
}

.ivu-drawer-no-header .ivu-drawer-body {
    height: 100%
}

.ivu-drawer-no-mask {
    pointer-events: none
}

.move-left-appear,
.move-left-enter-active {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.move-left-leave-active {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.move-left-appear,
.move-left-enter-active {
    -webkit-animation-name: ivuMoveLeftIn;
    animation-name: ivuMoveLeftIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.move-left-leave-active {
    -webkit-animation-name: ivuMoveLeftOut;
    animation-name: ivuMoveLeftOut;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.move-left-appear,
.move-left-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.move-left-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.move-right-appear,
.move-right-enter-active {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.move-right-leave-active {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.move-right-appear,
.move-right-enter-active {
    -webkit-animation-name: ivuMoveRightIn;
    animation-name: ivuMoveRightIn;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

[v-cloak] {
    display: none
}

.move-right-leave-active {
    -webkit-animation-name: ivuMoveRightOut;
    animation-name: ivuMoveRightOut;
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.move-right-appear,
.move-right-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

.move-right-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}

@-webkit-keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

@keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0
    }
}

@-webkit-keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }
}

@keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0
    }
}

.ivu-table .device-experience td {
    color: rgb(214, 194, 9);
}

.ivu-table .device-normal td {
    color: rgb(21, 129, 6);
}

.ivu-table .equipment-expired td {
    color: red;
}

#app .ivu-table-cell {
    word-break: break-word;
}

#app .ivu-carousel {
    width: 100%;
    height: 100%;
}

#app .ivu-carousel-list,
#app .ivu-carousel-track {
    overflow: visible;
}

#app .ivu-carousel-arrow {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}