html,body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    background: #F8F8F9;
}

.full{
    width: 100%;
    height: 100%;
}

img{
    display: inline-block;
    border: none;
}

/* 禁止选中 */
.noselect {
    -webkit-touch-callout: none;   
    -webkit-user-select: none;  
    -khtml-user-select: none;    
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;    
}

ul,ol,li{
    list-style: none;
}


/* h3 */
.h3-title{
    color:#2D8CF0;
    position: relative;
    padding-left: 10px;
}

.h3-title::before{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 4px;
    height: 20px;
    background: #2D8CF0;
}

/* iview  模态框垂直水平居中 */
.vertical-center-modal{
    position: fixed;     
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


/* .ivu-modal-fullscreen {
    width: 78%!important;
    bottom: 51px;
} */