
#login-wraper{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 1300px;
    min-height: 580px;
}

.center{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.cursor{
    cursor: pointer;
}

.active{
    color:#2D8CF0;
}

/* 头部开始 */
    div.header{
        position: absolute;
        left: 0;
        top: 0;
        height: 80px;
        width:100%;
        background: #E8F0F7;
    }
    div.logo-wrap{
        line-height: 80px;
        height: 80px;
        float: left;
    }
    div.language{  
        line-height: 80px;
        height: 80px;
        float: right;
    }
    div.language > span{  
       display: inline-block;
       padding: 0 10px;
       cursor: pointer;
    }
    span.logo{
        font-size: 40px;
        margin-left: 15px;
    }
    span.logo-title{
        font-size: 21px;
        vertical-align: top;
    }
    div.logo-wrap b{
        margin: 0px 10px;
        vertical-align: top;
        display: inline-block;
        font-size: 21px;
        margin-top: -2px; 
    }
    span.version{
        vertical-align: top;
    }
/* 头部结束 */



/* main开始 */
    div.main{
        position: absolute;
        left: 0;
        top: 80px;
        bottom: 160px;
        width:100%; 
        border-top: 1px solid #C3CEDE;
        border-bottom: 1px solid #C3CEDE;
        background: #FFFFFF;
        min-height: 352px;
    }

    div.main>div.center{
        height: 100%;     
    }

    div.main>div.center>div{
        width: 50%;
        height: 100%;
        float: left;
        position: relative;
    }
    div.left-wraper>div{
        width: 100%;
        height: 350px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -175px;
        background: url("../images/loginbg1.jpg") no-repeat center center;
        background-size:cover;  
    }
    div.login-form-box{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 350px;
        height: 277px;
        margin-left: -175px;
        margin-top: -138.5px;
    }

    .ivu-card-head .ivu-icon {
        margin-top:-3px; 
    }
    div.inputs p {
        margin: 15px ;
    }
  
/* main结束 */



/* 底部开始 */
    div.footer{
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 160px;
        width:100%;  
    }

/* 底部结束 */