#login-wraper {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 1300px;
    min-height: 580px;
    /* background-image: url('../images/login_bg.jpg');
    background-size: cover; */
    background: url('../images/login_bg.jpg') center center no-repeat;
    /* background-size: cover; */
}

.center {
    margin: 0 auto;
    width: 1280px;
    position: relative;
}

.cursor {
    cursor: pointer;
    color: #ffffff;
}

#login-wraper .active {
    color: #3ABBDD;
}


/* 头部开始 */

div.header {
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    width: 100%;
    color: #ffffff;
}

div.logo-wrap {
    line-height: 80px;
    height: 80px;
    float: left;
}

div.language {
    line-height: 80px;
    height: 80px;
    float: right;
}

div.language>div {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    color: #ffffff;
}

span.logo {
    font-size: 40px;
    margin-left: 15px;
}

span.logo-title {
    font-size: 21px;
    vertical-align: top;
}

div.logo-wrap b {
    margin: 0px 10px;
    vertical-align: top;
    display: inline-block;
    font-size: 21px;
    margin-top: -2px;
}

span.version {
    vertical-align: top;
}


/* 头部结束 */


/* main开始 */

div.main {
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 45px;
    width: 100%;
    border-top: 1px solid #433CCA;
    border-bottom: 1px solid #433CCA;
    min-height: 352px;
}

div.main>div.center {
    height: 100%;
}

div.main>div.center>div {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

div.left-wraper>div {
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -175px;
    background: url("../custom/loginbg1.jpg") no-repeat center center;
    background-size: cover;
}

#login-wraper .ivu-input-group-prepend,
#login-wraper .ivu-input {
    background-color: #6363DB;
    color: #ffffff;
}

#login-wraper .ivu-checkbox-inner {
    background-color: transparent;
}

div.login-form-box {
    position: absolute;
    right: 50px;
    top: 45%;
    width: 350px;
    height: 277px;
    margin-top: -138.5px;
}

div.login-form-left-top {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 50px;
    height: 50px;
    border-radius: 5px 0 0 0;
    border-top: 1px solid #9190F3;
    border-left: 1px solid #9190F3;
    z-index: 999;
}

div.login-form-right-top {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 50px;
    height: 50px;
    border-radius: 0 5px 0 0;
    border-top: 1px solid #9190F3;
    border-right: 1px solid #9190F3;
    z-index: 999;
}

div.login-form-left-bottom {
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 5px;
    border-bottom: 1px solid #9190F3;
    border-left: 1px solid #9190F3;
    z-index: 999;
}

div.login-form-right-bottom {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 50px;
    height: 50px;
    border-radius: 0 0 5px 0;
    border-bottom: 1px solid #9190F3;
    border-right: 1px solid #9190F3;
    z-index: 999;
}

div.login-form-box .ivu-card {
    background-color: rgba(255, 255, 255, .2);
}

div.login-form-box .ivu-card-head {
    border-bottom: 1px solid #9190F3;
}

div.login-form-box .ivu-card-bordered {
    border: 1px solid #9190F3;
}

.ivu-card-head .ivu-icon {
    margin-top: -3px;
}

div.inputs p {
    margin: 15px;
}

.qr-code-wrap {
    position: absolute;
    left: 0;
    right: 0;
    height: 140px;
    bottom: 0px;
}

.qr-code-inner-wrap {
    width: 900px;
    height: 140px;
    margin: 0 auto;
}

.qr-code-inner-wrap>div {
    float: left;
    width: 50%;
    height: 140px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.qr-code-inner-wrap>div>div {
    /* float: left; */
    display: inline-block;
    vertical-align: middle;
}

.desc {
    color: #ffffff;
    height: 100%;
    margin-left: 10px;
}

.desc h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}

.desc ul li {
    list-style-type: disc;
    margin-left: 15px;
    text-align: left;
}


/* 底部开始 */

div.footer {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 45px;
    width: 100%;
    line-height: 45px;
}

.beian {
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    height: 45px;
    width: 100%;
    line-height: 45px;
}

.beian a {
    text-decoration: none;
}


/* 底部结束 */