/* layout 开始 */
#app{
    height: 100%;
    height: 100%;
    min-width: 1300px;
    min-height: 580px;
    position: relative;
}
    /* 头部 */
div.header-wraper{
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    right: 0;
}
.ivu-menu-dark{
    background:#495060;
}
    /* 试图 */
div.view-wraper{
    position: absolute;
    left:  0;
    top: 60px;
    right: 0;
    bottom: 0;
}
.ivu-input-number-handler-wrap .ivu-icon{
    margin-top: 0px; 
}
.full .ivu-input-number-handler-wrap .ivu-icon{
    margin-top: 0px; 
}
.full .ivu-tag .ivu-icon{
    margin-top:0px; 
}
.ivu-input-type .ivu-icon{
    margin-top:0px; 
}
/* layout 结束 */


 /* 头部开始 */
    div.app-header{
        width: 100%;
        height: 60px;
        position: relative;
        background: #495060;
        color: #fff;
    }
   .logo , .app-nav{
        height: 100%;
        line-height: 60px;
        float: left;
    }
    div.app-header .site_links{
        height: 100%;
        line-height: 60px;
        float: right;
    }

    .logo {
        font-size: 40px;
        padding:0 20px;
    }

    div.site_links ul {
        overflow: hidden;
    }
    div.site_links ul li{
        float: left;
        padding-right: 10px;
    }

    div.site_links ul li span{
        display: inline-block;
        color: #fff;
        padding: 0 10px;
        cursor: pointer;
    }
  /* 头部结束 */




 /* 监控开始 */
    span .ivu-icon {
        margin-top: -2px;
    }
    .ivu-row .ivu-input-wrapper .ivu-icon{
        margin-top: 0px;
    }
    div.full .ivu-page  .ivu-icon{
        margin-top: 0px;
    }
    div.monitor-wraper{
        width: 100%;
        height: 100%;
        position: relative;
    }  
    div.devices-container{
        position: absolute;
        left: 0;
        top: 0;
        width: 290px;
        bottom: 0;
        padding: 10px;
        box-sizing: border-box;
        border-right: 1px solid #D5DCE1;
    }
    ul.device-state{
        overflow: hidden;
    }
    ul.device-state>li{
        float: left;
        width: 33.3%;
        height: 70px;
        background: #ECF2F6;
        cursor: pointer;
    }
    ul.device-state>li.active{
        color: #2D8CF0;
    }
    ul.device-state p{text-align: center;}
    ul.device-state p.p-icon{    
        margin-top: 13px;
    }
    div.monitor-wraper ul.device-state p.dev-count{    
       font-size: 14px;
    }
 
    div.device-soso{
        margin: 10px 0;
        padding-top: 10px;
        clear: both;
    }
    div.device-tree{
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
        top: 130px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    div.map-wraper{
        position: absolute;
        left: 290px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        box-sizing: border-box;
        background: #EAEEF0;
    }
 /* 监控结束 */


  /* 后台管理开始 */
    div.manager-wraper{
        height: 100%;
        width: 100%;
        position: relative;
    }
    div.manager-wraper>div{
        position: absolute;
        top: 0;
    }
    div.mar-nav{
        left: 0;
        width: 240px;
        bottom: 0;
        background: #FFFFFF;
        overflow-y: auto;
        overflow-x: hidden;
    }
    div.mar-view{
        bottom: 0;
        right: 0;
        left: 240px;
    }
    .ivu-icon {
        margin-top:-3px; 
    }
    .full .ivu-icon{
        margin-top:-7px; 
    }
  /* 后台管理结束 */












  /* 添加客户css开始 */
    #addcustomer{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
   
    #addcustomer>div>div{
        margin: 0 auto;
        width: 700px;
    }

   /* 添加客户css开始 */



   /* 查询客户css开始 */
    #query-company{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    #query-company>div>div{
      width: 100%;
    }
    #query-company>div> ul{
        overflow: hidden;
    }
    #query-company>div> ul>li{
        float: left;
        width: 150px;
        margin-right: 10px;
        padding: 5px 0;
    }
   /* 查询客户css结束 */


   /* 编辑客户开始 */
   #editcustomer{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    #editcustomer>div>h3{
        position: relative;
    }
    #editcustomer>div>h3>span{
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 80px;
        height: 100%;
    }
    #editcustomer>div>div{
        margin: 0 auto;
        width: 700px;
    }  
   /* 编辑客户结束 */


   /* 添加分组开始 */
    #addgroup{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
   
    #addgroup>div>div{
        margin: 0 auto;
        width: 700px;
    }

    #addgroup>div>h3{
        position: relative;
    }
    #addgroup>div>h3>span{
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 80px;
        height: 100%;
    }
   /* 添加分组结束 */


   /* 查询分组开始 */
   #querygroup{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    #querygroup>div.full{
        overflow-y: auto;
    }
    #querygroup>div>div{
        width: 100%;
    }
    #querygroup>div> ul{
        overflow: hidden;
    }
    #querygroup>div> ul>li{
        float: left;
        width: 150px;
        margin-right: 10px;
        padding: 5px 0;
    }
   /* 查询分组结束 */


   /* 添加用户开始 */
   #adduser{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    #adduser>div>div{
        margin: 0 auto;
        width: 700px;
    }
   /* 添加用户结束 */


   /* c查询用户 */
   #queryuser{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    #queryuser>div>div{
        width: 100%;
    }
    #queryuser>div> ul{
        overflow: hidden;
    }
    #queryuser>div> ul>li{
        float: left;
        width: 150px;
        margin-right: 10px;
        padding: 5px 0;
    }
   /* 查询用户 */

   /* 编辑user开始 */
    #edituser{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }

    #edituser>div>div{
        margin: 0 auto;
        width: 700px;
    }

    #edituser>div>h3{
        position: relative;
    }
    #edituser>div>h3>span{
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 80px;
        height: 100%;
    }
/* 编辑user结束 */




   /* 添加设备开始 */
    #adddevice{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
   
    #adddevice>div>div{
        margin: 0 auto;
        width: 700px;
    }

   /* 添加设备开始 */


   /* 查询设备开始 */
   #querydev{
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    }

    #querydev>div>div{
    width: 100%;
    }
    #querydev>div> ul{
        overflow: hidden;
    }
    #querydev>div> ul>li{
        float: left;
        width: 150px;
        margin-right: 10px;
        padding: 5px 0;
    }
    /* 查询设备结束 */

    /* 编辑设备开始 */
    #editdevice{
        padding: 10px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        position: relative;
    }
    #editdevice>div>h3{
        position: relative;
    }
    #editdevice>div>h3>span{
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        width: 80px;
        height: 100%;
    }
    #editdevice>div>div{
        margin: 0 auto;
        width: 700px;
    }
     /* 编辑设备结束 */
