/* layout 开始 */

#app {
    height: 100%;
    height: 100%;
    min-width: 1300px;
    min-height: 580px;
    position: relative;
    overflow: hidden;
}


/* 头部 */

div.header-wraper {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    right: 0;
}

.ivu-menu-dark {
    background: #495060;
}


/* 视图 */

div.view-wraper {
    position: absolute;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
}


/* icon位置 */

.ivu-tree ul {
    font-size: 14px;
}

#adddevice div.ivu-steps-title,
#adddevice div.ivu-steps-head {
    background: #F8F8F9;
}


/* layout 结束 */


/* 头部开始 */

div.app-header {
    width: 100%;
    height: 60px;
    position: relative;
    /* background: #495060; */
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    color: #fff;
}

#app div.app-header .ivu-menu-dark {
    background-color: transparent;
}

#app div.app-header .ivu-menu {
    color: #ffffff;
}

.logo,
.app-nav {
    height: 100%;
    line-height: 60px;
    float: left;
}

div.app-header .site_links {
    height: 100%;
    line-height: 60px;
    float: right;
}

.logo {
    font-size: 40px;
    padding: 0 20px;
}

div.site_links ul {
    overflow: hidden;
}

div.site_links ul li {
    float: left;
}

div.site_links ul li span {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
}


/* 头部结束 */

.select-input {
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 24px;
    padding: 4px 7px;
    font-size: 12px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    color: #515a6e;
    background-color: #fff;
    background-image: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 监控开始 */

div.monitor-wraper {
    width: 100%;
    height: 100%;
    position: relative;
}

div.devices-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #D5DCE1;
}

ul.device-state>li {
    float: left;
    width: 25%;
    height: 50px;
    background: #ECF2F6;
    cursor: pointer;
}

ul.device-state>li.active {
    color: #2D8CF0;
}

ul.device-state p {
    text-align: center;
}

ul.device-state p.p-icon {
    margin-top: 6px;
}

div.monitor-wraper ul.device-state p.dev-count {
    font-size: 12px;
}

div.device-soso {
    margin: 10px 0;
    padding-top: 10px;
    clear: both;
}

div.device-tree,
div.video-tree,
div.group-spin-wraper {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 103px;
    overflow-x: hidden;
    overflow-y: auto;
}

div.video-tree span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no_selected {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.group-spin-wraper {
    z-index: 999;
}


/* 设备控制 tree 开始 */

.video-device-cls {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.video-device-cls span {
    height: 27px;
    line-height: 27px;
    vertical-align: bottom;
    font-size: 12px;
}

.video-device-cls span.video-device-title-cls {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active-dev-offline {
    border-radius: 5px;
    background: #ECF2F6;
    border: 1px solid #A4D4F5;
}

.device-controller {
    overflow: hidden;
    padding-bottom: 3px;
}

.device-controller li {
    float: left;
    width: 25%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

div.map-wraper {
    position: absolute;
    left: 320px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    background: #EAEEF0;
}

div.map_manager {
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    background: #fff;
    transition: height .3s;
}

#my-map {
    transition: top .3s;
}

#my-map p {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    color: #000000;
}

#app .monitor-wraper .map-mode-cls {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#app .monitor-wraper .video-mode-cls {
    position: absolute;
    width: 400px;
    right: 10px;
    bottom: 10px;
}

#app .monitor-wraper .videos-wrapper-hide {
    display: none;
}

#app .monitor-wraper .videos-wrapper-show {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 410px;
}

li.full-map-wraper {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.spin-wraper {
    position: absolute;
    left: 10px;
    top: 35px;
    right: 10px;
    bottom: 10px;
    z-index: 10000;
    display: inline-block;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: #D5DCE1;
}

#video_wrap {
    z-index: 10;
    transition: top .3s;
}

#video_wrap .tv_box span {
    height: 22px;
    line-height: 18px;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    margin-top: 7px;
}

#video_wrap .video_header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 35px;
    background-color: #495060;
}

#video_wrap .video_header .video_function {
    float: right;
    height: 100%;
}

#video_wrap .video_header .video_function span {
    height: 22px;
    line-height: 18px;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    margin-top: 7px;
    cursor: pointer;
}

#video_wrap .video_body {
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    bottom: 0px;
}

#video_wrap .video_body .video_number2_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('../images/tv_default.jpg');
    background-size: cover;
}

#video_wrap .video_body .video_number2_2 {
    position: absolute;
    width: 40%;
    height: 40%;
    right: 0;
    bottom: 35px;
    background-image: url('../images/tv_default.jpg');
    background-size: cover;
}

#videoContent {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

#videoContent>div {
    float: left;
    overflow: hidden;
    position: relative;
    background-image: url('../images/tv_default.jpg');
    background-size: cover;
}

.my-video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.player-wraper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    top: 0;
    overflow: hidden;
}

.player-wraper>video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.my-video-control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    background-color: #000000;
    color: #FFFFFF;
}

.my-video-control .device-states {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    position: absolute;
    left: 0;
    top: 0;
}

.my-video-control .video-controls {
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 115px;
    padding-left: 5px;
    background-color: #000000;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.my-video-control .video-controls>span {
    cursor: pointer;
    margin: 0 3px;
}

div.state-event-tip {
    position: absolute;
    left: 2px;
    bottom: 2px;
    background-color: rgba(255, 0, 0, .9);
    color: white;
    font-size: 10px;
}

div.resolving-power {
    position: absolute;
    top: 2px;
    right: 2px;
    color: red;
}

.videoContent-1>div:first-child {
    width: 100%;
    height: 100%;
}

#video_wrap .videoContent-2>div:first-child {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#video_wrap .videoContent-2>div:nth-child(2) {
    position: absolute;
    right: 0px;
    bottom: 35px;
    width: 40%;
    height: 40%;
    border: 2px solid gray;
}

.videoContent-4>div {
    width: 50%;
    height: 50%;
}

.videoContent-6>div:first-child {
    width: 66.66%;
    height: 66.65%;
}

.videoContent-6>div {
    width: 33.33%;
    height: 33.33%;
}

.videoContent-8>div:first-child {
    width: 75%;
    height: 75%;
}

.videoContent-8>div {
    width: 25%;
    height: 25%;
}

.videoContent-9>div {
    width: 33.3333%;
    height: 33.3333%;
}

.videoContent-16>div {
    width: 25%;
    height: 25%;
}


/* 云台 */

#yuntai-tab-wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 350px;
    background-color: #FFFFFF;
    height: 322px;
    border: 1px solid #e3e3e3;
}

div.yuntai-title {
    line-height: 35px;
    height: 36px;
    padding-left: 10px;
    font-size: 12px;
    border-bottom: 1px solid #DCDEE2;
}

.el-zoom-in-bottom-enter-active,
.el-zoom-in-bottom-leave-active {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1);
    transition: transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.el-zoom-in-bottom-enter,
.el-zoom-in-bottom-leave-active {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0)
}

.blackBoxSpeak {
    width: 176px;
    height: 176px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* background: url("../../images/luyin/ic_record@2x.png") no-repeat 28px 16px/65px 104px,
    url("../../images/luyin/ic_record_ripple@2x-9.png") no-repeat 111.2px 32px/28.8px 88px; */
    background: rgba(0, 0, 0, .7);
    /* display: none; */
    border-radius: 12px;
    z-index: 8888;
}

.img-box {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 48px;
    display: flex;
    flex-direction: row;
}

.img-box>div {
    width: 50%;
    padding: 10px;
}

.img-box>div:last-child {
    padding: 10px 20px;
    box-sizing: border-box;
}

.blackBoxSpeakConent {
    font: 14.4px '微软雅黑 Light';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    display: block;
    text-align: center;
    width: 90%;
    padding: 8px 0;
    margin: auto;
    color: #ffffff;
    font-weight: 200;
    border-radius: 4px;
}

.audioPlayerTip {
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, .7);
    color: #ffffff;
    margin-top: 10px;
}


/* popup css  start */

.ol-popup {
    position: absolute;
    background-color: white;
    padding: 11px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -191px;
    width: 382px;
    box-sizing: border-box;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0px;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 191px;
    margin-left: -10px;
}


/* .ol-popup:before
        {
            border-top-color:#cccccc;
            border-width:11px;
            left: 191px;
            left:-11px;
        } */

#popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    cursor: pointer;
}


/* popup css  end */

ul.ul-manager-wraper {
    overflow: hidden;
    float: right;
    height: 35px;
    padding-right: 10px;
}

ul.ul-manager-wraper>li {
    float: left;
    height: 35px;
    margin-left: 10px;
}

ul.ul-manager-wraper li.maps {
    line-height: 35px;
    width: 100px;
}

ul.ul-manager-wraper li.maps .ivu-select-item {
    width: 100%;
}

ul.ul-manager-wraper li.gongju {
    line-height: 35px;
}

p.operation span {
    margin-right: 3px;
    font-size: 12px;
}


/* 监控结束 */


/* 报表css开始 */

div.report-wraper {
    position: relative;
}

div.report-wraper>div {
    position: absolute;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

div.report-left-wrap {
    left: 0px;
    width: 240px;
    background: #FFFFFF;
}

div.report-right-wrap {
    right: 0;
    left: 240px;
}


/* 报表css结束 */


/* 后台管理开始 */

div.manager-wraper,
div.trackdebug-wraper {
    height: 100%;
    width: 100%;
    position: relative;
}

div.manager-wraper>div {
    position: absolute;
    top: 0;
}

div.mar-nav {
    left: 0;
    width: 240px;
    bottom: 0;
    background: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
}

div.mar-view {
    bottom: 0;
    right: 0;
    left: 240px;
    overflow-y: auto;
}


/* 后台管理结束 */


/* 规则管理  开始*/

div.rule-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

div.rule-nav {
    left: 0;
    width: 240px;
    bottom: 0;
    top: 0;
    background: #FFFFFF;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
}

div.rule-view {
    top: 0;
    bottom: 0;
    right: 0;
    left: 240px;
    position: absolute;
}

div.rule-view>div {
    width: 100%;
    height: 100%;
}

div.rule-view>div>div.rule-header {
    height: 50px;
    border: 1px solid transparent;
    padding: 8px 0;
}

div.rule-view>div>div.rule-header>ul {
    height: 32px;
    padding: 0 0 0 8px;
}

div.rule-view>div>div.rule-header>ul li {
    margin-right: 10px;
    line-height: 32px;
}

div.rule-view>div>div.rule-table {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}


/* 规则管理 结束 */

.ivu-menu-item>i {
    margin-top: -3px;
}


/* 轨迹debug */

.trackdebug-wraper .control-wrapper,
.trackdebug-wraper .table-wrappr,
.trackdebug-wraper .page-wrappr {
    position: absolute;
    left: 0;
    right: 0;
}

.trackdebug-wraper .control-wrapper {
    height: 45px;
    top: 0;
}

.trackdebug-wraper .control-wrapper>ul {
    padding-top: 6.5px;
    overflow: hidden;
    padding-left: 15px;
}

.trackdebug-wraper .control-wrapper>ul>li {
    float: left;
    margin-right: 15px
}

.trackdebug-wraper .table-wrappr {
    top: 45px;
    bottom: 45px;
    overflow-y: auto;
}

.trackdebug-wraper .content-wrap {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 9999;
}

#content-string {
    overflow: hidden;
    word-wrap: break-word;
}

.trackdebug-wraper .page-wrappr {
    height: 45px;
    bottom: 0;
    padding-right: 20px;
    background: #fff;
}

.trackdebug-wraper .page-wrappr>div {
    padding-top: 5px;
    float: right;
}


/* 添加客户css开始 */

#addcustomer {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#addcustomer>div>div {
    margin: 0 auto;
    width: 780px;
}


/* 添加客户css开始 */


/* 查询客户css开始 */

#query-company {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#query-company>div>div {
    width: 100%;
}

#query-company>div>ul {
    height: 42px;
}

#query-company>div>ul>li {
    float: left;
    width: 150px;
    margin-right: 10px;
    padding: 5px 0;
    position: relative;
}


/* 查询客户css结束 */


/* 编辑客户开始 */

#editcustomer {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#editcustomer>div>h3 {
    position: relative;
}

#editcustomer>div>h3>span {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
}

#editcustomer>div>div {
    margin: 0 auto;
    width: 780px;
}


/* 编辑客户结束 */


/* 添加分组开始 */

#addgroup {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#addgroup>div>div {
    margin: 0 auto;
    width: 850px;
}

#addgroup>div>h3 {
    position: relative;
}

#addgroup>div>h3>span {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
}


/* 添加分组结束 */


/* 查询分组开始 */

#querygroup,
#stock-device {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#querygroup>div.full,
#stock-device>div.full {
    overflow-y: auto;
}

#querygroup>div>div {
    width: 100%;
}

#querygroup>div>ul,
#stock-device>div>ul {
    height: 42px;
}

#querygroup>div>ul>li,
#stock-device>div>ul>li {
    float: left;
    margin-right: 10px;
    padding: 5px 0;
    position: relative;
}


/* 查询分组结束 */


/* 添加用户开始 */

#adduser {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#adduser>div>div {
    margin: 0 auto;
    width: 700px;
}


/* 添加用户结束 */


/* c查询用户 */

#queryuser,
#onlineuser,
#login-records,
#yongzhouenterpriseinfo,
#yongzhoudriverinfo,
#yongzhouvehicleinfo {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#queryuser>div>div,
#queryuser>div>div,
#yongzhouenterpriseinfo>div>div,
#yongzhouvehicleinfo>div>div,
#yongzhoudriverinfo>div>div {
    width: 100%;
}

#queryuser>div>ul,
#onlineuser>div>ul,
#yongzhouenterpriseinfo>div>ul,
#yongzhouvehicleinfo>div>ul,
#yongzhoudriverinfo>div>ul,
#bonus-list>div>ul {
    height: 42px;
}

#queryuser>div>ul>li,
#onlineuser>div>ul>li,
#yongzhouenterpriseinfo>div>ul>li,
#yongzhouvehicleinfo>div>ul>li,
#yongzhoudriverinfo>div>ul>li,
#bonus-list>div>ul>li {
    float: left;
    width: 150px;
    margin-right: 10px;
    padding: 5px 0;
    position: relative;
}

div.my-total {
    /* border: 1px solid #DCDEE2; */
    margin: 10px 0;
}

div.my-total>span {
    display: inline-block;
    padding-right: 15px;
}


/* 查询用户 */


/* 编辑user开始 */

#edituser {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#edituser>div>div {
    margin: 0 auto;
    width: 700px;
}

#edituser>div>h3 {
    position: relative;
}

#edituser>div>h3>span {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
}


/* 编辑user结束 */


/* 添加设备开始 */

#adddevice {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#adddevice>div>div {
    margin: 0 auto;
    width: 740px;
}


/* 添加设备开始 */


/* 查询设备开始 */

#querydev {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#querydev>div>div {
    width: 100%;
}

#querydev>div>ul {
    height: 42px;
}

#querydev>div>ul>li {
    float: left;
    width: 150px;
    margin-right: 10px;
    padding: 5px 0;
    position: relative;
}


/* 查询设备结束 */


/* 编辑设备开始 */

#editdevice {
    padding: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

#editdevice>div>h3 {
    position: relative;
}

#editdevice>div>h3>span {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
}

#editdevice>div>div {
    margin: 0 auto;
    width: 700px;
}


/* 编辑设备结束 */


/* 报警css开始 */

@-webkit-keyframes twinkling {
    0% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
    }
    50% {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -webkit-transform: scale(0.5);
    }
    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(1);
    }
}

div.waring-wraper {
    position: absolute;
    right: 2px;
    bottom: 2px;
    background: #495060;
    border: 1px solid #395060;
    transition: width .3s, height .3s, transform 2s;
    z-index: 999;
}

div.video-wraper {
    position: absolute;
    right: 2px;
    bottom: 25px;
    background: #495060;
    border: 1px solid #395060;
    transition: width .3s, height .3s, transform 2s;
    z-index: 999;
}

ul.waring-controller {
    color: #fff;
    overflow: hidden;
}

ul.waring-controller span.msgwaring {
    -webkit-animation: twinkling 1s infinite ease;
    animation: twinkling 1s infinite ease;
    color: #fff;
}

ul.waring-controller span.msgnormal {
    color: #fff;
    -webkit-animation: none;
    animation: none;
}

ul.waring-controller li {
    float: left;
    text-align: center;
    border-top: 1px solid #fff;
}

div.msg_main {
    width: 100%;
    height: 100%;
    color: #fff;
    background: #F8F8F9;
    position: relative;
}

div.msg_header {
    position: absolute;
    left: 0px;
    height: 22px;
    right: 0px;
    background: #495060;
    color: #fff;
}

div.msg_header ul {
    overflow: hidden;
}

div.msg_header ul li {
    float: left;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    padding: 0 5px;
}

div.msg_header ul li.selected {
    color: #495060;
    background: #F8F8F9;
}

div.shrink-btn {
    position: absolute;
    top: 0px;
    right: 3px;
    height: 22px;
    width: 54px;
    text-align: center;
    cursor: pointer;
}

div.shrink-btn>span {
    display: inline-block;
    width: 22px;
    height: 22px;
}

div.msg_content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 22px;
    bottom: 0;
    overflow: hidden;
    color: #495060;
}


/* 报警css结束 */

#system-view {
    overflow-y: auto;
}

.demo-auto-complete-title {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.succ {
    color: #2D8CF0;
}

.error {
    color: #e4393c;
}


/*  spin */

.demo-spin-container {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .6);
    z-index: 999;
}


/* 日历 在线日期 */

.calendar-wrap {
    box-sizing: border-box;
}

.calendar-top {
    width: 100%;
    height: 35px;
    background: #364860;
    color: #ffffff;
    position: relative;
    font-size: 15px;
}

.calendar-top>div.date-wrap {
    width: 100%;
    text-align: center;
    line-height: 35px;
}

.inner-wrap {
    border-right: 1px solid #DDDDDD;
}

.week-wrap {
    height: 40px;
}

.dates-wrap {
    overflow: hidden;
}

.week-wrap>div,
.dates-wrap>div {
    float: left;
    width: 42.66px;
    height: 40px;
    box-sizing: border-box;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
    text-align: center;
    line-height: 39px;
}

.active-day {
    background: #364860;
    color: #ffffff;
}

.noTheMonth {
    opacity: 0.5;
}


/* 从业人员 */

#employees {
    position: relative;
    width: 100%;
    height: 100%;
}

#employees .tree-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 270px;
    bottom: 0;
}

#employees .tree-wrap .tree-title {
    height: 35px;
    line-height: 35px;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
}

#employees .tree-wrap .tree-search {
    height: 35px;
    padding: 1.5px 10px 0 10px;
}

#employees .tree-wrap .employees-tree-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 80px;
}

#employees .table-wrap {
    position: absolute;
    left: 270px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

#employees .table-wrap .table-title {
    height: 35px;
    line-height: 35px;
    font-weight: 500;
    font-size: 16px;
}

#employees .table-wrap .table-action {
    height: 35px;
    line-height: 35px;
}

#employees .table-wrap .table-action>div {
    float: left;
    height: 35px;
    margin-right: 10px;
}

#employees .table-wrap .employees-table-box {
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 10px;
    right: 10px;
}

.navigation-display-ui {
    display: flex;
    flex-direction: row;
}

.navigation-display-ui .navigation-display-li {
    flex: 1;
    padding: 0 10px;
}

.navigation-display-ui .navigation-display-li .navigation-display-li-btn-wrap {
    padding-bottom: 10px;
}

.navigation-display-ui .navigation-display-li .navigation-display-li-btn-wrap:last-child {
    padding-bottom: 0px;
}