<meta charset="UTF-8">
<div id="idle-report">
    <div class="demo-spin-container" v-if="isSpin">
        <Spin size="large" fix></Spin>
    </div>
    <div class="report-item-header">
        <Row style="margin:10px;height: 35px;">
            <div style="float: left;">
                <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
            </div>
            <div style="float: left;position: relative;width: 240px;">
                <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                    <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-focus="focus" :placeholder="placeholder"></i-input>
                    <transition name="fade">
                        <div class="search-item-wrapper" v-show="isShowMatchDev">
                            <ul id="ztree" class="ztree"></ul>
                        </div>
                    </transition>
                </div>
            </div>
            <div style="margin-left:10px;float: left;line-height: 35px;">
                {{$t("reportForm.selected")}}: <span v-text="selectedCount"></span>
            </div>
            <div style="margin-left:10px;float: left;">
                <i-button @click="cleanSelectedDev" icon="ios-nuclear-outline">{{$t("reportForm.clean")}}</i-button>
            </div>
            <div style="margin-left:10px;float: left;width: 80px;position: relative;">
                <i-select v-model="tank">
                    <i-option value="0">{{$t("monitor.all")}}</i-option>
                    <i-option value="1">{{$t("device.oil1")}}</i-option>
                    <i-option value="2">{{$t("device.oil2")}}</i-option>
                    <i-option value="3">{{$t("device.oil3")}}</i-option>
                    <i-option value="4">{{$t("device.oil4")}}</i-option>
                </i-select>
            </div>
            <div style="margin-left:10px;float: left;width: 80px;position: relative;">
                <i-select v-model="interval">
                    <i-option value="0">0L</i-option>
                    <i-option value="100">100ml</i-option>
                    <i-option value="200">200ml</i-option>
                    <i-option value="300">300ml</i-option>
                    <i-option value="400">400ml</i-option>
                    <i-option value="500">500ml</i-option>
                    <i-option value="600">600ml</i-option>
                    <i-option value="700">700ml</i-option>
                    <i-option value="800">800ml</i-option>
                    <i-option value="900">900ml</i-option>
                </i-select>
            </div>
            <div style="float: left;padding-left: 10px;">
                <span>{{$t("reportForm.selectTime")}}:</span>
                <date-picker type="daterange" :value="dateVal" :editable="false" :clearable="false" @on-change="onChange" show-week-numbers style="width:180px" placement="bottom-start"></date-picker>
            </div>
            <div style="float: left;height: 35px; line-height: 35px;margin-left: 20px;" class="spans-wrap">
                <span class="cursor-pointer" @click="handleSelectdDate(0)" :style="{color: dayNumberType == 0 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.toDay")}}</span> <b>｜</b>
                <span class="cursor-pointer" @click="handleSelectdDate(1)" :style="{color: dayNumberType == 1 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.yesterDay")}}</span> <b>｜</b>
                <span class="cursor-pointer" @click="handleSelectdDate(3)" :style="{color: dayNumberType == 3 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.threeDays")}}</span>
            </div>
            <div style="margin-left:10px;float: left;">
                <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
            </div>
        </Row>
        <div style="margin:10px;">
            <Tabs :value="activeTab" @on-click="onClickTab" :animated="false">
                <Tab-pane :label="$t('reportForm.idleStatistics')" name="tabTotal">
                    <i-table ref="totalTable" size="small" :columns="allColumns" :data="allTableData" :height="lastTableHeight" :loading="loading"></i-table>
                </Tab-pane>
                <Tab-pane :label="$t('reportForm.idleDetailed')" name="tabDetail">
                    <div style="width:100%;height: 180px;position: relative;margin-bottom: 10px;">
                        <div id="idle-charts" style="height: 180px;width: 100%;"></div>
                    </div>
                    <i-table ref="detailTable" size="small" :columns="columns" :height="lastTableHeight-180" :data="tableData" :loading="loading" @on-sort-change="onSortChange"></i-table>
                </Tab-pane>
                <i-button type="primary" size="small" slot="extra" style="margin:7px 5px 0 0;" @click="exportData">{{$t("reportForm.exportData")}}</i-button>
            </Tabs>
        </div>
    </div>
    <transition name="fade">
        <div v-show="trackDetailModal" class="posi-map-wraper">
            <div class="map-modal" @click="trackDetailModal=false"></div>
            <div class="work-inner-map-wraper">
                <div class="posi-map-title">
                    {{$t("monitor.track")}}
                    <div class="map-close"></div>
                </div>
                <div id="idle-details-map" class="work-details-map"></div>
            </div>
        </div>
    </transition>
</div>