<div id="oil-working-hours">
    <div class="demo-spin-container" v-if="isSpin">
        <Spin size="large" fix></Spin>
    </div>
    <div class="report-item-header">

        <Row style="margin:10px;height: 35px;">
            <div style="float: left;">
                <span>{{$t("reportForm.selectTime")}}:</span>
                <date-picker type="datetimerange" :value="dateTimeRangeVal" :editable="false" :clearable="false" @on-change="onTimeRangeChange" style="width:300px" placement="bottom-start"></date-picker>
            </div>
            <div style="float: left;padding-left: 10px;">
                <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
            </div>
            <div style="float: left;position: relative;width: 300px;">
                <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                    <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-focus="focus" :placeholder="placeholder"></i-input>
                    <transition name="fade">
                        <div class="search-item-wrapper" v-show="isShowMatchDev">
                            <ul id="ztree" class="ztree"></ul>
                        </div>
                    </transition>
                </div>
            </div>
            <div style="margin-left:20px;float: left;line-height: 35px;">
                {{$t("reportForm.selected")}}: <span v-text="selectedCount"></span>
            </div>
            <div style="margin-left:20px;float: left;">
                <i-button @click="cleanSelectedDev" icon="ios-nuclear-outline">{{$t("reportForm.clean")}}</i-button>
            </div>
            <div style="margin-left:20px;float: left;">
                <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
            </div>
        </Row>
        <div style="width:100%;height: 180px;position: relative;">
            <Carousel dots="none">
                <Carousel-Item>
                    <div id="charts" style="height: 180px;width: 100%;"></div>
                </Carousel-Item>
                <Carousel-Item>
                    <div class="demo-carousel" style="height: 180px;">2</div>
                </Carousel-Item>
                <Carousel-Item>
                    <div class="demo-carousel" style="height: 180px;">3</div>
                </Carousel-Item>
                <Carousel-Item>
                    <div class="demo-carousel" style="height: 180px;">4</div>
                </Carousel-Item>
            </Carousel>
            </Carousel>
        </div>
        <div style="margin:10px;">
            <i-table ref="table" :columns="columns" :data="tableData" :height="lastTableHeight" :loading="loading"></i-table>
        </div>
    </div>
</div>