<meta charset="UTF-8">
<div id="park-details">
    <Row style="margin:10px;height: 35px;">
        <div style="float: left;">
            <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
        </div>
        <div style="float: left;position: relative;width: 240px;">
            <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-blur="blur" :readonly="readonly" @on-focus="focus" :placeholder="placeholder" @on-click="focus"></i-input>
                <transition name="fade">
                    <ul class="search-item-wrapper" v-show="isShowMatchDev">
                        <li class="demo-auto-complete-item" v-for="item in filterData">
                            <div class="demo-auto-complete-group" v-show="item.devices.length">
                                <span>{{ item.groupname }}</span>
                            </div>
                            <div v-for="option in item.devices" :value="option.groupname" :key="option.groupname" class="ivu-select-item">
                                <span :style="{color:option.isOnline ? '#33DAD0':'#B1BBC2'}" @click="sosoSelect(option)" class="demo-auto-complete-title">{{ option.allDeviceIdTitle }}</span>
                            </div>
                        </li>
                    </ul>
                </transition>
            </div>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="cleanSelectedDev" icon="ios-nuclear-outline">{{$t("reportForm.clean")}}</i-button>
        </div>
        <div style="margin-left:10px;float: left;width: 80px;position: relative;">
            <i-select v-model="interval">
                <i-option value="3">3分钟</i-option>
                <i-option value="5">5分钟</i-option>
                <i-option value="10">10分钟</i-option>
                <i-option value="30">30分钟</i-option>
                <i-option value="60">1小时</i-option>
                <i-option value="120">2小时</i-option>
            </i-select>
        </div>
        <div style="float: left;padding-left: 10px;">
            <span>{{$t("reportForm.selectTime")}}:</span>
            <date-picker type="daterange" :value="dateVal" :editable="false" :clearable="false" @on-change="onChange" show-week-numbers style="width:180px" placement="bottom-start"></date-picker>
        </div>
        <div style="float: left;height: 35px; line-height: 35px;margin-left: 20px;" class="spans-wrap">
            <span class="cursor-pointer" @click="handleSelectdDate(0)" :style="{color: dayNumberType == 0 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.toDay")}}</span> <b>｜</b>
            <span class="cursor-pointer" @click="handleSelectdDate(1)" :style="{color: dayNumberType == 1 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.yesterDay")}}</span> <b>｜</b>
            <span class="cursor-pointer" @click="handleSelectdDate(3)" :style="{color: dayNumberType == 3 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.threeDays")}}</span> <b>｜</b>
            <span class="cursor-pointer" @click="handleSelectdDate(7)" :style="{color: dayNumberType == 7 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.sevenDays")}}</span>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
        </div>
        <div style="margin-left:10px;float: right;">
            <i-button @click="exportData" icon="ios-search" type="primary">{{$t("reportForm.exportData")}}</i-button>
        </div>
    </Row>
    <div style="margin:10px;">
        <i-table ref="table" :columns="columns" size="small" :height="lastTableHeight" :data="tableData" :loading="loading"></i-table>
    </div>
    <transition name="fade">
        <div v-show="mapModal" class="posi-map-wraper">
            <div class="map-modal" @click="mapModal=false"></div>
            <div class="inner-map-wraper">
                <div class="posi-map-title">
                    {{$t("reportForm.seePosi")}}
                    <div class="map-close"></div>
                </div>
                <div id="posi-map"></div>
            </div>
        </div>
    </transition>
</div>