<meta charset="UTF-8">
<div id="posi-report">
    <div class="demo-spin-container" v-if="isSpin">
        <Spin size="large" fix></Spin>
    </div>
    <div class="report-item-header">
        <Row style="margin:10px;height: 35px;">
            <div style="float: left;">
                <span>{{$t("reportForm.selectTime")}}:</span>
                <date-picker type="daterange" :value="dateVal" :editable="false" :clearable="false" @on-change="onChange" :readonly="readonly" show-week-numbers style="width:300px" placement="bottom-start"></date-picker>
            </div>
            <div style="float: left;height: 35px; line-height: 35px;margin-left: 20px;" class="spans-wrap">
                <span class="cursor-pointer" @click="handleSelectdDate(0)" :style="{color: dayNumberType == 0 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.toDay")}}</span> <b>｜</b>
                <span class="cursor-pointer" @click="handleSelectdDate(1)" :style="{color: dayNumberType == 1 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.yesterDay")}}</span> <b>｜</b>
                <span class="cursor-pointer" @click="handleSelectdDate(3)" :style="{color: dayNumberType == 3 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.threeDays")}}</span> <b>｜</b>
                <span class="cursor-pointer" @click="handleSelectdDate(7)" :style="{color: dayNumberType == 7 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.sevenDays")}}</span>
            </div>
        </Row>
        <Row style="margin:10px;height: 35px;">
            <div style="float: left;">
                <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
            </div>
            <div style="float: left;position: relative;width: 300px;">
                <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                    <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" :readonly="readonly" @on-focus="focus" :placeholder="placeholder"></i-input>
                    <transition name="fade">
                        <div class="search-item-wrapper" v-show="isShowMatchDev">
                            <Tree :data="treeData" show-checkbox @on-check-change="onCheckedDevice"></Tree>
                        </div>
                    </transition>
                </div>
            </div>
            <div style="margin-left:20px;float: left;line-height: 35px;">
                {{$t("reportForm.selected")}}: <span v-text="selectedCount"></span>
            </div>
            <div style="margin-left:20px;float: left;">
                <i-button @click="cleanSelectedDev" icon="ios-nuclear-outline">{{$t("reportForm.clean")}}</i-button>
            </div>
            <div style="margin-left:20px;float: left;">
                <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
            </div>
            <div style="margin-left:20px;float: right;">
                <i-button @click="exportData" icon="ios-search" type="primary">{{$t("reportForm.exportData")}}</i-button>
            </div>
        </Row>
        <div style="margin:10px;">
            <i-table :columns="lastPosiColumns" :height="lastTableHeight" :data="lastPosiData" :loading="loading"></i-table>
        </div>
        <Modal v-model="trackDetailModal" fullscreen>
            <p slot="header" style="color:#f60;text-align:center">
                <Icon type="ios-create-outline"></Icon>
                <span>{{$t("reportForm.AddressDetails")}}-{{deviceName}}</span>
            </p>
            <div>
                <i-table ref="totalTable" :columns="posiDetailColumns" :data="posiDetailData" :loading="loading" :height="posiDetailHeight"></i-table>
            </div>
        </Modal>
        <transition name="fade">
            <div v-show="mapModal" class="posi-map-wraper">
                <div class="map-modal" @click="mapModal=false"></div>
                <div class="inner-map-wraper">
                    <div class="posi-map-title">
                        {{$t("reportForm.seePosi")}}
                        <div class="map-close"></div>
                    </div>
                    <div id="posi-map"></div>
                </div>
            </div>
        </transition>
    </div>
</div>