<div id="reportonlinesummary">
    <Row style="margin: 10px;">
        <div style="height: 100%;text-align:right;line-height:32px;float: left;">{{$t("reportForm.selectAccount")}} : &nbsp;</div>
        <div style="float: left;position: relative;width: 300px;line-height:32px;">
            <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-blur="blur" @on-focus="focus" :readonly="readonly" @on-click="focus" :placeholder="placeholder"></i-input>
                <transition name="fade">
                    <div class="search-item-wrapper" v-show="isShowMatchDev">
                        <Tree :data="treeData" @on-check-change="onCheckedDevice"></Tree>
                    </div>
                </transition>
            </div>
        </div>
        <div style="height: 100%;text-align:right;line-height:32px;float: left;margin-left: 10px;">
            <i-button @click="onClickQuery">{{$t("reportForm.query")}}</i-button>
        </div>
    </Row>
    <Row style="margin: 10px;border: 1px solid #DCDEE2;text-align: center;">
        <div style="height: 100%;line-height:32px;display: inline-block;">{{$t("reportForm.vehicleTotal")}} :&nbsp;<span v-text="totalVehicle"></span>&nbsp;&nbsp;</div>
        <div style="height: 100%;line-height:32px;display: inline-block;">{{$t("reportForm.onlineTotal")}} :&nbsp;<span v-text="onlineVehicle"></span>&nbsp;&nbsp;</div>
        <div style="height: 100%;line-height:32px;display: inline-block;">{{$t("reportForm.offlineTotal")}} :&nbsp;<span v-text="offlineVehicle"></span>&nbsp;&nbsp;</div>
        <div style="height: 100%;line-height:32px;display: inline-block;">{{$t("reportForm.locationTotal")}} :&nbsp;<span v-text="posiVehicle"></span>&nbsp;&nbsp;</div>
        <div style="height: 100%;line-height:32px;display: inline-block;">{{$t("reportForm.notLocationTotal")}} :&nbsp;<span v-text="notPosiVehicle"></span>&nbsp;&nbsp;</div>
    </Row>
    <div style="margin:10px;">
        <i-table :columns="columns" size="small" size="small" :height="tableHeight" :data="tableData" :loading="loading"></i-table>
    </div>
</div>