<div id="speeding-report">
    <div class="demo-spin-container" v-if="isSpin">
        <Spin size="large" fix></Spin>
    </div>
    <Row style="margin:10px;height: 35px;">
        <div style="float: left;">
            <div style="height: 35px; line-height: 35px;">{{$t("reportForm.selectDev")}}:&nbsp;</div>
        </div>
        <div style="float: left;position: relative;width: 240px;">
            <div class="search-wrapper" v-click-outside.capture="onClickOutside">
                <i-input v-model.trim="sosoValue" icon="ios-search-outline" @on-change="sosoValueChange" @on-focus="focus" :placeholder="placeholder"></i-input>
                <transition name="fade">
                    <div class="search-item-wrapper" v-show="isShowMatchDev">
                        <ul id="ztree" class="ztree"></ul>
                    </div>
                </transition>
            </div>
        </div>
        <div style="margin-left:10px;float: left;line-height: 35px;">
            {{$t("reportForm.selected")}}: <span v-text="selectedCount"></span>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="clean" icon="ios-nuclear-outline">{{$t("reportForm.clean")}}</i-button>
        </div>
        <div style="float: left;padding-left: 10px;">
            <span>{{$t("reportForm.selectTime")}}:</span>
            <date-picker type="daterange" :value="dateVal" :editable="false" :clearable="false" @on-change="onChange" show-week-numbers style="width:180px" placement="bottom-start"></date-picker>
        </div>
        <div style="float: left;height: 35px; line-height: 35px;margin-left: 10px;" class="spans-wrap">
            <span class="cursor-pointer" @click="handleSelectdDate(0)" :style="{color: dayNumberType == 0 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.toDay")}}</span> <b>｜</b>
            <span class="cursor-pointer" @click="handleSelectdDate(1)" :style="{color: dayNumberType == 1 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.yesterDay")}}</span> <b>｜</b>
            <span class="cursor-pointer" @click="handleSelectdDate(3)" :style="{color: dayNumberType == 3 ? '#2D8CF0' : '#515A6E'}">{{$t("reportForm.threeDays")}}</span> <b>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="onClickQuery" icon="ios-search">{{$t("reportForm.query")}}</i-button>
        </div>
        <div style="margin-left:10px;float: left;">
            <i-button @click="exportData" icon="md-arrow-down">{{$t("reportForm.download")}}</i-button>
        </div>
    </Row>
    <div style="margin:10px;">
        <Tabs :value="activeTab" @on-click="onClickTab">
            <Tab-pane :label="$t('reportForm.speedingStatistics')" name="tabTotal">
                <div style="width:100%;height: 240px;position: relative;">
                    <div id="barContainer" style="height: 230px;width: 100%;"></div>
                </div>
                <i-table ref="totalTable" size="small" :columns="allAccColumns" :data="allRotateTableData" :height="lastTableHeight" :loading="loading"></i-table>
            </Tab-pane>
            <Tab-pane :label="$t('reportForm.speedingDetails')" name="tabDetail">
                <div style="width:100%;height: 240px;position: relative;">
                    <div id="spedding-chart" style="height: 230px;width: 100%;"></div>
                </div>
                <i-table ref="detailTable" size="small" :columns="columns" :height="lastTableHeight" :data="tableData" :loading="loading" @on-row-click="onRowClick"></i-table>
            </Tab-pane>
        </Tabs>
    </div>
    <transition name="fade">
        <div v-show="trackDetailModal" class="posi-map-wraper">
            <div class="map-modal" @click="trackDetailModal=false"></div>
            <div class="work-inner-map-wraper">
                <div class="posi-map-title">
                    {{$t("reportForm.speedingTrack")}}
                    <div class="map-close"></div>
                </div>
                <div id="spedding-map" class="work-details-map"></div>
            </div>
        </div>
    </transition>
</div>